{% assign pillowId = pillowData.pillow_id | plus: 0 %}

{% for product in collections.all.products %}
  {% if product.id == pillowId %}
    {% assign emmaPillowObject = product %}
  {% endif %}
{% endfor %}

{{ 'add-on-pillows.css' | asset_url | stylesheet_tag }}

<div id="add-on-pillows">
  <input
    type="checkbox"
    class="add-on-checkbox-input"
    checked="checked"
    value="{{ pillowId }}">
  <div class="add-on-content-wrapper">
    <div class="add-on-checkbox">
      {% render 'icon-checkmark' %}
    </div>
    <img
      loading="lazy"
      width="108"
      height="108"
      class="image-thumb"
      src="{{ pillowData.pillow_image | default: emmaPillowObject.featured_image | img_url }}"
      alt="Dream Pillows">
    <span class="add-on-label__text">{{ pillowData.pillow_label }}</span>
    <span class="add-on-label__price">{{ pillowData.pillow_price }}</span>
    <span class="add-on-label__badge" aria-hidden="true">Free</span>
  </div>
</div>
<script>
  (function() {
    const {fetch: originalFetch} = window;
    window.fetch = async (...args) => {
      let [resource, config] = args;

      if (resource.includes('/wallets/checkouts') && !resource.includes('calculate_shipping.json') && !resource.includes('source=cartDrawer')) {
        const pillowCheckbox$ = $('#add-on-pillows .add-on-checkbox-input');

        if (pillowCheckbox$.is(':checked')) {
          const originalPayload = JSON.parse(config.body);
          console.log(config.body);
          config.body = JSON.stringify({
            checkout: {
              ... originalPayload.checkout,
              line_items: [
                ... originalPayload.checkout.line_items, {
                  variant_id: + '{{ pillowId }}',
                  quantity: originalPayload.checkout.line_items[0].quantity
                }
              ]
            }
          });
        }
      }

      return await originalFetch(resource, config);
    };

    $('input[name="quantity"]').change(function() {
      const text = '{{ pillowData.pillow_label }}'.replace('[count]', $(this).val());
      $('.add-on-label__text').text(text);
    });
  })();
</script>