<style>
  cart-drawer {
    visibility: hidden;
  }
</style>

<link is="delay-stylesheet" href="{{ 'cart-drawer.css' | asset_url }}">
<link is="delay-stylesheet" href="{{ 'component-cart.css' | asset_url }}">

<script is="delay-script" url="{{ 'cart.js' | asset_url }}"></script>
<script is="delay-script" url="{{ 'cart-drawer.js' | asset_url }}"></script>
<script is="delay-script" url="{{ 'cart-item.js' | asset_url }}"></script>
<script is="delay-script" url="{{ 'cart-upsell.js' | asset_url }}"></script>

<cart-drawer id="CartDrawer" class="{% if cart == empty %}is-empty{% endif %}">
  <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
  <div class="drawer animate">
    {% section 'cart-drawer-header' %}

    <div
      class="drawer__inner" role="dialog" aria-modal="true" aria-label="{{ 'sections.cart.title' | t }}" tabindex="-1"
    >
      {% section 'cart-drawer-empty' %}
      <cart-scrollable-content>
        {% liquid
          render 'cart-drawer-banner'
          section 'cart-drawer-items'
          section 'cart-drawer-upsell'
          section 'cart-drawer-summary'
        %}

        {% render 'loading-spinner', center: true %}
      </cart-scrollable-content>
    </div>

    {% section 'cart-drawer-footer' %}
    {% section 'cart-drawer-affirm' %}
    {% section 'cart-customer-support' %}
  </div>
</cart-drawer>


