<!-- /snippets/collection-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each collection during the loop,
  'for product in collection.products' in list-collections.liquid.

{% endcomment %}

{% assign no_collection_image = true %}
<div
	class="collection-card {{ grid_item_width }} collection-collage__item  text-center{% if collection_index == 1 %} row-span-2 h-[343px]{% else %} h-[192px]{% endif %} md:h-full" {{ block.shopify_attributes }}>
	<a
		href="{{ collection.url }}"
		class="collection-grid__item-link collection-collage__item-wrapper relative rounded-lg overflow-hidden"
	>
		{% comment %}
			Use capture to put the collection title in a variable that is used in liquid filters
		{% endcomment %}
		
		{% if collection == blank %}
			{% assign collection_title = 'home_page.onboarding.collection_title' | t %}
		{% else %}
			{% assign collection_title = collection.title | escape %}
		{% endif %}
		
		{%- assign collection_image = blank -%}
		
		{% if collection.metafields.accentuate.featured_image[0] %}
			{%- assign collection_image = collection.metafields.accentuate.featured_image[0].src -%}
		{% elsif collection.image %}
			{%- assign collection_image = collection.image | image_url: width: 300 -%}
		{% elsif collection.products.first and collection.products.first.featured_media != empty %}
			{%- assign collection_image = collection.products.first.featured_media.preview_image | image_url: width: 300 -%}
		{% endif %}
		
		{% if collection == blank %}
			<div
				class="collection-grid__item-overlay grid__image"
			>{{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
		{% else %}
			<div
				class="collection-grid__item-overlay grid__image lazyload transition ease-in-out hover:scale-125"
				{% unless collection_image == blank %}
					style="background-image: url('{{ collection_image }}');"
				{% endunless %}
				data-bgset="{% include 'bgset', image: collection_image %}"
				data-sizes="auto"
				data-parent-fit="cover"
			>
			</div>
		{% endif %}
		
		<div
			class="{% if collection_index == 1 %} top-0 bg-[linear-gradient(180deg,_rgba(0,_0,_0,_0.75)_0%,_rgba(0,_0,_0,_0.00)_100%)]
								{% else %} bottom-0 bg-[linear-gradient(0deg,_rgba(0,_0,_0,_0.75)_0%,_rgba(0,_0,_0,_0.00)_100%)]{% endif %}
                absolute p-3 md:p-6 w-full text-white text-left"
		>
			<p class="heading-2">{{ collection_title }}</p>
			<p class="uppercase font-semibold text-xs md:text-sm">{{ collection.metafields.accentuate.promotion_capsule }}</p>
		</div>
	</a>
</div>
