<style>
  #hamburger-navigation .navigation-accordion-wrapper.is-open button svg {
    transform: rotate(180deg);
  }

  #hamburger-navigation .navigation-accordion-wrapper.is-open .link-title {
    font-weight: 600;
  }
</style>

<div class="lg:hidden">
  <div id="hamburger-navigation" style="display: none;" class="absolute w-full bg-[#0006] shadow-lg h-[100vh]">
    <ul class="max-h-[75vh] overflow-auto bg-white">
      {% for link in linklists[section.settings.main_menu_link_list].links %}
        <li class="py-5 px-3 navigation-accordion-wrapper">
          {% if link.links.size > 0 %}
            <div class="flex items-center">
              <a class="link-title text-[14px] hover:font-semibold" href="{{ link.url }}">{{ link.title | escape }}</a>
              <button class="navigation-accordion flex-1">
                <svg class="ml-auto" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.00957 9.36976C7.60357 9.37026 7.21707 9.19576 6.94907 8.89126L0.931565 2.05126C0.536065 1.57976 0.589065 0.878757 1.05106 0.472257C1.51306 0.0657566 2.21506 0.102757 2.63206 0.555257L7.89407 6.53626C7.92307 6.56926 7.96507 6.58876 8.00957 6.58876C8.05407 6.58876 8.09557 6.56976 8.12507 6.53626L13.3871 0.555257C13.6511 0.240257 14.0651 0.0932565 14.4691 0.170756C14.8731 0.248256 15.2026 0.538757 15.3311 0.928757C15.4596 1.31926 15.3666 1.74876 15.0881 2.05076L9.07257 8.88826C8.80407 9.19376 8.41707 9.36876 8.01007 9.36926L8.00957 9.36976Z" fill="#55576F"/>
                </svg>
              </button>
            </div>
            <div class="navigation-accordion__content pt-5">
              {% if link.type == "product_link" or link.url == "/collections/mattresses" %}
                <div class="flex flex-col gap-4">
                  {% for childlink in link.links %}
                    <a href="{{ childlink.url }}" class="flex items-center w-max">
                      <span class="mr-2 text-[14px]">{{ childlink.title | escape }}</span>
                      <span class="rounded bg-[#FF8900] px-2 py-[6px] text-[10px] font-semibold uppercase leading-none text-white">{{ childlink.object.metafields.accentuate.navigation_promotion_badge | default: "BEST VALUE" }}</span>
                    </a>
                  {% endfor %}

                  {% liquid
                    assign btnPrefix = "Shop "
                    assign btnUrl = link.url

                    if link.title == "Mattresses"
                      assign btnPrefix = "Compare "
                      assign btnUrl = "/collections/mattresses"
                    endif
                  %}

                  {% if link.title != "Mattresses" %}
                    <a href="{{ btnUrl }}" class="btn btn--secondary btn--compact text-[13px]">{{ btnPrefix | append: link.title | escape }}</a>
                  {% endif %}

                  {% for childlink in link.links %}
                    <navigation-dropdown-content data-childlink-title="{{ childlink.title }}" {% if forloop.first == false %}style="display: none;"{% endif %}>
                      <a href="/products/{{ childlink.object.handle }}" class="relative mb-4 rounded-md bg-gray-100 block h-[200px]">
                        <p class="absolute left-4 top-4 inline-block rounded bg-[#FF8900] p-2 text-[13px] leading-none text-white">Up to {{ childlink.object.metafields.accentuate.navigation_product_discount }}% off</p>
                        <img class="h-full w-full object-contain" src="{{ childlink.object.metafields.accentuate.navigation_spotlight_image[0].src }}" alt="" />
                      </a>
                      <a class="text-[20px] font-semibold" href="/products/{{ childlink.object.handle }}">{{ childlink.object.title }}</a>
                      <p class="mt-1 text-[12px]">
                        <span>From</span>
                        <span class="font-semibold text-[#F03306]">{{ childlink.object.price | money_without_trailing_zeros }}</span>
                        <span class="line-through">{{ childlink.object.compare_at_price | money_without_trailing_zeros }}</span>
                      </p>
                    </navigation-dropdown-content>
                  {% endfor %}
                </div>
              {% elsif link.url == '/pages/comparison' %}
                <div style="grid-template-columns: repeat(2, 1fr)" class="grid gap-x-2 gap-y-4">
                  {% for childlink in link.links %}
                    <div><a class="hover:font-semibold text-[14px]" href={{ childlink.url }}>{{ childlink.title }}</a></div>
                  {% endfor %}
                </div>
              {% else %}
                <div class="flex flex-col gap-4">
                  {% for childlink in link.links %}
                    <a href="{{ childlink.url }}" class="flex items-center w-max">
                      <span class="mr-2 text-[14px]">{{ childlink.title | escape }}</span>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% else %}
            {% assign is_sale_link = false %}
            {% if link.title == 'Sale' %}
              {% assign is_sale_link = true %}
            {% endif %}
            {% if is_sale_link == true and section.settings.show_sale_link == true %}
              <a class="text-[#f03306] font-bold uppercase text-[14px] block" href="{{ link.url }}">{{ link.title | escape }}</a>
            {% else %}
              <a class="text-[14px] block hover:font-semibold" href="{{ link.url }}">{{ link.title | escape }}</a>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script type="module">
  $('.navigation-accordion-wrapper').beefup({
    trigger: '.navigation-accordion',
    content: '.navigation-accordion__content',
    openSpeed: 100,
    closeSpeed: 100,
    openSingle: true
  })
</script>