{% assign loadUpProduct = settings.product %}
{% assign loadUpPackage = loadUpProduct.first_available_variant %}
{% assign packageId = loadUpPackage.id %}

{{ 'load-up-service.css' | asset_url | stylesheet_tag }}

<addon-service id="load-up-widget" :productId="{{ loadUpProduct.id }}" :variantId="{{ packageId }}">
  <div class="addon-checkbox">
    <input type="checkbox" class="addon-checkbox__input"/>

    <div class="addon-checkbox__icons">
      <i class="addon-checkbox__icon addon-checkbox__icon--checked">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
          <path data-name="Icon ionic-md-checkmark-circle-outline"
                d="m9.275 11.475-1.4 1.4 4.5 4.5 10-10-1.4-1.4-8.6 8.55zm12.1 1.9a7.966 7.966 0 1 1-5.8-7.7l1.55-1.55a9.3 9.3 0 0 0-3.75-.75 10 10 0 1 0 10 10z"
                transform="translate(-3.375 -3.375)" style="fill:#14aa60"></path>
        </svg>
      </i>

      <i class="addon-checkbox__icon addon-checkbox__icon--unchecked">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M19.25 10C19.25 15.1086 15.1086 19.25 10 19.25C4.89137 19.25 0.75 15.1086 0.75 10C0.75 4.89137 4.89137 0.75 10 0.75C15.1086 0.75 19.25 4.89137 19.25 10Z"
              stroke="black" stroke-width="1.5"/>
          <path d="M6 9.90637H13.689" stroke="black" stroke-width="1.6" stroke-linecap="round"/>
          <path d="M10 6V13.689" stroke="black" stroke-width="1.6" stroke-linecap="round"/>
        </svg>
      </i>
    </div>

  </div>

  <p class="addon-name">{{ loadUpProduct.title }}</p>
  <p class="addon-price">{{ loadUpPackage.price | money_without_trailing_zeros }}</p>
</addon-service>

<div id="removal-service-modal" class="addon-service-modal">
  <div class="modal-content">
    <h5 class="modal-title">Mattress Removal Service</h5>
    <p>Emma's got your back! We now offer a matress removal service alongside a third-party logistic partner. After
      adding
      this item to your cart, you will receive an email where you can schedule a date and time for our parnter to pick
      up
      your old mattress.</p>

    <div class="service-packages">
      <div class="service-package">
        <img class="service-package__image" loading="lazy"
             src="{{ loadUpProduct.featured_image | image_url: width: 1448 }}"
             alt="Mattress Removal">

        <p class="service-package__name">{{ loadUpProduct.title }}</p>
        <p class="service-package__price">{{ loadUpPackage.price | money_without_trailing_zeros }}</p>
        <button class="service-package__add-btn btn btn--block btn--outlined">
          Add to Order
        </button>
      </div>
    </div>

    <p><span class="highlighted">Terms and Conditions:</span> Removal fees are non-refundable.
      Mattress removal services do not apply to other items such as beds, bases, and sleep accessories.</p>
  </div>
</div>


<script>

</script>
