{{ 'mini-comparison-specs.css' | asset_url | stylesheet_tag }}

{{ 'mini-comparison-specs.js' | asset_url | script_tag }}

<div id="mini-comparison-table" class="mini-comparison-specs">
  <div class="mini-comparison-table weglot-dynamic-content-translate">
    <div class="emma-highlighted"></div>

    <div class="star-rating grid-row-12"></div>
  </div>

  <p class="footer-note">{{ settings.note }}</p>
</div>

<script>
  $('.mini-comparison-specs').hide();

  const VARIANT_COMPARE = 'Queen';

  const product = {{ product | json }};

  const variantForCompare = product.variants.find((item) => item.title.includes(VARIANT_COMPARE)) || product.variants[0];

  const MiniComparisonTableProps = {
    specs: {
      ...{{ product.metafields.accentuate.mini_comparison_specifications | json }},
    },
    competitors: {{ product.metafields.accentuate.mini_comparison_competitors | json }},
    product,
    checkGreenIcon: "{{ 'icon-check-green.svg' | asset_url }}",
    cancelIcon: "{{ 'icon-cancel.svg' | asset_url }}",
    variantForCompare,
  }

  $(document).ready(function () {
    MiniComparisonTable.init(MiniComparisonTableProps);
  });
</script>
