<div id="navigation-dropdown">
	{% for link in linklists[section.settings.main_menu_link_list].links %}
		{% assign is_sale_link = false %}
		{% if link.title == 'Sale' %}
			{% assign is_sale_link = true %}
		{% endif %}
		{% if link.type == "product_link" or link.url == '/collections/mattresses' %}
			<navigation-dropdown data-link-title="{{ link.title }}" style="display: none;">
				<div class="navigation-dropdown__container">
					<div class="navigation-dropdown__wrapper">
						<div class="grid w-2/5 gap-7 self-start">
							<p class="text-[24px] font-semibold">{{ link.title | escape }}</p>
							<div class="grid gap-5">
								{% for childlink in link.links %}
									<navigation-dropdown-link data-childlink-title="{{ childlink.title }}">
										<a href="{{ childlink.url }}" class="flex items-center w-max">
											<span class="mr-2 font-semibold">{{ childlink.title | escape }}</span>
											<span class="navigation-dropdown__childlink-badge">{{ childlink.object.metafields.accentuate.navigation_promotion_badge | default: "BEST VALUE" }}</span>
										</a>
									</navigation-dropdown-link>
								{% endfor %}
							</div>

							{% liquid
								assign btnPrefix = "Shop "
								assign btnUrl = link.url

								if link.title == "Mattresses"
									assign btnPrefix = "Compare "
									assign btnUrl = "/collections/mattresses"
								endif
							%}

                            <div class="mt-5">
                                <a href="{{ btnUrl }}" class="btn btn--secondary btn--compact text-[13px]">{{ btnPrefix | append: link.title | escape }}</a>
                            </div>
						</div>
						<div class="w-3/5">
							{% for childlink in link.links %}
								<navigation-dropdown-content data-childlink-title="{{ childlink.title }}" {% if forloop.first == false %}style="display: none;"{% endif %}>
									<a href="/products/{{ childlink.object.handle }}" class="relative mb-4 rounded-md bg-gray-100 block h-[260px]">
										<p class="absolute left-4 top-4 inline-block rounded bg-[#FF8900] p-2 text-[13px] leading-none text-white">Up to {{ childlink.object.metafields.accentuate.navigation_product_discount }}% off</p>
										<img class="h-full w-full object-contain" src="{{ childlink.object.metafields.accentuate.navigation_spotlight_image[0].src }}" alt="" loading="lazy" />
									</a>
									<a class="text-[20px] font-semibold" href="/products/{{ childlink.object.handle }}">{{ childlink.object.title }}</a>
									<p class="mt-1 text-[12px]">
										<span>From</span>
										<span class="font-semibold text-[#F03306]">{{ childlink.object.price | money_without_trailing_zeros }}</span>
										<span class="line-through">{{ childlink.object.compare_at_price | money_without_trailing_zeros }}</span>
									</p>
								</navigation-dropdown-content>
							{% endfor %}
						</div>
					</div>
				</div>
			</navigation-dropdown>
		{% elsif link.url == '/pages/comparison' %}
			<navigation-dropdown data-link-title="{{ link.title }}" style="display: none;">
				<div style="grid-template-columns: minmax(200px, auto) minmax(200px, auto)" class="bg-white grid shadow-lg py-2 px-4 gap-2 w-max mx-[55%]">
					{% for childlink in link.links %}
						<div><a class="hover:font-semibold text-[14px]" href={{ childlink.url }}>{{ childlink.title }}</a></div>
					{% endfor %}
				</div>
			</navigation-dropdown>
		{% else %}
			<navigation-dropdown data-link-title="{{ link.title }}" style="display: none;">
				<div class="bg-white shadow-lg w-max mx-[57%]">
					{% for childlink in link.links %}
						<div class="py-2 px-4"><a class="hover:font-semibold text-[14px]" href={{ childlink.url }}>{{ childlink.title }}</a></div>
					{% endfor %}
				</div>
			</navigation-dropdown>
		{% endif %}
	{% endfor %}
</div>