{% liquid
 if product.id == 7829461794954
     assign product = all_products['emma-original-a']
 endif
%}

{% liquid
 if product.id == 7797711896714
     assign product = all_products['emma-original-a']
 endif
%}

<div class="yotpo bottomLine"
    data-appkey="hEc3IC0lCXuQ15phwUS54IFWUkW2L7LAcNLTHkt6"
    data-domain="{{shop.permanent_domain | escape }}"
    data-product-id="{{ product.id }}"
    data-product-models="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
    data-description="{{ product.description | escape }}"
    data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
</div>

{% case template %}
    {% when 'product.emma-original-a' or 'product.hybrid-comfort-bundle' %}

		<script type="module">
        const starRatingObserver = new MutationObserver(function () {
          starRatingObserver.disconnect();

          const $starsContainer = $(".yotpo-bottomline .yotpo-stars");
          const $reviewSource =  $(".yotpo-bottomline .text-m")

          $('.yotpo-bottomline .yotpo-clr').remove()

          $reviewSource.addClass('yotpo-review-source').removeClass('text-m').html(`
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.02436 4.97754L9.58735 3.97412C9.6728 3.82055 9.69038 3.63647 9.63569 3.46923C9.58149 3.30273 9.45845 3.16528 9.29975 3.09252L8.25581 2.61157L8.12153 1.4707C8.10102 1.29614 8.00776 1.13671 7.86567 1.03369C7.72309 0.930173 7.54194 0.890378 7.37056 0.925288L6.2436 1.1499L5.46381 0.305663C5.34467 0.177003 5.17621 0.102783 5.00043 0.102783C4.82514 0.102783 4.65571 0.176268 4.53535 0.305663L3.7563 1.14966L2.62934 0.925293C2.456 0.890138 2.27631 0.929933 2.13471 1.03345C1.99262 1.13647 1.89912 1.29565 1.87836 1.4707L1.74384 2.61181L0.700632 3.09228C0.540717 3.16577 0.417917 3.30371 0.363717 3.47095C0.309272 3.63843 0.327582 3.82226 0.413522 3.97534L0.975532 4.97754L0.413762 5.97949C0.327822 6.13232 0.309512 6.31592 0.363467 6.48291C0.417422 6.64991 0.539982 6.78809 0.700382 6.8628L1.74384 7.34327L1.87836 8.48536C1.89935 8.65967 1.99286 8.81885 2.13519 8.92188C2.27704 9.02491 2.45624 9.06397 2.62933 9.02979L3.75629 8.80567L4.53632 9.6504C4.65571 9.77881 4.82465 9.85254 4.99995 9.85254C5.17573 9.85205 5.34468 9.77832 5.46382 9.64941L6.24311 8.80566L7.37055 9.02978C7.54194 9.06445 7.72358 9.0249 7.86518 8.92138C8.00727 8.81836 8.10053 8.65918 8.12153 8.48437L8.25581 7.34326L9.30024 6.8623C9.45942 6.78857 9.58198 6.65088 9.63618 6.48437C9.69038 6.31787 9.6728 6.13427 9.58687 5.97949L9.02436 4.97754ZM8.33784 5.28662L8.87006 6.23486L7.88373 6.68896C7.685 6.77929 7.54487 6.9707 7.5185 7.18945L7.39154 8.26953L6.32562 8.05713C6.1098 8.01318 5.8847 8.08691 5.73773 8.24756L4.9997 9.04639L4.26313 8.24902C4.1435 8.11816 3.9726 8.04492 3.79755 8.04492C3.75654 8.04492 3.71552 8.04883 3.67475 8.05713L2.6081 8.26953L2.4809 7.18945C2.45527 6.97167 2.31586 6.78027 2.11787 6.68945L1.13032 6.23486L1.66279 5.28515C1.76997 5.09277 1.76997 4.86255 1.6623 4.6687L1.13032 3.72021L2.1164 3.26587C2.31562 3.17529 2.45527 2.98364 2.4809 2.76562L2.6081 1.68579L3.67426 1.89819C3.88984 1.94091 4.11396 1.86791 4.26215 1.70751L4.9997 0.908443L5.73774 1.70776C5.88666 1.8684 6.11225 1.94213 6.32514 1.89819L7.39154 1.68579L7.51898 2.7666C7.54535 2.98486 7.68549 3.17627 7.88226 3.26513L8.87006 3.72021L8.33832 4.66821C8.22895 4.86181 8.22895 5.09326 8.33784 5.28662Z" fill="#7F819D"/>
                      <path d="M6.48481 3.7124L4.74995 5.44726L4.01508 4.7124C3.8686 4.56591 3.63129 4.56591 3.48481 4.7124C3.33832 4.85888 3.33832 5.09619 3.48481 5.24267L4.48481 6.24267C4.55805 6.31592 4.654 6.35254 4.74995 6.35254C4.84589 6.35254 4.94184 6.31592 5.01508 6.24267L7.01508 4.24267C7.16157 4.09619 7.16157 3.85888 7.01508 3.7124C6.8686 3.56591 6.6313 3.56592 6.48481 3.7124Z" fill="#7F819D"/>
                  </svg>
                  <span class="yotpo-review-source__text">from verified customers</span>
              `);

          const $scoreEl = $starsContainer.find(".sr-only")

          $scoreEl.removeClass('sr-only').addClass('yotpo-rating-score').text(parseFloat($scoreEl.text())).detach().insertAfter($starsContainer);

          $(".yotpo-stars .yotpo-icon-star").replaceWith(`
              <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.103 4.36677C12.6146 4.36677 13.0492 4.6798 13.2104 5.1643C13.3711 5.64738 13.211 6.15694 12.8026 6.46198L10.4151 8.24502L11.2058 11.1976C11.3391 11.6966 11.1437 12.199 10.7085 12.4776C10.271 12.7579 9.73151 12.7231 9.33217 12.3927L7.18683 10.612C7.07859 10.522 6.92108 10.522 6.81228 10.612L4.66779 12.3927C4.44875 12.5744 4.18757 12.6662 3.9241 12.6662C3.70677 12.6662 3.48831 12.6041 3.29063 12.477C2.85569 12.1985 2.66087 11.696 2.79445 11.1976L3.58457 8.24502L1.19769 6.46227C0.789246 6.15636 0.629168 5.64708 0.790098 5.16373C0.951028 4.67951 1.38568 4.36677 1.89695 4.36677H4.66323C4.78656 4.36677 4.89707 4.2893 4.93837 4.17423L5.90139 1.47973C6.06887 1.01033 6.5001 0.706985 6.99998 0.706985C7.49957 0.706985 7.9308 1.01033 8.09828 1.48001L9.06215 4.17451C9.10316 4.28959 9.21368 4.36677 9.33672 4.36677H12.103Z" fill="#FFBA00"/>
              </svg>
          `)

          $(".yotpo-stars .yotpo-icon-half-star").replaceWith(`
          <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.8471 3.93846C12.3799 3.93846 12.8326 4.27533 13.0005 4.79672C13.1678 5.31658 13.0011 5.86494 12.5757 6.19322L10.0891 8.11203L10.9126 11.2894C11.0515 11.8264 10.8479 12.3671 10.3946 12.6669C9.93897 12.9685 9.37709 12.9311 8.96117 12.5756L6.72671 10.6592C6.72671 11.0234 6.5 0 6.72671 0.0158723C7.17838 0.0747844 7.51955 0.378499 7.67603 0.83189L8.67993 3.73156C8.72265 3.8554 8.83775 3.93846 8.96591 3.93846H11.8471Z" fill="#CDCDCD"/>
              <path d="M5.38787 0.831589C5.55752 0.340325 6.21198 0.0332128 6.72671 0.0158723V10.6592C6.72671 10.6592 6.44993 10.5623 6.3366 10.6592L4.10303 12.5756C3.8749 12.7711 3.60286 12.8698 3.32845 12.8698C3.10209 12.8698 2.87456 12.803 2.66867 12.6663C2.21566 12.3665 2.01275 11.8258 2.15188 11.2894L2.97482 8.11203L0.488791 6.19352C0.0633806 5.86432 -0.103347 5.31627 0.0642677 4.7961C0.231883 4.27502 0.684591 3.93846 1.2171 3.93846H4.09828C4.22674 3.93846 4.34184 3.85509 4.38486 3.73126L5.38787 0.831589Z" fill="#FFBA00"/>
          </svg>
          `)
        });


        document.addEventListener('DOMContentLoaded', function () {
          starRatingObserver.observe(
            document.querySelector(".yotpo.bottomLine"),
            {
              childList: true,
              subtree: true,
            }
          );
        });
		</script>
{% endcase %}
