{%- assign current_variant = product.selected_or_first_available_variant -%}
{% assign affirm_widget = section.blocks | where: 'type', 'affirm_widget' | first %}
{% assign mini_comparison_table = section.blocks | where: 'type', 'mini-comparison-table' | first %}
{% assign appBlock = section.blocks | where: 'type', '@app' | first %}

<link rel="stylesheet" href="{{ 'product-layout.css' | asset_url }}" />
<link rel="stylesheet" href="{{ 'bundle-layout.css' | asset_url }}" />

<script src="{{ 'product-layout.js' | asset_url }}" defer data-section-id="{{ section.id }}"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div
        id="product-layout"
        class="product-layout product-info"
        data-section-id="{{ section.id }}"
        data-section-type="bundle"
        data-enable-history-state="true"
        data-ajax-enabled="{{ settings.enable_ajax }}"
>
    <div class="product-info-wrapper page-boundary">
        <div id="product-viewer">
          <template id="campaign-teaser-placeholder"></template>

          <div class="main-frame">
            <div class="promotion-overlay">
              <div id="product-badges-placeholder"></div>
            </div>

            <div id="product-media-placeholder" class="flex w-full"></div>
          </div>

          <div id="risk-reversal-placeholder"></div>
        </div>

        <product-form id="product-configurator">
            <template id="product-summary-placeholder"></template>

            <div id="product-form">
                {% capture form_classes -%}
                    product-form product-form-{{ section.id }}
                    {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
                    {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
                {%- endcapture %}

                {% form 'product', product, class: form_classes, novalidate: 'novalidate', data-product-form: '' %}
                    {% render 'bundle-buy-box', product: product %}
                  {% liquid
                            assign qtySelectorOrientation = "horizontal"

                            if product.has_only_default_variant == false
                                assign qtySelectorOrientation = "vertical"
                            endif
                        %}

                   {% render 'product-quantity-selector', orientation: qtySelectorOrientation %}

                    <div
                            class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
                            data-error-message-wrapper
                            role="alert"
                    >
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        {% include 'icon-error' %}
                        <span class="product-form__error-message" data-error-message>
              {{- 'products.product.quantity_minimum_message' | t -}}
            </span>
                    </div>

                    <div id="price-{{ section.id }}" class="product__price -mb-1" {{ block.shopify_attributes }}>
                        {% render 'product-price', variant: current_variant, product: product %}
                    </div>

                    <div class="installment-widgets mb-4">
                        {%- if appBlock -%}
                            {% render appBlock %}
                        {% endif %}

                        {%- if affirm_widget -%}
                            <div {{ block.shopify_attributes }}>
                                {% render 'affirm-widget' %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="product-form__controls-group product-form__controls-group--submit">
                        <div
                                class="
                product-form__item product-form__item--submit
                {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}
              "
                        >
                            {% render 'add-to-cart-btn' %}

                            {% if section.settings.enable_payment_button %}
                                {{ form | payment_button }}
                            {% endif %}
                        </div>

                        {% if sold_out_upsell %}
                            <div
                                    id="sold-out-upsell"
                                    class="{% if product.selected_or_first_available_variant.available == true %}hidden{% endif %}"
                                    data-default="{{ sold_out_upsell.settings.sold_out_upsell_text }}"
                            >
                                {% assign variantOutOfStockNotice = product.selected_or_first_available_variant.metafields.accentuate.out_of_stock_notice[shop.locale] %}

                                {% capture outOfStockMsg %}
                                    <p class="mt-2 mx-1 text-[#F03306] text-[14px] font-semibold">
                                        {% if variantOutOfStockNotice %}
                                            {{ variantOutOfStockNotice }}
                                        {% else %}
                                            {{ sold_out_upsell.settings.sold_out_upsell_text }}
                                        {% endif %}
                                    </p>
                                {% endcapture %}

                                {% if sold_out_upsell.settings.sold_out_upsell_product != blank %}
                                    <a class="underline" href="{{ sold_out_upsell.settings.sold_out_upsell_product }}">
                                        {{ outOfStockMsg }}
                                    </a>
                                {% else %}
                                    {{ outOfStockMsg }}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if disclaimer %}
                            <div
                                    id="product-disclaimer"
                                    data-default="{{ disclaimer.settings.default_message | remove: "<p>" | remove: "</p>" }}"
                            >
                                <p class="mt-2 mx-1 text-center text-[#F03306] text-[14px] font-semibold">
                                    {% assign variantDisclaimer = product.selected_or_first_available_variant.metafields.accentuate.disclaimer[shop.locale] %}
                                    {% if variantDisclaimer %}
                                        {{ variantDisclaimer }}
                                    {% else %}
                                        {{ disclaimer.settings.default_message | remove: "<p>" | remove: "</p>" }}
                                    {% endif %}
                                </p>


                            </div>

                        {% endif %}

                        {% if cta_message %}
                            <p style="color: {{ cta_message.settings.cta_message_color }}" class="mt-2 mx-1 text-[14px] font-semibold">
                                {{ cta_message.settings.cta_message }}
                            </p>
                        {% endif %}
                    </div>

                    {% if section.settings.disclaimer != blank %}
                        <p class="text-center text-scarlet font-semibold text-[14px] italic">
                            {{ section.settings.disclaimer }}
                        </p>
                    {% endif %}
                {% endform %}
            </div>

            <template id="product-auxiliary-placeholder"></template>

            <template id="product-unique-selling-points-placeholder"></template>

            <template id="product-specifications-placeholder"></template>

            <p
                    class="visually-hidden"
                    data-loader-status
                    aria-live="assertive"
                    role="alert"
                    aria-hidden="true"
            >
                {{ 'products.product.loader_label' | t }}
            </p>

            <button class="visually-hidden" data-add-to-cart></button>
        </product-form>
    </div>


    {% unless product == empty %}
        <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
		</script>
        <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
		</script>
        <script type="application/json" id="AccentuateJson-{{ section.id }}">
            [
            {% for variant in product.variants %}
				{
	          "productId" : "{{ variant.product.id }}",
	          "variantId": "{{ variant.id }}",
	          "accentuate": {{ variant.metafields.accentuate | json }}
				}
				{% unless forloop.last %},{% endunless -%}
            {% endfor %}
            ]
        </script>
    {% endunless %}

</div>

{% schema %}
{
  "name": "Bundle Layout",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "affirm_widget",
      "name": "Affirm Widget",
      "limit": 1
    }
  ],
  "settings": [

  ]
}
{% endschema %}
