{% assign blocks = section.blocks %}

<link rel="quickscript" loading="visibility" href="{{ 'featured-content.css' | asset_url }}" />

<section class="featured-content section-container spacing-{{ section.settings.container_spacing }}">
  <div class="section-chassis page-boundary">
    {% render 'section-header' %}

    <ul class="section-content">
      {% for block in blocks %}
        {% assign col = block.settings %}
        {% assign product = block.settings.product %}

        <li class="col">
          <div class="col__media">
            {{ col.photo | image_url: width: 400 | image_tag }}
          </div>

          <div class="col__metadata">
            <div class="col__header">
              <h3 class="text-md font-semibold font-inter">{{ col.title }}</h3>
            </div>

            <div class="col__desc">{{ col.desc }}</div>

          </div>

          <a href="{{ product.url }}" class="col__link underline">
            <span>Discover our {{ product.title }}</span>
            <svg data-v-9cbc2b4c="" data-v-6f864b1d="" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"
                 class="icon__xs--size_xl icon__sm--size_xl icon__md--size_xl icon__lg--size_xl icon__xl--size_xl icon--is-non-responsive themed themed--default icon icon--monochrome themed themed--default button-icon m-l-space-8">
              <defs data-v-9cbc2b4c=""></defs>
              <path data-v-9cbc2b4c=""
                    d="M21.53 11.47l-8-8a.75.75 0 10-1.06 1.06l6.72 6.72H3a.75.75 0 000 1.5h16.19l-6.72 6.72a.75.75 0 101.06 1.06l8-8a.748.748 0 000-1.06z"></path>
            </svg>
          </a>

        </li>
      {% endfor %}
    </ul>
  </div>

</section>

{% schema %}
{
  "name": "Featured FAQs",
  "blocks": [
    {
      "type": "block",
      "name": "Content Block",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Title"
        },
        {
          "id": "desc",
          "type": "richtext",
          "label": "Description"
        },
        {
          "id": "product",
          "type": "product",
          "label": "Select your Product"
        },
        {
          "id": "photo",
          "type": "image_picker",
          "label": "Block Photo"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "FAQs"
    },
    {
      "id": "header_font",
      "type": "select",
      "label": "Header Font",
      "options": [
        {
          "value": "inter",
          "label": "Inter"
        },
        {
          "value": "tiempos",
          "label": "Tiempos"
        }
      ],
      "default": "tiempos"
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "md",
          "label": "Medium (40px)"
        },
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "xl",
          "label": "XL (80px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    }
  ]
}
{% endschema %}
