{% assign heroSplits = section.blocks | where: 'type', 'banner' %}
{% assign heroSaleBadge = section.blocks | where: 'type', 'hero-sale-badge' %}

<style>
    #hero-split-section .split-container {
        position: relative;
        border-radius: .5rem;
        overflow: hidden;
        color: {{ section.settings.text_color }};
    }
</style>
<link rel="stylesheet" href="{{ 'hero-split.css' | asset_url }}">

<div id="hero-split-section" class="page-boundary" data-component="hero-banner">
    <div class="split-container">
        <div class="split-interior">
            <div class="section-frame">
                <div class="overlay-bg"></div>

                {% for block in heroSplits %}
                    {% assign settings = block.settings %}
                    {% case settings.heading_size %}
                        {% when 'large' %}
                            {% assign headingClass = 'heading-1' %}
                        {% else %}
                            {% assign headingClass = 'heading-2' %}
                    {% endcase %}
                    <div class="banner-panel" style="color: {{ settings.text_color }}">
                        <div class="banner-content">
                            <h2 class="banner-title relative {{ headingClass }}">
                                {% render 'rtf-viewer', content: settings.title %}
                            </h2>
                            {% if settings.subtitle %}
                                <div class="sub-heading">
                                    {% render 'rtf-viewer', content: settings.subtitle %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="banner-features">
                            {% if settings.timer %}
                                <hero-banner-countdown-timer class="hidden" end-time="{{ settings.timer }}">
                                    <div class="countdown-timer" style="color: black;">
                                        <div class="time-part">
                                            <p class="digit"></p>
                                            <p class="label">Days</p>
                                        </div>
                                        <div class="time-part">
                                            <p class="digit"></p>
                                            <p class="label">Hours</p>
                                        </div>
                                        <div class="time-part">
                                            <p class="digit"></p>
                                            <p class="label">Minutes</p>
                                        </div>
                                        <div class="time-part">
                                            <p class="digit"></p>
                                            <p class="label">Seconds</p>
                                        </div>
                                    </div>
                                </hero-banner-countdown-timer>
                            {% endif %}

                            {% if settings.cta_url %}
                                <div class="banner-cta">
                                    <a {% if forloop.last %}data-abtasty="hero-cta-button"{% endif %}
                                       class="btn btn--lg" href="{{ settings.cta_url }}">
                                      {{ settings.cta_text }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="">
            <div class="section-frame">
                {% for block in heroSplits %}
                    {% render 'hero-banner', settings: block.settings %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>


{% schema %}
{
  "name": "Hero Split",
  "class": "hero-split",
  "tag": "section",
  "blocks": [
    {
      "type": "banner",
      "name": "Hero Banner",
      "limit": 2,
      "settings": [
        {
          "id": "wallpaper_desktop_img",
          "type": "image_picker",
          "label": "Wallpaper Desktop Image"
        },
        {
          "id": "wallpaper_mobile_img",
          "type": "image_picker",
          "label": "Wallpaper Mobile Image"
        },
        {
          "id": "title",
          "type": "richtext",
          "label": "Title",
          "default": "<p>Hit snooze! Sleep is about to get <i>wayyy better.</i></p>"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "medium",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__2.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-banner.blocks.heading.settings.heading_size.label"
        },
        {
          "id": "subtitle",
          "type": "richtext",
          "label": "Subtitle"
        },
        {
          "id": "tagline",
          "type": "richtext",
          "label": "Tagline"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "id": "cta_url",
          "type": "url",
          "label": "CTA Url"
        },
        {
          "id": "cta_text",
          "type": "text",
          "label": "CTA Text"
        },
        {
          "id": "cta_subtext",
          "type": "richtext",
          "label": "CTA Subtext"
        },
        {
          "type": "text",
          "id": "timer",
          "label": "Countdown Timer",
          "info": "Please follow format: YYYY-MM-DD HH:mm"
        },
        {
          "type": "checkbox",
          "id": "discount_badge",
          "label": "Display Discount Badge"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Split"
    }
  ]
}
{% endschema %}
