{{ 'joint-product.css' | asset_url | stylesheet_tag }}

<script id="joint-product-data" type="application/json">
  [
  {% for product in section.settings.products %}
    {{ product | json }}
    {% unless forloop.last %},{% endunless %}
  {% endfor %}
  ]
</script>

<joint-product-engine></joint-product-engine>

<joint-product-selector class="hidden">
  <div class="skeleton"></div>
  {% comment %}<loading-overlay id="joint-product-selector-loader" class="hidden bg-white pointer-events-none"></loading-overlay>{% endcomment %}

  {% for product in section.settings.products %}
    {% assign selected_variant = product.selected_variant %}

    <joint-product-option data-product-id="{{ product.id }}">
      <div class="flex gap-2 justify-start">
        <p class="font-semibold">{{ product.title }}</p>
      </div>

      <div class="product-price"></div>
      <!-- <joint-product-star-rating
                    :placeholder="{{ product.metafields.accentuate.placeholder_star_rating }}"
                    :productId="{{ product.id }}"
            ></joint-product-star-rating>
            <p class="joint-product-option__desc text-comet text-sm">{{ product.metafields.accentuate.short_description }}</p> -->

    </joint-product-option>
  {% endfor %}
</joint-product-selector>

<script defer src="{{ 'joint-product.js' | asset_url }}"></script>


{% schema %}
{
  "name": "Joint Product",
  "class": "joint-product",
  "settings": [
    {
      "id": "products",
      "type": "product_list",
      "label": "Products"
    }
  ]
}
{% endschema %}

