{% assign slideBlocks = section.blocks | where: "type", "banner_carousel_section" %}
<lazy-stylesheet href="{{ 'main-carousel-banner.css' | asset_url }}"></lazy-stylesheet>
<section id="main_hero_carousel">
<div class="splide" aria-labelledby="carousel-heading">
  <div class="splide__track">
		<ul class="splide__list">
           {%-for block in slideBlocks -%}
			<li class=" splide__slide">
              <div class="slide_card">
                   <div class="slide_body">
        <h1 class="slide_card_title heading-1">{{ block.settings.carousel-title }}</h1>
        <h2 class="slide_card_subtitle heading-2 md:text-[32px] font-inter">{{ block.settings.carousel-subtitle }}</h2>
        <div class="slide_card_dis hidden md:inline-block">
          <a href="#">{{ block.settings.content-banner }} </a>
        </div>

        <a class="btn btn--lg" href="{{ block.settings.banner-url }}">
            Shop Now
          </a>
      </div>
      <div class="slide_card_thumb">
        <img src="{{ block.settings.image-carousel-banner-desktop | image_url: width: 800 }}" class="card_thumb hidden md:block" alt="slide card thumb" loading="lazy" width="100%" height="100%"/>
        <img src="{{ block.settings.image-carousel-banner-mobile | image_url: width: 400 }}" class="card_thumb md:hidden" alt="slide card thumb" loading="lazy" width="100%" height="100%"/>
      </div>
              </div>
            </li>
		  {%- endfor -%}
		</ul>
  </div>

</div>
   <div class="countdown-timer-block" countdown-timer-id="cljxyk1363486461m21q2d61tc8"></div>
  </section>
<script type="quickscript" loading="visibility"  src="{{ 'main-carousel-banner.js' | asset_url }}"></script>
{% schema %}
    {
    "name": "Main Banner Carousel",
     "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    }
  ],
    "blocks": [
              {
            "type": "banner_carousel_section",
            "name": "Slide",
            "settings": [
               {
                    "type": "image_picker",
                    "id": "image-carousel-banner-desktop",
                    "label": "Desktop Carousel Banner Image"
                },
               {
                    "type": "image_picker",
                    "id": "image-carousel-banner-mobile",
                    "label": "Mobile Carousel Banner Image"
                },
                {
                    "type": "richtext",
                    "id": "carousel-title",
                   "label": " Title",
                    "default": "<p>Add your Title here</p>"
                },
               {
                    "type": "text",
                    "id": "carousel-subtitle",
                    "label": "Sub Title",
                    "default": "Section Title"
                },
                {
                    "type": "richtext",
                    "id": "content-banner",
                    "label": " Description",
                    "default": "<p>Add your description here</p>"
                },
                {
                    "type": "url",
                    "id": "banner-url",
                    "label": " link",
                    "info": "Optional"
                }


            ]
        }
    ],
    "presets": [
        {
           "name": "Main Banner Carousel"

        }
    ]
}
{% endschema %}
