{% assign current_variant = product.selected_or_first_available_variant %}
{% assign compare_at_price = current_variant.compare_at_price %}
{% assign price = current_variant.price %}
{% assign affirm_widget = section.blocks | where: 'type', 'affirm_widget' | first %}
{% assign campaignTeaser = section.blocks | where: 'type', 'campaign_teaser' | first %}
{% assign appBlock = section.blocks | where: 'type', '@app' | first %}

<link rel="stylesheet" href="{{ 'product-layout.css' | asset_url }}" />

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const schema = JSON.parse($("#ProductLayoutSchema--JSON").text());
    const templateId = "{{ section.id }}".split("__")[0];

    schema.forEach(({ sectionId, blocks = [] }) => {
      const $section = $(`#shopify-section-${templateId}__${sectionId}`);

      const $sectionPlaceholder = $(`#product-layout #${sectionId}-placeholder`);

      $sectionPlaceholder.replaceWith($section.removeClass("hidden").detach());

      if (blocks.length > 0) {
        blocks.forEach(({ blockId, commands }) => {
          const [insertCommand, targetEl] = commands;

          $(`#${blockId}`).detach()[insertCommand]($(`${targetEl}`));
        });
      }
    });
  });
</script>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div
        id="product-layout"
        class="product-info"
        data-section-id="{{ section.id }}"
        data-section-type="product"
        data-enable-history-state="true"
        data-ajax-enabled="{{ settings.enable_ajax }}"
>
    <div class="product-info-wrapper page-boundary">
        <div id="product-viewer">
            <div class="promotion-overlay">
                <template id="product-badges-placeholder"></template>

                {% if campaignTeaser %}
                    <div class="campaign-teaser">
                        <h2 class="text-sm font-bold">{{ campaignTeaser.settings.title }}</h2>
                        <div class="text-xs md:text-sm">
                            {% render 'rtf-viewer', content: campaignTeaser.settings.content %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <template id="product-media-placeholder"></template>
        </div>

        <product-form class="right-section">
            <template id="product-summary-placeholder"></template>

            {% if product.has_only_default_variant == true or product.selected_or_first_available_variant.available == false %}
                {% assign isSingleCol = true %}
            {% endif %}

            <div id="product-form">
                {% capture form_classes -%}
                    product-form product-form-{{ section.id }}
                    {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
                    {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
                {%- endcapture %}

                {% form 'product', product, class: form_classes, novalidate: 'novalidate', data-product-form: '' %}
                    <div id="attribute-configurator"
                         class="attribute-configurator{% if isSingleCol == true %} attribute-configurator--single{% endif %}"
                    >
                        <variant-selects
                                class="no-js-hidden emma-product__variant"
                                data-section="{{ section.id }}"
                                data-url="{{ product.url }}"
                                {{ block.shopify_attributes }}
                        >

                            {%- for option in product.options_with_values -%}
                                <div class="product-form__input product-form__input--dropdown">
                                    <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                                        {{ option.name }}
                                    </label>
                                    <div class="select">
                                        <select
                                                id="Option-{{ section.id }}-{{ forloop.index0 }}"
                                                class="select__select"
                                                name="options[{{ option.name | escape }}]"
                                                form="product-form-{{ section.id }}"
                                        >
                                            {%- for value in option.values -%}
                                                <option
                                                        value="{{ value | escape }}"
                                                        {% if option.selected_value == value %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ value }}
                                                </option>
                                            {%- endfor -%}
                                        </select>
                                        {% render 'icon-caret' %}
                                    </div>
                                </div>
                            {%- endfor -%}

                            <script type="application/json">
                                {{ product.variants | json }}








                            </script>
                        </variant-selects>

                        <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                            {% for variant in product.variants %}
                                <option
                                        value="{{ variant.id }}"
                                        {%- if variant == current_variant %}
                                            selected="selected"
                                        {%- endif -%}
                                >
                                    {{ variant.title }}
                                    {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                                </option>
                            {% endfor %}
                        </select>

                        {% liquid
                            assign qtySelectorOrientation = "horizontal"

                            if product.has_only_default_variant == false
                                assign qtySelectorOrientation = "vertical"
                            endif
                        %}

                        {% render 'product-quantity-selector', orientation: qtySelectorOrientation %}
                    </div>

                    <div
                            class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
                            data-error-message-wrapper
                            role="alert"
                    >
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        {% include 'icon-error' %}
                        <span class="product-form__error-message" data-error-message>
                            {{- 'products.product.quantity_minimum_message' | t -}}
                          </span>
                    </div>

                    <div class="installment-widgets mb-4">
                        {%- if appBlock -%}
                            {% render appBlock %}
                        {% endif %}

                        {%- if affirm_widget -%}
                            <div {{ block.shopify_attributes }}>
                                {% render 'affirm-widget' %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="relative">
                        <loading-overlay id="cta-loader" class="hidden bg-white pointer-events-none"></loading-overlay>

                        <div id="price-{{ section.id }}" class="product__price" {{ block.shopify_attributes }}>
                            {% render 'product-price', variant: current_variant, product: product %}
                        </div>

                        <div class="product-form__controls-group product-form__controls-group--submit">
                            <div
                                    class="
                                          product-form__item product-form__item--submit
                                          {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                                          {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}
                                    "
                            >
                                {% render 'add-to-cart-btn' %}

                                {% if section.settings.enable_payment_button %}
                                    {{ form | payment_button }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if section.settings.disclaimer != blank %}
                        <p class="text-center py-4 text-scarlet font-semibold">
                            {{ section.settings.disclaimer }}
                        </p>
                    {% endif %}
                {% endform %}
            </div>

            <template id="product-auxiliary-placeholder"></template>

            <template id="product-unique-selling-points-placeholder"></template>

            <template id="product-specifications-placeholder"></template>

            <p
                    class="visually-hidden"
                    data-loader-status
                    aria-live="assertive"
                    role="alert"
                    aria-hidden="true"
            >
                {{ 'products.product.loader_label' | t }}
            </p>

            <button class="visually-hidden" data-add-to-cart></button>

        </product-form>
    </div>
</div>

{% unless product == empty %}
    <script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
    </script>
    <script type="application/json" id="ModelJson-{{ section.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script type="application/json" id="ProductLayoutSchema--JSON">
        [
            {
                "sectionId": "product-summary"
            },
            {
                "sectionId": "product-badges"
            },
            {
                "sectionId": "product-media"
            },
            {
                "sectionId": "product-unique-selling-points"
            },
            {
                "sectionId": "product-specifications"
            },
            {
                "sectionId": "product-auxiliary",
                "blocks": [
                    {
                        "blockId": "cross-selling-section",
                        "commands": [
                            "insertAfter",
                            "#attribute-configurator"
                        ]
                    }
                ]
            }
        ]
    </script>
{% endunless %}

{% schema %}
{
  "name": "Product Layout",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "affirm_widget",
      "name": "Affirm Widget",
      "limit": 1
    },
    {
      "type": "campaign_teaser",
      "limit": 1,
      "name": "Campaign Teaser",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "Content"
        }
      ]
    }
  ],
  "settings": []
}
{% endschema %}

