<link rel="quickscript" loading="delayed" href="{{ 'product-collage.css' | asset_url }}">

<section id="product-collage-section" data-section-id="{{ section.id }}" class="section-container">
  <div class="section-chassis page-boundary">
    {% render 'section-header' %}

    <div class="collage-gallery">
      {% for block in section.blocks %}
        {% assign collection = block.settings.collection %}
        <div class="collage-card" data-type="{{ block.type }}">
          <div class="collage-container">
            {%- assign collection_image = blank -%}

            {% if block.settings.media %}
              {% assign collection_image = block.settings.media | image_url: width: 1440 %}
            {% elsif collection.metafields.accentuate.featured_image[0] %}
              {%- assign collection_image = collection.metafields.accentuate.featured_image[0].src -%}
            {% elsif collection.image %}
              {%- assign collection_image = collection.image | image_url: width: 1440 -%}
            {% elsif collection.products.first and collection.products.first.featured_media != empty %}
              {%- assign collection_image = collection.products.first.featured_media.preview_image | image_url: width: 1440 -%}
            {% endif %}

            {% if collection == blank %}
              <div
                class="collection-grid__item-overlay grid__image">{{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
            {% else %}
              {% case block.type %}
                {% when "image" %}
                  <img class="lazyload card-photo"
                       data-src="{{ collection_image }}"
                       data-sizes="auto"
                       data-parent-fit="cover"
                  />
                {% when "video" %}
                  {% assign media = block.settings.media %}
                  {% assign poster = media | image_url: width: 550 | prepend: "https:" %}
                  <video class="card-media lazy" controls playsinline autoplay muted poster="{{ poster }}">
                    {% for source in media.sources %}
                      <source
                        data-src="{{ source.url }}"
                        type="{{ source.mime_type }}">
                    {% endfor %}
                  </video>
              {% endcase %}


            {% endif %}

            <tracked-button :trackId="{{ block.settings.trackId }}" href="{{ collection.url }}" class="card-content">
              <p class="text-md md:text-xl font-semibold">{{ block.settings.heading }}</p>
              <p class="uppercase font-semibold text-xs md:text-sm">{{ block.settings.subheading }}</p>
            </tracked-button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Product Collage",
  "blocks": [
    {
      "type": "image",
      "name": "Collage Image",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "subheading",
          "type": "text",
          "label": "Subheading"
        },
        {
          "id": "media",
          "type": "image_picker",
          "label": "Item Image"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Linked Product Collection"
        },
        {
          "id": "trackId",
          "type": "text",
          "label": "Tracking ID"
        }
      ]
    },
    {
      "type": "video",
      "name": "Collage Video",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "subheading",
          "type": "text",
          "label": "Subheading"
        },
        {
          "id": "media",
          "type": "video",
          "label": "Video"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Linked Product Collection"
        },
        {
          "id": "trackId",
          "type": "text",
          "label": "Tracking ID"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Emma's Advanced Sleep Range"
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "md",
          "label": "Medium (40px)"
        },
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "xl",
          "label": "XL (80px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    }
  ]
}
{% endschema %}
