{% assign collageItems = section.blocks | where: 'type', 'collage-item' %}

{{ 'product-collage.css' | asset_url | stylesheet_tag }}


<section id="product-collage-section" data-section-id="{{ section.id }}" class="section-container">
    <div class="section-chassis page-boundary">
        {% render 'section-header' %}

        <div class="collage-gallery">
            {% for item in collageItems %}
                {% assign collection = item.settings.collection %}
                <div
                        class="collage-card">

                    <a
                            href="{{ collection.url }}"

                            class=""
                    >
                        {%- assign collection_image = blank -%}

                        {% if item.settings.photo %}
                            {% assign collection_image = item.settings.photo | image_url: width: 1440 %}
                        {% elsif collection.metafields.accentuate.featured_image[0] %}
                            {%- assign collection_image = collection.metafields.accentuate.featured_image[0].src -%}
                        {% elsif collection.image %}
                            {%- assign collection_image = collection.image | image_url: width: 1440 -%}
                        {% elsif collection.products.first and collection.products.first.featured_media != empty %}
                            {%- assign collection_image = collection.products.first.featured_media.preview_image | image_url: width: 1440 -%}
                        {% endif %}

                        {% if collection == blank %}
                            <div class="collection-grid__item-overlay grid__image">{{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                        {% else %}
                            <img class="lazyload card-photo"
                                 data-src="{{ collection_image }}"
                                 data-sizes="auto"
                                 data-parent-fit="cover"
                            />
                        {% endif %}

                        <div class="card-content">
                            <p class="text-md md:text-xl font-semibold">{{ item.settings.heading }}</p>
                            <p class="uppercase font-semibold text-xs md:text-sm">{{ item.settings.subheading }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{% schema %}
{
  "name": "Product Collage",
  "blocks": [
    {
      "type": "collage-item",
      "name": "Collage Item",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "subheading",
          "type": "text",
          "label": "Subheading"
        },
        {
          "id": "photo",
          "type": "image_picker",
          "label": "Item Image"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Linked Product Collection"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Emma's Advanced Sleep Range"
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "md",
          "label": "Medium (40px)"
        },
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "xl",
          "label": "XL (80px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    }
  ]
}
{% endschema %}
