{% assign allItems = section.blocks | where: 'type', 'item' %}

{% assign leadItem = allItems | first %}
{% assign otherItems = allItems | slice: 1, allItems.size %}


<link rel="stylesheet" href="{{ 'product-media.css' | asset_url }}">

<style>
  product-media {
      min-height: 500px;
  }
</style>

<product-media>
  <div class="lead-item media-item full-width">
    <div class="image-wrapper">
      {% if leadItem.settings.is_video and leadItem.settings.hosted_video != blank %}
        {{
        leadItem.settings.hosted_video
        | video_tag: class: 'hosted-video', width: '100%', controls: false, autoplay: true, loop: true
        }}
      {% else %}
        <img
            src="{{ leadItem.settings.image | image_url: width: 100 }}"
            data-src="{{ leadItem.settings.image | image_url: width: 808 }}"
            data-sizes="auto"
            alt=""
            width="808"
            height="486"
            class="image-item lazyload"
        />
      {% endif %}
    </div>
  </div>
  <template>
    <div class="main-carousel splide">
      <ul class="splide__track">
        <li class="splide__list">
          {% for item in allItems %}
            <div
                class="media-item splide__slide"
            >
              {% if item.settings.is_video and item.settings.hosted_video != blank %}
                {{ item.settings.hosted_video | video_tag: class: 'hosted-video', width: '100%', controls: false, autoplay: true, loop: true }}
              {% else %}
                {{ item.settings.image | image_url: width: 808, height: 486 | image_tag }}
              {% endif %}

              {% if item.settings.overlay_text %}
                <div class="overlay-text" style="
                    --font_size: {{item.settings.font_size }}px;
                    --text_alignment: {{item.settings.text_alignment }};
                    --text_color: {{item.settings.text_color }};
                    --y: {{item.settings.y }}%;
                    --x: {{item.settings.x }}%;
                    ">
                  {% render 'rtf-viewer', content: item.settings.overlay_text %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </li>
      </ul>

    </div>

    <div class="thumbnail-carousel splide">
      <ul class="splide__track">
        <li class="splide__list">
          {% for item in allItems %}
            <div
                class="media-item splide__slide"
            >
              {% assign thumbnail = item.settings.image %}
              {% if item.settings.is_video and item.settings.hosted_video != blank %}
                {% assign thumbnail = item.settings.hosted_video.preview_image %}
              {% endif %}
              {{ thumbnail | image_url: width: 808, height: 486 | image_tag }}

            </div>
          {% endfor %}
        </li>
      </ul>
    </div>
  </template>
</product-media>

<script type="quickscript" loading="delayed" src="{{ 'product-media.js' | asset_url }}"></script>


{% schema %}
{
  "name": "Product Media",
  "class": "hide-until-initialized flex w-full",
  "blocks": [
    {
      "type": "item",
      "name": "Media Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "id": "overlay_text",
          "type": "richtext",
          "label": "Overlay Text"
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 14,
          "max": 80,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "range",
          "id": "y",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Bottom Position",
          "default": 1
        },
        {
          "type": "range",
          "id": "x",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Right Position",
          "default": 1
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#ffffff"
        },
        {
          "id": "hosted_video",
          "type": "video",
          "label": "Shopify-hosted video"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full Width?"
        },
        {
          "type": "checkbox",
          "id": "is_video",
          "label": "Video?"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "caption_headline",
      "type": "text",
      "label": "Headline"
    },
    {
      "type": "textarea",
      "id": "caption_content",
      "label": "Content"
    }
  ]
}
{% endschema %}
