{% assign current_variant = product.selected_or_first_available_variant %}
{% assign affirm_widget = section.blocks | where: 'type', 'affirm_widget' | first %}
{% assign appBlock = section.blocks | where: 'type', '@app' | first %}

<style>
  .attribute-configurator {
      display: none;
  }
</style>
<link rel="stylesheet" href="{{ 'product-layout.css' | asset_url }}" />

<script src="{{ 'product-layout.js' | asset_url }}" defer data-section-id="{{ section.id }}"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer></script>

<style>
    #product-layout:not(.is-initialized) {
        min-height: 1700px;
    }

    #product-summary-placeholder:not(.is-initialized) {
        min-height: 300px;
    }
</style>

<div
    id="product-layout"
    class="page-boundary"
    data-section-id="{{ section.id }}"
    data-section-type="product"
    data-enable-history-state="true"
    data-ajax-enabled="{{ settings.enable_ajax }}"
>
  <div class="product-info product-info-wrapper ">
    <div id="product-viewer">
      <template id="campaign-teaser-placeholder"></template>

      <div class="main-frame">
        <div class="promotion-overlay">
          <div id="product-badges-placeholder"></div>
        </div>

        <div id="product-media-placeholder" class="flex w-full"></div>
      </div>

      <div id="risk-reversal-placeholder"></div>
    </div>

    <product-form id="product-configurator">
      <div id="product-summary-placeholder"></div>

      <div id="product-form">
        {% capture form_classes -%}
          product-form product-form-{{ section.id }}
          {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
          {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
        {%- endcapture %}

        {% form 'product', product, class: form_classes, novalidate: 'novalidate', data-product-form: '' %}
          <div
              id="attribute-configurator"
              class="
                attribute-configurator
                {% if product.has_only_default_variant == true %} attribute-configurator--single{% endif %}
                {% if product.selected_or_first_available_variant.available == false %} attribute-configurator--unavailable{% endif %}
            "
          >
            <variant-selects
                class="no-js-hidden emma-product__variant"
                data-section="{{ section.id }}"
                data-url="{{ product.url }}"
                data-product-id="{{ product.id }}"
                {{ block.shopify_attributes }}
            >

              {%- for option in product.options_with_values -%}
                <div class="product-form__input product-form__input--dropdown">
                  <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <div class="select">
                    <select
                        id="Option-{{ section.id }}-{{ forloop.index0 }}"
                        class="select__select"
                        name="options[{{ option.name | escape }}]"
                        form="product-form-{{ section.id }}"
                    >
                      {%- for value in option.values -%}
                        <option
                            value="{{ value | escape }}"
                            {% if option.selected_value == value %}
                              selected="selected"
                            {% endif %}
                        >
                          {{ value }}
                        </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret' %}
                  </div>
                </div>
              {%- endfor -%}

              <script  type="application/json">
                  {{ product.variants | json }}

              </script>
            </variant-selects>

            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                <option
                    value="{{ variant.id }}"
                    {%- if variant == current_variant %}
                      selected="selected"
                    {%- endif -%}
                >
                  {{ variant.title }}
                  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>

            {% liquid
              assign qtySelectorOrientation = "horizontal"

              if product.has_only_default_variant == false
                assign qtySelectorOrientation = "vertical"
              endif
            %}

            {% render 'product-quantity-selector', orientation: qtySelectorOrientation %}
          </div>

          <div
              class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
              data-error-message-wrapper
              role="alert"
          >
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% render 'icon-error' %}
            <span class="product-form__error-message" data-error-message>
                            {{- 'products.product.quantity_minimum_message' | t -}}
                          </span>
          </div>

          <div class="installment-widgets mb-4">
            {%- if appBlock -%}
              {% render appBlock %}
            {% endif %}

            {%- if affirm_widget -%}

              {% render 'affirm-widget' %}

            {% endif %}
          </div>

          <div class="relative">
            <div class="skeleton"></div>

            {% render 'product-price', variant: current_variant, product: product %}

            <div class="product-form__controls-group product-form__controls-group--submit">
              <div
                  class="product-form__item product-form__item--submit
                      {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                      {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}
                "
              >
                {% render 'add-to-cart-btn' %}

                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
          </div>
        {% endform %}
      </div>

      <div id="product-auxiliary-placeholder"></div>

      <div id="product-unique-selling-points-placeholder"></div>

      <div id="product-specifications-placeholder"></div>

      <p
          class="visually-hidden"
          data-loader-status
          aria-live="assertive"
          role="alert"
          aria-hidden="true"
      >
        {{ 'products.product.loader_label' | t }}
      </p>

      <button class="visually-hidden" data-add-to-cart></button>

    </product-form>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}

  </script>
{% endunless %}

{% schema %}
{
  "name": "Product Layout",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "affirm_widget",
      "name": "Affirm Widget",
      "limit": 1
    }
  ]
}
{% endschema %}
