{% assign allItems = section.blocks | where: 'type', 'item' %}

{% assign leadItem = allItems | first %}
{% assign otherItems = allItems | slice: 1, allItems.size %}


<link rel="stylesheet" href="{{ 'product-media.css' | asset_url }}">

<style>
    product-media {
        min-height: 280px;
    }


    @media screen and (min-width: 769px) {
        product-media {
            min-height: 500px;
        }
    }

    product-media .media-item {
        display: none;
    }

    html[lang='en'] product-media .media-item[lang='en'] {
        display: block;
    }

    html[lang='fr'] product-media .media-item[lang='fr'] {
        display: block;
    }
</style>

<product-media>

  <div class="lead-item media-item" lang="en">
    <picture class="media-item__image">
      <source media="(min-width: 1200px)" srcset="{{ leadItem.settings.en_desktop_image | image_url: width: 1440 }}">
      <source media="(min-width: 992px)" srcset="{{ leadItem.settings.en_desktop_image | image_url: width: 1040 }}">
      <source media="(min-width: 768px)" srcset="{{ leadItem.settings.en_desktop_image | image_url: width: 800 }}">

      <img
          src="{{ leadItem.settings.en_mobile_image | default: leadItem.settings.en_desktop_image | image_url: width: 600 }}"
          width="808"
          height="486"
      >
    </picture>
  </div>
  <div class="lead-item media-item" lang="fr">
    <div class="image-wrapper">
      <picture class="media-item__image">
        <source media="(min-width: 1200px)" srcset="{{ leadItem.settings.fr_desktop_image | image_url: width: 1440 }}">
        <source media="(min-width: 992px)" srcset="{{ leadItem.settings.fr_desktop_image | image_url: width: 1040 }}">
        <source media="(min-width: 768px)" srcset="{{ leadItem.settings.fr_desktop_image | image_url: width: 800 }}">

        <img src="{{ leadItem.settings.fr_mobile_image | default: leadItem.settings.fr_desktop_image | image_url: width: 600 }}"
             width="808"
             height="486"
        >
      </picture>

    </div>
  </div>

  <template>
    <div class="main-carousel splide">
      <ul class="splide__track">
        <li class="splide__list">
          {% for item in allItems %}
            <div
                class="splide__slide"
            >
              <div class="media-item" lang="en">
                <picture class="media-item__image">
                  <source media="(min-width: 1200px)"
                          srcset="{{ item.settings.en_desktop_image | image_url: width: 1440 }}">
                  <source media="(min-width: 992px)"
                          srcset="{{ item.settings.en_desktop_image | image_url: width: 1040 }}">
                  <source media="(min-width: 768px)"
                          srcset="{{ item.settings.en_desktop_image | image_url: width: 800 }}">

                  <img
                      src="{{ item.settings.en_mobile_image | default: item.settings.en_desktop_image | image_url: width: 600 }}"
                      width="808"
                      height="486"
                  >
                </picture>
              </div>
              <div class="media-item" lang="fr">
                <picture class="media-item__image">
                  <source media="(min-width: 1200px)"
                          srcset="{{ item.settings.fr_desktop_image | image_url: width: 1440 }}">
                  <source media="(min-width: 992px)"
                          srcset="{{ item.settings.fr_desktop_image | image_url: width: 1040 }}">
                  <source media="(min-width: 768px)"
                          srcset="{{ item.settings.fr_desktop_image | image_url: width: 800 }}">

                  <img
                      src="{{ item.settings.fr_mobile_image | default: item.settings.fr_desktop_image | image_url: width: 600 }}"
                      width="808"
                      height="486"
                  >
                </picture>
              </div>
            </div>
          {% endfor %}
        </li>
      </ul>

    </div>

    <div class="thumbnail-carousel splide">
      <ul class="splide__track">
        <li class="splide__list">
          {% for item in allItems %}
            <div
                class="splide__slide"
            >
              {% assign thumbnail = item.settings %}

              <div class="media-item" lang="en">
                <picture class="media-item__image">
                  <source media="(min-width: 1200px)"
                          srcset="{{ thumbnail.en_desktop_image | image_url: width: 1440 }}">
                  <source media="(min-width: 992px)" srcset="{{ thumbnail.en_desktop_image | image_url: width: 1040 }}">
                  <source media="(min-width: 768px)" srcset="{{ thumbnail.en_desktop_image | image_url: width: 800 }}">

                  <img
                      src="{{ thumbnail.en_mobile_image | default: thumbnail.en_desktop_image | image_url: width: 600 }}"
                      width="808"
                      height="486"
                  >
                </picture>
              </div>
              <div class="media-item" lang="fr">
                <picture class="media-item__image">
                  <source media="(min-width: 1200px)"
                          srcset="{{ thumbnail.fr_desktop_image | image_url: width: 1440 }}">
                  <source media="(min-width: 992px)" srcset="{{ thumbnail.fr_desktop_image | image_url: width: 1040 }}">
                  <source media="(min-width: 768px)" srcset="{{ thumbnail.fr_desktop_image | image_url: width: 800 }}">

                  <img
                      src="{{ thumbnail.fr_mobile_image | default: thumbnail.fr_desktop_image | image_url: width: 600 }}"
                      width="808"
                      height="486"
                  >
                </picture>
              </div>
            </div>
          {% endfor %}
        </li>
      </ul>
    </div>
  </template>
</product-media>

<script type="quickscript" loading="delayed" src="{{ 'product-media.js' | asset_url }}"></script>


{% schema %}
{
  "name": "Product Media",
  "class": "hide-until-initialized",
  "blocks": [
    {
      "type": "item",
      "name": "Media Item",
      "settings": [
        {
          "id": "en_desktop_image",
          "type": "image_picker",
          "label": "English Desktop Image"
        },
        {
          "id": "en_mobile_image",
          "type": "image_picker",
          "label": "English Mobile Image"
        },
        {
          "id": "fr_desktop_image",
          "type": "image_picker",
          "label": "French Desktop Image"
        },
        {
          "id": "fr_mobile_image",
          "type": "image_picker",
          "label": "French Mobile Image"
        }
      ]
    }
  ],
  "settings": [
  ]
}
{% endschema %}
