<style>
  .yotpo-display-wrapper .yotpo-bottomline {
    flex-flow: row;
    align-items: center;
    min-width: max-content;
  }

  .yotpo-display-wrapper .yotpo-bottomline a {
    font-size: 14px;
    color: #9A9CB2 !important;
    margin-left: 0;
  }

  .yotpo-display-wrapper .yotpo-icon {
    text-align: center;
    float: initial;
    font-size: 17.5px;
    letter-spacing: normal;
  }

  @media (min-width: 425px) {
    .yotpo-display-wrapper .yotpo-bottomline {
      flex-flow: row;
      align-items: center;
      min-width: max-content;
    }

    .yotpo-display-wrapper .yotpo-bottomline a {
      font-size: 14px;
      color: #9A9CB2 !important;
      margin-left: 0;
    }

    .yotpo-display-wrapper .yotpo-icon {
      text-align: center;
      float: initial;
      font-size: 17.5px;
      letter-spacing: normal;
    }
  }
</style>

<section class="mx-auto max-w-7xl sm:px-6 md:px-8 mb-10">
  <div
    class="yotpo yotpo-main-widget"
    data-product-id="{{ section.settings.product.id }}"
    data-name="{{ section.settings.product.title | escape }}"
    data-url="{{ shop.url }}{{ section.settings.product.url }}"
    data-image-url="{{ section.settings.product.featured_image | product_img_url: 'large' | replace: '?', '%3F' | replace: '&', '%26' }}"
    data-price="{{ section.settings.product.first_available_variant.price | money_without_currency }}"
    data-currency="{{ shop.currency }}"
    data-description="{{ section.settings.product.description | escape }}"
  ></div>
</section>

{% schema %}
{
  "name": "Products Grid",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product reviews"
    }
  ]
}
{% endschema %}
