<div class="stack-layout-section {{ section.settings.container_type }}-container">
  {%- for block in section.blocks -%}
    <div class="stack-layout-section__content-item">
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h1 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
            {{ block.settings.heading | escape }}
          </h1>
        {%- when 'text' -%}
          <div class="rich-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
      {%- endcase -%}
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Stack Layout",
  "tag": "section",
  "class": "page-boundary",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "options": [
        {
          "value": "flex",
          "label": "Flex"
        },
        {
          "value": "container",
          "label": "Grid"
        }
      ],
      "default": "flex",
      "label": "Container Type"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "default": true,
          "label": "t:sections.rich-text.settings.full_width.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "heading-3",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "heading-2",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
            }
          ],
          "default": "heading-2",
          "label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "full_width",
          "default": true,
          "label": "t:sections.rich-text.settings.full_width.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
