<!doctype html>
<html lang="{{ request.locale.iso_code }}">

{% if request.design_mode == false %}
    {% liquid
        case template
            when 'index'
                assign isOptimized = true
            else
                if template contains 'collection'
                    assign isOptimized = true
                else
                    assign isOptimized = false
                endif
        endcase
    %}
{% endif %}

{% render 'shopify-theme-settings', isOptimized: isOptimized %}

<head>
    {% render 'critical-resources', isOptimized: isOptimized %}

    {% render 'page-metadata' %}

    {% render 'hreflang-tags' %}

    {% render 'page-styles', isOptimized: isOptimized %}


    {{ content_for_header }}


    <!-- Extend - Render extend-configuration -->
    {% render 'extend-configuration' %}
    <!-- Extend - End code -->
    {% render 'weglot_hreftags' %}
    {% render 'weglot_switcher' %}
</head>

<body class="gradient">
{% section 'splash-screen' %}

<a class="skip-to-content-link button visually-hidden" href="#MainContent">
    {{ "accessibility.skip_to_text" | t }}
</a>

{% sections 'header-group' %}
{% sections 'affiliate-group' %}

<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    {{ content_for_layout }}
</main>

{% sections 'footer-group' %}

<ul hidden>
    <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
</ul>

{% render 'vendors', isOptimized: isOptimized %}
{% render 'page-scripts', isOptimized: isOptimized %}

{% render 'widgets' %}
</body>
</html>
