<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  <meta name="referrer" content="origin">
  <title>{{ page_title }}</title>
  {{ content_for_header }}
  {{ checkout_stylesheets }}
  {{ checkout_scripts }}
  <link href="https://www.dafontfree.net/embed/dXRvcGlhLXN0ZC1kaXNwbGF5JmRhdGEvNDgvdS80ODMwMC9VdG9waWFTdGQtRGlzcC5vdGY" rel="stylesheet" type="text/css"/>  
  <style>
    @font-face {
      font-family: 'Kepler Std Bold Semicondensed Display';
      font-style: normal;
      font-weight: normal;
      src: local('Kepler Std Bold Semicondensed Display'), url('KeplerStd-BoldScnDisp.woff') format('woff');
    }


    @font-face {
      font-family: 'Kepler Std Bold Semicondensed Display Italic';
      font-style: normal;
      font-weight: normal;
      src: local('Kepler Std Bold Semicondensed Display Italic'), url('KeplerStd-BoldScnItDisp.woff') format('woff');
    }
  </style>
  <script>
    (function ($) {
      window.PhoneNumberInputFormatter = function () { return false; };
      $(document).on('page:load page:change', function () {
        if (Shopify.Checkout.step === 'contact_information') {
          var $phoneField = $('[name="checkout[shipping_address][phone]"]:not([tabindex="-1"])');
          phoneFormatValidated = false;
          // Remove automatic formatting triggers
          $phoneField.removeAttr('data-phone-formatter data-phone-formatter-country-select');
          // Set maxium size
          $phoneField.attr('maxlength', 11);
          function phoneNumberValidation() {
            phoneFormatValidated = false;
            var phoneFieldVal = $phoneField.val();
            // Strip out any non-numeric characters
            var formattedPhoneValue = phoneFieldVal.replace(/[^0-9]/g, '');
            $phoneField.val(formattedPhoneValue);
            phoneFormatValidated = true;
          }
          // Run validator if there is a previously cached phone number
          if ($phoneField.val() != "") { phoneNumberValidation() };
          // Run validator when the user has switched focus from the phone field
          $phoneField.on('blur', phoneNumberValidation);
          // Run the function when the continue button is clicked or the enter key is pressed
          $('[data-step] form [type="submit"]').on('click', function (e) {
            e.preventDefault();
            phoneNumberValidation();
            if (phoneFormatValidated) {
              $('[data-step] form').trigger('submit');
            }
          });
          $('[data-step] form').on('keypress', function (e) {
            if (e.keyCode === 13) {
              e.preventDefault();
              $('[data-step] form [type="submit"]').trigger('click');
            }
          });
        }
      });
    })(Checkout.$);
  </script>
  <script>
    (function ($) {
      $(document).on('page:load page:change', function () {
        var $phoneField;
        var errorClass = 'field--error-plus-dynamic';
        var errorMessageSelector = '.field__message--error-plus-dynamic';

        // Check input for character limit and remove letters
        var validatePhoneNumber = function (phoneField) {
          var minChars = {{ settings.11 }};
          var maxChars = {{ settings.13 }};
          var errorMessage = "{{ 'plus.checkout.phone_field_error' | t: min_chars: settings.plus_phone_min_chars, max_chars: settings.plus_phone_max_chars }}";
          var numbers = phoneField.val().match(/(\d)/g) || [];
          var numbersLength = numbers.length;
          // Only allow + and numbers
          var allowedChars = phoneField.val().match(/(\d|\+)/g) || [];
          var phoneFieldVal = phoneField.val;
          // Remove non-allowed characters from phone number
          phoneField.val(allowedChars.join(''));
          if (numbersLength !== 0 && numbersLength < minChars || numbersLength > maxChars) {
            // Not enough characters, show error on input.
            if (!phoneField.hasClass(errorClass)) {
              phoneField.addClass(errorClass);
              phoneField.closest('[data-address-field]').after("<p class='field__message field__message--error-plus-dynamic'>" + errorMessage + "</p>");
            }
            return false;
          } else {
            // Phone number is valid. Remove errors and continue.
            phoneField.removeClass(errorClass);
            phoneField.closest('[data-address-field]').nextAll(errorMessageSelector).remove();
            return true;
          }
        }

        if (Shopify.Checkout.step === 'contact_information') {
          var $phoneField = $('[name="checkout[shipping_address][phone]"]:not([aria-hidden="true"])');
          // Check for enter keypress on form and click button instead.
          $('[data-step] form').on('keypress', function (e) {
            if (event.keyCode === 13) {
              e.preventDefault();
              $(this).find('[type="submit"]').trigger('click');
            }
          });
          // Handle form submit by validating button click.
          $('[data-step] form [type="submit"]').on('click', function (e) {
            e.preventDefault();
            if (validatePhoneNumber($phoneField)) {
              $('[data-step] form').trigger('submit');
            }
          });
          // Validate phone number when modified
          $phoneField.on('input', function () {
            validatePhoneNumber($(this));
          });
        }
        
      });
      
    })(Checkout.$);
  </script>
  
  <script>
    (function($) {
      $(document).on("page:load page:change", function() {


        var node = document.querySelector(".section--shipping-method > .section__header > .section__title"),
            ele = document.createElement("p");

        ele.className = "para";
        ele.innerHTML = "For us to deliver your items faster, we may split your order into two or more shipments.";
        node.parentNode.insertBefore(ele, node.nextSibling);
             });
    })(Checkout.$);
            
     (function($) {
      $(document).on("page:load page:change", function() {
        var node1 = document.querySelector(".content-box > .content-box__row > .radio-wrapper"),
            ele1 = document.createElement("p");

        ele1.className = "para2";
        ele1.innerHTML = "Please expect delivery to be made within 2-4 business days for Ontario, or 4-8 business days for the rest of Canada.";
        node1.parentNode.insertBefore(ele1, node1.nextSibling);

//                 const para = document.createElement("p");
//                 para.innerHTML = "For us to deliver your items faster, we may split your into or more shipments";

//                 // Append to another element:
//                 document.getElementByClassName("section--shipping-method > section__header > section__title").appendChild(para);
      });
    })(Checkout.$);  
    
  </script>
    
  {% render 'weglot_hreftags' %}
  {% render 'weglot_switcher' %}
  {% render 'custom-checkout' %}
</head>

<body>
  {{ skip_to_content_link }}
  <header class="banner" data-header role="banner">
    <div class="wrap">
      {{ content_for_logo }}
    </div>
  </header>
  {{ order_summary_toggle }}
  <div class="content custome" data-content>
    <div class="wrap">
      <div class="main">
        <header class="main__header" role="banner">
          {{ content_for_logo }}         
          {{ breadcrumb }}
          <div class="heading1">Your Details</div>
          <p class="para">Please review the shipping address before placing your order.</p>                 
          {{ alternative_payment_methods }}
        </header>
        <main class="main__content" role="main">         
          {{ content_for_layout }} 
        </main>    
        <footer class="main__footer" role="contentinfo">
          {{ content_for_footer }}
        </footer>
      </div>
      <aside class="sidebar" role="complementary">
        <div class="sidebar__header">
          {{ content_for_logo }}
        </div>
        <div class="sidebar__content">
          {{ content_for_order_summary }}
        </div>
      </aside>
    </div>
  </div>
  {{ tracking_code }}
</body>

</html>
<style>
.custome .heading1 {
    color: #FF8200 !important;
    padding-top: 1.5em;
    font-size: 2em; 
    font-family: Kepler Std Bold Semicondensed Display;
} 
.custome .main__header{
  padding-bottom:1em !important;
  }
.custome p.para {
    margin-top: 10px;
    color: grey;
}
.custome .review-block__label {
    color: black !important;
    font-size: 17px;
}
  
.custome .review-block__content {
 	font-size:14px; 
} 
.custome h2#main-header {
    font-size: 2em;
    color: #FF8200;
    padding-bottom: 0; /* 0.5em;*/
    font-family: Kepler Std Bold Semicondensed Display;
  	line-height:1; 
    text-transform: capitalize;
    

}
.custome p.para.para2 {
    margin-top: 10px;
    color: grey;
/*     position: absolute;
    top: 86%; */
  font-size:13px;
}
  
.custome .breadcrumb__link {
  	font-weight: 500;
}

.custome .breadcrumb__item--current {
  	font-weight: 600;
}
 
.custome .breadcrumb__item--completed a {
    font-weight: 600;
  }
  
.custome #main-header p {
  	line-height: 1.5em;
    margin-top: 10px;
    color: grey;
  	font-size:14px;
  	font-family:'Helvetica Neue', sans-serif;
  font-size:13px;
  	
}
  
  
.content-box__row.content-box__row--tight-spacing-vertical  {
 	padding-left:0px;
  	padding-right:0px;
}
  
.content-box__row.content-box__row--tight-spacing-vertical .review-block {
    padding-left:1.1428571429em;
  	padding-right:1.1428571429em;
  }
  
  .section.section--shipping-method {
    padding-top: 2rem;
}
  
  .section--shipping-method .section__header {
   	margin-bottom:1em; 
  }
  
  
.custome  .breadcrumb__item {font-size:0.95em;}
  
 .custome span.radio__label__primary {
    font-size: 18px;
    color: #000;
/*    padding-top:2px; */
}
  
.custome span.radio__label__primary .small-text {
    font-size: 13px;
    margin-top: 0.4rem;
    display: block;
}
  
.custome .content-box__row .radio-wrapper .radio__input .input-radio:checked {
    border-width:7.5px;
  }
  
.custome .content-box__row .radio-wrapper .radio__input .input-radio {
 	width:22px;
  	height:22px;
    top: -2px;
}
  
  
.custome .review-block__link {
 	font-size:1em; 
}
  
  
.custome .content-box__emphasis {
   	font-size:1em; 
}
  
  
.custome a.step__footer__previous-link {
    font-size: 1.2em;
}
  
.custome p.para2 {
    padding-left: 32px;
    margin-bottom: 10px;
    margin-top: -5px;
    color: grey;
    font-size: 13px;
}
.total-line-table__tbody span.order-summary__small-text {
    font-size: 1em;
}
   
</style>  