<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  {% render 'google-optimize' %}
  {% render 'google-tag-manager' %}
  {% render 'hso-no-follow-no-index' %}
  {% render 'page-metadata' %}
  {% render 'hreflang-tags' %}
  {% render 'vendors' %}
  {% render 'page-styles' %}
  {% render 'page-scripts' %}
  {% render 'tangoo' %}
  {% render 'shop-back' %}
  {% render 'upsellit' %}
  {% render 'vitals-loader' %}
  {% render 'weglot_hreftags' %}
  {% render 'weglot_switcher' %}
  {% render 'judgeme_core' %}
  {% render 'ms-clarity' %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  {% if request.page_type contains 'customers/' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}">
  {% section 'announcement-bar' %}
  {% section 'header' %}

  <div id="MainContent" class="page-container">
    <main class="main-content" role="main">
    {% unless request.page_type == "index" or request.page_type == "product" or request.page_type == "page" or request.page_type == "collection" or request.page_type == "article" %}
      <div class="global-wrapper">
        {% endunless %}
        {{ content_for_layout }}
        {% unless request.page_type == "index" %}
      </div>
      {% endunless %}
    </main>
    {% section 'footer' %}
  </div>

  <script>
    jQuery(window).on('load', function () {
      switchAffirmMessage()
    })
    window.routes = {
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_update_url: '{{ routes.cart_update_url }}',
      predictive_search_url: '{{ routes.predictive_search_url }}',
    }
    window.variantStrings = {
      addToCart: `{{ 'products.product.add_to_cart' | t }}`,
      soldOut: `{{ 'products.product.sold_out' | t }}`,
      unavailable: `{{ 'products.product.unavailable' | t }}`,
    }
  </script>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    <li id="a11y-slideshow-info">{{ 'home_page.slideshow.navigation_instructions' | t }}</li>
  </ul>

  {% render 'cart-drawer' %}
  {% render 'affirm-popup' %}
  {% render 'globo.preorder.script' %}
  {% render 'smile-initializer' %}
  {% render 'store-localization' %}
  {% render 'freshchat' %}
  {% render 'cookie-consent-bar' %}
</body>
</html>

<style>
  :root {
    --font-body-family: 'Inter';
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-heading-family: 'Tiempos';
    --font-heading-style: normal;
    --font-heading-weight: 400;
    --color-base-text: 18, 18, 18;
    --color-base-background-1: 255, 255, 255;
    --color-base-background-2: 243, 243, 243;
    --color-base-solid-button-labels: 255, 255, 255;
    --color-base-outline-button-labels: 18, 18, 18;
    --color-base-accent-1: 18, 18, 18;
    --color-base-accent-2: 51, 79, 180;
    --payment-terms-background-color: #FFFFFF;
    --gradient-base-background-1: #FFFFFF;
    --gradient-base-background-2: #F3F3F3;
    --gradient-base-accent-1: #121212;
    --gradient-base-accent-2: #334FB4;
    --page-width: 160rem;
    --page-width-margin: 2rem;
    --color_drawer_text: #3c4196;
    --color_drawer_background: ;
    --color_drawer_border: #ffffff;
    --color_drawer_button: #ffffff;
    --color_drawer_button_text: #3c4196;
  }

  .announcement-bar {
    height: 70px;
  }

  #shopify-section-announcement-bar {
    position: sticky;
    top: 0;
    z-index: 101;
    width: 100%;
  }

  #shopify-section-header {
    top: 70px;
    position: sticky;
    z-index: 101;
  }

  #bundle-sticky_add_to_cart {
    top: 133px;
    height: 90px;
    z-index: 3;
  }

  #bundle-sticky_add_to_cart .sticky-product-details {
    background-color: white;
  }

  #MainContent {
    position: relative;
  }

  @media (min-width: 768px) {
    #shopify-section-header {
      top: 40px;
    }

    #bundle-sticky_add_to_cart {
      top: 102px;
      height: 40px;
    }
  }
</style>
