{% if request.design_mode == false %}
  {% liquid
    case template
      when 'index'
        assign isOptimized = true
      else
        if template contains 'collection'
          assign isOptimized = true
        else
          assign isOptimized = false
        endif
    endcase
  %}
{% endif %}

<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">

<head>
  {% render 'critical-resources', isOptimized: isOptimized %}
  {% render 'global-settings' %}

  {% render 'hso-no-follow-no-index' %}
  {% render 'page-metadata' %}
  {% render 'hreflang-tags' %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  {% render 'page-styles', isOptimized: isOptimized %}

  {{ content_for_header }}
</head>

{% render 'shopify-theme-settings', isOptimized: isOptimized %}

<body>

  <div class="sticky top-0 z-[101]">
    {% section 'announcement-bar' %}
    {% section 'header' %}
  </div>

  <main id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    <li id="a11y-slideshow-info">{{ 'home_page.slideshow.navigation_instructions' | t }}</li>
  </ul>

  {% render 'vendors', isOptimized: isOptimized %}
  {% render 'page-scripts', isOptimized: isOptimized %}


  {% render 'cart-drawer' %}
  {% render 'affirm-popup' %}
  {% render 'store-localization' %}
  {% render 'cookie-consent-bar' %}
</body>
</html>
