<!doctype html>
<html lang="{{ request.locale.iso_code }}">
    {% render 'importmap' %}
    {% render 'app-preconnect' %}
    {% comment %}{{ content_for_header }}{% endcomment %}

    <head>


        {% render 'app-essentials' %}
        {% render 'page-metadata' %}
        {% render 'hreflang-tags' %}
        {% render 'app-router' %}
        {% render 'app-theme' %}
    </head>

    <body class="gradient">
        {% section 'splash-screen' %}

        <a class="skip-to-content-link button visually-hidden" href="#MainContent">
            {{ "accessibility.skip_to_text" | t }}
        </a>

        {% sections 'header-group' %}
        {% sections 'affiliate-group' %}

        <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
            {{ content_for_layout }}
        </main>

        {% sections 'footer-group' %}

        <ul hidden>
            <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
        </ul>

        {% render 'app-vendors' %}
        {% render 'app-scripts' %}
        {% render 'app-widgets' %}
        {% render 'app-overlays' %}
    </body>
</html>
