{% liquid
  assign home_page_only = section.settings.home_page_only
  assign background_color = section.settings.background_color
  assign text_color = section.settings.text_color
%}

<style>
  .announcement-bar {
    --section-setting-background-color: {{ background_color }};
    --section-setting-text-color: {{ text_color }};
  }
</style>

<link rel="stylesheet" href="{{ 'announcement-bar.css' | asset_url }}"/>


{% if home_page_only == false or request.page_type == 'index' %}
  <div class="announcement-bar">
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {% for block in section.blocks %}
            <li class="splide__slide {% if block.type == 'countdown_slide' %}countdown-slide{% endif %}">
              <p class="announcement-bar__content">
                {% case block.type %}
                  {% when 'text_slide' %}
                    {{ block.settings.text | remove: '<p>' | remove: '</p>' }}

                  {% when 'countdown_slide' %}
                    {% liquid
                      assign text = block.settings.text | remove: '<p>' | remove: '</p>'
                      assign timer_text = block.settings.timer_text | remove: '<p>' | remove: '</p>'
                      assign end_time = block.settings.end_time
                    %}
                    {% render 'countdown-timer', text: text, timer_text: timer_text, end_time: end_time %}
                {% endcase %}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <script is="delay-script" phase="interactive" url="{{ 'announcement-bar.js' | asset_url }}"></script>



{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "class": "announcement-bar-wrapper",
  "settings": [
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Bar Color",
      "default": "#1c1d1d"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "text_slide",
      "name": "Text Only Slide",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ],
      "limit": 2
    },
    {
      "type": "countdown_slide",
      "name": "Countdown Slide",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "richtext",
          "id": "timer_text",
          "label": "Timer Text",
          "default": "<p>This countdown will end in</p>"
        },
        {
          "type": "text",
          "id": "end_time",
          "label": "End Time",
          "info": "Please follow format: YYYY-MM-DD HH:mm"
        }
      ],
      "limit": 1
    }
  ]
}
{% endschema %}
