{{ 'brand-statistics.css' | asset_url | stylesheet_tag }}

{% assign footerBtn = section.blocks | where: "type", "footer-button" | first %}
{% assign wallpaper = section.blocks | where: "type", "wallpaper" | first %}


<section id="brand-statistics-section">
  <div class="wrapper {% if section.settings.borderless %}wrapper--borderless{% endif %}">
    {% if wallpaper != blank %}

      <style>
          #brand-statistics-section .wallpaper {
              --bg-desktop: url({{ wallpaper.settings.src | image_url: width: 1440 }});
              --bg-mobile: url({{ wallpaper.settings.src | image_url: width: 768 }});
              --bg-color: {{ wallpaper.settings.color }};
          }
      </style>
      <div class="wallpaper">
      </div>

    {% endif %}
    <div class="main-content">
      <h2
        class="main-content__review-number"
      >{{ section.settings.review-number | times: 100 | money_without_trailing_zeros | remove: "$" }}+</h2>
      <h3 class="heading-3 main-content__title">{{ section.settings.title | remove: "<p>" | remove: "</p>" }}</h3>
      <p class="main-content__subtitle font-normal indent-0">{{ section.settings.subtitle }}</p>


      {% if footerBtn != blank %}
        <a class="btn btn--secondary" href="{{ footerBtn.settings.url }}">
          {{ footerBtn.settings.text }}
        </a>
      {% endif %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Product Reputation",
  "blocks": [
    {
      "type": "wallpaper",
      "name": "Wallpaper",
      "limit": 1,
      "settings": [
        {
          "id": "src",
          "type": "image_picker",
          "label": "Wallpaper Source"
        },
        {
          "id": "color",
          "type": "color",
          "label": "Wallpaper Color",
          "default": "#FFDEB7"
        }
      ]
    },
    {
      "type": "footer-button",
      "name": "Footer Button",
      "limit": 1,
      "settings": [
        {
          "id": "url",
          "type": "url",
          "label": "Button Url"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Button Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "borderless",
      "type": "checkbox",
      "default": true,
      "label": "t:sections.main-product.settings.rounded_banner.label"
    },
    {
      "id": "review-number",
      "type": "number",
      "label": "Review Number",
      "default": 4000000
    },
    {
      "id": "title",
      "type": "richtext",
      "label": "Title",
      "default": "<p>Engineered for a <br /><span>happy</span> back.</p>"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "Emma is the most mentioned brand worldwide when it comes to good sleep."
    }
  ]
}
{% endschema %}
