{{ 'brand-reputation.css' | asset_url | stylesheet_tag }}

{% assign affiliates = section.blocks | where: 'type', 'affiliate' %}

<section id="brand-reputation-section">
  <div class="wrapper">
    <div class="headings">
      <h2 class="text-center md:text-left text-charade">
        {{ section.settings.title | remove: '<p>' | remove: '</p>' }}
      </h2>
      <p class="quote heading-4 text-black-65"></p>
      <button id="toPrevAffiliate"><img src="{{ 'arrow.svg' | asset_url }}"></button>
      <button id="toNextAffiliate"><img src="{{ 'arrow.svg' | asset_url }}"></button>
    </div>
    <div id="affiliates-carousel">
      <div id="affiliates" class="affiliates">
        {%- for affiliate in affiliates -%}
          <div
            data-quote="{{ affiliate.settings.quote | remove: " <p>" | remove: "</p>" | escape }}"
            data-link="{{ affiliate.settings.link | escape }}"
            class="affiliates__item"
          >
            {{ affiliate.settings.logo }}
          </div>
        {%- endfor -%}
      </div>
      <button id="prevAffiliates"><img src="{{ 'arrow.svg' | asset_url }}"></button>
      <button id="nextAffiliates"><img src="{{ 'arrow.svg' | asset_url }}"></button>
    </div>
  </div>
</section>

<script>
  const carousel = document.getElementById('affiliates-carousel'),
    affiliates = document.getElementById('affiliates'),
    affiliateItems = document.querySelectorAll('#brand-reputation-section .affiliates__item'),
    nextAffiliates = document.getElementById('nextAffiliates'),
    prevAffiliates = document.getElementById('prevAffiliates');

  nextAffiliates.addEventListener('click', (e) => {
    carousel.scrollBy(width, 0);
    if (carousel.scrollWidth !== 0) {
      prev.style.display = 'flex';
    }
    if (affiliates.scrollWidth - width <= carousel.scrollLeft + width) {
      next.style.display = 'none';
    }
  });

  prevAffiliates.addEventListener('click', (e) => {
    carousel.scrollBy(-width, 0);
    if (carousel.scrollLeft - width <= 0) {
      prev.style.display = 'none';
    }
    if (!affiliates.scrollWidth - width <= carousel.scrollLeft + width) {
      next.style.display = 'flex';
    }
  });
  let width = carousel.offsetWidth;

  $(document).ready(function () {
    $('#brand-reputation-section .affiliates__item').click(function () {
      $(this).parent().find('.affiliates__item').removeClass('active');
      $(this).addClass('active');
      const quote = $(this).data('quote');
      const $quoteEl = $('#brand-reputation-section .headings .quote');
      $quoteEl.html(decodeURI(quote));
    });

    $('#brand-reputation-section .affiliates__item:first-child').click();

    $('#toNextAffiliate').click(function () {
      let index = $('.active.affiliates__item').index('.affiliates__item');
      let items = $('#brand-reputation-section .affiliates__item');
      $(items[index]).removeClass('active');
      if (index >= items.length - 1) {
        index = -1;
      }
      $(items[index + 1]).addClass('active');
      $(items[index + 1]).click();
    });

    $('#toPrevAffiliate').click(function () {
      let index = $('.active.affiliates__item').index('.affiliates__item');
      let items = $('#brand-reputation-section .affiliates__item');
      $(items[index]).removeClass('active');
      if (index <= 0) {
        index = items.length;
      }
      $(items[index - 1]).addClass('active');
      $(items[index - 1]).click();
    });
  });
</script>

{% schema %}
{
  "name": "Product Reputation",
  "blocks": [
    {
      "type": "affiliate",
      "name": "Affiliate",
      "limit": 12,
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Affiliate Heading"
        },
        {
          "id": "logo",
          "type": "html",
          "label": "Affiliate SVG Logo"
        },
        {
          "id": "quote",
          "type": "richtext",
          "label": "Affiliate Quote"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "richtext",
      "label": "Title",
      "default": "<p>Why sleepers <i>love</i> Emma</p>"
    }
  ]
}
{% endschema %}
