{% assign awards = section.blocks | where: "type", "award" %}

<section id="brand-awards-section" class="bg-cultured">
  <div class="wrapper">
    <div class="headings">
      <h2 class="heading-2 text-center text-charade">{{ section.settings.title | remove: "<p>" | remove: "</p>" }}</h2>
      <h4 class="heading-4 mb-4">{{ section.settings.subtitle }}</h4>
    </div>

    <div class="awards splide">
      {% render 'splide-arrows' %}
      <div class="splide__track">
        <ul class="splide__list">
          {%- for block in awards -%}
          <li class="splide__slide">
            <div class="awards__item">
              <div class="image_container">
                <img src="{{ block.settings.icon | img_url: 'large' }}" width="{{ block.settings.icon_width }}" height="auto" loading="lazy">
              </div>
              <div>
                <h4 class="heading-4 awards__title">{{ block.settings.title | remove: "<p>" | remove: "</p>" }}</h4>
                <p class="awards__content">{{ block.settings.organizationName }}</p>
              </div>
            </div>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</section>
<script defer type="module">
  $(document).ready(function () {
    new Splide('#brand-awards-section .splide', {
      gap: '16px',
      breakpoints: {
        500: {
          perPage: 1,
          perMove: 1,
        },
        768: {
          perPage: 3,
          perMove: 3,
        },
        2560: {
          perPage: 5,
          perMove: 5,
        },
      }
    }).mount();
  })
</script>
{% schema %}
{
  "name": "Product Awards",
  "blocks": [
    {
      "type": "award",
      "name": "Award",
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Icon"
        },
        {
          "id": "icon_width",
          "type": "number",
          "label": "Icon width",
          "default": 140
        },
        {
          "id": "title",
          "type": "richtext",
          "label": " Title"
        },
        {
          "id": "organizationName",
          "type": "text",
          "label": "Award Organization Name"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "richtext",
      "label": "Title",
      "default": "<p>Why sleepers <i>love</i> Emma</p>"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "Trust the experts"
    }
  ]
}
{% endschema %}
