{% assign picture = section.settings.picture %}

<div class="empty-content">
  <p class="text-comet font-light">{{ 'cart.drawer_empty.empty' | t }}</p>

  <div class="cart-drawer-empty__picture">
    {% if picture != blank %}{{ picture | image_url: width: 140 | image_tag: loading: 'lazy' }} {% endif %}
  </div>

  <p class="paragraph-14 text-center text-comet">
    {{ 'cart.drawer_empty.change_that' | t }} <br>
    {{ 'cart.drawer_empty.start_here' | t }}
  </p>

  <div class="empty-content__footer">
    <p class="font-semibold">{{ 'cart.drawer_empty.shop_best_sellers' | t }}</p>
  </div>
</div>
{% assign coreProduct = section.settings.core-product %}
<a href="/products/{{ coreProduct.handle }}" class="core-product">
  <div class="core-product__inner">
    <p class="paragraph-14 font-semibold">{{ coreProduct.title }}</p>

    <p class="paragraph-12 text-red">{{ 'cart.drawer_empty.price_start' | t }} {{ coreProduct.price | money_without_trailing_zeros }}</p>

    <div class="btn btn--compact"><span>{{ 'cart.drawer_empty.shop_now' | t }}</span></div>
  </div>

  <div class="discount-badge">{{ 'cart.drawer_empty.sale' | t }}</div>

  <img src="{{ coreProduct.metafields.accentuate.cart_suggestion_image[0].src }}" alt="" loading="lazy">
</a>

<div class="suggestion-catalog">
  {% for product in section.settings.suggestion-catalog %}
    {% assign featuredImage = product.featured_image | image_url: width: 100 %}

    <a href="/products/{{ product.handle }}" class="suggestion-catalog__item">
      <div class="suggestion-catalog__content">
        <p class="paragraph-14 font-semibold">{{ product.title }}</p>
        <p class="paragraph-12">{{ 'cart.drawer_empty.price_start' | t }} {{ product.price | money_without_trailing_zeros }}</p>

        <div class="btn btn--secondary btn--compact"><span>{{ 'cart.drawer_empty.shop_now' | t }}</span></div>
      </div>

      <div class="suggestion-catalog__image">
        <img src="{{ product.metafields.accentuate.cart_suggestion_image[0].src | default: featuredImage }}" alt="" loading="lazy" />
      </div>

    </a>
  {% endfor %}

</div>

<div class="cart-risk-reversal">
  <div class="cart-risk-reversal__item">
    <img
      src="//cdn.shopify.com/s/files/1/0592/8570/0771/files/free_delivery_blue_1.png?v=1659266469&amp;width=60"
      width="auto" height="auto" loading="lazy"
    >
    <p class="paragraph-10 font-semibold text-center">{{ 'cart.drawer_empty.free_shipping' | t }}</p>
  </div>
  <div class="cart-risk-reversal__item">
    <img
      src="//cdn.shopify.com/s/files/1/0592/8570/0771/files/365_night_trial_blue_1.png?v=1659266469&amp;width=60"
      width="auto" height="auto" loading="lazy"
    >
    <p class="paragraph-10 font-semibold text-center">{{ 'cart.drawer_empty.365_night_return' | t }}</p>
  </div>
  <div class="cart-risk-reversal__item">
    <img
      src="//cdn.shopify.com/s/files/1/0592/8570/0771/files/warranty_blue_1_1.png?v=1659266469&amp;width=60"
      width="auto" height="auto" loading="lazy"
    >
    <p class="paragraph-10 font-semibold text-center">{{ 'cart.drawer_empty.10_year_warranty' | t }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Cart Drawer Empty",
  "class": "cart-drawer-empty",
  "limit": 1,
  "settings": [
    {
      "id": "core-product",
      "type": "product",
      "label": "Core Product"
    },
    {
      "id": "suggestion-catalog",
      "type": "product_list",
      "label": "Suggestion Catalog"
    },
    {
      "id": "picture",
      "type": "image_picker",
      "label": "Picture"
    },
    {
      "id": "finance-tagline",
      "type": "richtext",
      "label": "Finance Tagline"
    }
  ]
}
{% endschema %}
