{% assign upsell_count = 0 %}
{% assign upsell_products = '' %}
{% assign valid_upsell_product_handles = '' %}
{% assign cart_product_handles = '' %}
{% assign upsell_priority = 'emma-climax-hybrid|emma-original-mattress|emma-mattress-protector|emma-foam-pillow|emma-bed-frame|emma-topper' | split: '|' %}

{% for item in cart.items %}
  {% if cart_product_handles == '' %}
    {% assign cart_product_handles = item.product.handle %}
  {% else %}
    {% assign cart_product_handles = cart_product_handles | append: '|' | append: item.product.handle %}
  {% endif %}
{% endfor %}

{% assign cart_product_handles = cart_product_handles | split: '|' %}

{% for cart_product_handle in cart_product_handles %}
  {% for upsell_priority_handle in upsell_priority %}
    {% if cart_product_handle == upsell_priority_handle %}
      {% if valid_upsell_product_handles == '' %}
        {% assign valid_upsell_product_handles = cart_product_handle %}
      {% else %}
        {% assign valid_upsell_product_handles = valid_upsell_product_handles | append: '|' | append: cart_product_handle %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign valid_upsell_product_handles = valid_upsell_product_handles | split: '|' %}
{% for handle in valid_upsell_product_handles %}
  {% assign this_product = all_products[handle] %}
  {% assign upsell_products_meta = this_product.metafields.accentuate.upsell_products | split: '|' %}

  {% if this_product and this_product.available and upsell_products_meta.size > 0 %}
    {% for product_handle in upsell_products_meta %}
      {% assign upsell_products = upsell_products | split: '|' %}
      {% unless cart_product_handles contains product_handle or upsell_products contains product_handle %}
        {% assign upsell_count = upsell_count | plus: 1 %}
        {% assign upsell_products = upsell_products | join: '|' %}
        {% if upsell_products == '' %}
          {% assign upsell_products = product_handle %}
        {% else %}
          {% assign upsell_products = upsell_products | append: '|' | append: product_handle %}
        {% endif %}
      {% else %}
        {% assign upsell_products = upsell_products | join: '|' %}
      {% endunless %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign upsell_products_meta = shop.metafields.accentuate.default_upsell_products | split: '|' %}
{% if upsell_count < 4 and upsell_products_meta.size > 0 %}
  {% for product_handle in upsell_products_meta %}
    {% assign upsell_products = upsell_products | split: '|' %}
    {% unless cart_product_handles contains product_handle or upsell_products contains product_handle %}
      {% assign upsell_count = upsell_count | plus: 1 %}
      {% assign upsell_products = upsell_products | join: '|' %}
      {% if upsell_products == '' %}
        {% assign upsell_products = product_handle %}
      {% else %}
        {% assign upsell_products = upsell_products | append: '|' | append: product_handle %}
      {% endif %}
    {% else %}
      {% assign upsell_products = upsell_products | join: '|' %}
    {% endunless %}
  {% endfor %}
{% endif %}
{% assign upsell_products = upsell_products | split: '|' %}

<cart-upsell id="CartDrawerUpsell" class="{% if upsell_products.size == 1 %}is-single{% endif %}">
  {% if upsell_products.size > 0 %}
    <p class="cart-upsell__title{% if upsell_products.size == 1 %} is-single{% endif %}">
      {{ section.settings.title | default: 'cart.drawer_upsell.others_also_bought' | t }}
    </p>

    {% if upsell_products.size == 1 %}
      {% assign prod = all_products[upsell_products[0]] %}

      {% if prod.selected_or_first_available_variant.available %}
        <cart-upsell-item class="upsell-item upsell-item--single" :productId="{{prod.id}}">
          <div class="upsell-item__media">
            {% assign img = prod.featured_image %}
            {{ img | image_url: width: 70 | image_tag }}
          </div>
          <div class="upsell-item__details">
            <a href="{{ prod.url }}" class="paragraph-12 font-semibold text-chambray">
              {{ prod.title }}
            </a>

            {% assign variant = prod.first_available_variant %}
            {% if variant.available %}
              <variant-selector
                class="{% if variant.title == "Default Title" %}hidden{% endif %}"
                :value="{{ variant.id }}"
                :options="{{ prod.variants | json | escape }}"
              >
              </variant-selector>
            {% endif %}
          </div>
          <div class="upsell-item-footer">
            {%- if prod.selected_or_first_available_variant.available -%}
              <div class="upsell-item__pricing">
                <div class="text-chambray">+{{ variant.price | money_without_trailing_zeros }}</div>
                {% if variant.compare_at_price > variant.price %}
                  <div
                    class="font-light text-comet line-through"
                  >{{ variant.compare_at_price | money_without_trailing_zeros }}</div>
                {% endif %}
              </div>
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}

            <button class="btn btn--secondary btn--outlined btn--compact upsell-item__cta">
              <span>Add</span>
            </button>
          </div>
        </cart-upsell-item>
      {% endif %}

    {% else %}
      <!-- Swiper -->
      <div class="swiper">
        {% render 'swiper-components' %}
        {% assign count = 0 %}
        <div class="swiper-wrapper{% if upsell_products.size == 1 %} is-single{% endif %}">
          {% for product_handle in upsell_products %}
            {% if count > 3 %}
              {% break %}
            {% endif %}
            {% assign prod = all_products[product_handle] %}

            {% if prod.selected_or_first_available_variant.available %}
              {% assign count = count | plus: 1 %}
              <li class="swiper-slide{% if upsell_products.size == 1 %} is-single{% endif %}">
                <cart-upsell-item class="upsell-item" :productId="{{prod.id}}">
                  <div class="upsell-item__media">
                    {% assign img = prod.featured_image %}
                    {{ img | image_url: width: 70 | image_tag }}
                  </div>
                  <div class="upsell-item__details">
                    <a href="{{ prod.url }}" class="paragraph-12 font-semibold text-chambray">
                      {{ prod.title }}
                    </a>

                    {% assign variant = prod.first_available_variant %}
                    {% if variant.available %}
                      <variant-selector
                        class="{% if variant.title == "Default Title" %}hidden{% endif %}"
                        :value="{{ variant.id }}"
                        :options="{{ prod.variants | json | escape }}"
                      >
                      </variant-selector>
                    {% endif %}
                  </div>
                  <div class="upsell-item-footer">
                    {%- if prod.selected_or_first_available_variant.available -%}
                      <div class="upsell-item__pricing">
                        <div class="text-chambray">+{{ variant.price | money_without_trailing_zeros }}</div>
                        {% if variant.compare_at_price > variant.price %}
                          <div
                            class="font-light text-comet line-through"
                          >{{ variant.compare_at_price | money_without_trailing_zeros }}</div>
                        {% endif %}
                      </div>
                    {%- else -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- endif -%}

                    <button
                      class="btn btn--secondary btn--outlined btn--compact upsell-item__cta"
                      {% if prod.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                      <span>Add</span>
                    </button>
                  </div>
                </cart-upsell-item>
              </li>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

  {% endif %}
</cart-upsell>

{% schema %}
{
  "name": "Cart Drawer Upsell",
  "limit": 1,
  "settings": [
    {
      "id": "title",
      "type": "richtext",
      "label": "Title"
    }
  ]
}
{% endschema %}
