{% assign catalogItems = collections['upsell-collection'].products %}

<link rel="quickscript" loading="delayed" href="{{ 'cart-upsell.css' | asset_url }}">

{% liquid

  assign trackId = "Favorites_scroll"
  assign postfix = "HP"

  if template contains "product"
    assign trackId = "Better_together"
    assign postfix = product.metafields.accentuate.track_postfix
  endif

  if postfix != blank
    assign trackId = trackId | append: "_" | append: postfix
  endif
%}

{%- capture cart_items -%}
  {% for item in cart.items %}
    {{ item.product.handle }}{% unless forloop.last %} , {% endunless %}
  {% endfor %}
{%- endcapture -%}

<cart-upsell hidden>

  <section id="cart-upsell-section" class="">
    <div class="section-chassis page-boundary">
      {% render 'section-header' %}

      <div class="grid-container splide splide--borderless pagination-bar">
        {% include 'splide-arrows', trackId: trackId %}

        <div class="splide__track">
          <ul class="splide__list">
            {% for product in catalogItems %}
              <li class="splide__slide" productId="{{ product.id }}">
                <cart-upsell-item
                  :index="{{ forloop.index0 }}"
                  :single="{{ product.has_only_default_variant }}"

                >
                  <a href="{{ product.url }}" class="block-media">
                    {{ product.featured_image | image_url: width: 600 | image_tag: alt: product.featured_image.alt, class: "cover-surface" }}
                  </a>
                  <div class="block-content">
                    <a href="{{ product.url }}" class="block-heading">
                      <p class="w-full font-semibold text-md text-center">
                        {{- product.title -}}
                      </p>
                    </a>
                    <div class="block-variant-selector">
                      {% if product.variants.size > 1 %}
                        <select
                          id="product-select-{{ product.id }}"
                          data-id="{{ product.id }}"
                          name="id"
                          class="text-sm"
                        >
                          {% for variant in product.variants %}
                            {% if variant.available %}
                              <option
                                {% if variant == product.selected_or_first_available_variant %}
                                  selected="selected"
                                {% endif %}
                                data-sku="{{ variant.sku }}"
                                data-price="{{ variant.price | money_without_trailing_zeros }}"
                                data-compare-price="{{ variant.compare_at_price | money_without_trailing_zeros }}"
                                value="{{ variant.id }}"
                              >
                                {{ variant.title }}
                                - {{ variant.price | money_without_trailing_zeros }}
                              </option>
                            {% else %}
                              <option disabled="disabled">
                                {{ variant.title }}
                                - {{ 'products.product.sold_out' | t }}
                              </option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      {% else %}
                        {{ product.variants.first.price | money_without_trailing_zeros }}
                        <input
                          type="hidden" name="id"
                          value="{{ product.variants.first.id }}"
                        >
                      {% endif %}
                    </div>
                    <div class="block-cta">
                      <button
                        type="button" name="add"
                        class="btn btn--compact cta-button"
                      >
                        Add
                      </button>
                    </div>
                  </div>
                </cart-upsell-item>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </section>

</cart-upsell>

<script
  type="quickscript" loading="delayed" data-url="{{ 'cart-upsell.js' | asset_url }}"
  src="{{ 'module-importer.js' | asset_url }}"
></script>

{% schema %}
{
  "name": "Cart Upsell 2.0",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Other Also Bought"
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "md",
          "label": "Medium (40px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    },
    {
      "type": "text",
      "id": "trackId",
      "label": "Tracking ID"
    }
  ]
}
{% endschema %}
