{% assign tabs = section.blocks | where: "type", "tab" %}

<section id="comfort-layers-section">
	<div class="wrapper">
		<h2 class="heading-2 text-center md:text-left text-charade">
			{{ section.settings.title | remove: "<p>" | remove: "</p>" }}
		</h2>
		
		<div class="main-content">
			<div class="tab">
				{%- for tab in tabs -%}
					<button class="tab-links" data-pill="{{ tab.settings.pill | handleize }}">{{ tab.settings.pill }}</button>
				{%- endfor -%}
			</div>
			{%- for tab in tabs -%}
				<p data-pill="{{ tab.settings.pill | handleize }}" class="tab-content">
					{{ tab.settings.content }}
				</p>
			{%- endfor -%}
		
		</div>
		
		<div class="media">
			<img src="{{ section.settings.image | image_url: width: 720 }}" alt="">
		</div>
	</div>
	

</section>

<script>

  $("#comfort-layers-section .tab-links").click(function () {
    const allTabContents = $("#comfort-layers-section .tab-content")
    const allTabLinks = $("#comfort-layers-section .tab-links")

    allTabContents.hide();
    allTabLinks.removeClass('active')

    $(this).addClass('active');

    const pill = $(this).data('pill')

    const selectedTabContent = $(`#comfort-layers-section .tab-content[data-pill=${pill}]`);

    selectedTabContent.show()
  })

  $("#comfort-layers-section .tab-links:first-child").click()
</script>

{% schema %}
{
  "name": "Comfort Layers",
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "limit": 4,
      "settings": [
        {
          "id": "pill",
          "type": "text",
          "label": "Tab Pill"
        },
        {
          "id": "content",
          "type": "textarea",
          "label": "Tab Content"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "richtext",
      "label": "Title",
      "default": "<p>Why sleepers <i>love</i> Emma</p>"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    }
  ]
}
{% endschema %}
