{% assign reviewColumn1 = section.blocks | slice: 0, 2 %}
{% assign reviewColumn2 = section.blocks | slice: 2, 2 %}
{% assign reviewColumn3 = section.blocks | slice: 4, 2 %}

<section id="customer-sentiment-section">
	<div class="wrapper">
		<div class="top-header">
			<div class="main-headings">
				<h2 class="heading-2-sm">{{ section.settings.title | remove: "<p>" | remove: "</p>" }}</h2>
				<p class="main-headings__subtitle text-comet">
					<span>{{ section.settings.subtitle1}}</span>
					<span>{{ section.settings.subtitle2}}</span>
				</p>
			</div>

			<div class="footnote">
				<p class="footnote__text text-comet paragraph-12">{{ section.settings.footnote }}</p>

				<div class="icons">
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M27.2569 12.5519H26.25V12.5H15V17.5H22.0644C21.0338 20.4106 18.2644 22.5 15 22.5C10.8581 22.5 7.5 19.1419 7.5 15C7.5 10.8581 10.8581 7.5 15 7.5C16.9119 7.5 18.6513 8.22125 19.9756 9.39937L23.5112 5.86375C21.2787 3.78312 18.2925 2.5 15 2.5C8.09688 2.5 2.5 8.09688 2.5 15C2.5 21.9031 8.09688 27.5 15 27.5C21.9031 27.5 27.5 21.9031 27.5 15C27.5 14.1619 27.4137 13.3438 27.2569 12.5519Z"
							fill="#FBC02D"
						/>
						<path
							d="M3.94141 9.18187L8.04828 12.1937C9.15953 9.4425 11.8508 7.5 15.0002 7.5C16.912 7.5 18.6514 8.22125 19.9758 9.39937L23.5114 5.86375C21.2789 3.78312 18.2927 2.5 15.0002 2.5C10.1989 2.5 6.03516 5.21062 3.94141 9.18187Z"
							fill="#E53935"
						/>
						<path
							d="M15.0002 27.5014C18.2289 27.5014 21.1627 26.2658 23.3808 24.2564L19.5121 20.9827C18.2571 21.9333 16.6971 22.5014 15.0002 22.5014C11.7489 22.5014 8.98832 20.4283 7.94832 17.5352L3.87207 20.6758C5.94082 24.7239 10.1421 27.5014 15.0002 27.5014Z"
							fill="#4CAF50"
						/>
						<path
							d="M27.2569 12.5519L27.2469 12.5H26.25H15V17.5H22.0644C21.5694 18.8981 20.67 20.1037 19.51 20.9819C19.5106 20.9812 19.5113 20.9812 19.5119 20.9806L23.3806 24.2544C23.1069 24.5031 27.5 21.25 27.5 15C27.5 14.1619 27.4137 13.3438 27.2569 12.5519Z"
							fill="#1565C0"
						/>
					</svg>

					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M24.75 24.3753C22.125 26.3128 18.1875 27.5003 15 27.5003C10.4375 27.5003 6.37504 25.6878 3.25004 22.8753C3.00004 22.6253 3.25004 22.3753 3.50004 22.5003C6.87504 24.4378 10.6875 25.5628 14.9375 25.5628C17.8125 25.5628 21.4375 24.9378 24.375 23.6878C24.8125 23.5628 25.1875 24.0628 24.75 24.3753ZM25.6875 23.0628C25.375 22.6253 23.5 22.8753 22.6875 22.9378C22.4375 22.9378 22.375 22.7503 22.625 22.5628C24.0625 21.5003 26.5 21.8128 26.75 22.1878C27 22.5628 26.6875 25.0003 25.3125 26.1253C25.125 26.3128 24.875 26.1878 25 26.0003C25.3125 25.2503 26 23.5003 25.6875 23.0628Z"
							fill="#FFB300"
						/>
						<path
							d="M23.0625 18.625C22.4375 17.8125 21.8125 17.125 21.8125 15.5625V10.375C21.8125 8.1875 21.8125 6.25 20.25 4.75C19 3.5625 16.9375 3.125 15.3125 3.125C11.875 3.125 8.875 4.5 8.125 8.375C8.0625 8.8125 8.375 9 8.625 9.0625L11.8125 9.4375C12.125 9.4375 12.3125 9.125 12.375 8.8125C12.625 7.5 13.6875 6.875 14.9375 6.875C15.625 6.875 16.9375 7.25 16.9375 8.75V10.625C14.9375 10.625 12.8125 10.625 11.0625 11.375C9 12.25 7.5625 14.0625 7.5625 16.75C7.5625 20.1875 9.6875 21.875 12.4375 21.875C14.75 21.875 16.125 21.3125 17.9375 19.5C18.5 20.375 18.75 20.875 19.8125 21.8125C20.0625 21.9375 20.375 21.9375 20.5625 21.75C21.1875 21.1875 22.375 20.125 23.0625 19.5625C23.375 19.3125 23.3125 18.9375 23.0625 18.625ZM16.875 13.8125C16.875 15.0625 16.8125 18.125 13.75 18.125C11.875 18.125 11.875 16.25 11.875 16.25C11.875 13.4375 14.5 13.125 16.875 13.125V13.8125Z"
							fill="#37474F"
						/>
					</svg>


					<svg width="123" height="30" viewBox="0 0 123 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M32.1185 10.6309L44.481 10.6309L44.481 12.9323L39.6134 12.9323L39.6134 25.9058L36.9454 25.9058L36.9454 12.9323L32.0981 12.9323L32.1185 10.6309ZM43.9515 14.8467L46.2326 14.8467L46.2326 16.9852L46.2733 16.9852C46.3548 16.6797 46.4973 16.3946 46.701 16.1095C46.9047 15.8243 47.1491 15.5596 47.4546 15.3355C47.7397 15.0911 48.0656 14.9078 48.4322 14.7653C48.7784 14.6227 49.145 14.5412 49.5116 14.5412C49.7967 14.5412 50.0004 14.5616 50.1022 14.5616C50.2041 14.582 50.3263 14.6023 50.4281 14.6023L50.4281 16.9445C50.2652 16.9038 50.0819 16.8834 49.8986 16.863C49.7153 16.8427 49.5523 16.8223 49.369 16.8223C48.9617 16.8223 48.5747 16.9038 48.2081 17.0667C47.8415 17.2296 47.536 17.474 47.2509 17.7795C46.9861 18.1054 46.7621 18.4924 46.5992 18.9608C46.4362 19.4292 46.3548 19.9791 46.3548 20.5901L46.3548 25.8447L43.9108 25.8447L43.9515 14.8467ZM61.6297 25.9058L59.2265 25.9058L59.2265 24.358L59.1857 24.358C58.8802 24.9282 58.4322 25.3559 57.8415 25.7022C57.2509 26.0484 56.6399 26.2113 56.0289 26.2113C54.5829 26.2113 53.5238 25.8651 52.8721 25.1319C52.2204 24.4191 51.8945 23.3193 51.8945 21.8732L51.8945 14.8467L54.3385 14.8467L54.3385 21.6288C54.3385 22.6064 54.5218 23.2989 54.9087 23.6859C55.2753 24.0932 55.8049 24.2969 56.477 24.2969C56.9861 24.2969 57.4138 24.2154 57.7601 24.0525C58.1063 23.8895 58.3914 23.6859 58.5951 23.4211C58.8191 23.1563 58.9617 22.8305 59.0635 22.4639C59.1654 22.0973 59.2061 21.6899 59.2061 21.2622L59.2061 14.8467L61.6501 14.8467L61.6501 25.9058L61.6297 25.9058ZM65.7845 22.362C65.866 23.0749 66.1307 23.5637 66.5992 23.8692C67.0676 24.1543 67.6379 24.2969 68.2896 24.2969C68.5136 24.2969 68.7784 24.2765 69.0635 24.2358C69.3487 24.195 69.6338 24.1339 69.8782 24.0321C70.143 23.9303 70.3466 23.7877 70.5096 23.584C70.6725 23.3804 70.754 23.136 70.7336 22.8305C70.7132 22.525 70.6114 22.2602 70.3874 22.0565C70.1633 21.8529 69.8986 21.7103 69.5727 21.5677C69.2468 21.4455 68.8599 21.3437 68.4322 21.2622C68.0045 21.1808 67.5768 21.0789 67.1287 20.9771C66.6806 20.8753 66.2326 20.7531 65.8049 20.6105C65.3772 20.4679 65.0106 20.2846 64.6644 20.0199C64.3385 19.7755 64.0534 19.47 63.8701 19.083C63.6664 18.696 63.5646 18.248 63.5646 17.6777C63.5646 17.0667 63.7071 16.5779 64.0126 16.1706C64.2978 15.7632 64.6847 15.4374 65.1328 15.193C65.5808 14.9486 66.09 14.7653 66.6399 14.6634C67.1898 14.5616 67.7193 14.5209 68.2081 14.5209C68.7784 14.5209 69.3283 14.582 69.8375 14.7042C70.3466 14.8264 70.8354 15.0097 71.2428 15.2948C71.6705 15.5596 72.0167 15.9262 72.2815 16.3539C72.5666 16.7816 72.7295 17.3111 72.811 17.9221L70.2652 17.9221C70.143 17.3315 69.8782 16.9445 69.4709 16.7408C69.0432 16.5372 68.5747 16.4353 68.0248 16.4353C67.8619 16.4353 67.6379 16.4557 67.4138 16.4761C67.1694 16.5168 66.9658 16.5575 66.7417 16.639C66.5381 16.7205 66.3548 16.8427 66.2122 16.9852C66.0697 17.1278 65.9882 17.3315 65.9882 17.5759C65.9882 17.8814 66.09 18.1054 66.2937 18.2887C66.4973 18.472 66.7621 18.6146 67.1083 18.7571C67.4342 18.8793 67.8212 18.9812 68.2489 19.0626C68.6766 19.1441 69.1246 19.2459 69.5727 19.3478C70.0208 19.4496 70.4485 19.5718 70.8762 19.7144C71.3039 19.8569 71.6908 20.0402 72.0167 20.305C72.3426 20.5494 72.6277 20.8549 72.8314 21.2215C73.035 21.5881 73.1369 22.0565 73.1369 22.5861C73.1369 23.2378 72.9943 23.7877 72.6888 24.2561C72.3833 24.7042 71.9963 25.0912 71.5279 25.3763C71.0595 25.6614 70.5096 25.8651 69.9393 26.0077C69.3487 26.1299 68.7784 26.2113 68.2081 26.2113C67.5157 26.2113 66.8639 26.1298 66.2733 25.9669C65.6827 25.804 65.1531 25.5596 64.7255 25.2541C64.2978 24.9282 63.9515 24.5413 63.7071 24.0525C63.4627 23.584 63.3202 23.0138 63.2998 22.3417L65.7641 22.3417L65.7641 22.362L65.7845 22.362ZM73.8293 14.8467L75.6827 14.8467L75.6827 11.5066L78.1267 11.5066L78.1267 14.8264L80.3263 14.8264L80.3263 16.639L78.1267 16.639L78.1267 22.5453C78.1267 22.8101 78.147 23.0138 78.1674 23.2174C78.1878 23.4007 78.2489 23.5637 78.31 23.6859C78.3914 23.8081 78.5137 23.9099 78.6562 23.971C78.8191 24.0321 79.0228 24.0728 79.3079 24.0728C79.4709 24.0728 79.6542 24.0728 79.8171 24.0525C79.98 24.0321 80.1633 24.0117 80.3263 23.971L80.3263 25.8651C80.0615 25.9058 79.7967 25.9262 79.532 25.9465C79.2672 25.9873 79.0228 25.9873 78.7377 25.9873C78.086 25.9873 77.5768 25.9262 77.1898 25.804C76.8029 25.6818 76.4974 25.4985 76.2733 25.2745C76.0493 25.0301 75.9067 24.7449 75.8253 24.3987C75.7438 24.0525 75.7031 23.6248 75.6827 23.1767L75.6827 16.6594L73.8293 16.6594L73.8293 14.806L73.8293 14.8467ZM82.0371 14.8467L84.3385 14.8467L84.3385 16.3539L84.3792 16.3539C84.7255 15.7021 85.1939 15.2541 85.8049 14.9689C86.4159 14.6838 87.0676 14.5412 87.8008 14.5412C88.6766 14.5412 89.4301 14.6838 90.0819 15.0097C90.7336 15.3152 91.2631 15.7225 91.6908 16.2724C92.1185 16.8019 92.4444 17.4333 92.6481 18.1461C92.8517 18.859 92.9739 19.6329 92.9739 20.4272C92.9739 21.1808 92.8721 21.8936 92.6888 22.5861C92.4851 23.2785 92.2 23.9099 91.813 24.4394C91.4261 24.969 90.9373 25.3967 90.3263 25.7225C89.7153 26.0484 89.0228 26.2113 88.2082 26.2113C87.8619 26.2113 87.4953 26.1706 87.1491 26.1095C86.8029 26.0484 86.4566 25.9466 86.1308 25.804C85.8049 25.6614 85.4994 25.4781 85.2346 25.2541C84.9495 25.0301 84.7255 24.7653 84.5422 24.4802L84.5014 24.4802L84.5014 29.9995L82.0574 29.9995L82.0574 14.8467L82.0371 14.8467ZM90.5707 20.3865C90.5707 19.8977 90.5096 19.4089 90.367 18.9404C90.2448 18.472 90.0411 18.0647 89.7764 17.6981C89.5116 17.3315 89.1858 17.0463 88.8192 16.8223C88.4322 16.5983 87.9841 16.4964 87.4953 16.4964C86.477 16.4964 85.7031 16.8427 85.1735 17.5555C84.6644 18.2683 84.3996 19.2256 84.3996 20.4068C84.3996 20.9771 84.4607 21.4863 84.6033 21.9547C84.7458 22.4231 84.9291 22.8305 85.2143 23.1767C85.479 23.5229 85.8049 23.7877 86.1919 23.9914C86.5788 24.195 87.0065 24.2969 87.5157 24.2969C88.086 24.2969 88.534 24.1747 88.921 23.9506C89.308 23.7266 89.6134 23.4211 89.8782 23.0749C90.1226 22.7083 90.3059 22.3009 90.4077 21.8325C90.5096 21.3437 90.5707 20.8753 90.5707 20.3865ZM94.868 10.6309L97.312 10.6309L97.312 12.9323L94.868 12.9323L94.868 10.6309ZM94.868 14.8467L97.312 14.8467L97.312 25.9058L94.868 25.9058L94.868 14.8467ZM99.4913 10.6309L101.935 10.6309L101.935 25.9058L99.4913 25.9058L99.4913 10.6309ZM109.389 26.2113C108.514 26.2113 107.719 26.0688 107.027 25.7633C106.334 25.4578 105.764 25.0708 105.275 24.5616C104.807 24.0525 104.44 23.4211 104.196 22.7083C103.952 21.9954 103.809 21.2011 103.809 20.3661C103.809 19.5311 103.931 18.7571 104.196 18.0443C104.44 17.3315 104.807 16.7205 105.275 16.1909C105.744 15.6818 106.334 15.2745 107.027 14.9893C107.719 14.7042 108.514 14.5413 109.389 14.5413C110.265 14.5413 111.059 14.6838 111.752 14.9893C112.444 15.2745 113.015 15.6818 113.503 16.1909C113.972 16.7001 114.339 17.3315 114.583 18.0443C114.827 18.7571 114.97 19.5311 114.97 20.3661C114.97 21.2215 114.848 21.9954 114.583 22.7083C114.318 23.4211 113.972 24.0321 113.503 24.5616C113.035 25.0708 112.444 25.4781 111.752 25.7633C111.059 26.0484 110.286 26.2113 109.389 26.2113ZM109.389 24.2765C109.919 24.2765 110.408 24.1543 110.795 23.9303C111.202 23.7062 111.508 23.4007 111.772 23.0341C112.037 22.6675 112.22 22.2398 112.343 21.7918C112.465 21.3233 112.526 20.8549 112.526 20.3661C112.526 19.8977 112.465 19.4292 112.343 18.9608C112.22 18.4924 112.037 18.085 111.772 17.7184C111.508 17.3518 111.182 17.0667 110.795 16.8427C110.387 16.6186 109.919 16.4964 109.389 16.4964C108.86 16.4964 108.371 16.6186 107.984 16.8427C107.577 17.0667 107.271 17.3722 107.007 17.7184C106.742 18.085 106.558 18.4924 106.436 18.9608C106.314 19.4292 106.253 19.8977 106.253 20.3661C106.253 20.8549 106.314 21.3233 106.436 21.7918C106.558 22.2602 106.742 22.6675 107.007 23.0341C107.271 23.4007 107.597 23.7062 107.984 23.9303C108.391 24.1747 108.86 24.2765 109.389 24.2765ZM115.703 14.8468L117.556 14.8468L117.556 11.5066L120 11.5066L120 14.8264L122.2 14.8264L122.2 16.639L120 16.639L120 22.5453C120 22.8101 120.021 23.0138 120.041 23.2174C120.062 23.4007 120.123 23.5637 120.184 23.6859C120.265 23.8081 120.387 23.9099 120.53 23.971C120.693 24.0321 120.897 24.0728 121.182 24.0728C121.345 24.0728 121.528 24.0728 121.691 24.0525C121.854 24.0321 122.037 24.0117 122.2 23.971L122.2 25.8651C121.935 25.9058 121.67 25.9262 121.406 25.9466C121.141 25.9873 120.897 25.9873 120.611 25.9873C119.96 25.9873 119.451 25.9262 119.064 25.804C118.677 25.6818 118.371 25.4985 118.147 25.2745C117.923 25.0301 117.78 24.7449 117.699 24.3987C117.618 24.0525 117.577 23.6248 117.556 23.1767L117.556 16.6594L115.703 16.6594L115.703 14.806L115.703 14.8468Z"
							fill="black"
						/>
						<path
							d="M29.2668 10.6314L18.0856 10.6314L14.6436 1.28018e-06L11.1813 10.6314L-9.27644e-07 10.611L9.04277 17.1894L5.58045 27.8208L14.6232 21.2424L23.666 27.8208L20.224 17.1894L29.2668 10.6314Z"
							fill="#00B67A"
						/>
						<path d="M20.9982 19.5927L20.2242 17.1895L14.6438 21.2424L20.9982 19.5927Z" fill="#005128" />
					</svg>


				</div>
			</div>
		</div>

		<div class="metrics">
			<div class="metrics__frame metric">
				<div class="metric-content">
					<h4 class="metric__number">
						18x
					</h4>

					<p class="metric__subtitle">
						MORE LIKELY TO EXPERIENCE
					</p>

					<p class="metric__title">
						Best Night’s Sleep
					</p>
				</div>
				<div class="customer-reviews">
					{% for block in reviewColumn1 %}
						<div class="customer-reviews__card">
							{% include 'star-ratings' %}
							<p class="customer-reviews__content">
								{{ block.settings.content }}
							</p>

							<div class="reviewer">
								<p class="reviewer__name">{{ block.settings.author }}</p>
								<div class="reviewer__verified">
									<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.986 11.2933C8.78212 11.5456 9.6525 11.333 10.2431 10.7424C10.8337 10.1517 11.046 9.28137 10.794 8.48525C11.535 8.1005 12 7.33512 12 6.5C12 5.66488 11.535 4.8995 10.794 4.51475C11.0464 3.71863 10.8337 2.84825 10.2431 2.25762C9.6525 1.667 8.78212 1.45475 7.986 1.70675C7.60125 0.965375 6.8355 0.5 6 0.5C5.1645 0.5 4.39875 0.965375 4.014 1.70675C3.21825 1.45512 2.34863 1.66737 1.758 2.25725C1.16738 2.84713 0.95475 3.71675 1.206 4.51288C0.465 4.89762 0 5.663 0 6.49813C0 7.33325 0.465 8.09862 1.206 8.48337C0.9525 9.27987 1.16438 10.1514 1.75538 10.7428C2.34637 11.3341 3.21788 11.5464 4.01437 11.2933C4.39913 12.0346 5.16488 12.5 6 12.5C6.83512 12.5 7.60087 12.0346 7.98563 11.2933H7.986ZM3.44513 7.26125C3.3075 7.12813 3.25238 6.93125 3.30113 6.74638C3.34988 6.5615 3.49425 6.41675 3.6795 6.36837C3.86475 6.32 4.06125 6.37512 4.19438 6.51312L5.41425 7.73225L8.04788 4.28825C8.22563 4.05575 8.55825 4.0115 8.79037 4.18925C9.0225 4.367 9.06713 4.69963 8.88937 4.93175L6.255 8.37238C6.06975 8.6165 5.78813 8.768 5.4825 8.78863C5.17688 8.80925 4.87725 8.696 4.66125 8.47888L3.44588 7.26125H3.44513Z"
											fill="#2E2F3C"
										/>
									</svg>
									verified customer
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
			<div class="metrics__frame metric">
				<div class="metric-content">
					<h4 class="metric__number">11x</h4>

					<p class="metric__subtitle">MORE LIKELY TO SAY </p>

					<p class="metric__title">Most Comfortable Mattress</p>
				</div>
				<div class="customer-reviews">
					{% for block in reviewColumn2 %}
						<div class="customer-reviews__card">
							{% include 'star-ratings' %}
							<p class="customer-reviews__content">
								{{ block.settings.content }}
							</p>

							<div class="reviewer">
								<p class="reviewer__name">{{ block.settings.author }}</p>
								<div class="reviewer__verified">
									<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.986 11.2933C8.78212 11.5456 9.6525 11.333 10.2431 10.7424C10.8337 10.1517 11.046 9.28137 10.794 8.48525C11.535 8.1005 12 7.33512 12 6.5C12 5.66488 11.535 4.8995 10.794 4.51475C11.0464 3.71863 10.8337 2.84825 10.2431 2.25762C9.6525 1.667 8.78212 1.45475 7.986 1.70675C7.60125 0.965375 6.8355 0.5 6 0.5C5.1645 0.5 4.39875 0.965375 4.014 1.70675C3.21825 1.45512 2.34863 1.66737 1.758 2.25725C1.16738 2.84713 0.95475 3.71675 1.206 4.51288C0.465 4.89762 0 5.663 0 6.49813C0 7.33325 0.465 8.09862 1.206 8.48337C0.9525 9.27987 1.16438 10.1514 1.75538 10.7428C2.34637 11.3341 3.21788 11.5464 4.01437 11.2933C4.39913 12.0346 5.16488 12.5 6 12.5C6.83512 12.5 7.60087 12.0346 7.98563 11.2933H7.986ZM3.44513 7.26125C3.3075 7.12813 3.25238 6.93125 3.30113 6.74638C3.34988 6.5615 3.49425 6.41675 3.6795 6.36837C3.86475 6.32 4.06125 6.37512 4.19438 6.51312L5.41425 7.73225L8.04788 4.28825C8.22563 4.05575 8.55825 4.0115 8.79037 4.18925C9.0225 4.367 9.06713 4.69963 8.88937 4.93175L6.255 8.37238C6.06975 8.6165 5.78813 8.768 5.4825 8.78863C5.17688 8.80925 4.87725 8.696 4.66125 8.47888L3.44588 7.26125H3.44513Z"
											fill="#2E2F3C"
										/>
									</svg>
									verified customer
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="metrics__frame metric">
				<div class="metric-content">
					<h4 class="metric__number">
						4x
					</h4>

					<p class="metric__subtitle">MORE LIKELY TO </p>

					<p class="metric__title">
						Highly Recommend
					</p>
				</div>
				<div class="customer-reviews">
					{% for block in reviewColumn3 %}
						<div class="customer-reviews__card">
							{% include 'star-ratings' %}
							<p class="customer-reviews__content">
								{{ block.settings.content }}
							</p>

							<div class="reviewer">
								<p class="reviewer__name">{{ block.settings.author }}</p>
								<div class="reviewer__verified">
									<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.986 11.2933C8.78212 11.5456 9.6525 11.333 10.2431 10.7424C10.8337 10.1517 11.046 9.28137 10.794 8.48525C11.535 8.1005 12 7.33512 12 6.5C12 5.66488 11.535 4.8995 10.794 4.51475C11.0464 3.71863 10.8337 2.84825 10.2431 2.25762C9.6525 1.667 8.78212 1.45475 7.986 1.70675C7.60125 0.965375 6.8355 0.5 6 0.5C5.1645 0.5 4.39875 0.965375 4.014 1.70675C3.21825 1.45512 2.34863 1.66737 1.758 2.25725C1.16738 2.84713 0.95475 3.71675 1.206 4.51288C0.465 4.89762 0 5.663 0 6.49813C0 7.33325 0.465 8.09862 1.206 8.48337C0.9525 9.27987 1.16438 10.1514 1.75538 10.7428C2.34637 11.3341 3.21788 11.5464 4.01437 11.2933C4.39913 12.0346 5.16488 12.5 6 12.5C6.83512 12.5 7.60087 12.0346 7.98563 11.2933H7.986ZM3.44513 7.26125C3.3075 7.12813 3.25238 6.93125 3.30113 6.74638C3.34988 6.5615 3.49425 6.41675 3.6795 6.36837C3.86475 6.32 4.06125 6.37512 4.19438 6.51312L5.41425 7.73225L8.04788 4.28825C8.22563 4.05575 8.55825 4.0115 8.79037 4.18925C9.0225 4.367 9.06713 4.69963 8.88937 4.93175L6.255 8.37238C6.06975 8.6165 5.78813 8.768 5.4825 8.78863C5.17688 8.80925 4.87725 8.696 4.66125 8.47888L3.44588 7.26125H3.44513Z"
											fill="#2E2F3C"
										/>
									</svg>
									verified customer
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
		</div>

		<div class="md:hidden splide">
			{% include 'splide-arrows' %}

			<div class="splide__track">
				<ul class="splide__list">
					{% for block in reviewColumn1 %}
						<li class="splide__slide">
							<div class="metrics__frame metric">
								<div class="metric-content">
									<h4 class="metric__number">
										18x
									</h4>

									<p class="metric__subtitle">
										MORE LIKELY TO EXPERIENCE
									</p>

									<p class="metric__title">
										Best Night’s Sleep
									</p>
								</div>
								<div class="customer-reviews">
									<div class="customer-reviews__card">
										{% include 'star-ratings' %}
										<p class="customer-reviews__content">
											{{ block.settings.content }}
										</p>

										<div class="reviewer">
											<p class="reviewer__name">{{ block.settings.author }}</p>
											<div class="reviewer__verified">
												<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M7.986 11.2933C8.78212 11.5456 9.6525 11.333 10.2431 10.7424C10.8337 10.1517 11.046 9.28137 10.794 8.48525C11.535 8.1005 12 7.33512 12 6.5C12 5.66488 11.535 4.8995 10.794 4.51475C11.0464 3.71863 10.8337 2.84825 10.2431 2.25762C9.6525 1.667 8.78212 1.45475 7.986 1.70675C7.60125 0.965375 6.8355 0.5 6 0.5C5.1645 0.5 4.39875 0.965375 4.014 1.70675C3.21825 1.45512 2.34863 1.66737 1.758 2.25725C1.16738 2.84713 0.95475 3.71675 1.206 4.51288C0.465 4.89762 0 5.663 0 6.49813C0 7.33325 0.465 8.09862 1.206 8.48337C0.9525 9.27987 1.16438 10.1514 1.75538 10.7428C2.34637 11.3341 3.21788 11.5464 4.01437 11.2933C4.39913 12.0346 5.16488 12.5 6 12.5C6.83512 12.5 7.60087 12.0346 7.98563 11.2933H7.986ZM3.44513 7.26125C3.3075 7.12813 3.25238 6.93125 3.30113 6.74638C3.34988 6.5615 3.49425 6.41675 3.6795 6.36837C3.86475 6.32 4.06125 6.37512 4.19438 6.51312L5.41425 7.73225L8.04788 4.28825C8.22563 4.05575 8.55825 4.0115 8.79037 4.18925C9.0225 4.367 9.06713 4.69963 8.88937 4.93175L6.255 8.37238C6.06975 8.6165 5.78813 8.768 5.4825 8.78863C5.17688 8.80925 4.87725 8.696 4.66125 8.47888L3.44588 7.26125H3.44513Z"
														fill="#2E2F3C"
													/>
												</svg>
												verified customer
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					{% endfor %}

					{% for block in reviewColumn2 %}
						<li class="splide__slide">
							<div class="metrics__frame metric">
								<div class="metric-content">
									<h4 class="metric__number">11x</h4>
									<p class="metric__subtitle">MORE LIKELY TO SAY </p>
									<p class="metric__title">Most Comfortable Mattress</p>
								</div>
								<div class="customer-reviews">
									<div class="customer-reviews__card">
										{% include 'star-ratings' %}
										<p class="customer-reviews__content">
											{{ block.settings.content }}
										</p>

										<div class="reviewer">
											<p class="reviewer__name">{{ block.settings.author }}</p>
											<div class="reviewer__verified">
												<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M7.986 11.2933C8.78212 11.5456 9.6525 11.333 10.2431 10.7424C10.8337 10.1517 11.046 9.28137 10.794 8.48525C11.535 8.1005 12 7.33512 12 6.5C12 5.66488 11.535 4.8995 10.794 4.51475C11.0464 3.71863 10.8337 2.84825 10.2431 2.25762C9.6525 1.667 8.78212 1.45475 7.986 1.70675C7.60125 0.965375 6.8355 0.5 6 0.5C5.1645 0.5 4.39875 0.965375 4.014 1.70675C3.21825 1.45512 2.34863 1.66737 1.758 2.25725C1.16738 2.84713 0.95475 3.71675 1.206 4.51288C0.465 4.89762 0 5.663 0 6.49813C0 7.33325 0.465 8.09862 1.206 8.48337C0.9525 9.27987 1.16438 10.1514 1.75538 10.7428C2.34637 11.3341 3.21788 11.5464 4.01437 11.2933C4.39913 12.0346 5.16488 12.5 6 12.5C6.83512 12.5 7.60087 12.0346 7.98563 11.2933H7.986ZM3.44513 7.26125C3.3075 7.12813 3.25238 6.93125 3.30113 6.74638C3.34988 6.5615 3.49425 6.41675 3.6795 6.36837C3.86475 6.32 4.06125 6.37512 4.19438 6.51312L5.41425 7.73225L8.04788 4.28825C8.22563 4.05575 8.55825 4.0115 8.79037 4.18925C9.0225 4.367 9.06713 4.69963 8.88937 4.93175L6.255 8.37238C6.06975 8.6165 5.78813 8.768 5.4825 8.78863C5.17688 8.80925 4.87725 8.696 4.66125 8.47888L3.44588 7.26125H3.44513Z"
														fill="#2E2F3C"
													/>
												</svg>
												verified customer
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					{% endfor %}

					{% for block in reviewColumn3 %}
						<li class="splide__slide">
							<div class="metrics__frame metric">
								<div class="metric-content">
									<h4 class="metric__number">
										4x
									</h4>

									<p class="metric__subtitle">MORE LIKELY TO </p>

									<p class="metric__title">
										Highly Recommend
									</p>
								</div>
								<div class="customer-reviews">
									<div class="customer-reviews__card">
										{% include 'star-ratings' %}
										<p class="customer-reviews__content">
											{{ block.settings.content }}
										</p>

										<div class="reviewer">
											<p class="reviewer__name">{{ block.settings.author }}</p>
											<div class="reviewer__verified">
												<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M7.986 11.2933C8.78212 11.5456 9.6525 11.333 10.2431 10.7424C10.8337 10.1517 11.046 9.28137 10.794 8.48525C11.535 8.1005 12 7.33512 12 6.5C12 5.66488 11.535 4.8995 10.794 4.51475C11.0464 3.71863 10.8337 2.84825 10.2431 2.25762C9.6525 1.667 8.78212 1.45475 7.986 1.70675C7.60125 0.965375 6.8355 0.5 6 0.5C5.1645 0.5 4.39875 0.965375 4.014 1.70675C3.21825 1.45512 2.34863 1.66737 1.758 2.25725C1.16738 2.84713 0.95475 3.71675 1.206 4.51288C0.465 4.89762 0 5.663 0 6.49813C0 7.33325 0.465 8.09862 1.206 8.48337C0.9525 9.27987 1.16438 10.1514 1.75538 10.7428C2.34637 11.3341 3.21788 11.5464 4.01437 11.2933C4.39913 12.0346 5.16488 12.5 6 12.5C6.83512 12.5 7.60087 12.0346 7.98563 11.2933H7.986ZM3.44513 7.26125C3.3075 7.12813 3.25238 6.93125 3.30113 6.74638C3.34988 6.5615 3.49425 6.41675 3.6795 6.36837C3.86475 6.32 4.06125 6.37512 4.19438 6.51312L5.41425 7.73225L8.04788 4.28825C8.22563 4.05575 8.55825 4.0115 8.79037 4.18925C9.0225 4.367 9.06713 4.69963 8.88937 4.93175L6.255 8.37238C6.06975 8.6165 5.78813 8.768 5.4825 8.78863C5.17688 8.80925 4.87725 8.696 4.66125 8.47888L3.44588 7.26125H3.44513Z"
														fill="#2E2F3C"
													/>
												</svg>
												verified customer
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>


		{% if section.settings.url != blank and section.settings.text != blank %}
			<a class="btn" href="{{ section.settings.url }}">
				{{ section.settings.text }}
			</a>
		{% endif %}
	</div>
</section>

<script defer type="module">
	$(document).ready(function () {
		new Splide('#customer-sentiment-section .splide', {
			perPage: 1,
			perMove: 1,
			gap: '16px'
		}).mount();
	})
</script>

{% schema %}
{
	"name": "Customer Sentiment",
	"blocks": [
		{
			"type": "review",
			"name": "Review",
			"limit": 6,
			"settings": [
				{
					"id": "content",
					"type": "richtext",
					"label": "Content"
				},
				{
					"id": "author",
					"type": "text",
					"label": "Author"
				}
			]
		}
	],
	"settings": [
		{
			"id": "title",
			"type": "richtext",
			"label": "Title",
			"default": "<p>Why sleepers <i>love</i> Emma</p>"
		},
		{
			"id": "subtitle1",
			"type": "textarea",
			"label": "Subtitle 1"
		},
		{
			"id": "subtitle2",
			"type": "textarea",
			"label": "Subtitle 2"
		},
		{
			"id": "footnote",
			"type": "textarea",
			"label": "Footnote",
			"default": "*Versus other brands. Based on a study of reviews across major platforms"
		},
		{
			"id": "url",
			"type": "url",
			"label": "Button Url"
		},
		{
			"id": "text",
			"type": "text",
			"label": "Button Text"
		}
	]
}
{% endschema %}
