<style>
 .double-mattresses-section-wrapper {
  padding: 2.5rem 1rem;
 }

 .double-mattresses-section-wrapper h1 {
  font-family: "Tiempos", Times, serif;
  font-size: 31px;
  color: #2E2F3C;
  text-align: center;
  margin-bottom: 20px;
 }

 .product {
  height: 24rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px 12px;
 }

 .product.first {
  background-image:url("{{ section.settings.background_image_1.src | image_url }}");
  background-size: cover;
  background-position: 50% 50%;
 }

 .product.second {
  background-image:url("{{ section.settings.background_image_2.src | image_url }}");
  background-size: cover;
  background-position: 50% 50%;
 }

 .product-content {
  padding: 0 1rem;
 }

 .product-content h3 {
  font-family: "Tiempos", Times, serif;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
 }

 .product-content .badge {
  background: #196956;
  border-radius: 4px;
  padding: 5px 8px 3px;
  color: white;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  width: max-content;
  margin: 0 auto;
 }

 .product-url {
  width: 100%;
 }

 .product-content .desc {
  color: #595959;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
 }

 .product-content .product-price {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
 }

 .product-price .sale-price {
  font-weight: 400;
 }

</style>
<section class="double-mattresses-section-wrapper">
 <div class="container">
  <h1>{{ section.settings.title}}</h1>
  <div class="double-products-container">
   <div class="product first">
    <div class="product-content">
     {% if section.settings.badge_1 != blank %}
     <span class="badge">{{section.settings.badge_1}}</span>
     {% endif %}
     <h3>
      {% if section.settings.product_title_1 != blank%}
      {{section.settings.product_title_1}}
      {% else %}
      {{section.settings.product_1.title}}
      {% endif %}
     </h3>
     <p class="desc">{{ section.settings.product_desc_1 }}</p>
     <p class="product-price">
      from {{ section.settings.product_1.price | money }}
      {% if section.settings.product_1.compare_at_price > section.settings.product_1.price %}
      <del class="sale-price">{{ section.settings.product_1.compare_at_price | money }}</del>
      {% endif %}
     </p>
    </div>
    <a class="btn product-url" href="{{ section.settings.product_2.url }}">{{section.settings.btn_1}}</a>
   </div>
   <div class="product second">
    <div class="product-content">
     {% if section.settings.badge_2 != blank %}
     <span class="badge">{{section.settings.badge_2}}</span>
     {% endif %}
     <h3>
      {% if section.settings.product_title_2 != blank%}
      {{section.settings.product_title_2}}
      {% else %}
      {{section.settings.product_2.title}}
      {% endif %}
     </h3>
     <p class="desc">{{ section.settings.product_desc_2 }}</p>
     <p class="product-price">
      from {{ section.settings.product_2.price | money }}
      {% if section.settings.product_2.compare_at_price > section.settings.product_2.price %}
      <del class="sale-price">{{ section.settings.product_2.compare_at_price | money }}</del>
      {% endif %}
     </p>
    </div>
    <a class="btn product-url" href="{{ section.settings.product_2.url }}">{{section.settings.btn_2}}</a>
   </div>
  </div>
 </div>
</section>
{% schema %}
{
"name": "Double Mattresses",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Mattresses"
},
{
"type": "image_picker",
"id": "background_image_1",
"label": "Background Image 1"
},
{
"type": "text",
"id": "badge_1",
"label": "Badge 1",
"default": "SAVE UP TO $200"
},
{
"type": "text",
"id": "product_title_1",
"label": "Product Title 1"
},
{
"type": "text",
"id": "product_desc_1",
"label": "Product description 1",
"default": "Perfect balance of pressure-relief and support."
},
{
"type": "product",
"id": "product_1",
"label": "Product 1"
},
{
"type": "text",
"id": "btn_1",
"label": "Button 1",
"default": "Shop now"
},
{
"type": "image_picker",
"id": "background_image_2",
"label": "Background Image 2"
},
{
"type": "text",
"id": "badge_2",
"label": "Badge 2",
"default": "SAVE UP TO $200"
},
{
"type": "text",
"id": "product_title_2",
"label": "Product Title 2"
},
{
"type": "text",
"id": "product_desc_2",
"label": "Product description 2",
"default": "Perfect balance of pressure-relief and support."
},
{
"type": "product",
"id": "product_2",
"label": "Product 2"
},
{
"type": "text",
"id": "btn_2",
"label": "Button 2",
"default": "Shop now"
}
]
}
{% endschema %}
