{{ 'featured-products-compact.css' | asset_url | stylesheet_tag }}

{% assign productBlocks = section.blocks | where: "type", "product-block" %}
<div class="heading text-center mt-10 md:mt-14">
  <h2 class="text-3xl md:text-4xl">{{ section.settings.heading }}</h2>
</div>
<section id="feature-products-section">
  <div class="wrapper">
    {%- for block in productBlocks -%}
      {% assign product = block.settings.product %}
      {% assign discountedAmount = product.compare_at_price | minus: product.price %}

      <a
        class="card w-full relative" href="{{ product.url }}"
        rel="noreferrer"
      >
        <div class="card__image absolute top-0 -right-5 w-full h-full scale-x-[1.1] scale-y-[0.7] md:scale-100 origin-bottom-right">
          {% render 'image-tag', image_src: block.settings.image, class: 'h-full', width: 832 %}
        </div>

        <div class="card__header">
          {% if discountedAmount != blank %}
            <p
              class="mb-[10px] py-1 px-2 rounded-[4px] bg-green-pea text-[white] text-[11px] md:text-[13px] uppercase"
            >
              SAVE UP TO {{ discountedAmount | money }}
            </p>
          {% endif %}
          <h3 class="text-[24px] md:text-[28px] text-charade font-normal">{{ product.title }}</h3>
          <div>
            <p class="text-charade">{{ block.settings.desc }}</p>

            <div>
              <span class="font-semibold">From</span>

              <span class="font-semibold">{{ product.price | money }}</span>

              <span class="line-through">{{ product.compare_at_price | money }}</span>
            </div>
          </div>

        </div>

        <div class="card__btn justify-center btn btn--secondary relative z-10 mt-auto">
          Shop Now
        </div>
      </a>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "product-block",
      "name": "Product Block",
      "settings": [
        {
          "id": "product",
          "type": "product",
          "label": "Block Product"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Block Image"
        },
        {
          "id": "desc",
          "type": "textarea",
          "label": "Block Description"
        }
      ]
    }
  ]
}
{% endschema %}
