{% assign productBlocks = section.blocks | where: "type", "product-block" %}

{{ 'featured-products.css' | asset_url | stylesheet_tag }}

<section id="featured-products-section" class="section-container md:lg">
  <div class="section-chassis page-boundary">
    <div class="section-header">
      <h2 class="text-xl md:text-xxl text-center text-charade font-inter font-semibold">
        <span class="hidden md:inline">{{ section.settings.title }}</span>
        <span class="md:hidden">{{ section.settings.mobile_title }}</span>
      </h2>
      <p class="text-comet text-center solid">{{ section.settings.subtitle }}</p>
    </div>

    <div class="product-display">
      {%- for block in productBlocks -%}
        {% assign product = block.settings.product %}

        <div class="card">
          <p class="card__badge">
            {{ block.settings.badge }}
          </p>

          <div class="card-media">
            <img
              src="{{ block.settings.image | image_url: width: 800 }}" width="350" height="179"
              loading="lazy"
            />
          </div>
          <div class="card-body">
            <h3 class="text-[20px] font-inter font-semibold text-center">{{ product.title }}</h3>
            <div class="shopify-richtext w-full">{{ block.settings.desc }}</div>
            <div class="w-full mt-3">
              <div class="mattress-comparison">
                <div class="mattress-comparison__item">
                  <p class="mb-1">Comfort</p>
                  <div class="mattress-comparison__bar mattress-comparison__bar--outer">
                    <div class="mattress-comparison__bar mattress-comparison__bar--inner fill-{{ block.settings.comfort_meter }}"></div>
                  </div>
                </div>

                <div class="mattress-comparison__item">
                  <p class="mb-1">Cooling</p>
                  <div class="mattress-comparison__bar mattress-comparison__bar--outer">
                    <div class="mattress-comparison__bar mattress-comparison__bar--inner fill-{{ block.settings.cooling_meter }}"></div>
                  </div>
                </div>

                <div class="mattress-comparison__item">
                  <p class="mb-1">Motion Isolation</p>
                  <div class="mattress-comparison__bar mattress-comparison__bar--outer">
                    <div class="mattress-comparison__bar mattress-comparison__bar--inner fill-{{ block.settings.motion_isolation_meter }}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-footer">
            <div class="starting-at">
              <span class="text-[14px] font-normal">starting at</span>
              <div class="flex items-center">
                {% if product.compare_at_price > product.price %}
                  <p class="font-semibold mr-1">{{ product.price | money_without_trailing_zeros }}</p>
                  <p class="line-through">{{ product.compare_at_price | money_without_trailing_zeros }}</p>
                {% else %}
                  <p class="font-semibold">{{ product.price | money_without_trailing_zeros }}</p>
                {% endif %}
              </div>
            </div>

            <a class="btn" href="{{ product.url }}" rel="noreferrer">
              Shop Now
            </a>
          </div>


        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "blocks": [
    {
      "type": "product-block",
      "name": "Product Block",
      "settings": [
        {
          "id": "product",
          "type": "product",
          "label": "Block Product"
        },
        {
          "id": "badge",
          "type": "text",
          "label": "Block Badge",
          "default": "Best Value"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Block Image"
        },
        {
          "id": "desc",
          "type": "richtext",
          "label": "Block Description"
        },
        {
          "type": "range",
          "id": "comfort_meter",
          "min": 1,
          "max": 100,
          "step": 1,
          "label": "Comfort Meter",
          "default": 80
        },
        {
          "type": "range",
          "id": "cooling_meter",
          "min": 1,
          "max": 100,
          "step": 1,
          "label": "Cooling Meter",
          "default": 80
        },
        {
          "type": "range",
          "id": "motion_isolation_meter",
          "min": 1,
          "max": 100,
          "step": 1,
          "label": "Motion Isolation Meter",
          "default": 80
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "mobile_title",
      "type": "text",
      "label": "Mobile Title"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "Our sleep experts have mastered designing award-winning mattresses crafted to keep you relaxed and recharged, no matter what kind of sleeper you are. Climb on your best sleep yet!"
    }
  ]
}
{% endschema %}
