
{%- assign current_variant = product.selected_or_first_available_variant -%}

{% assign bundle_items = current_variant.metafields.accentuate.freebie_product_variant.value %}

<freebie-offer class="bundle-box is-loading">
    <div class="bundle-container">
        <div class="offer-header">
            {% if section.settings.heading %}
                <p class="w-full text-center text-lg text-tango font-semibold">
                    {{ section.settings.heading }}
                </p>
            {% endif %}

            <div class="p-2 rounded-lg bg-scarlet text-white uppercase">
                {% render 'rtf-viewer', content: section.settings.badge %}
            </div>
        </div>

        <div class="bundle-items">
            {% for variant in bundle_items %}
                {% assign product = variant.product %}
                <div class="flex">
                    <div id="product-configuration-{{ product.handle }}" class="product-bundle-item">
                        <div class="quantity-badge">
                            {{ product.metafields.accentuate.bundle_quantity |  default: 1 }}
                        </div>
                        <div class="product-bundle-item__media">
                            {% assign featuredImg = product.featured_image | image_url: width: 120, height: 80 %}
                            {% assign accentuateImg = product.metafields.accentuate.isolated_image[0].src %}

                            <picture-tag
                                :src="{{ accentuateImg | default: featuredImg }}"
                                :fit="contain"
                                width="120"
                                height="80"
                                class="product-bundle-item__image"
                            >
                            </picture-tag>
                        </div>
                        <div class="product-bundle-item__details">
                            <div class="product__name">
                                {{ product.metafields.accentuate.display_name | default: product.title }}
                            </div>
                        </div>
                    </div>

                    {% unless forloop.last %}
                        <div class="vertical-line-break">
                            <svg class="promo-plus-sign" xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                                 viewBox="0 0 19 19"
                                 fill="none">
                                <ellipse cx="9.16309" cy="9.13953" rx="9.16309" ry="9.13953" fill="#FFDDB5" />
                                <path
                                    d="M8.4498 12H9.53512V9.87506H11.6601V8.78974H9.53512V6.6648H8.4498V8.78974H6.32486V9.87506H8.4498V12Z"
                                    fill="#F70" />
                            </svg>
                        </div>
                    {% endunless %}
                </div>
            {% endfor %}
        </div>

        <div class="flex items-center gap-2 justify-end justify-self-end">
            <p>{{ section.settings.bottom_text }}</p>
            <tracked-button :trackId="freebie_agreement" id="BundleCrossSell-Switcher" data-abtasty-cross-sell>
                <input id="offer-switch" class="hidden" type="checkbox" checked />
            </tracked-button>
        </div>
        <div class="ske-free"></div>
    </div>
    <div class="skeleton"></div>
</freebie-offer>

<script type="quickscript" loading="delayed" data-url="{{ 'freebie-offer.js' | asset_url }}"
        src="{{ 'module-importer.js' | asset_url }}"></script>


{% schema %}
{
  "name": "Freebie Bundle",
  "class": "hide-until-initialized",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "FREE"
    },
    {
      "id": "badge",
      "type": "richtext",
      "label": "Badge"
    },

    {
      "id": "bottom_text",
      "type": "text",
      "label": "Bottom Text",
      "default": "Add bundle offer!"
    },
  ],
  "presets": [
    {
      "name": "Freebie Offer"
    }
  ]
}
{% endschema %}
