{% assign wallpaper = section.blocks | where: 'type', 'wallpaper' | first %}
{% assign cta = section.blocks | where: 'type', 'cta' | first %}

<style>
    #hero-banner-section .text-box > *, #hero-banner-section .countdown > p {
        color: inherit
    }

    #hero-banner-section {
        position: relative;
        display: grid;
        grid-template-rows:0 minmax(0, 1fr);
        grid-template-columns:minmax(0, 1fr);
        min-height: 540px;
        max-height: 540px;

        color: {{section.settings.text_color}}
    }

    @media screen and (max-width: 769px) {
      .section-cta{
        margin-top:25px
      }
        #hero-banner-section {
            padding: 12px
        }
    }

    @media screen and (min-width: 769px) {
        #hero-banner-section {
            height: 100%;
            min-height: 640px
        }
    }

    #hero-banner-section .section-content {
        display: none
    }

    #hero-banner-section .wallpaper {
        z-index: -1;
        width: 100%;
        border-radius: 8px;
        overflow: hidden
    }

    #hero-banner-section .wallpaper__photo img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%
    }
  @media(max-width:767px){

  }
</style>

<link is="delay-stylesheet" href="{{ 'hero-banner.css' | asset_url }}">

<section id="hero-banner-section">
  <div class="page-boundary--full">
    <div class="section-content">
      {% if section.settings.show_star_rating == true %}
        <div class="shop-star-rating visually-hidden">
          <span class="hidden md:block">|</span>
          <a href="/pages/reviews" class="total-reviews">
            <span>Based on</span>
            <span class="total-review-count"></span>
            <span>reviews</span>
          </a>
        </div>
      {% endif %}

      <div class="text-box">
        <h1 class="heading-1">{{ section.settings.title | remove: '<p>' | remove: '</p>' }}</h1>
        <h2 class="heading-2 md:text-[32px] font-inter">{{ section.settings.subtitle }}</h2>
        <p class="hidden md:inline-block">{{ section.settings.tagline | remove: '<p>' | remove: '</p>' }}</p>
      </div>

      <div class="section-cta">
        <countdown-timer
          :title="{{ section.settings.countdown_title }}"
          :targetDate="{{ settings.sale_timer }}"
        ></countdown-timer>
       
        <div class="countdown-timer-block" countdown-timer-id="clocrprh260833418yjgrkmpfjn"></div>
        {% if cta != blank %}
          <a class="btn btn--lg" href="{{ cta.settings.url }}">
            {{ cta.settings.text }}
          </a>

          <a href="{{ cta.settings.subtext_url | default: "#" }}" target="_blank">
            <p class="cta-subtext text-white md:text-black underline">{{ cta.settings.subtext }}</p>
          </a>
        {% endif %}
      </div>
      
    </div>
  </div>

  {% if wallpaper != blank %}
    <div class="wallpaper">
      <picture class="wallpaper__photo">
        <source srcset="{{ wallpaper.settings.src | image_url: width: 2680 }}" media="(min-width: 769px)">
        <img src="{{ wallpaper.settings.mobile_src | image_url: width: 768 }}" alt="Hero Wallpaper">
      </picture>
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Hero Banner",
  "blocks": [
    {
      "type": "wallpaper",
      "name": "Wallpaper",
      "limit": 1,
      "settings": [
        {
          "id": "src",
          "type": "image_picker",
          "label": "Wallpaper Desktop Srouce"
        },
        {
          "id": "mobile_src",
          "type": "image_picker",
          "label": "Wallpaper Mobile Source"
        }
      ]
    },
    {
      "type": "cta",
      "name": "CTA",
      "limit": 1,
      "settings": [
        {
          "id": "url",
          "type": "url",
          "label": "Button Url"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Button Text"
        },
        {
          "id": "subtext",
          "type": "text",
          "label": "Subtext"
        },
        {
          "id": "subtext_url",
          "type": "url",
          "label": "Subtext URL"
        }
      ]
    },
    {
      "type": "award",
      "name": "Award",
      "limit": 3,
      "settings": [
        {
          "id": "src",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "richtext",
      "label": "Title",
      "default": "<p>Hit snooze! Sleep is about to get <i>wayyy better.</i></p>"
    },
    {
      "id": "tagline",
      "type": "richtext",
      "label": "Tagline",
      "default": "<p>Hit snooze! Sleep is about to get <i>wayyy better.</i></p>"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "Our sleep experts have mastered designing award-winning mattresses crafted to keep you relaxed and recharged, no matter what kind of sleeper you are. Climb on your best sleep yet!"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text Color",
      "default": "#2e2f3c"
    },
    {
      "id": "countdown_title",
      "type": "text",
      "label": "Countdown Title"
    },
    {
      "id": "show_star_rating",
      "type": "checkbox",
      "label": "Show Star Rating",
      "default": false
    }
  ]
}
{% endschema %}
