{% assign wallpaper = section.blocks | where: "type", "wallpaper" | first %}
{% assign cta = section.blocks | where: "type", "cta" | first %}
{% assign countdown = section.blocks | where: "type", "countdown" | first %}

{{ 'hero-banner.css' | asset_url | stylesheet_tag }}

<section id="hero-banner-section">
  <div class="page-boundary--full">
    <div class="section-content">
      <div class="text-box">
        <h1 class="heading-1">{{ section.settings.title | remove: "<p>" | remove: "</p>" }}</h1>
        <h2 class="heading-2 md:text-[32px] font-inter">{{ section.settings.subtitle }}</h2>
        <p class="hidden md:inline-block">{{ section.settings.tagline | remove: "<p>" | remove: "</p>" }}</p>
      </div>

      <div class="section-cta">
        {% if countdown != blank %}
          <div class="countdown">
            <p class="paragraph-14 font-semibold text-white md:text-black">{{ countdown.settings.heading }}</p>

            <div class="countdown-timer">
              <div class="time-part">
                <p class="digit"></p>
                <p class="label">Days</p>
              </div>
              <div class="time-part">
                <p class="digit"></p>
                <p class="label">Hours</p>
              </div>
              <div class="time-part">
                <p class="digit"></p>
                <p class="label">Minutes</p>
              </div>
              <div class="time-part">
                <p class="digit"></p>
                <p class="label">Seconds</p>
              </div>
            </div>
          </div>

          <script>
            function getTimeParts(delta) {
              const days = Math.floor(delta / 86400);
              delta -= days * 86400;

              const hours = Math.floor(delta / 3600) % 24;
              delta -= hours * 3600;

              const minutes = Math.floor(delta / 60) % 60;
              delta -= minutes * 60;

              const seconds = Math.floor(delta % 60);  // in theory the modulus is not required

              return [days, hours, minutes, seconds]
            }

            function renderTimer(delta) {
              const timeParts = getTimeParts(delta)

              $("#hero-banner-section .time-part").each(function (i) {
                $(this).find(".digit").text(timeParts[i])
              })
            }

            $(document).ready(function () {

              const startTime = Date.now();
              const endTime = new Date("{{ countdown.settings.timer }}".replace(' ', 'T'));

              let delta = (endTime - startTime) / 1000;

              renderTimer(delta)

              setInterval(function () {
                delta -= 1;
                if (delta >= 0) renderTimer(delta)
              }, 1000);
            })
          </script>
        {% endif %}

        {% if cta != blank %}
          <a class="btn btn--lg" href="{{ cta.settings.url }}">
            {{ cta.settings.text }}
          </a>

          <p class="cta-subtext text-white md:text-black">{{ cta.settings.subtext }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  {% if wallpaper != blank %}
    <div class="wallpaper">
      {% render 'image-tag', image_src: wallpaper.settings.src, class: 'hidden md:block', width: 2680 %}
      {% render 'image-tag', image_src: wallpaper.settings.mobile_src, class: 'md:hidden', width: 768 %}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Hero Banner",
  "blocks": [
    {
      "type": "countdown",
      "name": "Countdown",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Countdown Title"
        },
        {
          "type": "text",
          "id": "timer",
          "label": "Countdown Timer",
          "info": "Please follow format: YYYY-MM-DD HH:mm"
        }
      ]
    },
    {
      "type": "wallpaper",
      "name": "Wallpaper",
      "limit": 1,
      "settings": [
        {
          "id": "src",
          "type": "image_picker",
          "label": "Wallpaper Desktop Srouce"
        },
        {
          "id": "mobile_src",
          "type": "image_picker",
          "label": "Wallpaper Mobile Source"
        }
      ]
    },
    {
      "type": "cta",
      "name": "CTA",
      "limit": 1,
      "settings": [
        {
          "id": "url",
          "type": "url",
          "label": "Button Url"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Button Text"
        },
        {
          "id": "subtext",
          "type": "text",
          "label": "Subtext"
        }
      ]
    },
    {
      "type": "award",
      "name": "Award",
      "limit": 3,
      "settings": [
        {
          "id": "src",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "richtext",
      "label": "Title",
      "default": "<p>Hit snooze! Sleep is about to get <i>wayyy better.</i></p>"
    },
    {
      "id": "tagline",
      "type": "richtext",
      "label": "Tagline",
      "default": "<p>Hit snooze! Sleep is about to get <i>wayyy better.</i></p>"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "Our sleep experts have mastered designing award-winning mattresses crafted to keep you relaxed and recharged, no matter what kind of sleeper you are. Climb on your best sleep yet!"
    }
  ]
}
{% endschema %}
