{% assign wallpaper = section.blocks | where: "type", "wallpaper" | first %}
{% assign ctaBtn = section.blocks | where: "type", "cta-button" | first %}
{% assign awards = section.blocks | where: "type", "award" %}
{% assign announcement = section.blocks | where: "type", "announcement" | first %}

<section id="hero-banner-section">
  <div class="banner">
    <div class="main-content">
      <div class="text-box">
        <p class="text-sm leading-5 font-semibold">{{ section.settings.slogan }}</p>
        <h2
          class="heading-2">{{ section.settings.title | remove: "<p>" | remove: "</p>" }}</h2>
        <p class="subheading">{{ section.settings.subtitle }}</p>
      </div>

      <div class="hero-actions">
        {% if ctaBtn != blank %}
          <a class="btn btn--secondary" href="{{ ctaBtn.settings.url }}">
            {{ ctaBtn.settings.text }}
          </a>
        {% endif %}
        {% if section.settings.hero_media != blank %}
          <a id="hero-mediabox" class="btn-watch-video btn btn--outlined"
             href="{{ section.settings.hero_media }}">
            Watch Video
          </a>
        {% endif %}
      </div>
    </div>

    {% if wallpaper != blank %}
      <style>
        #hero-banner-section .wallpaper {
          --bg-desktop: url({{ wallpaper.settings.src | image_url: width: 2680 }});
          --bg-mobile: url({{ wallpaper.settings.mobile_src | image_url: width: 768 }});
        }

      </style>
      <div class="wallpaper">
        <div class="award-ribbon">
          <p class="minion text-white">{{ 'sections.home.award_ribbon' | t }}</p>
          {% for award in awards %}
            <div class="award-ribbon__item"><img
                src="{{ award.settings.src | img_url: '120x' }}" alt=""></div>
          {% endfor %}
        </div>
      </div>

    {% endif %}
  </div>

  {% if announcement != blank %}
    <style>
      .hero-banner-announcement-bar {
        --bg-color: {{announcement.settings.background_color}};
        --text-color: {{announcement.settings.text_color}};
      }

    </style>
    <div class="hero-banner-announcement-bar">
      <h3 class="heading-2"
          style="color: var(--text-color);">{{ announcement.settings.title | remove: "<p>" | remove: "
      </p>" }}</h3>
      <p class="text-xl"
         style="color: var(--text-color);">{{ announcement.settings.subtitle }}</p>

      <div class="countdown-timer">
        <div class="time-part">
          <p class="digit"></p>
          <p class="label">Days</p>
        </div>
        <span>:</span>
        <div class="time-part">
          <p class="digit"></p>
          <p class="label">Hours</p>
        </div>
        <span>:</span>
        <div class="time-part">
          <p class="digit"></p>
          <p class="label">Minutes</p>

        </div>
        <span>:</span>
        <div class="time-part">
          <p class="digit"></p>
          <p class="label">Seconds</p>
        </div>
      </div>
    </div>
  {% endif %}

</section>

<script>
  function getTimeParts(delta) {
    const days = Math.floor(delta / 86400)
    delta -= days * 86400

    const hours = Math.floor(delta / 3600) % 24
    delta -= hours * 3600

    const minutes = Math.floor(delta / 60) % 60
    delta -= minutes * 60

    const seconds = Math.floor(delta % 60)  // in theory the modulus is not required

    return [days, hours, minutes, seconds]
  }

  function renderTimer(delta) {
    const timeParts = getTimeParts(delta)

    $('#hero-banner-section .time-part').each(function (i) {
      $(this).find('.digit').text(timeParts[i])
    })
  }

  $(document).ready(function () {

    const startTime = Date.now()
    const endTime = new Date("{{ section.settings.countdown_timer }}".replace(' ', 'T'))

    let delta = (endTime - startTime) / 1000

    renderTimer(delta)

    setInterval(function () {
      delta -= 1
      if (delta >= 0) renderTimer(delta)
    }, 1000)


    MediaBox('#hero-mediabox')
  })
</script>

{% schema %}
{
  "name": "Hero Banner",
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "limit": 1,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Announcement Title"
        },
        {
          "id": "subtitle",
          "type": "text",
          "label": "Announcement Subtitle"
        },
        {
          "id": "background_color",
          "type": "color",
          "label": "Background Color",
          "default": "#ff8900"
        },
        {
          "id": "text_color",
          "type": "color",
          "label": "Text Color",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "wallpaper",
      "name": "Wallpaper",
      "limit": 1,
      "settings": [
        {
          "id": "src",
          "type": "image_picker",
          "label": "Wallpaper Desktop Srouce"
        },
        {
          "id": "mobile_src",
          "type": "image_picker",
          "label": "Wallpaper Mobile Source"
        }
      ]
    },
    {
      "type": "cta-button",
      "name": "CTA Button",
      "limit": 1,
      "settings": [
        {
          "id": "url",
          "type": "url",
          "label": "Button Url"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Button Text"
        }
      ]
    },
    {
      "type": "award",
      "name": "Award",
      "limit": 3,
      "settings": [
        {
          "id": "src",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "richtext",
      "label": "Title",
      "default": "<p>Hit snooze! Sleep is about to get <i>wayyy better.</i></p>"
    },
    {
      "id": "slogan",
      "type": "text",
      "label": "Slogan",
      "default": "<p>Hit snooze! Sleep is about to get <i>wayyy better.</i></p>"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "Our sleep experts have mastered designing award-winning mattresses crafted to keep you relaxed and recharged, no matter what kind of sleeper you are. Climb on your best sleep yet!"
    },
    {
      "type": "text",
      "id": "countdown_timer",
      "label": "Countdown Timer",
      "info": "Please follow format: YYYY-MM-DD HH:mm"
    },
    {
      "id": "hero_media",
      "type": "url",
      "label": "Hero Media"
    }
  ]
}
{% endschema %}
