<style>
  .mattress-layers-section {
    width: 100%;
    background-color: rgba(240, 240, 245, 0.5);
  }

  .mattress-layers-wrapper {
    padding: 1rem;
    max-width: 1440px;
    margin: 0 auto;
  }

  .mattress-layers-wrapper .layer-media {
    display: none;
  }

  .mattress-layers-wrapper h3 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: #55576F;
    text-align: center;
    margin: 0 auto;
  }

  .mattress-layers-wrapper h2 {
    font-family: 'Tiempos';
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    margin: 0 auto;
  }

  #layers-animation-section {
    height: 25rem;
    background: url({{section.settings.background_image | img_url: "original" }}) no-repeat;
    background-size: 600px 400px;
    background-position: -250px 0;
    margin-left: -1.5rem;
    position: relative;
  }

  #layers-animation-section .layers-button-container {
    display: flex;
    flex-flow: column;
    width: fit-content;
    position: absolute;
    left: 250px;
    top: 7rem;
  }

  #layers-animation-section .layer {
    height: 24px;
    width: 24px;
    border: 1px solid #3C4196;
    color: #3C4196;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
  }

  #layers-animation-section .layer:hover,
  #layers-animation-section .layer.active {
    background-color: #3C4196;
    color: white;
  }

  .layer-description-wrapper .dash {
    width: 30px;
    height: 6px;
    border-radius: 10px;
    background: rgba(60, 65, 150, 0.5);
    display: inline-block;
  }

  .layer-description-wrapper .dash:hover,
  .layer-description-wrapper .dash.active {
    background-color: #3C4196;
    width: 60px;
  }

  .layer-description-wrapper h5 {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    color: #55576F;
    text-align: start;
  }

  .layer-description-wrapper h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #2E2F3C;
    text-align: start;
    margin: 10px 0;
  }

  .layer-slide {
    display: none;
  }

  @media (min-width: 768px) {
    .mattress-layers-wrapper {
      position: relative;
    }

    .mattress-layers-wrapper .layer-media {
      display: block;
      margin: 2rem 0;
      width: 18rem;
      max-height: 12rem;
    }

    #layers-animation-section {
      height: 40rem;
      background-size: 1000px 600px;
    }

    #layers-animation-section .layers-button-container {
      left: 37.5rem;
      top: 10rem;
    }

    #layers-animation-section .layer {
      width: 40px;
      height: 40px;
      font-size: 20px;
      position: relative;
    }

    .mattress-layers-wrapper .layer-description-wrapper {
      position: absolute;
      top: 8rem;
      left: 45rem;
      max-width: 35%;
    }

    #layers-animation-section .divider {
      position: absolute;
      display: block;
      width: 70px;
      height: 2px;
      background-color: #3C4196;
      right: -70px;
    }

    .divider-4 {
      width: 150px !important;
      right: -150px !important;
    }

    .slide-2 {
      margin-top: 5rem;
    }

    .slide-3 {
      margin-top: 8rem;
    }

    .slide-4 {
      margin-top: 12rem;
    }

    .slide-5 {
      margin-top: 14rem;
    }

    .slide-6 {
      margin-top: 18rem;
    }
  }

</style>

<section class="mattress-layers-section">
  <div class="mattress-layers-wrapper">
    <h3>{{ section.settings.subtitle }}</h3>
    <h2>{{ section.settings.title }}</h2>
    <div id="layers-animation-section">
      <div class="layers-button-container">
        <button class="layer" onclick="currentLayer(1)">1
          <span class="divider"></span>
        </button>
        <button class="layer mt-6" onclick="currentLayer(2)">2
          <span class="divider"></span>
        </button>
        <button class="layer mt-4" onclick="currentLayer(3)">3
          <span class="divider"></span>
        </button>
        <div class="flex mt-5 md:mt-4">
          <button class="layer -ml-20" onclick="currentLayer(4)">4
            <span class="divider divider-4"></span>
          </button>
          <button class="layer ml-14 md:ml-10 md:mt-8" onclick="currentLayer(5)">5
            <span class="divider"></span>
          </button>
        </div>
        <button class="layer mt-2" onclick="currentLayer(6)">6
          <span class="divider"></span>
        </button>
      </div>
    </div>
    <div class="layer-description-wrapper">
      {% for block in section.blocks %}
      {% if block.type == "layer" %}
      {% assign num = forloop.index %}
      <div class="layer-slide fade slide-{{num}}">
        <h5>{{ block.settings.subtitle }}</h5>
        <h4>{{ block.settings.title }}</h4>
        <p>{{ block.settings.content }}</p>
        {% if block.settings.media %}}
        <img class="layer-media" src="{{ block.settings.media | img_url: 'medium'}}" />
        {% endif %}
        {% if block.settings.media_url != blank %}
          <a class="layer-mediabox btn-watch-video btn btn--outlined w-max mt-4" href="{{ block.settings.media_url }}">
          See how it works
        </a>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
      <br />
      <div style="text-align:center" class="block md:hidden">
        {% for block in section.blocks %}
        {% if block.type == "layer" %}
        {% assign num = forloop.index %}
        <span class="dash" onclick="currentLayer({{num}})"></span>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<script>
  let layerIndex = 1;
  showLayerInfo(layerIndex);

  // Thumbnail image controls
  function currentLayer(n) {
    showLayerInfo(layerIndex = n);
  }

  function showLayerInfo(n) {
    let i;
    let slides = document.getElementsByClassName("layer-slide");
    let dashes = document.getElementsByClassName("dash");
    let buttons = document.querySelectorAll("#layers-animation-section .layer");
    let dividers = document.getElementsByClassName("divider");

    if (n > slides.length) { layerIndex = 1 }
    if (n < 1) { layerIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }

    for (i = 0; i < dividers.length; i++) {
      dividers[i].style.display = "none";
    }

    for (i = 0; i < dashes.length; i++) {
      dashes[i].className = dashes[i].className.replace(" active", "");
    }

    for (i = 0; i < buttons.length; i++) {
      buttons[i].className = buttons[i].className.replace(" active", "");
    }

    slides[layerIndex - 1].style.display = "block";
    dividers[layerIndex - 1].style.display = "block";
    dashes[layerIndex - 1].className += " active";
    buttons[layerIndex - 1].className += " active";
  }

  $(document).ready(function () {
    MediaBox('.layer-mediabox');
  })
</script>
{% schema %}
{
"name": "Mattress layers",
"blocks": [
{
"type": "layer",
"name": "Layer",
"limit": 6,
"settings": [
{
"type": "text",
"id": "subtitle",
"label": "Subtitle",
"default": "HRX Supreme Foam"
},
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Pressure-Relieving & Contouring"
},
{
"type": "text",
"id": "content",
"label": "Content",
"default": "Our mattresses are developed with motion-absorbing design that ensures undisturbed sleep even when your pet"
},
{
"type": "image_picker",
"id": "media",
"label": "Media"
},
{
"id": "media_url",
"type": "url",
"label": "Layer Media"
}
]
}
],
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Love at first sleep"
},
{
"type": "text",
"id": "subtitle",
"label": "Subtitle",
"default": "THE EMMA DIFFERENCE"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Background Image"
}
]
}
{% endschema %}
