<section class="image-with-text section-container">
  <div class="page-boundary">
    <div class="two-columns-layout{% if section.settings.inverted %} is-inverted{% endif %}">
      <div class="media-column">
        <img class="lazyload" data-src="{{ section.settings.image | image_url: width: 1280 }}" width="1280" alt="">
      </div>

      <div class="content-column">
        <h2 class="heading-2">{{ section.settings.heading }}</h2>
        <p class="lead-statement">
          {{ section.settings.content | remove: "<p>" | remove: "</p>" }}
        </p>

        {% if block.settings.url != blank %}
          <a class="btn" href="{{ block.settings.url }}">
            {{ block.settings.text }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image with Text Section",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "id": "content",
      "type": "richtext",
      "label": "Content"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Section Image"
    },
    {
      "id": "cta_url",
      "type": "url",
      "label": "Button Url"
    },
    {
      "id": "cta_text",
      "type": "text",
      "label": "Button Text"
    },
    {
      "id": "inverted",
      "type": "checkbox",
      "label": "Inverted?"
    }
  ]
}
{% endschema %}
