<style>
 .information-tabs-section {
  background-color: white;
  padding: 3rem 1rem;
 }

 .information-tabs-wrapper {
  min-height: 30rem;
  background-image:url("{{ section.settings.image.src | image_url }}");
  background-size: 100% 15rem;
  background-position: center 1rem;
  background-repeat: no-repeat;
 }

 .information-tabs-section h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  margin-bottom: 16rem;
 }

 .tab {
  overflow: hidden;
  border-bottom: 1px solid #E6E7EC;
 }

 .tab button {
  background: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 0;
  margin-right: 16px;
  transition: 0.3s;
  font-size: 14px;
  color: #55576F;
 }

 .tab button:hover {
  border-bottom: 2px solid #2E2F3C;
  font-weight: 600;
  color: #2E2F3C;
 }

 .tab button.active {
  border-bottom: 2px solid #2E2F3C;
  font-weight: 600;
  color: #2E2F3C;
 }

 .information-tabs-section .tabcontent {
  display: none;
  padding: 20px 0;
  border-top: none;
 }

 @media (min-width: 768px) {
  .information-tabs-wrapper {
   background-size: 50%;
   background-position: left center;
  }

  .information-tabs-wrapper .tabs-container {
   width: 50%;
   margin-left: 50%;
  }

  .information-tabs-section h2 {
   font-size: 39px;
   line-height: 47px;
   text-align: start;
   margin-bottom: 1rem;
  }

  .tab button {
   font-size: 20px;
  }
 }

</style>
<section class="information-tabs-section" id="infoTabs">
 <div class="information-tabs-wrapper">
  <div class="tabs-container">
   <h2>{{ section.settings.title }}</h2>
   <div class="tab">
    {% for tab in section.blocks %}
    <button class="tablinks" onclick="openTab(event, '{{tab.settings.tab_title}}')">
     {{tab.settings.tab_title}}
    </button>
    {% endfor %}
   </div>
   {% for tab in section.blocks %}
   <div id="{{tab.settings.tab_title}}" class="tabcontent">
    <p>{{tab.settings.tab_content}}</p>
   </div>
   {% endfor %}
  </div>
</section>
<script>
 function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.querySelectorAll("#infoTabs .tabcontent");

  for (i = 0; i < tabcontent.length; i++) {
   tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
   tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
 }

  $(document).ready(function () {
     document.querySelectorAll("#infoTabs .tablinks")[0].click();
  });
</script>
{% schema %}
{
"name": "Information Tabs",
"max_blocks": 3,
"blocks": [
{
"type": "tab",
"name": "Tab",
"settings": [
{
"type": "text",
"id": "tab_title",
"label": "Tab Title"
},
{
"type": "richtext",
"id": "tab_content",
"label": "Tab Content"
}
]
}
],
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Bed information"
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
}
]
}
{% endschema %}
