{{ 'layer-description.css' | asset_url | stylesheet_tag }}

<section id="layer-description-section">
  <div class="wrapper">
    <div class="heading">
      <h2 class="font-semibold">Emma Shift - Layer by Layer</h2>
      <div class="layer-content grid gap-4 grid-cols-1 md:grid-cols-2 grid-rows-1x">
        <div class="image-content flex">
          {{ section.settings.image | image_url: width: 2048 | image_tag: class: 'object-scale-down', loading: 'lazy' }}
        </div>
        <div class="layer-content-block">
          <div class="description-list">
            {% for block in section.blocks %}
              {% liquid
                assign blockType = block.type
                assign settings = block.settings
              %}
              {% if blockType == 'layer-item' %}
                <div class="description-item flex items-start">
                  <div class="description-wrapper">
                    <p class="description-heading font-semibold">
                      <strong class="me-1">{{ forloop.index }}.</strong>
                      {{ settings.title }}
                    </p>
                    <p class="my-3">{{ settings.content }}</p>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Layer description",
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "Left Side Image"
    }
  ],
  "blocks": [
    {
      "type": "layer-item",
      "name": "Layer Information",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Layer Title"
        },
        {
          "id": "content",
          "type": "text",
          "label": "Layer Content"
        }
      ]
    }
  ]
}
{% endschema %}
