{{ 'mattress-firmness.css' | asset_url | stylesheet_tag }}

<style>
  #mattress-firmness-section {
    --scale-point: {{ section.settings.firmness_point }}
  }
</style>

<section id="mattress-firmness-section" class="section-container spacing-{{ section.settings.container_spacing }}">
  <div class="mattress-firmness-wrapper mx-auto max-w-6xl px-4 overflow-hidden">
    <p class="font-inter md:mb-2 text-center text-base font-semibold text-[#595959] text-[14px] text-pizazz">{{ section.settings.subtitle | remove: "<p>" | remove: "</p>" }}</p>
    <h2 class="heading-2 text-center">{{ section.settings.title | remove: "<p>" | remove: "</p>" }}</h2>
    <div class="scale-container">
      
      <div class="metric-labels">
        <p class="metric-label text-scampi">SOFT</p>
        
        <p class="metric-label text-scampi">FIRM</p>
      </div>
      
      <div class="scale-pillar">
        <div class="scale-beam"></div>
        <div class="scale-apex absolute z-[1] w-full">
          <div class="scale-pointer">
            <p class="firmness-point font-tiempos">{{ section.settings.firmness_point }}</p>
          </div>
        </div>
      </div>
      
      <div class="metric-labels">
        <p class="metric-label text-lapis-blue">1</p>
        
        <p class="metric-label text-lapis-blue">10</p>
      </div>
    </div>
    
    <p class="solid text-center text-comet px-2 md:px-24" >{{ section.settings.description | remove: "<p>" | remove: "</p>" }}</p>
  </div>
</section>

{% schema %}
{
  "name": "Mattress Firmness",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Scale How does the Emma Original feel?"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "Mattress Firmness Scale"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "Description"
    },
    {
      "type": "range",
      "id": "firmness_point",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Firmness Point",
      "default": 5
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "md",
          "label": "Medium (40px)"
        },
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "xl",
          "label": "XL (80px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    }
  ]
}
{% endschema %}
