<link is="delay-stylesheet" href="{{ 'media-with-text-banners.css' | asset_url }}">

<div style="padding: 32px 12px;" id="mediaWithTextBannersSection" class="banners-container page-boundary">
  {% for block in section.blocks %}
    <div class="banner-item {% if block.settings.reverse %} is-reversed{% endif %}">
      <div class="media-wrapper">
        {% case block.type %}
          {% when 'image' and block.settings.image != blank %}
            {% render 'image-tag', image_src: block.settings.image, width: 720 %}

          {% when 'video' and block.settings.video != blank %}
            {{ block.settings.video | video_tag: image_size: '1x', autoplay: true, loop: true, muted: true }}

          {% when 'youtube' and block.settings.video_url != blank %}
            <iframe
              src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}"
              allow="autoplay; encrypted-media"
              allowfullscreen
            ></iframe>
        {% endcase %}
      </div>

      <div class="content-wrapper">
        <h3 class="title">{{ block.settings.title }}</h3>
        <p class="content">{{ block.settings.content }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "Media With Text Banners",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image or GIF"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "checkbox",
          "id": "reverse",
          "label": "Reverse"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "A Shopify-hosted video"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "checkbox",
          "id": "reverse",
          "label": "Reverse"
        }
      ]
    },
    {
      "type": "youtube",
      "name": "Youtube URL",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video URL",
          "accept": ["youtube"]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "checkbox",
          "id": "reverse",
          "label": "Reverse"
        }
      ]
    }
  ],
  "class": "media-with-text-banners-wrapper"
}
{% endschema %}
