<style>
    .activeTab {
        background-color: #3c4196;
        color: #fff;
    }

    .layers-right h3 span {
      font-family: "Tiempos";
    }

    .layers-right p {
      font-family: Acumin Pro, "acumin-pro", sans-serif;
    }

</style>

<section class="py-5 bg-white">
    <div class="w-full max-w-6xl m-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="layers-left m-auto text-center">
                <div class="layers-left-title font-tiempos">
                    <span class="text-xl uppercase text-blue-800">{{ section.settings.layers_left_title }}</span>
                </div>
                <div class="layers-left-description font-acuminpro">
                    <span class="text-4xl">{{ section.settings.layers_left_description }}</span>
                </div>
                <div class="layers-left-image px-4 pb-4 pt-20">
                    <img src="{{ section.settings.layers_left_image | img_url: 'master'}}" width="2048" height="1536" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy">
                </div>
            </div>
            <div class="layers-right hidden md:block">
                <div class="p-2">
                    <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_1_title }}</span></h3>
                    <p class="text-base">{{ section.settings.layers_right_heading_1_description }}</p>
                </div>
                <div class="p-2">
                    <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_2_title }}</span></h3>
                    <p class="text-base">{{ section.settings.layers_right_heading_2_description }}</p>
                </div>
                <div class="p-2">
                    <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_3_title }}</span></h3>
                    <p class="text-base">{{ section.settings.layers_right_heading_3_description }}</p>
                </div>
                <div class="p-2">
                    <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_4_title }}</span></h3>
                    <p class="text-base">{{ section.settings.layers_right_heading_4_description }}</p>
                </div>
                <div class="p-2">
                    <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_5_title }}</span></h3>
                    <p class="text-base">{{ section.settings.layers_right_heading_5_description }}</p>
                </div>
                <div class="p-2">
                  <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_6_title }}</span></h3>
                  <p class="text-base">{{ section.settings.layers_right_heading_6_description }}</p>
              </div>
            </div>
            <div class="layers-right-mobile block md:hidden">
                <ul class="flex flex-wrap justify-center text-sm font-medium text-center text-black">
                    <li class="mr-2">
                        <button id="defaultOpenLayer" class="tablinks inline-block py-3 px-4 rounded-lg activeTab" aria-current="page" onclick="openLayer(event, 'tab1')">{{ section.settings.layers_right_mobile_heading_1 }}</button>
                    </li>
                    <li class="mr-2">
                        <button class="tablinks inline-block py-3 px-4 rounded-lg" onclick="openLayer(event, 'tab2')">{{ section.settings.layers_right_mobile_heading_2 }}</button>
                    </li>
                    <li class="mr-2">
                        <button class="tablinks inline-block py-3 px-4 rounded-lg" onclick="openLayer(event, 'tab3')">{{ section.settings.layers_right_mobile_heading_3 }}</button>
                    </li>
                    <li class="mr-2">
                        <button class="tablinks inline-block py-3 px-4 rounded-lg" onclick="openLayer(event, 'tab4')">{{ section.settings.layers_right_mobile_heading_4 }}</button>
                    </li>
                    <li>
                        <button class="tablinks inline-block py-3 px-4 rounded-lg" onclick="openLayer(event, 'tab5')">{{ section.settings.layers_right_mobile_heading_5 }}</button>
                    </li>
                    <li>
                      <button class="tablinks inline-block py-3 px-4 rounded-lg" onclick="openLayer(event, 'tab6')">{{ section.settings.layers_right_mobile_heading_6 }}</button>
                  </li>
                </ul>
            </div>
            <div class="tab-content-wrapper px-8 block md:hidden">
                <div id="tab1" class="p-2 tabcontent">
                    <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_1_title }}</span></h3>
                    <p class="text-base">{{ section.settings.layers_right_heading_1_description }}</p>
                </div>
                <div id="tab2" class="p-2 tabcontent hidden">
                    <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_2_title }}</span></h3>
                    <p class="text-base">{{ section.settings.layers_right_heading_2_description }}</p>
                </div>
                <div id="tab3" class="p-2 tabcontent hidden">
                    <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_3_title }}</span></h3>
                    <p class="text-base">{{ section.settings.layers_right_heading_3_description }}</p>
                </div>
                <div id="tab4" class="p-2 tabcontent hidden">
                    <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_4_title }}</span></h3>
                    <p class="text-base">{{ section.settings.layers_right_heading_4_description }}</p>
                </div>
                <div id="tab5" class="p-2 tabcontent hidden">
                    <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_5_title }}</span></h3>
                    <p class="text-base">{{ section.settings.layers_right_heading_5_description }}</p>
                </div>
                <div id="tab6" class="p-2 tabcontent hidden">
                  <h3><span class="text-xl text-blue-800">{{ section.settings.layers_right_heading_6_title }}</span></h3>
                  <p class="text-base">{{ section.settings.layers_right_heading_6_description }}</p>
              </div>
            </div>
        </div>
    </div>
</section>

<script>
    function openLayer(evt, tab) {
        let i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" activeTab", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tab).style.display = "block";
        evt.currentTarget.className += " activeTab";
    }

    $(document).ready(function () {
      document.getElementById("defaultOpenLayer").click();
    });
</script>

{% schema %}
{
    "name": "Emma Original Layers",
    "settings": [
      {
        "id": "layers_left_title",
        "type": "text",
        "label": "Layers Left Title",
        "default": "ENGINEERED BY SLEEP EXPERTS"
      },
      {
        "id": "layers_left_description",
        "type": "text",
        "label": "Layers Left Description",
        "default": "Take a look under the covers."
      },
      {
        "id": "layers_left_image",
        "type": "image_picker",
        "label": "Left Image"
      },
      {
        "id": "layers_right_heading_1_title",
        "type": "richtext",
        "label": "Layers Right Heading 1 Title",
        "default": "<p>1. Plush. Emma UltraDry Original Cover</p>"
      },
      {
        "id": "layers_right_heading_1_description",
        "type": "text",
        "label": "Layers Right Heading 1 Description",
        "default": "This temperature-regulating breathable cover makes mattress maintenance easy: It's moisture-wicking, easy to remove, and washable."
      },
      {
        "id": "layers_right_heading_2_title",
        "type": "richtext",
        "label": "Layers Right Heading 2 Title",
        "default": "<p>2. Cool. Point Elastic Airgocell®</p>"
      },
      {
        "id": "layers_right_heading_2_description",
        "type": "text",
        "label": "Layers Right Heading 2 Description",
        "default": "This groundbreaking layer of memory foam enhances breathability by absorbing and dissipating body heat so you keep your cool all night long."
      },
      {
        "id": "layers_right_heading_3_title",
        "type": "richtext",
        "label": "Layers Right Heading 3 Title",
        "default": "<p>3. Ergonomic and Motion Isolating. Halo Memory Foam</p>"
      },
      {
        "id": "layers_right_heading_3_description",
        "type": "text",
        "label": "Layers Right Heading 3 Description",
        "default": "The 3 zones in our mattresses are designed to provide both spinal alignment and the pressure-relieving support for individual body zones, which include the shoulders, back, and hips. This layer also limits motion transfer so light sleepers can sleep easy when their partner (or pet!) tosses and turns in bed."
      },
      {
        "id": "layers_right_heading_4_title",
        "type": "richtext",
        "label": "Layers Right Heading 4 Title",
        "default": "<p>4. Dependable. Emma HRX Supreme ™ Foam</p>"
      },
      {
        "id": "layers_right_heading_4_description",
        "type": "text",
        "label": "Layers Right Heading 4",
        "default": "HRX stands for High Resiliency Extra-this foam layer is engineered to last for years, holding firm and preventing sag. 5 adaptive cut-outs and over 100 supportive points distribute your body weight evenly to reduce pressure on your body. The result? Enhanced stability and support where you need it most!"
      },
      {
        "id": "layers_right_heading_5_title",
        "type": "richtext",
        "label": "Layers Right Heading 5 Title",
        "default": "<p>5. Easy. Emma Edge Support</p>"
      },
      {
        "id": "layers_right_heading_5_description",
        "type": "text",
        "label": "Layers Right Heading 5 Description",
        "default": "A reinforced perimeter that not only helps prevent restless and active sleepers from falling off at night, but also helps all sleepers easily sit up in the morning."
      },
      {
        "id": "layers_right_heading_6_title",
        "type": "richtext",
        "label": "Layers Right Heading 6 Title",
        "default": "<p>6. Layer 6 Title</p>"
      },
      {
        "id": "layers_right_heading_6_description",
        "type": "text",
        "label": "Layers Right Heading 6 Description",
        "default": "This is description of layer 6"
      },
      {
        "id": "layers_right_mobile_heading_1",
        "type": "text",
        "label": "Layers Right Mobile Heading 1",
        "default": "1"
      },
      {
        "id": "layers_right_mobile_heading_2",
        "type": "text",
        "label": "Layers Right Mobile Heading 2",
        "default": "2"
      },
      {
        "id": "layers_right_mobile_heading_3",
        "type": "text",
        "label": "Layers Right Mobile Heading 3",
        "default": "3"
      },
      {
        "id": "layers_right_mobile_heading_4",
        "type": "text",
        "label": "Layers Right Mobile Heading 4",
        "default": "4"
      },
      {
        "id": "layers_right_mobile_heading_5",
        "type": "text",
        "label": "Layers Right Mobile Heading 5",
        "default": "5"
      },
      {
        "id": "layers_right_mobile_heading_6",
        "type": "text",
        "label": "Layers Right Mobile Heading 6",
        "default": "6"
      }
    ]
}
{% endschema %}
