{{ 'product-reputation.css' | asset_url | stylesheet_tag }}

{% assign footerBtn = section.blocks | where: "type", "footer-button" | first %}
{% assign wallpaper = section.blocks | where: "type", "wallpaper" | first %}


<section id="product-reputation-section">
  <div class="wrapper {% if section.settings.borderless %} wrapper--borderless{% endif %}">
    {% if wallpaper != blank %}
      <div class="wallpaper">
        <img
          class="wallpaper--desktop" src="{{ wallpaper.settings.desktop_src | img_url: 'original' }}"
          alt="product-reputation-bg-desktop.jpg" loading="lazy"
        >
        <img
          class="wallpaper--mobile" src="{{ wallpaper.settings.mobile_src | img_url: '343x500' }}"
          alt="product-reputation-bg-mobile.jpg"
          loading="lazy"
        >
      </div>

    {% endif %}
    <div class="main-content">
      <h2
        class="main-content__review-number"
      >{{ section.settings.review-number | times: 100 | money_without_trailing_zeros | remove: "$" }}+</h2>
      <h3 class="heading-3 main-content__title">{{ section.settings.title | remove: "<p>" | remove: "</p>" }}</h3>
      <p class="main-content__subtitle font-semibold indent-0">{{ section.settings.subtitle }}</p>


      {% if footerBtn != blank %}
        <a
          class="main-content__cta"
          href="{{ footerBtn.settings.url }}"
        >
          {{ footerBtn.settings.text }}
        </a>
      {% endif %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Product Reputation",
  "blocks": [
    {
      "type": "wallpaper",
      "name": "Wallpaper",
      "limit": 1,
      "settings": [
        {
          "id": "desktop_src",
          "type": "image_picker",
          "label": "Desktop Source"
        },
        {
          "id": "mobile_src",
          "type": "image_picker",
          "label": "Mobile Source"
        }
      ]
    },
    {
      "type": "footer-button",
      "name": "Footer Button",
      "limit": 1,
      "settings": [
        {
          "id": "url",
          "type": "url",
          "label": "Button Url"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Button Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "borderless",
      "type": "checkbox",
      "default": true,
      "label": "t:sections.main-product.settings.rounded_banner.label"
    },
    {
      "id": "review-number",
      "type": "number",
      "label": "Review Number",
      "default": 4000000
    },
    {
      "id": "title",
      "type": "richtext",
      "label": "Title",
      "default": "<p>Engineered for a <br /><span>happy</span> back.</p>"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "Emma is the most mentioned brand worldwide when it comes to good sleep."
    }
  ]
}
{% endschema %}
