<style>
    .hybrid-layers-container {
        background: linear-gradient(180deg, rgba(255, 247, 239, 0) 41.15%, #FFF6EC 100%);
        padding: 3rem 1.8rem;
    }

    .hybrid-layers-container p {
        font-size: 13px;
        line-height: 19.5px;
        color: #55576F;
        text-align: center;
    }

    .hybrid-layers-intro {
        display: none;
    }

    .layer-heading {
        font-family: "Tiempos";
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        font-weight: 500;
        cursor: pointer;
    }

    .layer-circles {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.25rem;
    }

    .layer-circle {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: #FF8900;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        margin: 0 2px;
        font-weight: 700;
    }

    #hybrid-layers-carousel .splide__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    #hybrid-layers-carousel .splide__slide img {
        max-width: 30rem;
        object-fit: cover;
    }

    @media (min-width: 749px) {
        .hybrid-layers-container {
            padding: 4rem 10rem;
        }

        .hybrid-layers-intro {
            width: 100%;
            min-height: 27rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hybrid-layers {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .layer {
            width: 30%;
        }

        .layer-circles {
            margin-bottom: 2.5rem;
        }
    }
</style>
<section class="hybrid-layers-container">
    <div class="hybrid-layers-intro">
        <img id="layer-image" src="{{ 'hybrid-comfort-adapt-layer.svg'| asset_url}}" loading="lazy" />
    </div>
    <div class="hidden md:flex hybrid-layers">
        <div class="layer">
            <h3 id="hybrid-comfort-adapt-layer-title" class="layer-heading">Wake up restored with <br />Emma Original
                Hybrid</h3>
            <p class="mt-5 mb-2.5">Developed within layers</p>
            <div class="layer-circles">
                <div class="layer-circle">A</div>
                <div class="layer-circle">B</div>
                <div class="layer-circle">C</div>
                <div class="layer-circle">D</div>
            </div>
            <p>{{section.settings.comfort_adapt_hybrid_desc}}</p>
        </div>
        <div class="layer">
            <h3 id="hybrid-particle-cool-layer-title" class="layer-heading">Stay fresh while you sleep with
                <br />ParticleCool
            </h3>
            <p class="mt-5 mb-2.5">Developed within layers</p>
            <div class="layer-circles">
                <div class="layer-circle">A</div>
                <div class="layer-circle">B</div>
                <div class="layer-circle">D</div>
            </div>
            <p>{{section.settings.partical_cool_desc}}</p>
        </div>
        <div class="layer">
            <h3 id="hybrid-motion-isolation-layer-title" class="layer-heading">Sleep Undisturbed with <br />Motion
                Isolation
            </h3>
            <p class="mt-5 mb-2.5">Developed within layers</p>
            <div class="layer-circles">
                <div class="layer-circle">A</div>
                <div class="layer-circle">B</div>
                <div class="layer-circle">C</div>
                <div class="layer-circle">D</div>
            </div>
            <p>{{section.settings.motion_isolation_desc}}</p>
        </div>
    </div>

    <div class="md:hidden w-full">
        <div id="hybrid-layers-carousel" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="{{ 'hybrid-comfort-adapt-layer.png'| asset_url}}" />
                        <div class="layer">
                            <h3 class="layer-heading">Wake up restored with <br />Emma Original Hybrid</h3>
                            <p class="mt-5 mb-2.5">Developed within layers</p>
                            <div class="layer-circles">
                                <div class="layer-circle">A</div>
                                <div class="layer-circle">B</div>
                                <div class="layer-circle">C</div>
                                <div class="layer-circle">D</div>
                            </div>
                            <p>{{section.settings.comfort_adapt_hybrid_desc}}</p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <img src="{{ 'hybrid-particle-cool-layer.png'| asset_url}}" />
                        <div class="layer">
                            <h3 class="layer-heading">Stay fresh while you sleep with <br />ParticleCool</h3>
                            <p class="mt-5 mb-2.5">Developed within layers</p>
                            <div class="layer-circles">
                                <div class="layer-circle">A</div>
                                <div class="layer-circle">B</div>
                                <div class="layer-circle">D</div>
                            </div>
                            <p>{{section.settings.partical_cool_desc}}</p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <img src="{{ 'hybrid-motion-isolation-layer.png'| asset_url}}" />
                        <div class="layer">
                            <h3 class="layer-heading">Sleep Undisturbed with <br />Motion Isolation</h3>
                            <p class="mt-5 mb-2.5">Developed within layers</p>
                            <div class="layer-circles">
                                <div class="layer-circle">A</div>
                                <div class="layer-circle">B</div>
                                <div class="layer-circle">C</div>
                                <div class="layer-circle">D</div>
                            </div>
                            <p>{{section.settings.motion_isolation_desc}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>


<script defer type="module">
    new Splide('#hybrid-layers-carousel', {
        perPage: 1,
        perMove: 1,
        arrows: false
    }).mount();

    $('#hybrid-comfort-adapt-layer-title').on('click', function () {
        $('#layer-image').attr('src', `{{ 'hybrid-comfort-adapt-layer.svg'| asset_url}}`);
    });
    $('#hybrid-particle-cool-layer-title').on('click', function () {
        $('#layer-image').attr('src', `{{ 'hybrid-particle-cool-layer.svg'| asset_url}}`);
    });
    $('#hybrid-motion-isolation-layer-title').on('click', function () {
        $('#layer-image').attr('src', `{{ 'hybrid-motion-isolation-layer.svg'| asset_url}}`);
    });
</script>

{% schema %}
{
"name": "Hybrid Layers",
"settings": [
{
"id":"comfort_adapt_hybrid_desc",
"type":"text",
"label":"Comfort Adapt Hybrid Description",
"default":"Lorem ipsum dolor sit amet"
},
{
"id":"partical_cool_desc",
"type":"text",
"label":"Particle Cool Description",
"default":"Lorem ipsum dolor sit amet"
},
{
"id":"motion_isolation_desc",
"type":"text",
"label":"Motion Isolation Description",
"default":"Lorem ipsum dolor sit amet"
}
]
}
{% endschema %}
