{% assign productMedia = section.blocks | where: 'type', 'product_media' %}

<style>
    @media screen and (min-width: 769px) {
        #product-main-layout .shopify-section-product-media {
            grid-column: 1;
            grid-row: 1 / -1;
        }
    }
    #ProductMediaSection {
        min-height: 300px;
    }
</style>

{{ 'product-media.css' | asset_url | stylesheet_tag }}

<div id="ProductMediaSection" class="product-media">
    <div id="affiliate-badge"></div>

    <div class="desktop-mansory">
        {% for block in productMedia %}
            <div class="desktop-mansory__item{% if block.settings.full_width %} full-width{% endif %}">
                <div class="image-wrapper">
                    {% if block.settings.is_video and block.settings.hosted_video != blank %}
                        {{
                        block.settings.hosted_video
                        | video_tag: class: 'hosted-video', width: '100%', controls: false, autoplay: true, loop: true
                        }}
                    {% else %}
                        {% render 'image-tag', image_src: block.settings.image, width: 1200, height: 486, class: 'image-item' %}
                        {% if block.settings.award %}
                            {% render 'image-tag', image_src: block.settings.award, width: 200, height: 200, class: 'image-award' %}
                        {% endif %}
                    {% endif %}
                </div>

                {% if forloop.index0 == 0 %}
                    <div class="caption-container">
                        <h3 class="heading-3 font-inter font-semibold">{{ section.settings.caption_headline }}</h3>
                        <p>{{ section.settings.caption_content }}</p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="media-carousel">
        <div id="main-carousel" class="splide">
            <ul class="splide__track">
                <li class="splide__list">
                    {% for item in productMedia %}
                        <div class="image-wrapper splide__slide">
                            {% if item.settings.is_video and item.settings.hosted_video != blank %}
                                {{ item.settings.hosted_video | video_tag: class: 'hosted-video', width: '100%', controls: false, autoplay: true, loop: true }}
                            {% else %}
                                {% render 'image-tag', image_src: item.settings.image, width: 1200, height: 486, class: 'image-item' %}
                                {% if item.settings.award %}
                                    {% render 'image-tag', image_src: item.settings.award, width: 80, height: 80, class: 'image-award' %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </li>
            </ul>
        </div>

        <div id="thumbnail-carousel" class="splide">
            <ul class="splide__track">
                <li class="splide__list">
                    {% for item in productMedia %}
                        <div
                                class="image-wrapper splide__slide"
                        >
                            {% assign thumbnail = item.settings.image %}
                            {% if item.settings.is_video and item.settings.hosted_video != blank %}
                                {% assign thumbnail = item.settings.hosted_video.preview_image %}
                            {% endif %}

                            <img src="{{ thumbnail | image_url: width: 808, height: 486 }}" loading="lazy">
                            {% if item.settings.award %}
                                {% render 'image-tag', image_src: item.settings.award, width: 80, height: 80, class: 'image-award' %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const main = new Splide('#main-carousel', {
            type: 'fade',
            rewind: true,
            pagination: false,
            arrows: false,
        });
        const thumbnails = new Splide('#thumbnail-carousel', {
            fixedWidth: 100,
            gap: 10,
            rewind: true,
            pagination: false,
            isNavigation: true
        });

        main.sync(thumbnails);
        main.mount();
        thumbnails.mount();
    });

</script>

{% schema %}
{
  "name": "Product Media",
  "class": "shopify-section-product-media",
  "blocks": [
    {
      "type": "product_media",
      "name": "Product Media",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "award",
          "label": "Image"
        },
        {
          "id": "hosted_video",
          "type": "video",
          "label": "Shopify-hosted video"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full Width?"
        },
        {
          "type": "checkbox",
          "id": "is_video",
          "label": "Video?"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "caption_headline",
      "type": "text",
      "label": "Headline"
    },
    {
      "type": "textarea",
      "id": "caption_content",
      "label": "Content"
    }
  ]
}
{% endschema %}
