{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'product-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'product-core.css' | asset_url | stylesheet_tag }}
{{ 'emma-product-animations.css' | asset_url | stylesheet_tag }}
{{ 'review-mini.css' | asset_url | stylesheet_tag }}


<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<script>
  function newLargeImage(x) {
    let clickedImage = x.dataset.mediaId;
    const newImage = document.querySelector(`[data-media-id="${clickedImage}"]`);
    const parentData = newImage.parentElement;

    parentData.prepend(newImage);
    newImage.style.display = "block";

    const resizeObserver = new ResizeObserver(entries => x.clientHeight)
    resizeObserver.observe(document.body)
    const imgHt = x.clientHeight * 4;
    document.getElementById('large-image').style.paddingBottom = imgHt + 'px';

    document.querySelectorAll('.product-slider').forEach(thumb => thumb.classList.remove('active-thumb'));
    const sliderComp = document.querySelector("slider-component");
    sliderComp.querySelector(`[data-media-id="${clickedImage}"]`).classList.add('active-thumb');
  };
</script>

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet"
        href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print"
        onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print"
        onload="this.media='all'">
{%- endif -%}
<style>
    #main-carousel .media-badge {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        height: 62px;
        padding: 12px;
        border-radius: 0 0 10px 0;
        background: rgba(255, 0, 0, 0.75);
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.25;
        color: white;
    }

    #main-carousel .logo-badge {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      background: rgb(255 255 255 / 50%);
    }

    #main-carousel-slide01 {
        position: relative;
    }

    #main-carousel .slide01-badge {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 100px;
        aspect-ratio: 1;
    }

    #main-carousel .award-ribbon {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 0 0 6px;
        z-index: 5;
        padding: 10px 10px 0;
        width: fit-content;
    }

    #main-carousel .award-ribbon__item {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }

    .splide__track {
        padding: 0;
        max-height: 15rem;
    }

    .splide__pagination {
        position: static;
        width: 100%;
    }

    .splide__pagination__page {
        background: #C5C6D3 !important;
    }

    .splide__pagination__page.is-active {
        background: #FF8900 !important;
    }

    #main-carousel>.product__media img {
      height: 30rem;
    }

    #MainContent .risk-reversal-banner {
      display: none;
    }

    #MainContent .risk-reversal__item {
      flex: 0 0 27.5%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      padding-right: 15px;
    }

    .risk-reversal__item img {
        height: 40px;
        width: 40px;
    }

    .risk-reversal__item p {
        font-size: 14px;
        text-align: center;
    }

    .double-tab {
        overflow: hidden;
        border-bottom: 1px solid #E6E7EC;
    }

    .double-tab button {
        background: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 12px 0;
        margin-right: 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    .double-tab button:hover {
        border-bottom: 2px solid #2E2F3C;
        font-weight: 600;
    }

    .double-tab button.active {
        border-bottom: 2px solid #2E2F3C;
        font-weight: 600;
    }

    .tabcontent {
        display: none;
        padding: 10px 0;
        border-top: none;
    }

    .topright {
        float: right;
        cursor: pointer;
        font-size: 28px;
    }

    .yotpo-display-wrapper .yotpo-bottomline {
        flex-flow: row;
        align-items: center;
        min-width: max-content;
    }

    .yotpo-display-wrapper .yotpo-bottomline a {
        font-size: 14px;
        color: #9A9CB2 !important;
        margin-left: 0;
    }

    .yotpo-display-wrapper .yotpo-icon {
        text-align: center;
        float: initial;
        font-size: 17.5px;
        letter-spacing: normal;
    }

    .splide__slide .product__media-icon {
        display: none;
    }

    .product__modal-opener--image .product__media-toggle:hover {
        cursor: initial;
    }

    @media(min-width: 425px) {
        .splide__track {
            max-height: 20rem;
        }

        #main-carousel .award-ribbon {
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 0 0 0 6px;
            z-index: 5;
            padding: 10px 10px 0;
            width: fit-content;
        }

        #main-carousel .award-ribbon__item {
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
        }

        .splide__track {
            padding: 0;
            max-height: 15rem;
        }

        .splide__pagination {
            position: static;
            width: 100%;
        }

        .splide__pagination__page {
            background: #C5C6D3 !important;
        }

        .splide__pagination__page.is-active {
            background: #FF8900 !important;
        }

        #main-carousel>.product__media img {
            height: 30rem;
        }

        #MainContent .risk-reversal-banner {
            display: none;
        }

        .risk-reversal__item img {
            height: 40px;
            width: 40px;
        }

        .risk-reversal__item p {
            font-size: 14px;
            text-align: center;
        }

        .double-tab {
            overflow: hidden;
            border-bottom: 1px solid #E6E7EC;
        }

        .double-tab button {
            background: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 12px 0;
            margin-right: 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        .double-tab button:hover {
            border-bottom: 2px solid #2E2F3C;
            font-weight: 600;
        }

        .double-tab button.active {
            border-bottom: 2px solid #2E2F3C;
            font-weight: 600;
        }

        .tabcontent {
            display: none;
            padding: 10px 0;
            border-top: none;
            font-size: 14px;
        }

        .tabcontent p {
            font-size: 14px;
        }

        .topright {
            float: right;
            cursor: pointer;
            font-size: 28px;
        }

        .yotpo-display-wrapper .yotpo-bottomline {
            flex-flow: row;
            align-items: center;
            min-width: max-content;
        }

        .yotpo-display-wrapper .yotpo-bottomline a {
            font-size: 14px;
            color: #9A9CB2 !important;
            margin-left: 0;
        }

        .yotpo-display-wrapper .yotpo-icon {
            text-align: center;
            float: initial;
            font-size: 17.5px;
            letter-spacing: normal;
        }

        .splide__slide .product__media-icon {
            display: none;
        }

        .product__modal-opener--image .product__media-toggle:hover {
            cursor: initial;
        }
    }

    @media(min-width: 425px) {
        .splide__track {
            max-height: 20rem;
        }
    }

    @media(min-width: 768px) {
        #main-carousel .award-ribbon {
            right: 30px;
            border-radius: 0 0 10px 10px;
        }

        #main-carousel .award-ribbon__item {
            width: 40px;
            height: 40px;
        }

        #MainContent .risk-reversal-banner {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: center;
            padding: 40px;
            gap: 20px;
        }

        .splide__track {
            max-height: initial;
        }
    }

</style>
<section id="product-details-{{ product.handle }}" class="page-width">
  <div class="product {% if product.media.size > 0 %}product--2-col-tablet{% else %}product--no-media{% endif %}">
    <!-- PRODUCT DETAILS LEFT -->
    <div class="product__media-wrapper">
      <div class="sticky-slider">
        <div class="slider-container">
          <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
            {{ "accessibility.skip_to_product_info" | t }}
          </a>
          <div id="main-carousel" class="splide w-full">

            <!-- BADGE -->
            {% if section.settings.media_badge != blank %}
              <span class="media-badge">{{ section.settings.media_badge }}</span>
            {% endif %}

            {% if section.settings.logo_badge != blank %}
              <div class="logo-badge lg:p-1">
                <img class="w-[70px] lg:w-[120px]" src="{{ section.settings.logo_badge | img_url: 'master' }}" alt="">
              </div>
            {% endif %}

            <!-- AWARD RIBBON -->
            {% assign awards = section.blocks | where: 'type', 'award' %}
            {% if awards.size > 0 %}
              <div class="award-ribbon">
                {% for block in awards %}
                  {% case block.type %}
                    {% when 'award' %}
                      <div class="award-ribbon__item"><img src="{{ block.settings.src | image_url: width: 60 }}" alt=""></div>
                  {% endcase %}
                {% endfor %}
              </div>
            {% endif %}

            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev">←</button>
              <button class="splide__arrow splide__arrow--next">→</button>
            </div>

            <div class="splide__track">
              <ul class="splide__list">
                {%- for media in product.media -%}
                  <li class="splide__slide{% if media.media_type != 'image' %} hide-modal {% endif %}"
                      data-media-id="{{ section.id }}-{{ media.id }}">
                    {% render 'product-thumbnail', media: media, position: forloop.index, loop:
                    section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
                  </li>
                {%- endfor -%}
            </div>
            </ul>
          </div>
        </div>

        <div id="thumbnail-carousel" class="splide w-full hidden md:block">
          <div class="splide__track">
            <ul class="splide__list justify-center">
              {%- for media in product.media -%}
                <li class="splide__slide{% if media.media_type != 'image' %} hide-modal {% endif %}"
                    data-media-id="{{ section.id }}-{{ media.id }}">
                  {% render 'product-thumbnail-base', media: media, position: forloop.index, loop:
                  section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>

        <!-- RISK REVERSAL BANNER -->
        <div class="risk-reversal-banner">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'risk_reversal_item' %}
                <div class="risk-reversal__item">
                  <img src="{{ block.settings.icon | image_url: width: 60 }}" width="auto" height="auto" loading="lazy">
                  <p class="font-semibold">{{ block.settings.title | remove: "
            <p>" | remove: "</p>" }}
                  </p>
                </div>
            {% endcase %}
          {% endfor %}
        </div>

        <script defer type="module">
          const main = new Splide('#main-carousel', {
            perPage: 1,
            perMove: 1
          })

          const thumbnails = new Splide('#thumbnail-carousel', {
            fixedWidth: 60,
            fixedHeight: 60,
            gap: 20,
            rewind: true,
            arrows: false,
            pagination: false,
            isNavigation: true
          })

          main.sync(thumbnails);

          main.mount();
          thumbnails.mount();
        </script>
      </div>
    </div>
    {%- if section.settings.photo_badge != blank -%}
      <script defer type="module">
        console.log("ủa")
        const slide01 = document.getElementById("main-carousel-slide01");
        if (!(slide01 instanceof Element)) {
          throw new Error("No slide");
        }

        let bagdeImage = document.createElement("img");
        bagdeImage.src = `{{ section.settings.photo_badge | img_url: 'medium' }}`;
        bagdeImage.className = "slide01-badge";
        slide01.appendChild(bagdeImage);
      </script>
    {%- endif -%}

    {%- if first_3d_model -%}
      <button class="button button--full-width product__xr-button" type="button"
              aria-label="{{ 'products.product.xr_button_label' | t }}" data-shopify-xr
              data-shopify-model3d-id="{{ first_3d_model.id }}" data-shopify-title="{{ product.title | escape }}"
              data-shopify-xr-hidden>
        {% render 'icon-3d-model' %}
        {{ 'products.product.xr_button' | t }}
      </button>
    {%- endif -%}

    <!-- PRODUCT DETAILS RIGHT -->
    <div class="product__info-wrapper">
      <div id="ProductInfo-{{ section.id }}"
           class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
          {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
              {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
            <h1 class="heading-1 text-charade product__title" style="flex-grow: 1;" {{ block.shopify_attributes }}>
              {{ product.title | escape }}
            </h1>
            {% render 'yotpo-review-stars', product: product %}

          {%- when 'price' -%}
            <div class="no-js-hidden" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large
          emma-product__price' -%}
            </div>

          {%- when 'affirm_container' -%}
            <div {{ block.shopify_attributes }} class="mt-2">
              {% render 'product-affirm' %}
            </div>
          {%- when 'description' -%}
            <div class="product__description emma-product__description">
              <div class="double-tab">
                <button class="tabitems" onclick="openProductTab(event, 'Tab1')"
                        id="defaultOpen">{{section.settings.tab_title_1}}
                </button>
                <button class="tabitems" onclick="openProductTab(event, 'Tab2')">{{section.settings.tab_title_2}}
                </button>
              </div>
              <div id="Tab1" class="tabcontent">
                {{section.settings.tab_content_1}}
              </div>
              <div id="Tab2" class="tabcontent">
                {{section.settings.tab_content_2}}
              </div>
            </div>
            <script>
              function openProductTab(evt, tabName) {
                var i,
                  tabcontent,
                  tabitems;
                tabcontent = document.querySelectorAll(".product__description .tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                  tabcontent[i].style.display = "none";
                }
                tabitems = document.getElementsByClassName("tabitems");
                for (i = 0; i < tabitems.length; i++) {
                  tabitems[i].className = tabitems[i].className.replace(" active", "");
                }
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";
              }

              $(document).ready(function () {
                document.getElementById("defaultOpen").click();
              });
            </script>

            {%- when 'upsell-mini-banner' -%}
              {% render 'upsell-mini-banner', upsellData: block.settings%}

          {%- when 'variant_picker' -%}
            <div class="emma-variant-quantity {% if product.first_available_variant.title == "Default Title" %}emma-variant-quantity--expand{% else %}emma-variant-quantity--normal{% endif %}">
              <old-variant-selects class="{% if product.first_available_variant.title == "Default Title" %}hidden{% else %}grid{% endif %} emma-product__variant" data-section="{{ section.id }}"
                               data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                {%- for option in product.options_with_values -%}
                  <div class="product-form__input product-form__input--dropdown">
                    <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <div class="select">
                      <select id="Option-{{ section.id }}-{{ forloop.index0 }}" class="select__select"
                              name="options[{{ option.name | escape }}]" form="product-form-{{ section.id }}">
                        {%- for value in option.values -%}
                          <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected" {% endif
                          %}>
                            {{ value }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                  </div>
                {%- endfor -%}

                <script type="application/json">
                    {{ product.variants | json }}
                  </script>
              </old-variant-selects>

              <div class="product-form__input product-form__quantity emma-product__quantity" {{ block.shopify_attributes }}>
                <label class="form__label" for="Quantity-{{ section.id }}">
                  {{ 'products.product.quantity.label' | t }}
                </label>

                <quantity-input class="quantity">
                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title |
                  escape }}
                </span>
                    {% render 'icon-minus' %}
                  </button>
                  <input class="quantity__input outline-none" type="number" name="quantity" id="Quantity-{{ section.id }}" min="1"
                         value="1" form="product-form-{{ section.id }}" readonly>
                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title |
                  escape }}
                </span>
                    {% render 'icon-plus' %}
                  </button>
                </quantity-input>
              </div>

            </div>

            {%- when 'custom_liquid' -%}
              {{ block.settings.custom_liquid }}


          {%- when 'collapsible_tab' -%}
            <div class="product__accordion accordion" {{ block.shopify_attributes }}>
              <details>
                <summary>
                  <div class="summary__title">
                    {% render 'icon-accordion', icon: block.settings.icon %}
                    <h2 class="h4 accordion__title">
                      {{ block.settings.heading | default: block.settings.page.title }}
                    </h2>
                  </div>
                  {% render 'icon-caret' %}
                </summary>
                <div class="accordion__content rte">
                  {{ block.settings.content }}
                  {{ block.settings.page.content }}
                </div>
              </details>
            </div>

          {%- when 'popup' -%}
            <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{
            block.shopify_attributes }}>
              <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button"
                      aria-haspopup="dialog">{{ block.settings.text | default: block.settings.page.title }}
              </button>
            </modal-opener>
            <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.text
              }}
            </a>

          {%- when 'share' -%}
            <share-button class="share-button" {{ block.shopify_attributes }}>
              <button class="share-button__button hidden">
                {% render 'icon-share' %}
                {{ block.settings.share_label | escape }}
              </button>
              <details>
                <summary class="share-button__button">
                  {% render 'icon-share' %}
                  {{ block.settings.share_label | escape }}
                </summary>
                <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                  <div class="field">
                    <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"></span>
                    <input type="text" class="field__input" id="url" value="{{ shop.url | append: product.url }}"
                           placeholder="{{ 'general.share.share_url' | t }}" onclick="this.select();" readonly>
                    <label class="field__label" for="url">{{ 'general.share.share_url' | t }}
                    </label>
                  </div>
                  <button class="share-button__close hidden no-js-hidden">
                    {% render 'icon-close' %}
                    <span class="visually-hidden">{{ 'general.share.close' | t }}
                </span>
                  </button>
                  <button class="share-button__copy no-js-hidden">
                    {% render 'icon-clipboard' %}
                    <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}
                </span>
                  </button>
                </div>
              </details>
            </share-button>
            <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>

            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t
                  }}
                </label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                    {%- for variant in product.variants -%}
                      <option {% if variant==product.selected_or_first_available_variant %}selected="selected" {% endif %} {%
                                                                                                                             if variant.available==false %}disabled{% endif %} value="{{ variant.id }}">
                        {{ variant.title }}
                        {%- if variant.available == false %}
                          -
                          {{ 'products.product.sold_out' | t }}
                        {% endif %}
                        -
                        {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>

          {%- when 'buy_buttons' -%}
            <div class="buy-buttons-wrapper" {{ block.shopify_attributes }}>
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2" />
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7" />
                    <path
                      d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
                      fill="white" />
                    <path
                      d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
                      fill="white" stroke="#EB001B" stroke-width="0.7">
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>

                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type:
                'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="product-form__buttons">
                    <button type="submit" name="add"
                            class="product-form__submit button button--full-width emma-button__secondary {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                            {% if product.selected_or_first_available_variant.available==false %}disabled{% endif %}>

                      {% include 'icon-cart-empty' %}
                      <span>
                  {%- if product.selected_or_first_available_variant.available -%}
                    {{ 'products.product.add_to_cart'| t }}
                  {%- else -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                </span>
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"
                             xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </button>
                  </div>
                {%- endform -%}
              </product-form>

              {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

              {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where:
              'pick_up_enabled', true -%}

              <pickup-availability class="product__pickup-availabilities no-js-hidden" {% if
                product.selected_or_first_available_variant.available and pick_up_availabilities.size> 0 %} available{%
                endif %} data-base-url="{{ shop.url }}{{ routes.root_url }}" data-variant-id="{{
              product.selected_or_first_available_variant.id }}" data-has-only-default-variant="{{
              product.has_only_default_variant }}">
                <template>
                  <pickup-availability-preview class="pickup-availability-preview">
                    {% render 'icon-unavailable' %}
                    <div class="pickup-availability-info">
                      <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}
                      </p>
                      <button class="pickup-availability-button link link--text underlined-link">{{
                        'products.product.pickup_availability.refresh' | t }}
                      </button>
                    </div>
                  </pickup-availability-preview>
                </template>
              </pickup-availability>
            </div>
            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>

            {%- when 'mini-comparison-table' %}
              {% render 'mini-comparison-table', settings: block.settings %}
            
            {%- when 'mini-comparison-specs' %}
              {% render 'mini-comparison-specs', settings: block.settings %}

          {%- when 'emma_discount_mechanics' -%}
            <div class="emma-discount-mechanics">
              <div class="emma-discount-mechanics__header">{{ block.settings.discount_title }}
              </div>
              <div class="emma-discount-mechanics__body">{{ block.settings.discount_body }}
              </div>
            </div>

          {%- when 'emma_bundle' -%}
            <div class="emma-bundle">
              <div id='bundle-related-products'></div>
            </div>
          {%- endcase -%}
        {%- endfor -%}

        {% assign mini_reviews = section.blocks | where: 'type', 'mini-review' %}
        {% if mini_reviews.size > 0 %}
          <div class="review-mini-container accordion-wrapper is-open" style="margin-top: 30px;">
            <div class="review-mini-heading accordion" style="padding-top:10px; padding-bottom:10px">
              <h3>Customer Reviews</h3>
              <img class="icon-arrow-down" id="arrow" src="{{ 'arrow-down.svg' | asset_url }}" loading="lazy">
            </div>
            <div class="review-mini-card-wrapper accordion__content">
              {% for block in section.blocks %}
                {% if block.type == "mini-review" %}
                  <div class="review-mini-card">
                    <div class="review-mini-card-heading">
                      <h1>{{ block.settings.title }}</h1>
                      <img src="{{ 'stars.png' | asset_url }}" width="89px" height="15px" loading="lazy">
                    </div>
                    <p>{{ block.settings.content }}
                    </p>
                    <div class="review-mini-card-user flex items-center">
                      <p class="mr-1">{{ block.settings.customer_name }}</p>
                      <div class="flex items-center">
                        <svg style="margin-bottom: 2px;" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-1">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                        </svg>
                        <p>{{ block.settings.customer_location }}</p>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
              <a class="btn" href="#yotpo-main-widget">
                SEE ALL REVIEWS
              </a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
    <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}"
         aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle"
              aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}
      </button>

      <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}"
           tabindex="0">
        {%- liquid
          if product.selected_or_first_available_variant.featured_media != null
            assign media = product.selected_or_first_available_variant.featured_media
            render 'product-media', media: media, loop: section.settings.enable_video_looping
          endif -%}

        {%- for media in product.media -%}
          {%- liquid
            unless media.id == product.selected_or_first_available_variant.featured_media.id
              render 'product-media', media: media, loop: section.settings.enable_video_looping
            endunless -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
      <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="product-popup-modal__content"
           tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle"
                aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}
        </button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title }}
          </h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}
</section>

{% assign emma_descriptions = section.blocks | where: "type", "emma_description" %}
{%- for block in emma_descriptions -%}
  <div class="emma-product-section0 page-width">
    <div class="emma-product__heading emma-product__heading--indigo">{{ block.settings.product_heading }}
    </div>
    {{ block.settings.product_body }}
  </div>
{%- endfor -%}


{% assign emma_images_block = section.blocks | where: "type", "emma_images" %}
{%- for block in emma_images_block -%}
  <div class="emma-product-section1 emma--relative">
    <div class="emma-product-section1__vector">
      <div></div>
    </div>

    <div class="page-width emma-product-section1__container">
      <div class="emma--relative emma-product-section1__img-container">
        <img class="emma-product-section1__img" src="{{ block.settings.image_1 | img_url: '535x' }}">
        <div class="emma-product-section1__circle emma-wave emma-wave--one">
          <div></div>
        </div>
        <div class="emma-product-section1__circle emma-wave emma-wave--two">
          <div></div>
        </div>
        <div class="emma-product-section1__circle emma-wave emma-wave--three">
          <div></div>
        </div>
      </div>

      <div class="emma-product-section1__img-container">
        <div class="emma-product__heading emma-product__heading--orange">&nbsp;</div>
        <img src="{{ block.settings.image_2 | img_url: '535x' }}">
      </div>
    </div>
  </div>
{%- endfor -%}

{% assign emma_scales = section.blocks | where: "type", "emma_scale" %}
{%- for block in emma_scales -%}
  <div class="emma-scale page-width">
    <div class="emma-scale__header emma-product__heading emma-product__heading--indigo">
      {{ block.settings.scale_title }}
    </div>
    <div class="emma-scale__image">
      <img src="{{ block.settings.scale_image | img_url: '575x' }}">
    </div>
    <div class="emma-scale__body">
      {{ block.settings.scale_description }}
    </div>
  </div>
{%- endfor -%}


{% assign emma_mattresses = section.blocks | where: "type", "emma_mattress" %}
{%- for block in emma_mattresses -%}
  <div class="emma-product-section2 emma--relative">
    <div class="emma-product-section2__background">
      &nbsp;
    </div>
    <div class="emma-product__heading emma-product__heading--white">{{ block.settings.mattress_header }}
    </div>
    <div class="emma-product-section2__button">
      <div {{ block.shopify_attributes }}>
        <product-form class="product-form">
          <div class="product-form__error-message-wrapper" role="alert" hidden>
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
              <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2" />
              <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7" />
              <path
                d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
                fill="white" />
              <path
                d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
                fill="white" stroke="#EB001B" stroke-width="0.7">
            </svg>
            <span class="product-form__error-message"></span>
          </div>

          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type:
          'add-to-cart-form' -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
            <div class="product-form__buttons">
              <button type="submit" name="add"
                      class="product-form__submit emma-button__secondary {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                      {% if product.selected_or_first_available_variant.available==false %}disabled{% endif %}>
            <span>
              {%- if product.selected_or_first_available_variant.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
                <div class="loading-overlay__spinner hidden">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"
                       xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </button>
              {%- if block.settings.show_dynamic_checkout -%}
                {{ form | payment_button }}
              {%- endif -%}
            </div>
          {%- endform -%}
        </product-form>

        {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

        {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where:
        'pick_up_enabled', true -%}

        <pickup-availability class="product__pickup-availabilities no-js-hidden" {% if
          product.selected_or_first_available_variant.available and pick_up_availabilities.size> 0 %} available{% endif %}
                             data-base-url="{{ shop.url }}{{ routes.root_url }}" data-variant-id="{{
        product.selected_or_first_available_variant.id }}" data-has-only-default-variant="{{
        product.has_only_default_variant }}">
          <template>
            <pickup-availability-preview class="pickup-availability-preview">
              {% render 'icon-unavailable' %}
              <div class="pickup-availability-info">
                <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}
                </p>
                <button class="pickup-availability-button link link--text underlined-link">{{
                  'products.product.pickup_availability.refresh' | t }}
                </button>
              </div>
            </pickup-availability-preview>
          </template>
        </pickup-availability>
      </div>
    </div>

    <div class="emma-product-section2__asset">
      <img src="https://cdn.shopify.com/s/files/1/0592/8570/0771/files/emma-mattress3.png" alt="a one of a kind mattress"
           loading="lazy" />
    </div>
  </div>
{%- endfor -%}

{% assign emma_bottom_headers = section.blocks | where: "type", "emma_bottom_header" %}
{%- for block in emma_bottom_headers -%}
  <div class="emma-product-section3 page-width">
    <div class="emma-product__heading emma-product__heading--indigo">
      {{ block.settings.bottom_header }}
    </div>
  </div>
{%- endfor -%}


<script type="module" defer>
  $('.accordion-wrapper').beefup({ trigger: ".accordion", content: ".accordion__content", openSpeed: 100, closeSpeed: 100 });
</script>

{% javascript %}
class ProductModal extends ModalDialog {
constructor() {
super();
}

hide() {
super.hide();
}

show(opener) {
super.show(opener);
this.showActiveMedia();
}

showActiveMedia() {
this.querySelectorAll(`[data-media-id]:not([data-media-id="${
this.openedBy.getAttribute("data-media-id")
}"])`).forEach((element) => {
element.classList.remove('active');
})
const activeMedia = this.querySelector(`[data-media-id="${
this.openedBy.getAttribute("data-media-id")
}"]`);
const activeMediaTemplate = activeMedia.querySelector('template');
const activeMediaContent = activeMediaTemplate
? activeMediaTemplate.content
: null;
activeMedia.classList.add('active');
activeMedia.scrollIntoView();

const container = this.querySelector('[role="document"]');
container.scrollLeft = (activeMedia.width - container.clientWidth) / 2;

if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMediaContent && activeMediaContent.querySelector('.js-youtube'))
activeMedia.loadContent();

}
}

customElements.define('product-modal', ProductModal);
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE())
      return;

    const hiddenInput = document.querySelector('# {{ product_form_id }}input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section=" {{ section.id }}"]') || document.querySelector('old-variant-selects[data-section=" {{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper- {{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants- {{ section.id }}').addEventListener('change', function (event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{%- if first_3d_model -%}
  <script type="application/json"
          id="ProductJSON-{{ product.id }}">{{ product.media | where: 'media_type', 'model' | json }}</script>
  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},{%- if product.selected_or_first_available_variant.featured_media -%}
{%- assign media_size = product.selected_or_first_available_variant.featured_media.preview_image.width | append: 'x' -%}
      "image" : [{{ product.selected_or_first_available_variant.featured_media | img_url: media_size | prepend: "https:" | json }}],{%- endif -%}
    "description": {{ product.description | strip_html | json }},{%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku" : {{ product.selected_or_first_available_variant.sku | json }},{%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [{%- for variant in product.variants -%}
        {
          "@type": "Offer",
          {%- if variant.sku != blank -%}
            "sku" : {{ variant.sku | json }},
          {%- endif -%}
          "availability": "http://schema.org/ {% if variant.available %}InStock
          {% else %}
            OutOfStock{% endif %}",
          "price": {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency": {{ cart.currency.iso_code | json }},
          "url": {{ shop.url | append: variant.url | json }}
        }
        {% unless forloop.last %}{% endunless %}{%- endfor -%}]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "emma_bundle",
      "name": "Bundles",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "bundle_title",
          "default": "bundle",
          "label": "bundle Title"
        }
      ]
    },
    {
      "type": "emma_scale",
      "name": "Scale",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "scale_title",
          "default": "What does an Emma mattress feel like?",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "scale_description",
          "default": "Emma mattresses are in the medium-firm range, which means you’ll be sleeping in cloudy comfort with just the right amount of support!",
          "label": "description"
        },
        {
          "type": "image_picker",
          "id": "scale_image",
          "label": "Scale Image"
        }
      ]
    },
    {
      "type": "emma_discount_mechanics",
      "name": "Emma Discount Mechanics",
      "settings": [
        {
          "type": "text",
          "id": "discount_title",
          "default": "Discount",
          "label": "Discount Title"
        },
        {
          "type": "richtext",
          "id": "discount_body",
          "default": "<p>Discount body</p>",
          "label": "Discount body"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "affirm_container",
      "name": "Affirm Container",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "mini-comparison-table",
      "name": "Mini Comparison Table",
      "settings": [
        {
          "id": "badge",
          "type": "text",
          "label": "Badge",
          "default": "-$1239"
        },
        {
          "id": "note",
          "type": "text",
          "label": "Note",
          "default": "*For queen sizes only. All prices and information from public sources listed as of October 10, 2022. Information may not reflect updated prices and promotions."
        }
      ]
    },
    {
      "type": "mini-comparison-specs",
      "name": "Mini Comparison Specs",
      "settings": [
        {
          "id": "badge",
          "type": "text",
          "label": "Badge",
          "default": "-$1239"
        },
        {
          "id": "note",
          "type": "text",
          "label": "Note",
          "default": "*For queen sizes only. All prices and information from public sources listed as of October 10, 2022. Information may not reflect updated prices and promotions."
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "emma_description",
      "name": "Emma Description",
      "settings": [
        {
          "id": "product_heading",
          "type": "text",
          "label": "Heading",
          "default": "Title"
        },
        {
          "id": "product_body",
          "type": "richtext",
          "label": "Add custom text below",
          "default": "<p>Add your text here</p>"
        }
      ]
    },
    {
      "type": "emma_images",
      "name": "Emma Two Images",
      "settings": [
        {
          "id": "image_1",
          "type": "image_picker",
          "label": "Image 1"
        },
        {
          "id": "image_2",
          "type": "image_picker",
          "label": "Image 2"
        }
      ]
    },
    {
      "type": "emma_mattress",
      "name": "Emma Mattress",
      "settings": [
        {
          "id": "mattress_header",
          "type": "text",
          "label": "Mattress Header",
          "default": "A one-of-a-kind mattress"
        }
      ]
    },
    {
      "type": "emma_bottom_header",
      "name": "Emma Bottom Header",
      "settings": [
        {
          "id": "bottom_header",
          "type": "text",
          "label": "Bottom Header",
          "default": "Reinvent your sleep"
        }
      ]
    },
    {
      "type": "award",
      "name": "Award",
      "limit": 3,
      "settings": [
        {
          "id": "src",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    },
    {
      "type": "risk_reversal_item",
      "name": "Risk Reversal Item",
      "limit": 6,
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Item Icon"
        },
        {
          "id": "title",
          "type": "richtext",
          "label": "Item Title"
        }
      ]
    },
    {
      "type": "mini-review",
      "name": "Mini Review",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Review Title"
        },
        {
          "id": "content",
          "type": "textarea",
          "label": "Review Content"
        },
        {
          "id": "customer_name",
          "type": "text",
          "label": "Customer Name"
        },
        {
          "id": "customer_location",
          "type": "text",
          "label": "Customer Location"
        }
      ]
    },
    {
      "type": "upsell-mini-banner",
      "name": "Upsell Mini Banner",
      "settings": [
        {
          "id": "content",
          "type": "richtext",
          "label": "Content"
        },
        {
          "id": "url",
          "type": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "media_badge",
      "default": "sale",
      "label": "Media badge"
    },
    {
      "type": "image_picker",
      "id": "logo_badge",
      "label": "Logo badge"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "Product Info Double Tab"
    },
    {
      "id": "tab_title_1",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "tab_content_1",
      "type": "html",
      "label": "Content"
    },
    {
      "id": "tab_title_2",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "tab_content_2",
      "type": "html",
      "label": "Content"
    },
    {
      "id": "photo_badge",
      "type": "image_picker",
      "label": "Gallery badge"
    }
  ]
}
{% endschema %}