{{ 'two-column-layout.css' | asset_url | stylesheet_tag }}
{{ 'video-with-text.css' | asset_url | stylesheet_tag }}

<section class="video-with-text">
  <div class="wrapper">
    <div class="two-columns-layout{% if section.settings.inverted %} is-inverted{% endif %}">
      <div class="media-column">
        {% assign hostedVideo = section.settings.hosted_video %}

        {% if hostedVideo %}
          {{ hostedVideo | video_tag: class: 'hosted-video', width: '100%',image_size: '400x', controls: true, autoplay: section.settings.autoplay, loop: true, playsinline: true }}
        {% else %}
          <iframe
            width="100%"
            src=""
            title="Video Player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        {% endif %}
      </div>

      <div class="content-column">
        <h6 class="sub-heading heading-6 uppercase">{{ section.settings['sub-heading'] }}</h6>
        <h2 class="heading-2">{{ section.settings.heading }}</h2>
        <p class="lead-statement">
          {{ section.settings.content | remove: '<p>' | remove: '</p>' }}
        </p>
      </div>
    </div>
  </div>

  <script type="module">
    function renderExternalVideo() {
      const url = "{{ section.settings.video }}";
      let videoId;

      const matches = url.match(/^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=)([^#\&\?]*).*/)

      if (matches) {
        videoId = matches[2];

        $('.video-with-text .media-column iframe').attr('src', 'https://www.youtube.com/embed/' + videoId)
      }
    }

    $(document).ready(function () {
      {% if hostedVideo == blank %}
        renderExternalVideo();
      {% endif %}
    })
  </script>
</section>

{% schema %}
{
  "name": "Video with Text Section",
  "settings": [
    {
      "id": "sub-heading",
      "type": "text",
      "label": "Sub Heading"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "id": "content",
      "type": "richtext",
      "label": "Content"
    },
    {
      "id": "video",
      "type": "video_url",
      "label": "Section Video",
      "accept": ["youtube", "vimeo"]
    },
    {
      "id": "hosted_video",
      "type": "video",
      "label": "Shopify-hosted video"
    },
    {
      "id": "autoplay",
      "type": "checkbox",
      "label": "Autoplay",
      "default": true
    },
    {
      "id": "inverted",
      "type": "checkbox",
      "label": "Inverted?"
    }
  ]
}
{% endschema %}
