{{ 'why-us.css' | asset_url | stylesheet_tag }}

<section id="why-us-section">
  <div
    class="wrapper tw-bg-athens-gray{% if section.settings.borderless %} wrapper--borderless{% endif %}"
  >
    <h2 class="heading-2 tw-text-center tw-text-charade">{{ section.settings.title | remove: "<p>" | remove: "</p>" }}</h2>
    <div class="benefits">
      {% assign footerBtn = section.blocks | where: "type", "footer-button" | first %}
      {% assign textBlocks = section.blocks | where: "type", "text-block" %}

      {%- for tw-block in textBlocks -%}
        <div class="benefits__item">
          <img src="{{ tw-block.settings.icon | img_url: 'original' }}" width="auto" height="auto" loading="lazy">
          <h3 class="heading-3 tw-h-16	word-break">{{ tw-block.settings.title | remove: "<p>" | remove: "</p>" }}</h3>
        </div>
      {%- endfor -%}
    </div>
    {% if footerBtn != blank %}
      <a
        class="btn tw-bg-chambray tw-text-[white] tw-uppercase tw-px-24 tw-py-3 tw-rounded-[60px]"
        href="{{ footerBtn.settings.url }}"
      >
        {{ footerBtn.settings.text }}
      </a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Why Us",
  "blocks": [
    {
      "type": "text-block",
      "name": "Text Block",
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Block Icon"
        },
        {
          "id": "title",
          "type": "richtext",
          "label": "Block Title"
        }
      ]
    },
    {
      "type": "footer-button",
      "name": "Footer Button",
      "limit": 1,
      "settings": [
        {
          "id": "url",
          "type": "url",
          "label": "Button Url"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Button Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "richtext",
      "label": "Title",
      "default": "<p>Why sleepers <i>love</i> Emma</p>"
    },
    {
      "id": "borderless",
      "type": "checkbox",
      "label": "Borderless",
      "default": true
    }
  ]
}
{% endschema %}
