<style>
 .accessory-highlights-section {
  background: rgba(240, 240, 245, 0.5);
  min-height: 30rem;
  background-image: url({{ 'Medium-Foam_Pillow_cut_exploded_sh 1.png' | asset_url }});
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 5rem;
 }

 .accessory-highlights-section h3 {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #55576F;
 }

 .accessory-highlights-section h2 {
  font-family: 'Tiempos';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
 }

 .title-wrapper {
  margin-bottom: 20rem;
 }

 .accessory-highlights-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
 }

 .hightlights-content-wrapper p {
  font-size: 16px;
 }

 .hightlights-content-wrapper h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 1rem 0;
 }

 @media (min-width: 426px) {
  .title-wrapper {
   margin-bottom: 35rem;
  }
 }

 @media (min-width: 768px) {
  .title-wrapper {
   margin-bottom: 1rem;
  }

  .accessory-highlights-section {
   background-position-y: initial;
   background-size: 60% 100%;
   padding: 4.5rem 0;
  }

  .accessory-highlights-wrapper {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
  }

  .accessory-highlights-section h3 {
   font-size: 16px;
   text-align: start;
  }

  .accessory-highlights-section h2 {
   font-size: 39px;
   text-align: start;
  }
 }

</style>
<section class="accessory-highlights-section">
 <div class="accessory-highlights-wrapper">
  <div class="md:w-1/2 md:block hidden"> </div>
  <div class="md:w-1/2 md:max-w-[425px] w-full">
   <div class="title-wrapper">
    <h3>{{ section.settings.subtitle }}</h3>
    <h2>{{ section.settings.title }}</h2>
   </div>
   <div class="hightlights-content-wrapper">
    {% for block in section.blocks %}
    {% if block.type == 'highlight' %}
    <h4>{{ block.settings.title }}</h4>
    <p>{{ block.settings.content }}</p>
    {% endif %}
    {% endfor %}
   </div>
  </div>
 </div>
</section>
{% schema %}
{
"name": "Accessory Highlights",
"blocks": [
{
"type": "highlight",
"name": "Highlight",
"settings": [
{
"type": "text",
"id": "title",
"label":"Title"
},
{
"type": "text",
"id": "content",
"label":"Content"
}
]
}
],
"settings": [
{
"id": "highligh_content",
"type": "html",
"label": "Highlights content"
},
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Love at first sleep"
},
{
"type": "text",
"id": "subtitle",
"label": "Subtitle",
"default": "THE EMMA DIFFERENCE"
}
]
}
{% endschema %}
