<style>
    /*.bundle-box {*/
    /*    display: none;*/
    /*}*/
</style>

<link rel="quickscript" loading="delayed" href="{{ 'bundle-box.css' | asset_url }}" />
<link rel="quickscript" loading="delayed" href="{{ 'bundle-cross-sell.css' | asset_url }}" />

{% assign offerProduct = all_products[section.settings.product] %}
{% assign offerVariant = offerProduct.selected_or_first_available_variant %}

{% if offerProduct != blank %}
    <bundle-cross-sell class="bundle-box hidden">
        <script slot="data" type="application/json">{{ offerProduct | json }}</script>

        <div class="bundle-container">
            <div class="offer-header">
                {% if section.settings.heading %}
                    <p class="w-full text-center text-lg text-tango font-semibold">
                        {{ section.settings.heading }}
                    </p>
                {% endif %}


                {% comment %}<p id="BundleCrossSell-PriceTag" class="flex items-center gap-2"></p>{% endcomment %}

                <div class="p-2 rounded-lg bg-scarlet text-white uppercase">
                    {% render 'rtf-viewer', content: section.settings.badge %}
                </div>
            </div>

            <div class="bundle-items"></div>

            <div class="flex items-center gap-2 justify-end justify-self-end">
                <p>{{ section.settings.bottom_text }}</p>
                <div class="flex" id="BundleCrossSell-Switcher" data-abtasty-cross-sell></div>
            </div>


        </div>
    </bundle-cross-sell>
{% endif %}

{% schema %}
{
  "name": "Bundle Cross Sell",
  "settings": [
    {
      "id": "product",
      "type": "product",
      "label": "Product"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "FREE"
    },
    {
      "id": "badge",
      "type": "richtext",
      "label": "Badge"
    },

    {
      "id": "bottom_text",
      "type": "text",
      "label": "Bottom Text",
      "default": "Add bundle offer!"
    },
    {
      "id": "note",
      "type": "text",
      "label": "Note",
      "default": "*No mattress protector available for Twin XL and Cal King sizes"
    }
  ],
  "presets": [
    {
      "name": "Bundle Cross Sell"
    }
  ]
}
{% endschema %}
