{% render "express-checkout" %}

<style>
    body {
        background-color: var(--page-background);
    }

    cart-layout .cart-container {
        display: grid;
        gap: 1rem;
        grid-template-columns:minmax(0, 1fr);
        padding: 1rem 0 3.5rem 0
    }

    cart-layout main {
        min-height: 300px;
    }

    cart-layout aside {
        min-height: 300px;
    }

    cart-layout .cart-panel {
        min-height: 100px;
    }

    cart-layout .cart-panel[name="additional-info"] {
        min-height: 200px;
    }

    cart-layout .cart-container main {
        display: grid;
        gap: 1rem;
        align-content: flex-start;
        grid-template-columns:minmax(0, 1fr);
    }

    cart-layout .cart-container aside {
        position: sticky;
        top: calc(180px + 2rem);
        display: grid;
        gap: 1rem;
        grid-template-columns:minmax(0, 1fr);
        height: -moz-max-content;
        height: max-content
    }

    @media screen and (min-width: 769px) {
        cart-layout .cart-container {
            gap: 1.5rem 2rem;
            grid-template-columns:minmax(0, 1fr) minmax(0, 20rem);
            grid-template-rows:repeat(2, minmax(0, auto))
        }

        cart-layout .cart-container main {
            gap: 1.5rem;
        }

        cart-layout .cart-container aside {
            gap: 1.5rem;
        }
    }

    @media screen and (min-width: 1024px) {
        cart-layout .cart-container {
            gap: 1.5rem 2.5rem
        }

        cart-layout main {
            min-height: 800px;
        }
    }

    @media screen and (min-width: 1440px) {
        cart-layout .cart-container {
            gap: 1.5rem 3.5rem;
            grid-template-columns:minmax(0, 0.7fr) minmax(0, 0.3fr);
            grid-template-rows:repeat(2, minmax(0, auto))
        }
    }
</style>
<link rel="stylesheet" href="{{ 'cart-layout.css' | asset_url }}">

<script type="module" src="{{ 'cart-layout.js' | asset_url }}"></script>

<script type="module" src="{{ 'cart-components.js' | asset_url }}"></script>

<script type="module" src="{{ 'cart-cta.js' | asset_url }}"></script>


<cart-layout
    id="cart-layout"
    class="cart-layout"
    :sectionId="{{ section.id }}"
>
    <div class="page-boundary">
        <div class="cart-container">

            <cart-title></cart-title>

            <main>
                <loader-element :type="skeleton"></loader-element>

                <cart-lines></cart-lines>

                {% render 'cart-disclaimer' %}

                <div class="delivery-widget__manual"></div>

                <div id="CartEmpty" class="cart-empty" hidden>
                    <div class="cart-empty__picture">
                        <picture-tag :src="{{ "Group_34574.png" | file_img_url }}"></picture-tag>
                    </div>

                    <div class="cart-empty__content">
                        <span>Let’s change that.</span>
                        <br>
                        <span>Shop our best sellers</span>
                        <span><a href="/">here</a></span>
                    </div>
                </div>

                <template id="cart-upsell-placeholder"></template>
            </main>

            <aside>
                <div name="summary" class="cart-panel">
                    <template id="cart-summary-placeholder"></template>
                </div>

                <div name="additional-info" class="cart-panel" hidden>
                    <h3 class="font-semibold font-inter">Payment Methods</h3>

                    <payment-providers></payment-providers>

                    <div name="affirm-widget" class="cart-block">
                        <hr>

                        <affirm-widget :placement="promotion-badge" :page="cart"></affirm-widget>
                    </div>

                    <hr>

                    {% render 'mention-me-cart-widget' %}
                </div>

                <div name="usps" class="cart-panel" hidden>
                    <template id="cart-usps-placeholder"></template>

                </div>
            </aside>
        </div>
    </div>
</cart-layout>


<script type="quickscript" loading="delayed" data-url="{{ 'cart-redeem-code.js' | asset_url }}"
        src="{{ 'module-importer.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Cart Page",
  "settings": [
  ]
}
{% endschema %}
