<style>
    section#featured-usps {
        display: none;
    }
</style>
<link rel="quickscript" loading="delayed" href="{{ 'usps.css' | asset_url }}">
<link rel="quickscript" loading="delayed" href="{{ 'featured-usps.css' | asset_url }}">

{% assign items = section.blocks | where: "type", "item" %}

<div abtasty-campaign-id="1296959" class="{% unless section.settings.unbounded == true %} page-boundary{% endunless %}">
    <section
        id="featured-usps"
        class="section-container usps"
        :size="{{ section.settings.size }}"
        :orientation="{{ section.settings.orientation }}"
    >
        <ul class="usp-list">
            {% for block in items %}
                <li>
                    <overlay-outlet :type="drawer">
                        <overlay-trigger>
                            <div class="usp-item cursor-pointer rounded-md">
                                <div class="banner-media">
                                    {{ block.settings.icon }}
                                </div>

                                <p class="usp-item__label">
                                    {{ block.settings.text }} →
                                </p>
                            </div>
                        </overlay-trigger>

                        <span slot="title">
                            {{ section.settings.modal_heading }}
                        </span>
                        <div slot="body" class="usp-m">
                            <div class="usp-m__media">
                                {% render 'picture-tag',
                                    src: block.settings.photo,
                                    img_classes: "cover-surface",
                                    alt: "Hero Wallpaper"
                                %}
                            </div>
                            <div class="usp-m__content">
                                {% render 'rtf-viewer', content: block.settings.content %}
                            </div>
                        </div>
                        <div slot="footer">
                            <p class="text-sm text-center">
                                {{ block.settings.footer_content }}
                            </p>
                        </div>
                    </overlay-outlet>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>

{% schema %}
{
  "name": "Featured USP (2.0)",
  "blocks": [
    {
      "type": "item",
      "name": "USP Item",
      "settings": [
        {
          "id": "icon",
          "type": "text",
          "label": "Banner Icon"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Banner Text"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "USP Content",
          "info": "The content that show up in the modal"
        },
        {
          "id": "photo",
          "type": "image_picker",
          "label": "USP Photo",
          "info": "The featured that show up in the modal"
        },
        {
          "id": "footer_content",
          "type": "text",
          "label": "USP Footer Content",
          "default": "Terms and Conditions apply.",
          "info": "The footer content that show up in the modal"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "modal_heading",
      "type": "text",
      "label": "Modal Heading",
      "default": "Our service promise to you"
    },
    {
      "id": "unbounded",
      "type": "checkbox",
      "label": "Unbounded?",
      "default": false
    },
    {
      "id": "orientation",
      "type": "select",
      "options": [
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        }
      ],
      "label": "Orientation",
      "default": "landscape"
    },
    {
      "type": "select",
      "id": "size",
      "options": [
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "md",
          "label": "Medium (40px)"
        },
        {
          "value": "sm",
          "label": "Small (40px)"
        }
      ],
      "default": "lg",
      "label": "Size"
    }
  ]
}
{% endschema %}
