<div class="supported-payment-methods" style="display: none">
  <div class="sp-top-text">{% if request.locale.iso_code == 'fr' %}{{section.settings.supported_payment_top_text_fr}}{% else %}{{section.settings.supported_payment_top_text}}{% endif %}</div>
  <div class="sp-image">
    <img src="{{'checkout-payment-support.png' | asset_img_url: '600x' }}" />
  </div>
  <div class="sp-bottom-text">{% if request.locale.iso_code == 'fr' %}{{section.settings.supported_payment_bottom_text_fr}}{% else %}{{section.settings.supported_payment_bottom_text}}{% endif %}</div>
</div>
<style>
  .supported-payment-methods {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .supported-payment-methods .sp-top-text,
  .supported-payment-methods .sp-bottom-text {
    color: #333;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
  }
  .supported-payment-methods .sp-image {
    width: 100%;
    max-width: 600px;
  }
</style>
<script>
  $(document).ready(function(){
    if (Shopify.Checkout.step === 'contact_information') {
      $('.alternative-payment-separator').after($('#shopify-section-checkout-supported-payment-methods'));
      $('#shopify-section-checkout-supported-payment-methods .supported-payment-methods').show();
    }
  });
</script>
{% schema %}
{
"name": "Supported Payment Methods",
  "settings": [
    {
      "type": "header",
      "content": "English"
    },
    {
      "type": "text",
      "id": "supported_payment_top_text",
      "label": "Supported payment method top text",
      "default": "We offer financing and accept credit and debit cards at payment:"
    },
    {
      "type": "text",
      "id": "supported_payment_bottom_text",
      "label": "Supported payment method bottom text",
      "default": "Just fill in your details below."
    },
    {
      "type": "header",
      "content": "French"
    },
    {
      "type": "text",
      "id": "supported_payment_top_text_fr",
      "label": "Supported payment method top text",
      "default": "Nous offrons du financement et acceptons les cartes de crédit et de débit lors du paiement:"
    },
    {
      "type": "text",
      "id": "supported_payment_bottom_text_fr",
      "label": "Supported payment method bottom text",
      "default": "Remplissez simplement vos coordonnées ci-dessous."
    }
  ]
}
{% endschema %}
