{% assign competitors = shop.metafields.globals.competitors %}
<section id="competitor-comparison-section">
    <div class="wrapper">
        <div class="competitor-comparison-table">
            <div class="emma-highlighted">&nbsp;</div>
            <a id="competitor-buy-btn" href="" class="emma-buy-now-btn grid-row-12">
                Buy Now
            </a>
        </div>
        <p class="font-inter text-[14px] text-center text-[#55576F]">{{ section.settings.note }}</p>
    </div>
</section>
<script id="Competitors-Data-JSON" type="application/json">{{ competitors | json }}</script>

<script type="quickscript" loading="delayed">
    const competitors = {{ competitors | json }}
    const competitor = getComparisonCompetitor(competitors)
    const specifications = competitor.competitiveSpecs

    const compertitorName = competitor.brandName
    const emmaLogo = "{{ 'emma-logo.svg' | asset_url }}";
	const checkGreenIcon = "{{ 'icon-check-green.svg' | asset_url }}";
	const checkGrayIcon = "{{ 'icon-check-gray.svg' | asset_url }}";
	const cancelIcon = "{{ 'icon-cancel.svg' | asset_url }}";

	const emmaProducts = {
    {% for product in section.settings.emma-products %}
			'{{ product.handle }}': {
				info: {{ product | json }}
			}
			{%- if forloop.length > 0 -%}
        {% unless forloop.last %},{% endunless -%}
    {%- endif -%}
    {% endfor %}
    }

    const emmaOriginalQueen = emmaProducts['emma-original-mattress'].info.variants.find(variant => variant.title.includes('Queen | 60" x 80'));
    const emmaOriginalSpecifications = {
        price: `${currencyFormatter.format(emmaOriginalQueen.price / 100)} <span class='line-through font-medium text-sm'>${currencyFormatter.format(emmaOriginalQueen.compare_at_price / 100)}</span>`,
        layers: "5",
        removable_and_machine_washable_cover: "Yes",
        ergonomic_zoning: "3 zones",
        global_awards: "70+",
        global_5_star_reviews: "75,000+",
        sleep_trial: "365 nights",
        warranty: "10 years",
        free_shipping_and_returns: "Yes"
    };

    const emmaClimaxQueen = emmaProducts['emma-original-a'].info.variants.find(variant => variant.title.includes('Queen | 60" x 80'));
    const emmaHybridSpecifications = {
        price: `${currencyFormatter.format(emmaClimaxQueen.price / 100)} <span class='line-through font-medium text-sm'>${currencyFormatter.format(emmaClimaxQueen.compare_at_price / 100)}</span>`,
        layers: "6",
        removable_and_machine_washable_cover: "Yes",
        ergonomic_zoning: "5 zones",
        global_awards: "70+",
        global_5_star_reviews: "75,000+",
        sleep_trial: "365 nights",
        warranty: "10 years",
        free_shipping_and_returns: "Yes"
    };
    const productToCompare = competitor.productToCompare === "Emma Original" ? emmaOriginalSpecifications : emmaHybridSpecifications;
</script>

<script type="quickscript" loading="delayed" src="{{ 'competitor-comparison.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Comparison Table",
  "settings": [
    {
      "id": "emma-products",
      "type": "product_list",
      "label": "Emma Products",
      "limit": 2
    },
    {
      "id": "note",
      "type": "text",
      "label": "Note",
      "default": "*For queen sizes only. All prices and information from public sources listed as of October 10, 2022. Information may not reflect updated prices and promotions."
    }
  ]
}
{% endschema %}
