  <section id="ContactUsSection" class="p-3 lg:p-14 bg-[white]">
    <div class="max-w-[1440px] my-0 mx-auto">
      <div class="bg-gradient-to-b from-athens-gray to-[#F6F6F9] rounded-[20px] py-10 px-7">
        <h2 class="font-['Tiempos'] text-3xl text-center lg:text-[39px]">
          {{ section.settings.title }}
        </h2>
        <p class="font-['Inter'] text-neutral-800 text-center lg:text-xl mt-3 lg:mt-6">Shop with our sleep experts
                                                                                       today!
        </p>
        <div class="flex flex-col mt-2 lg:flex-row">
          <div class="flex mt-5 w-full lg:flex-wrap justify-center">
            <div class="mr-4 lg:mr-0 w-1/4 lg:w-fit">
              <img src="{{ 'chat-with-us.svg' | asset_url }}" height="60" width="60" loading="lazy" />
            </div>
            <div class="w-3/4 lg:w-full lg:text-center lg:mt-5">
              <h3 class="text-xl lg:text-2xl">Chat With Us</h3>
              <p class="text-comet lg:w-2/3 lg:mx-auto lg:mt-3 live-chat cursor-pointer">
                <span class="underline">Ask away</span>—we're here to answer all things sleep.
              </p>
            </div>
          </div>
          {% comment %}<div class="flex mt-5 w-full lg:flex-wrap justify-center">{% endcomment %}
          {% comment %}<div class="mr-4 lg:mr-0 w-1/4 lg:w-fit">{% endcomment %}
          {% comment %}<img src="{{ 'call-us.svg' | asset_url }}" height="60" width="60" loading="lazy" />{% endcomment %}
          {% comment %}</div>{% endcomment %}
          {% comment %}<div class="w-3/4 lg:w-full lg:text-center lg:mt-5">{% endcomment %}
          {% comment %}<h3 class="text-xl lg:text-2xl">Call us</h3>{% endcomment %}
          {% comment %}<p class="text-comet lg:w-2/3 lg:mx-auto lg:mt-3 mb-2">We'd love to hear from you. Call{% endcomment %}
          {% comment %}<a class="underline cursor-pointer" href="tel:+1 647 699 2977">1 (647) 699 2977</a>{% endcomment %}
          {% comment %}</p>{% endcomment %}
          {% comment %}<p class="text-comet italic text-[13px]">{{ settings.availability_schedule }}</p>{% endcomment %}
          {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}
          <div class="flex mt-5 w-full lg:flex-wrap justify-center">
            <div class="mr-4 lg:mr-0 w-1/4 lg:w-fit">
              <img src="{{ 'email-us.svg' | asset_url }}" height="60" width="60" loading="lazy" />
            </div>
            <div class="w-3/4 lg:w-full lg:text-center lg:mt-5">
              <h3 class="text-xl lg:text-2xl">Email us</h3>
              <p class="text-comet lg:w-2/3 lg:mx-auto lg:mt-3">
                Drop us an email at <a class="underline cursor-pointer"
                                       href="mailto:{{ shop.email }}">{{ shop.email }}</a>
                and we'll respond in 24-48 hours.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% schema %}
{
  "name": "Contact Us 1.0",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Need help deciding?"
    }
  ]
}
{% endschema %}
