<link rel="stylesheet" href="{{ 'contact-us.css' | asset_url }}"/>

<section id="contact-us-section" class="section-container">
    <div class="section-chassis page-boundary">

        <div class="left-circle section-ornament"></div>
        <div class="right-circle section-ornament"></div>

        {% render 'section-header' %}

        <div class="section-body">
            <div class="contact-line">
                <div class="contact-line__media">
                    <svg xmlns="http://www.w3.org/2000/svg" width="49" height="48" viewBox="0 0 49 48" fill="none">
                        <g clip-path="url(#clip0_344_3005)">
                            <path
                                d="M24.5001 46.933C37.1237 46.933 47.3572 36.6996 47.3572 24.0759C47.3572 11.4523 37.1237 1.21875 24.5001 1.21875C11.8765 1.21875 1.64294 11.4523 1.64294 24.0759C1.64294 36.6996 11.8765 46.933 24.5001 46.933Z"
                                stroke="#FF8900" stroke-width="1.5" stroke-miterlimit="10"/>
                            <path
                                d="M24.5 25.9806C28.7079 25.9806 32.1191 22.5695 32.1191 18.3616C32.1191 14.1538 28.7079 10.7426 24.5 10.7426C20.2922 10.7426 16.881 14.1538 16.881 18.3616C16.881 22.5695 20.2922 25.9806 24.5 25.9806Z"
                                stroke="#FF8900" stroke-width="1.5" stroke-miterlimit="10"/>
                            <path
                                d="M6.21436 37.7902C10.3843 33.1639 17.0235 30.1711 24.5001 30.1711C31.9766 30.1711 38.6166 33.1631 42.7858 37.7902"
                                stroke="#FF8900" stroke-width="1.5" stroke-miterlimit="10"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_344_3005">
                                <rect width="47.2381" height="48" fill="white" transform="translate(0.880981)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div>
                    <h3 class="text-md">Chat With Us</h3>
                    <p class="text-comet live-chat cursor-pointer">
                        <span class="underline">Ask away</span>—we're here to answer all things sleep.
                    </p>
                </div>
            </div>
            {% comment %}<div class="contact-line">{% endcomment %}
                {% comment %}<div class="contact-line__media">{% endcomment %}
                    {% comment %}<svg xmlns="http://www.w3.org/2000/svg" width="49" height="48" viewBox="0 0 49 48" fill="none">{% endcomment %}
                        {% comment %}<g clip-path="url(#clip0_344_3013)">{% endcomment %}
                            {% comment %}<path d="M24.5001 46.933C37.1237 46.933 47.3572 36.6996 47.3572 24.0759C47.3572 11.4523 37.1237 1.21875 24.5001 1.21875C11.8765 1.21875 1.64294 11.4523 1.64294 24.0759C1.64294 36.6996 11.8765 46.933 24.5001 46.933Z" stroke="#FF8900" stroke-width="1.5" stroke-miterlimit="10"/>{% endcomment %}
                            {% comment %}<path d="M33.6886 28.2382L30.4559 27.8694C30.0747 27.8259 29.6886 27.8689 29.3263 27.9953C28.9641 28.1217 28.6351 28.3281 28.3637 28.5993L26.2783 30.6846C26.2055 30.7578 26.1113 30.8058 26.0092 30.8216C25.9073 30.8373 25.8029 30.82 25.7115 30.7723C22.3475 28.9817 19.5942 26.2283 17.8037 22.8645C17.756 22.7732 17.7387 22.669 17.7543 22.5672C17.7699 22.4654 17.8176 22.3712 17.8905 22.2984L19.9911 20.1978C20.2622 19.9268 20.4686 19.5979 20.5947 19.2359C20.7209 18.8738 20.7634 18.488 20.7195 18.1071L20.3507 14.9003C20.2783 14.2795 19.9804 13.707 19.5134 13.2915C19.0465 12.8761 18.4431 12.6469 17.8182 12.6473H15.6162C15.2657 12.6487 14.9192 12.7221 14.5982 12.8632C14.2773 13.0041 13.9888 13.2097 13.7506 13.4669C13.5126 13.7242 13.3299 14.0277 13.2141 14.3585C13.0983 14.6894 13.0518 15.0406 13.0776 15.3902C13.4322 20.6063 15.6647 25.5174 19.3616 29.2143C23.0585 32.9112 27.9695 35.1437 33.1858 35.4984C33.5353 35.5241 33.8865 35.4776 34.2174 35.3618C34.5482 35.246 34.8518 35.0634 35.109 34.8252C35.3663 34.5871 35.5718 34.2987 35.7128 33.9777C35.8538 33.6568 35.9273 33.3102 35.9286 32.9597V30.7578C35.9319 30.1355 35.705 29.5338 35.2915 29.0686C34.878 28.6035 34.3071 28.3077 33.6886 28.2382Z" stroke="#FF8900" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>{% endcomment %}
                        {% comment %}</g>{% endcomment %}
                        {% comment %}<defs>{% endcomment %}
                            {% comment %}<clipPath id="clip0_344_3013">{% endcomment %}
                                {% comment %}<rect width="47.2381" height="48" fill="white" transform="translate(0.880981)"/>{% endcomment %}
                            {% comment %}</clipPath>{% endcomment %}
                        {% comment %}</defs>{% endcomment %}
                    {% comment %}</svg>{% endcomment %}
                {% comment %}</div>{% endcomment %}
                {% comment %}<div>{% endcomment %}
                    {% comment %}<h3 class="text-md">Call us</h3>{% endcomment %}
                    {% comment %}<div>{% endcomment %}
                        {% comment %}<p class="text-comet mb-2">We'd love to hear from you. Call{% endcomment %}
                            {% comment %}<a class="underline cursor-pointer" href="tel:+1 647 699 2977">1 (647) 699 2977</a>{% endcomment %}
                        {% comment %}</p>{% endcomment %}
                        {% comment %}<p class="text-comet italic">{{ settings.availability_schedule }}</p>{% endcomment %}
                    {% comment %}</div>{% endcomment %}
                {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
            <div class="contact-line">
                <div class="contact-line__media">
                    <svg xmlns="http://www.w3.org/2000/svg" width="49" height="48" viewBox="0 0 49 48" fill="none">
                        <g clip-path="url(#clip0_344_3021)">
                            <path d="M24.4995 46.933C37.1232 46.933 47.3566 36.6996 47.3566 24.0759C47.3566 11.4523 37.1232 1.21875 24.4995 1.21875C11.8758 1.21875 1.64233 11.4523 1.64233 24.0759C1.64233 36.6996 11.8758 46.933 24.4995 46.933Z" stroke="#FF8900" stroke-width="1.5" stroke-miterlimit="10"/>
                            <path d="M13.071 16.4807L24.4996 23.6952L35.9282 16.4807" stroke="#FF8900" stroke-width="1.5" stroke-miterlimit="10"/>
                            <path d="M34.0234 14.933H14.9758C13.9238 14.933 13.071 15.7858 13.071 16.8378V31.314C13.071 32.3659 13.9238 33.2187 14.9758 33.2187H34.0234C35.0754 33.2187 35.9282 32.3659 35.9282 31.314V16.8378C35.9282 15.7858 35.0754 14.933 34.0234 14.933Z" stroke="#FF8900" stroke-width="1.5" stroke-miterlimit="10"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_344_3021">
                                <rect width="47.2381" height="48" fill="white" transform="translate(0.880859)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div>
                    <h3 class="text-md">Email us</h3>
                    <p class="text-comet">
                        Drop us an email at <a class="underline cursor-pointer"
                                      href="mailto:{{ shop.email }}">{{ shop.email }}</a>
                        and we'll respond in 24-48 hours.</p>
                </div>
            </div>
        </div>

        <div class="section-ribbon">
            <img class="lazyload cover-surface" data-src="{{ 'Smile.png' | file_img_url: '996x506' }}" width="996"
                 height="506" alt="">
        </div>
    </div>

    <script type="quickscript" loading="visibility" src="{{ 'contact-us.js' | asset_url }}"></script>
</section>


{% schema %}
{
  "name": "Contact Us 2.0",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Need help deciding?"
    }
  ]
}
{% endschema %}
