{% assign props = section.settings %}
{% assign wallpaper = props.wallpaper %}

<section class="content-section content-layout section-container"
         style="--aspect-ratio: {{ props.aspect_ratio | default: 1 }}">
    <div class="page-boundary">
        <div class="one-column-layout">
            {% if wallpaper != blank %}
                <div class="content-wallpaper">
                    <picture-tag
                        :src="{{ wallpaper | image_url: width: 1440 }}"
                        :placeholderWidth="500"
                        :fit="cover"
                    >
                    </picture-tag>
                </div>
            {% endif %}
            <div class="content-column">
                <h2 class="heading-2">{{ props.heading }}</h2>
                <p class="lead-statement">
                    {{ props.content | remove: "<p>" | remove: "</p>" }}
                </p>

                {% if props.cta_url != blank %}
                    <a class="btn" href="{{ props.cta_url }}">
                        {{ props.cta_text }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Content Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    },
    {
      "id": "wallpaper",
      "type": "image_picker",
      "label": "Wallpaper Source"
    },
    {
      "id": "aspect_ratio",
      "type": "text",
      "label": "Aspect Ratio"
    },
    {
      "id": "cta_url",
      "type": "url",
      "label": "Button Url"
    },
    {
      "id": "cta_text",
      "type": "text",
      "label": "Button Text"
    }
  ]
}
{% endschema %}
