<style>

</style>

<link rel="quickscript" loading="delayed" href="{{ 'featured-products.css' | asset_url }}">

{% assign productBlocks = section.blocks | where: "type", "product-block" %}
{% assign imageBlocks = section.blocks | where: "type", "image-block" %}
{% assign exploreBtns = section.blocks | where: "type", "explore-button" %}

{% liquid

  assign compareTrackId = "Comapre_All"
  assign quizzTrackId = "Quizz"
  assign postfix = ""

  if template == 'index'
    assign postfix = "HP"
  elsif template == "page.sale"
    assign postfix = "SP"
  elsif template contains "collection"
    assign postfix = "CP"
  else
    assign postfix = product.metafields.accentuate.track_postfix
  endif

  if postfix != blank
    assign compareTrackId = compareTrackId | append: "_" | append: postfix
    assign quizzTrackId = quizzTrackId | append: "_" | append: postfix
  endif
%}

<section id="featured-products-section" class="section-container">
  <div class="section-chassis page-boundary">
    <div class="flex justify-between items-center">
      <div class="flex flex-1 flex-col items-{{ section.settings.heading_alignment }}">
        <div class="text-comet text-left solid text-[16px] text-[#2E2F3C]">
          {% render 'rtf-viewer', content: section.settings.subtitle %}
        </div>
        <h2 class="text-xl md:text-xxl text-left text-charade font-semibold">
          <span class="hidden md:inline">{{ section.settings.title }}</span>
          <span class="md:hidden">{{ section.settings.mobile_title }}</span>
        </h2>
      </div>


      <div class="flex flex-col gap-2">
        <tracked-button
          :trackId="{{ compareTrackId }}" href="/pages/comparison"
          class="font-inter text-[16px] font-bold rounded-full border border-{#2E2F3C} text-center hidden md:block sec_btn"
        >
          Compare all mattresses
        </tracked-button>

        <tracked-button
          :trackId="{{ quizzTrackId }}" href="/pages/product-quizz"
          class="font-inter text-[16px] font-bold rounded-full border border-{#2E2F3C} text-center hidden md:block sec_btn"
        >
          Find your perfect match
        </tracked-button>
      </div>

    </div>

    <div class="hidden md:flex md:justify-center md:gap-5 desktop_view">
      {%- for block in productBlocks -%}
        {% assign product = block.settings.product %}
        <a href="{{ product.url }}">
          <div
            class="w-full h-full flex flex-col md:max-w-[422px] text-center featured_card"
            style="background-color:  var(--product-card-bg)"
          >

            <div
              style="border-color:  var(--product-card-bg)"
              class="rounded-[6px] border flex flex-col h-full"
            >
              <div class="flex justify-between p-4 gap-5 hidden">
                <div>

                  {% if template.name == 'product' and request.path contains product.handle %}
                    <p class="text-[13px] text-[#FF8900]">👁 Currently Viewing</p>
                  {% endif %}
                </div>
                <img
                  class="lazyload -mt-[7px] h-max hidden" width="55px"
                  data-src="{{ block.settings.mattress_height | img_url: 'master' }}" alt=""
                />
              </div>
              <div class="product_badge">
                <p
                  style="background-color: {{ block.settings.color }};"
                  class="h-max rounded px-2 py-1 text-[12px] font-semibold uppercase leading-none text-white"
                >{{ block.settings.secondary_badge }}</p>
              </div>
              <div class="mb-6 h-[185px] ">

                <img
                  style="aspect-ratio: 800 / 450;"
                  class="mx-auto h-full object-contain lazyload"
                  data-src="{{ block.settings.image | image_url: width: 800 }}" width="350"
                  height="179"
                />
              </div>

              <h3 class="px-4 text-[20px] font-semibold font-inter mt-2 mb-3">{{ block.settings.product_title }}</h3>

              <div class="featured_card__attributes px-4 shopify-richtext mb-3">{{ block.settings.desc }}</div>

              {% if section.settings.show_first_meter or section.settings.show_second_meter or section.settings.show_third_meter %}
                <div class="mb-0 px-4">
                  <div class="text-left comfort_block py-2">
                    <div>
                      {% if section.settings.show_first_meter %}
                        <p class="mb-1 text-[14px] font-semibold">{{ section.settings.first_meter_title }}</p>
                        <div
                          style="grid-template-columns: repeat(8, 1fr);"
                          class="mb-2 grid gap-[6px]"
                        >
                          {% for i in (1..8) %}
                            {% if i <= block.settings.comfort_meter %}
                              <div class="h-3 rounded-xl bg-[#3C4196]">&nbsp;</div>
                            {% else %}
                              <div class="h-3 rounded-xl bg-[#D2D3DD]">&nbsp;</div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}

                      {% if section.settings.show_second_meter %}
                        <p class="mb-1 text-[14px] font-semibold">{{ section.settings.second_meter_title }}</p>
                        <div
                          style="grid-template-columns: repeat(8, 1fr);"
                          class="mb-2 grid gap-[6px]"
                        >
                          {% for i in (1..8) %}
                            {% if i <= block.settings.cooling_meter %}
                              <div class="h-3 rounded-xl bg-[#3C4196]">&nbsp;</div>
                            {% else %}
                              <div class="h-3 rounded-xl bg-[#D2D3DD]">&nbsp;</div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}

                      {% if section.settings.show_third_meter %}
                        <p class="mb-1 text-[14px] font-semibold">{{ section.settings.third_meter_title }}</p>
                        <div
                          style="grid-template-columns: repeat(8, 1fr);"
                          class="grid gap-[6px]"
                        >
                          {% for i in (1..8) %}
                            {% if i <= block.settings.motion_isolation_meter %}
                              <div class="h-3 rounded-xl bg-[#3C4196]">&nbsp;</div>
                            {% else %}
                              <div class="h-3 rounded-xl bg-[#D2D3DD]">&nbsp;</div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}

              <div class="product_card_foot flex flex-1 items-end">
                <div class="p-4 flex-1	">
                  <p
                    class="mb-4 inline-block rounded-full border border-[#3c4196d1] bg-[#b1b8fd66]  px-2 py-1 text-[13px] leading-none hidden"
                  >
                    <span>{{ block.settings.discount_title }} -</span>
                    <span class="font-semibold"> {{ block.settings.discount_amount }}%</span>
                  </p>

                  <div class="flex items-center justify-between gap-2 flex-col">
                    <div>
                      <div class=" text-[#55576F]" style="font-size:12px">
                        {% if product.compare_at_price > product.price %}
                          From
                        {% endif %}
                        <span class="line-through">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                      </div>
                      <div class="flex items-center flex-wrap gap-2 mb-2">
                        {% if product.compare_at_price > product.price %}
                          <p class="font-semibold mr-1">{{ product.price | money_without_trailing_zeros }}</p>
                          <p
                            class="line-through  hidden"
                          >{{ product.compare_at_price | money_without_trailing_zeros }}</p>
                        {% else %}
                          <p class="font-semibold"> {{ product.price | money_without_trailing_zeros }}</p>
                        {% endif %}
                        {% if product.compare_at_price > product.price %}
                          <span
                            class="font-semibold"
                            style="color:#F03306"
                          >{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: '.0' }}% off </span>

                        {% endif %}

                      </div>
                    </div>

                    {% liquid
                      assign codename = product.metafields.accentuate.codename
                      assign trackId = "Compare"

                      if codename != blank
                        assign trackId = trackId | prepend: "_" | prepend: codename
                      endif

                      if postfix != blank
                        assign trackId = trackId | append: "_" | append: postfix
                      endif

                    %}

                    <tracked-button
                      :trackId="{{ trackId }}"
                      class="btn testing w-{100%}" href="{{ product.url }}"
                      rel="noreferrer"
                    >Shop
                     Now
                    </tracked-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      {%- endfor -%}

      {%- for block in imageBlocks -%}
        <div class="w-full flex flex-col md:max-w-[422px]">
          <a href="{{ block.settings.f-url }}" class="image_block">
            <img src="{{ block.settings.f-image | image_url: width: 800 }}" />
            <div class="block_content">
              <strong class="text-md font-inter font-semibold">{{ block.settings.f-title }}</strong>
              <p class="font-sm font-inter font-semibold"> {{ block.settings.f-para }}</p>
              <img src="{{ 'round-arrow.svg' | asset_url }}" class="arrow-ico" />
            </div>
          </a>
        </div>
      {%- endfor -%}
    </div>

    <div class="splide md:hidden mobile_view">
      {% include 'splide-arrows' %}

      <div class="splide__track">
        <ul class="splide__list">
          {%- for block in productBlocks -%}
            {% assign product = block.settings.product %}
            <li class="splide__slide">
              <a href="{{ product.url }}">
                <div
                  class="w-full h-full flex flex-col max-w-[320px] text-center featured_card"
                  style="background-color:  var(--product-card-bg)"
                >

                  <div
                    style="border-color:  var(--product-card-bg)"
                    class="rounded-[6px] border flex flex-col h-full"
                  >
                    <div class="flex justify-between p-4 gap-5 hidden">
                      <div>

                        {% if template.name == 'product' and request.path contains product.handle %}
                          <p class="text-[13px] text-[#FF8900]">👁 Currently Viewing</p>
                        {% endif %}
                      </div>
                      <img
                        class="lazyload -mt-[7px] h-max hidden" width="55px"
                        data-src="{{ block.settings.mattress_height | img_url: 'master' }}"
                        alt=""
                      />
                    </div>
                    <div class="product_badge">
                      <p
                        style="background-color: {{ block.settings.color }};"
                        class="h-max rounded px-2 py-1 text-[12px] font-semibold uppercase leading-none text-white"
                      >{{ block.settings.secondary_badge }}</p>
                    </div>
                    <div class="product-image">
                      <img
                        class="mx-auto h-full object-contain lazyload"
                        data-src="{{ block.settings.image | image_url: width: 800 }}"
                        width="350"
                        height="179"
                      />
                    </div>

                    <h3
                      class="px-4 text-[20px] font-semibold font-inter mt-2 mb-3"
                    >{{ block.settings.product_title }}</h3>

                    <div class="featured_card__attributes px-4 shopify-richtext mb-3">{{ block.settings.desc }}</div>

                    {% if section.settings.show_first_meter or section.settings.show_second_meter or section.settings.show_third_meter %}
                      <div class="mb-0 px-4">
                        <div class="text-left comfort_block py-2">
                          <div>
                            {% if section.settings.show_first_meter %}
                              <p class="mb-1 text-[14px] font-semibold">{{ section.settings.first_meter_title }}</p>
                              <div
                                style="grid-template-columns: repeat(8, 1fr);"
                                class="mb-2 grid gap-[6px]"
                              >
                                {% for i in (1..8) %}
                                  {% if i <= block.settings.comfort_meter %}
                                    <div class="h-3 rounded-xl bg-[#3C4196]">
                                      &nbsp;
                                    </div>
                                  {% else %}
                                    <div class="h-3 rounded-xl bg-[#D2D3DD]">
                                      &nbsp;
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            {% endif %}

                            {% if section.settings.show_second_meter %}
                              <p class="mb-1 text-[14px] font-semibold">{{ section.settings.second_meter_title }}</p>
                              <div
                                style="grid-template-columns: repeat(8, 1fr);"
                                class="mb-2 grid gap-[6px]"
                              >
                                {% for i in (1..8) %}
                                  {% if i <= block.settings.cooling_meter %}
                                    <div class="h-3 rounded-xl bg-[#3C4196]">
                                      &nbsp;
                                    </div>
                                  {% else %}
                                    <div class="h-3 rounded-xl bg-[#D2D3DD]">
                                      &nbsp;
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            {% endif %}

                            {% if section.settings.show_third_meter %}
                              <p class="mb-1 text-[14px] font-semibold">{{ section.settings.third_meter_title }}</p>
                              <div
                                style="grid-template-columns: repeat(8, 1fr);"
                                class="grid gap-[6px]"
                              >
                                {% for i in (1..8) %}
                                  {% if i <= block.settings.motion_isolation_meter %}
                                    <div class="h-3 rounded-xl bg-[#3C4196]">
                                      &nbsp;
                                    </div>
                                  {% else %}
                                    <div class="h-3 rounded-xl bg-[#D2D3DD]">
                                      &nbsp;
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endif %}

                    <div class="product_card_foot">
                      <div class="p-4">
                        <p
                          class="mb-4 inline-block rounded-full border border-[#F4711E66] bg-[#FDB14766] px-2 py-1 text-[13px] leading-none hidden"
                        >
                          <span>{{ block.settings.discount_title }} -</span>
                          <span class="font-semibold"> {{ block.settings.discount_amount }}%</span>
                        </p>

                        <div class="flex items-center justify-between gap-2 flex-col">
                          <div>
                            <div class=" text-[#55576F]" style="font-size:12px">
                              {% if product.compare_at_price > product.price %}
                                From
                              {% endif %}

                              <span
                                class="line-through"
                              >{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                            </div>
                            <div class="flex items-center flex-wrap gap-2 mb-2">
                              {% if product.compare_at_price > product.price %}
                                <p class="font-semibold mr-1">{{ product.price | money_without_trailing_zeros }}</p>
                                <p
                                  class="line-through  hidden"
                                >{{ product.compare_at_price | money_without_trailing_zeros }}</p>
                              {% else %}
                                <p class="font-semibold"> {{ product.price | money_without_trailing_zeros }}</p>
                              {% endif %}

                              {% if product.compare_at_price > product.price %}
                                <span
                                  class="font-semibold"
                                  style="color:#F03306"
                                >{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: '.0' }}% off </span>
                              {% endif %}

                            </div>
                          </div>

                          {% liquid
                            assign codename = product.metafields.accentuate.codename
                            assign trackId = "Compare"

                            if codename != blank
                              assign trackId = trackId | prepend: "_" | prepend: codename
                            endif

                            if postfix != blank
                              assign trackId = trackId | append: "_" | append: postfix
                            endif
                          %}

                          <tracked-button
                            :trackId="{{ trackId }}"
                            class="btn testing w-{100%}"
                            href="{{ product.url }}"
                            rel="noreferrer"
                          >Shop Now
                          </tracked-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </li>

          {%- endfor -%}

          {%- for block in imageBlocks -%}
            <li class="splide__slide">
              <div class="w-full flex flex-col max-w-[320px]">
                <a href="{{ block.settings.f-url }}" class="image_block">
                  <img src="{{ block.settings.f-image | image_url: width: 800 }}">
                  <div class="block_content">
                    <strong>{{ block.settings.f-title }}</strong>
                    <p class="font-sm font-inter font-semibold"> {{ block.settings.f-para }}</p>
                    <img src="{{ 'round-arrow.svg' | asset_url }}" class="arrow-ico" />
                  </div>
                </a>

              </div>
            </li>
          {%- endfor -%}

        </ul>
      </div>
    </div>

    <div class="flex flex-col gap-2 items-center md:hidden">
      <tracked-button
        :trackId="{{ compareTrackId }}" href="/pages/comparison"
        class="font-inter text-[16px] font-bold rounded-full border border-{#2E2F3C} text-center sec_btn"
      >
        Compare all mattresses
      </tracked-button>

      <tracked-button
        :trackId="{{ quizzTrackId }}" href="/pages/product-quizz"
        class="font-inter text-[16px] font-bold rounded-full border border-{#2E2F3C} text-center sec_btn"
      >
        Find your perfect match
      </tracked-button>
    </div>
  </div>

  <script type="quickscript" loading="visibility" src="{{ 'featured-products.js' | asset_url }}"></script>
</section>

{% schema %}
{
  "name": "Featured Products",
  "blocks": [
    {
      "type": "product-block",
      "name": "Product Block",
      "settings": [
        {
          "id": "product",
          "type": "product",
          "label": "Product"
        },
        {
          "id": "show_star_rating",
          "type": "checkbox",
          "label": "Show Star Rating",
          "default": true
        },
        {
          "id": "color",
          "type": "color",
          "label": "Color"
        },
        {
          "id": "primary_badge",
          "type": "text",
          "label": "Primary Badge"
        },
        {
          "id": "secondary_badge",
          "type": "text",
          "label": "Secondary Badge"
        },
        {
          "id": "mattress_height",
          "type": "image_picker",
          "label": "Mattress Height"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Block Image"
        },
        {
          "id": "product_title",
          "type": "text",
          "label": "Product Title"
        },
        {
          "id": "desc",
          "type": "richtext",
          "label": "Block Description"
        },
        {
          "id": "discount_title",
          "type": "text",
          "label": "Discount Title"
        },
        {
          "type": "range",
          "id": "comfort_meter",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "Comfort Meter",
          "default": 8
        },
        {
          "type": "range",
          "id": "cooling_meter",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "Cooling Meter",
          "default": 8
        },
        {
          "type": "range",
          "id": "motion_isolation_meter",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "Motion Isolation Meter",
          "default": 8
        },
        {
          "type": "text",
          "id": "trackId",
          "label": "CTA Button Tracking Id"
        }
      ]
    },
    {
      "type": "image-block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "f-image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "f-title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "f-para",
          "label": "Description",
          "default": "<p>Add your description here</p>"
        },
        {
          "type": "url",
          "id": "f-url",
          "label": "link",
          "info": "Optional"
        }
      ]
    },
    {
      "type": "explore-button",
      "name": "Explore Button",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Button Url",
          "info": "Url"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Button Text",
          "info": "Link Text"
        },
        {
          "type": "text",
          "id": "trackId",
          "label": "Button Tracking Id"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "mobile_title",
      "type": "text",
      "label": "Mobile Title"
    },
    {
      "id": "subtitle",
      "type": "richtext",
      "label": "Subtitle",
      "default": "<p>Our sleep experts have mastered designing award-winning mattresses crafted to keep you relaxed and recharged, no matter what kind of sleeper you are. Climb on your best sleep yet!</p>"
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "id": "first_meter_title",
      "type": "text",
      "label": "First Meter Title",
      "default": "Comfort"
    },
    {
      "id": "show_first_meter",
      "type": "checkbox",
      "label": "Show First Meter?",
      "default": true
    },
    {
      "id": "second_meter_title",
      "type": "text",
      "label": "Second Meter Title",
      "default": "Cooling"
    },
    {
      "id": "show_second_meter",
      "type": "checkbox",
      "label": "Show Second Meter?",
      "default": true
    },
    {
      "id": "third_meter_title",
      "type": "text",
      "label": "Third  Meter Title",
      "default": "Motion Isolation"
    },
    {
      "id": "show_third_meter",
      "type": "checkbox",
      "label": "Show Third Meter?",
      "default": true
    },
    {
      "id": "show_secondary_badge",
      "type": "checkbox",
      "label": "Show Secondary Badge?",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
