{% assign heroSplits = section.blocks | where: 'type', 'hero-split' %}
{% assign heroSaleBadge = section.blocks | where: 'type', 'hero-sale-badge' %}

{{ 'hero-split.css' | asset_url | stylesheet_tag }}

<section id="hero-split-section" class="page-boundary">
  <div class="section-container {% if heroSplits.size == 1 %}single-mode{% endif %}">
    <div class="section-interior unintrusive-bg">
      <div class="section-frame">
        {% for block in heroSplits %}
          <div class="section-panel overlay-bg">
            <section class="hero-split" style="color: {{ block.settings.text_color }}">
              <div class="section-content">
                <div class="section-title relative">
                  <h2 class="heading-2">{{ block.settings.title | remove: '<p>' | remove: '</p>' }}</h2>
                  <span class="sale-badge">
                                    {% if block.settings.discount_badge %}
                                      {% render 'hero-sale-badge', settings: section.settings %}
                                    {% endif %}
                                </span>
                </div>
                <p class="sub-heading">{{ block.settings.subtitle | remove: '<p>' | remove: '</p>' }}</p>
                <div class="section-content__tagline">{{ block.settings.tagline }}</div>
              </div>
            </section>
          </div>
        {% endfor %}
      </div>
      <div class="section-frame hero-split-features">
        {% for block in heroSplits %}
          <div class="section-panel">
            {% if block.settings.timer %}
              <hero-banner-countdown-timer end-time="{{ block.settings.timer }}">
                <div class="countdown-timer" style="color: black;">
                  <div class="time-part">
                    <p class="digit"></p>
                    <p class="label">Days</p>
                  </div>
                  <div class="time-part">
                    <p class="digit"></p>
                    <p class="label">Hours</p>
                  </div>
                  <div class="time-part">
                    <p class="digit"></p>
                    <p class="label">Minutes</p>
                  </div>
                  <div class="time-part">
                    <p class="digit"></p>
                    <p class="label">Seconds</p>
                  </div>
                </div>
              </hero-banner-countdown-timer>
            {% endif %}
            
            {% if block.settings.cta_url != blank %}
              <div class="section-cta">
                <a class="btn btn--lg" href="{{ block.settings.cta_url }}">
                  {{ block.settings.cta_text }}
                </a>
                <p class="cta-subtext hero-split-subtext">{{ block.settings.cta_subtext }}</p>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="frame-foundation section-frame">
      {% for block in heroSplits %}
        {% assign wallpaper = block.settings.wallpaper %}
        <a href="{{ block.settings.cta_url }}" class="section-flooring">
          {% if wallpaper != blank %}
            {{
            wallpaper
            | image_url: width: 2680
            | image_tag: width: 2680, height: 640, class: 'mx-auto wallpaper', loading: 'eager'
            }}
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
  
  <div class="section-container--mobile {% if heroSplits.size == 1 %}single-mode{% endif %}">
    {% for block in heroSplits %}
      {% assign wallpaper = block.settings.wallpaper %}
      <div class="hero-split section-frame" style="color: {{ block.settings.text_color }}">
        <div class="section-interior unintrusive-bg">
          <div class="section-panel">
            <div class="section-content">
              <div class="section-title relative">
                <h2 class="heading-2">{{ block.settings.title | remove: '<p>' | remove: '</p>' }}</h2>
                <span class="sale-badge">
                                {% if block.settings.discount_badge %}
                                  {% render 'hero-sale-badge', settings: section.settings %}
                                {% endif %}
                              </span>
              </div>
              <p class="sub-heading">{{ block.settings.subtitle | remove: '<p>' | remove: '</p>' }}</p>
              <div class="section-content__tagline">{{ block.settings.tagline }}</div>
            </div>
            
            <div class="hero-split-features">
              {% if block.settings.timer %}
                <hero-banner-countdown-timer end-time="{{ block.settings.timer }}">
                  <div class="countdown-timer" style="color: black;">
                    <div class="time-part">
                      <p class="digit"></p>
                      <p class="label">Days</p>
                    </div>
                    <div class="time-part">
                      <p class="digit"></p>
                      <p class="label">Hours</p>
                    </div>
                    <div class="time-part">
                      <p class="digit"></p>
                      <p class="label">Minutes</p>
                    </div>
                    <div class="time-part">
                      <p class="digit"></p>
                      <p class="label">Seconds</p>
                    </div>
                  </div>
                </hero-banner-countdown-timer>
              {% endif %}
              
              {% if block.settings.cta_url != blank %}
                <div class="section-cta">
                  <a class="btn btn--lg" href="{{ block.settings.cta_url }}">
                    {{ block.settings.cta_text }}
                  </a>
                  <p class="cta-subtext hero-split-subtext">{{ block.settings.cta_subtext }}</p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        
        <div class="frame-foundation">
          {% if wallpaper != blank %}
            <a href="{{ block.settings.cta_url }}" class="section-flooring">
              {{
              wallpaper
              | image_url: width: 2680
              | image_tag: width: 2680, height: 640, class: 'mx-auto wallpaper', loading: 'eager'
              }}
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

</section>


{% schema %}
{
  "name": "Hero Split",
  "blocks": [
    {
      "type": "hero-split",
      "name": "Hero Split",
      "limit": 2,
      "settings": [
        {
          "id": "wallpaper",
          "type": "image_picker",
          "label": "Wallpaper"
        },
        {
          "id": "title",
          "type": "richtext",
          "label": "Title",
          "default": "<p>Hit snooze! Sleep is about to get <i>wayyy better.</i></p>"
        },
        {
          "id": "subtitle",
          "type": "richtext",
          "label": "Subtitle"
        },
        {
          "id": "tagline",
          "type": "richtext",
          "label": "Tagline"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "id": "cta_url",
          "type": "url",
          "label": "CTA Url"
        },
        {
          "id": "cta_text",
          "type": "text",
          "label": "CTA Text"
        },
        {
          "id": "cta_subtext",
          "type": "richtext",
          "label": "CTA Subtext"
        },
        {
          "type": "text",
          "id": "timer",
          "label": "Countdown Timer",
          "info": "Please follow format: YYYY-MM-DD HH:mm"
        },
        {
          "type": "checkbox",
          "id": "discount_badge",
          "label": "Display Discount Badge"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "discount-percentage",
      "type": "text",
      "label": "Discount Percentage",
      "default": "<p>-50%</p>"
    },
    {
      "id": "product_includes",
      "type": "textarea",
      "label": "Product Includes",
      "default": "2 pillows +</\br>1 mattress"
    },
    {
      "type": "color",
      "id": "badge_color",
      "label": "Badge Color",
      "default": "#ff8900"
    },
    {
      "type": "checkbox",
      "id": "match_cta_offset_top",
      "label": "Match CTA Buttons Offset Top",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Hero Split"
    }
  ]
}
{% endschema %}
