{% assign heroSplit = section.settings %}

{% style %}

  html[lang='en'] #hero-split-v2-section-{{ section.id }} picture[lang='en'],
  html[lang='fr'] #hero-split-v2-section-{{ section.id }} picture[lang='fr'] {
        display: block;
    }

  #hero-split-v2-section-{{ section.id }} hero-banner-countdown-timer {
    max-width: 400px;
  }
  #hero-split-v2-section-{{ section.id }} hero-banner-countdown-timer .time-part{
    width: fit-content;
  }

#hero-split-v2-section-{{ section.id }} .heading-2 {
  font-size: {{ section.settings.mobile_title_size }}px;
  line-height: 125%;
}



#hero-split-v2-section-{{ section.id }} .sub-heading {
  font-size: {{ section.settings.mobile_subTitle_font_size }}px ;
}


#hero-split-v2-section-{{ section.id }} .caption {
  font-size: {{ section.settings.caption_font_size }}px !important;
}

#hero-split-v2-section-{{ section.id }} .custom-child-video .heading-2 {
  font-size: {{ section.settings.mobile_title_size_video }}px;
}
#hero-split-v2-section-{{ section.id }} .custom-child-video .sub-heading {
    font-size: {{ section.settings.mobile_subTitle_font_size_video }}px;
  }

#hero-split-v2-section-{{ section.id }} .custom-child-video .caption {
  font-size: {{ section.settings.caption_font_size_video }}px !important;
}

#hero-split-v2-section-{{ section.id }} .mobile-height {
  height: {{ heroSplit.wallpaper_desktop_height }}px;
  min-height: 250px;
}
{% if heroSplit.cta_video_color != "none" %}
#hero-split-v2-section-{{ section.id }} .custom-child-video .custom-btn {
  background-color: {{ heroSplit.cta_video_color }};
  {% if heroSplit.cta_video_color == "#403833" %}
    color: white;
  {% endif %}
} 
{% endif %}
{% if heroSplit.cta_image_color != "none" %}
#hero-split-v2-section-{{ section.id }} .custom-btn.custom-color-btn {
  background-color: {{ heroSplit.cta_image_color }};
  {% if heroSplit.cta_image_color == "#403833" %}
    color: white;
  {% endif %}
} 
{% endif %}
/* ========== Countdown timer ========== */
#hero-split-v2-section-{{ section.id }} .countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

#hero-split-v2-section-{{ section.id }} .time-part {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  column-gap: 2px;
}

#hero-split-v2-section-{{ section.id }} .time-part .digit {
  font-size: 14px;
  font-weight: 600;
  line-height: 125%;
}

#hero-split-v2-section-{{ section.id }} .time-part .label {
  font-size: 14px;
  font-weight: 600;
}

/* ========== Height on Mobile ========== */
@media screen and (max-width: 768px) {
  #hero-split-v2-section-{{ section.id }} .custom-child-video {
    height: {{ heroSplit.video_mobile_height }}px !important;
  }

  #hero-split-v2-section-{{ section.id }} .mobile-height {
    height: {{ heroSplit.wallpaper_mobile_height }}px;
  }

  #hero-split-v2-section-{{ section.id }} .custom-child-video-mb {
    height: 375px;
  }
}

/* ========== Desktop ========== */
@media screen and (min-width: 768px) {

  #hero-split-v2-section-{{ section.id }} .heading-2 {
    font-size: {{ section.settings.title_font_size }}px;
  }

  #hero-split-v2-section-{{ section.id }} .sub-heading {
  font-size: {{ section.settings.subTitle_font_size }}px ;
  line-height: 125%;
}

  #hero-split-v2-section-{{ section.id }} .custom-child-video {
    height: {{ heroSplit.video_desktop_height }}px !important;
  }

  #hero-split-v2-section-{{ section.id }} .custom-child-video .heading-2 {
    font-size: {{ section.settings.title_font_size_video }}px;
  }

  #hero-split-v2-section-{{ section.id }} .custom-child-video .sub-heading {
    font-size: {{ section.settings.subTitle_font_size_video }}px;
  }


#hero-split-v2-section-{{ section.id }} .countdown-timer {
  gap: 4px;
}

  #hero-split-v2-section-{{ section.id }} .time-part .digit {
  font-size: 16px;
 
}

#hero-split-v2-section-{{ section.id }} .time-part .label {
  font-size: 16px;
}

}

{% endstyle %}

<div
  id="hero-split-v2-section-{{ section.id }}"
  class=" {% if heroSplit.wallpaper_hero_banner_width == "full" %} w-max-unset w-full p-0 {% else %} page-boundary {% endif %} "
>
  <div class="rounded-2xl md:rounded-[8px] p-0 relative !flex flex-col items-center justify-center color-{{ heroSplit.color_scheme }}">
    <div class="h-full w-full">
      <div class="flex flex-col md:flex-row w-full custom-child-video-height {% if heroSplit.content_arrangement != "video" %} md:flex-row-reverse {% endif %}">
        {% if heroSplit.hero_video != blank %}
          <div class="custom-child  relative overflow-hidden 
          {% if heroSplit.wallpaper_desktop_hero_banner != blank %} 
          custom-child-video-mb md:w-1/2 w-full custom-child-video
          {% else %} 
          w-full 
          {% endif %}">

            <div
              class="
                z-10 {% if heroSplit.overlay_video %} bg-[linear-gradient(0deg,rgba(0,0,0,0)_25%,rgba(0,0,0,0.75)_100%)] {% endif %} absolute unintrusive-bg gap-2 md:gap-4 top-0 transform {% if heroSplit.content_arrangement == "video" %} right-0 {% else %} left-0 {% endif %} w-full {% if heroSplit.alignment == "center" %} items-center {% elsif heroSplit.alignment == "right" %} items-center md:items-start md:pr-[4%] lg:pr-[8%] {% else %} {% endif %}
                pt-[30px] md:pt-[50px] justify-start items-center {% if heroSplit.wallpaper_desktop_hero_banner != blank %} md:items-start md:pl-[30px] lg:pl-[50px] {% else %} md:items-center {% endif %} px-4 py-6  h-full flex flex-col
              "
            >
              <div class="hero-split-v2-features">
                <div class="flex flex-col w-fit">
                  {% if heroSplit.timer_label_video != blank %}
                    <p class="custom-text-color mb-4 text-[14px] {% if heroSplit.wallpaper_desktop_hero_banner != blank %} text-left {% else %} text-left {% endif %}">
                      {{ heroSplit.timer_label_video }}
                    </p>
                  {% endif %}
                  {% if heroSplit.timer_video != blank %}
                    <hero-banner-countdown-timer style="display: none;" end-time="{{ heroSplit.timer_video }}">
                      <div class="countdown-timer w-fit bg-white rounded-full pr-4 text-black font-bold">
                        <span class="px-[10px] py-[4px] bg-[#DA1F00] text-white rounded-full">
                          <p class="font-semibold">Sale</p>
                        </span>
                        <div class="time-part">
                          <p class="digit"></p>
                          <p class="label">days</p>
                        </div>
                        <div class="time-part">
                          <p class="digit"></p>
                          <p class="label">hours</p>
                        </div>
                        <div class="time-part">
                          <p class="digit"></p>
                          <p class="label">minutes</p>
                        </div>
                        <div class="time-part">
                          <p class="digit"></p>
                          <p class="label">seconds</p>
                        </div>
                      </div>
                    </hero-banner-countdown-timer>
                  {% endif %}
                </div>
              </div>
              <div class="overlay-bg">
                <div class="hero-split custom-text-color">
                  <div class="gap-2 section-content flex flex-col {% if heroSplit.wallpaper_desktop_hero_banner != blank %} md:items-start items-center {% else %} items-center {% endif %} justify-center">
                    {% if heroSplit.caption_text_video != blank %}
                      <div class="section-title relative rounded-full bg-[#da1f00] px-2 py-1">
                        <p class="text-center md:text-left  text-white caption ">
                          {{ heroSplit.caption_text_video | remove: '<p>' | remove: '</p>' }}
                        </p>
                      </div>
                    {% endif %}
                    <h2 class="text-center md:hidden heading-2 line-clamp-2">
                      {% if heroSplit.mb_title_video != blank %}
                        {{ heroSplit.mb_title_video }}
                      {% else %}
                        {{ heroSplit.title_video }}
                      {% endif %}
                    </h2>
                    <h2 class="hidden md:block text-left heading-2 line-clamp-2">
                      {{ heroSplit.title_video }}
                    </h2>
                    {% if heroSplit.subtitle_video != blank %}
                      <p class="sub-heading font-normal text-center md:text-left line-clamp-2">
                        {{ heroSplit.subtitle_video | remove: '<p>' | remove: '</p>' }}
                      </p>
                    {% endif %}
                    {% if heroSplit.cta_url_primary_video != blank or heroSplit.cta_url_second_video != blank %}
                      <div class="flex gap-2 md:mt-4 mt-2">
                        {% if heroSplit.cta_url_primary_video != blank %}
                          <a
                            class="btn custom-btn font-normal px-4 !py-2 md:px-unset md:py-unset"
                            href="{{ heroSplit.cta_url_primary_video }}"
                          >
                            {{- heroSplit.cta_primary_text_video -}}
                          </a>
                        {% endif %}
                        {% if heroSplit.cta_url_second_video != blank %}
                          <a
                            class="btn custom-subBtn font-normal"
                            href="{{ heroSplit.cta_url_second_video }}"
                          >
                            {{- heroSplit.cta_second_text_video -}}
                          </a>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            {% assign media = section.settings.hero_video %}
            {% assign poster = media | image_url: width: 550 | prepend: 'https:' %}
            <video
              class="min-h-[375px] w-full h-full object-cover lazy"
              playsinline
              autoplay
              loop
              muted
              poster="{{ poster }}"
            >
              {% for source in media.sources %}
                <source data-src="{{ source.url }}" type="{{ source.mime_type }}">
              {% endfor %}
            </video>

            <button
              class="!bg-transparent rounded-full right-[15px] bottom-[15px] w-[48px] h-[48px] absolute flex items-center justify-center z-10"
              data-video-control
            >
              <svg
                class="!bg-transparent play-icon rounded-full w-[48px] h-[48px] text-white"
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
              >
                <circle cx="24" cy="24" r="24" fill="white"/>
                <path d="M31.2783 21.865L22.165 16.3972C21.3047 15.8801 20.2676 15.8674 19.395 16.362C18.5215 16.8567 18 17.7512 18 18.7551V29.6906C18 30.6945 18.5215 31.5891 19.395 32.0832C19.8213 32.3254 20.2866 32.4455 20.751 32.4455C21.2383 32.4455 21.7246 32.3127 22.165 32.049L31.2793 26.5813C32.1142 26.0793 32.6132 25.1975 32.6132 24.2224C32.6123 23.2473 32.1142 22.3659 31.2783 21.865ZM30.5068 25.2951L21.3936 30.7619C21.0025 30.9992 20.5317 31.0022 20.1343 30.7785C19.7368 30.5529 19.5 30.1467 19.5 29.6906V18.7551C19.5 18.299 19.7368 17.8923 20.1343 17.6677C20.3281 17.5578 20.5396 17.5031 20.7505 17.5031C20.9722 17.5031 21.1929 17.5632 21.3936 17.6833L30.5068 23.1511C30.8867 23.3786 31.1133 23.7795 31.1133 24.2229C31.1133 24.6662 30.8867 25.0676 30.5068 25.2951Z" fill="#403833"/>
              </svg>
              <svg
                class="!bg-transparent pause-icon rounded-full w-[48px] h-[48px] text-white hidden"
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
              >
                <path d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24Z" fill="white"/>
                <path d="M20 15.25C18.4834 15.25 17.25 16.4834 17.25 18V30C17.25 31.5166 18.4834 32.75 20 32.75C21.5166 32.75 22.75 31.5166 22.75 30V18C22.75 16.4834 21.5166 15.25 20 15.25ZM21.25 30C21.25 30.6895 20.6895 31.25 20 31.25C19.3105 31.25 18.75 30.6895 18.75 30V18C18.75 17.3105 19.3105 16.75 20 16.75C20.6895 16.75 21.25 17.3105 21.25 18V30Z" fill="#2E2F3C"/>
                <path d="M28 15.25C26.4834 15.25 25.25 16.4834 25.25 18V30C25.25 31.5166 26.4834 32.75 28 32.75C29.5166 32.75 30.75 31.5166 30.75 30V18C30.75 16.4834 29.5166 15.25 28 15.25ZM29.25 30C29.25 30.6895 28.6895 31.25 28 31.25C27.3105 31.25 26.75 30.6895 26.75 30V18C26.75 17.3105 27.3105 16.75 28 16.75C28.6895 16.75 29.25 17.3105 29.25 18V30Z" fill="#2E2F3C"/>
              </svg>
            </button>
          </div>
        {% endif %}

        {% if heroSplit.wallpaper_desktop_hero_banner != blank %}
          {% assign position_classes = "" %}
          {% if heroSplit.alignment == "center" %}
            {% assign position_classes = "items-center" %}
          {% elsif heroSplit.alignment == "right" %}
            {% assign position_classes = "items-center md:items-end md:pr-[4%] lg:pr-[8%]" %}
          {% else %}
            {% assign position_classes = "items-center md:items-start md:pl-[30px] lg:pl-[50px]" %}
          {% endif %}

          {% assign justify_classes = "" %}
          {% if heroSplit.position_alignment == "middle" %}
            {% assign justify_classes = "justify-center" %}
          {% elsif heroSplit.position_alignment == "top" %}
            {% assign justify_classes = "justify-start pt-[30px] md:pt-[50px]" %}
          {% else %}
            {% assign justify_classes = "justify-end pb-[30px] md:pb-[50px]" %}
          {% endif %}

          {% assign overlay_classes = "" %}
          {% if heroSplit.overlay_image %}
            {% assign overlay_classes = "bg-[linear-gradient(180deg,rgba(0,0,0,0)_25%,rgba(0,0,0,0.75)_100%)]" %}
          {% endif %}
          <div class="custom-child relative overflow-hidden mobile-height w-full {% if heroSplit.hero_video != blank %} md:w-1/2 {% endif %}">
            <div class="z-10 absolute unintrusive-bg gap-4 top-0 transform
              {% if heroSplit.content_arrangement == "video" %} right-0 {% else %} left-0 {% endif %}
              w-full
              {{ position_classes }}
              {{ justify_classes }}
              {{ overlay_classes }}
              px-4 py-6 h-full flex flex-col">
              <div class="hero-split-v2-features">
                <div class="flex flex-col w-fit">
                  {% if heroSplit.timer_label != blank %}
                    <p class="custom-text-color mb-4 text-[14px] {% if heroSplit.alignment == "center" %} text-center {% elsif heroSplit.alignment == "right" %} text-right {% else %} text-left {% endif %}">
                      {{ heroSplit.timer_label }}
                    </p>
                  {% endif %}
                  {% if heroSplit.timer != blank %}
                    <hero-banner-countdown-timer style="display: none;" end-time="{{ heroSplit.timer }}">
                      <div class="countdown-timer w-fit bg-white rounded-full pr-4 text-black font-bold">
                        <span class="px-[10px] py-[4px] bg-[#DA1F00] text-white rounded-full">
                          <p class="font-semibold">Sale</p>
                        </span>
                         <div class="time-part">
                          <p class="digit"></p>
                          <p class="label">days</p>
                        </div>
                        <div class="time-part">
                          <p class="digit"></p>
                          <p class="label">hours</p>
                        </div>
                        <div class="time-part">
                          <p class="digit"></p>
                          <p class="label">minutes</p>
                        </div>
                        <div class="time-part">
                          <p class="digit"></p>
                          <p class="label">seconds</p>
                        </div>
                      </div>
                    </hero-banner-countdown-timer>
                  {% endif %}
                </div>
              </div>
              <div class="overlay-bg">
                <div class="hero-split custom-text-color">
                  <div class="gap-2 section-content flex flex-col items-center {% if heroSplit.alignment == "center" %} md:items-center {% elsif heroSplit.alignment == "right" %} md:items-end {% else %} md:items-start {% endif %} justify-center">
                    {% if heroSplit.caption_text != blank %}
                      <div class="section-title relative rounded-full bg-[#da1f00] px-2 py-1">
                        <p class="text-center md:text-left  text-white caption">
                          {{ heroSplit.caption_text | remove: '<p>' | remove: '</p>' }}
                        </p>
                      </div>
                    {% endif %}
                    <h2 class="heading-2 md:hidden line-clamp-2 {% if heroSplit.alignment == "center" %} text-center {% elsif heroSplit.alignment == "right" %} text-center md:text-right {% else %}text-center md:text-left {% endif %}">
                      {% if heroSplit.mb_title != blank %}
                        {{ heroSplit.mb_title }}
                      {% else %}
                        {{ heroSplit.title }}
                      {% endif %}
                    </h2>
                    <h2 class="hidden md:block heading-2 line-clamp-2 {% if heroSplit.alignment == "center" %} text-center {% elsif heroSplit.alignment == "right" %} text-center md:text-right {% else %}text-center md:text-left {% endif %}">
                      {{ heroSplit.title }}
                    </h2>
                    {% if heroSplit.subtitle != blank %}
                      <p class="sub-heading font-normal line-clamp-2 {% if heroSplit.alignment == "center" %} text-center {% elsif heroSplit.alignment == "right" %} text-center md:text-right {% else %}text-center md:text-left {% endif %}">
                        {{ heroSplit.subtitle | remove: '<p>' | remove: '</p>' }}
                      </p>
                    {% endif %}
                    {% if heroSplit.cta_url_banner == blank %}
                    {% if heroSplit.cta_url_primary != blank or heroSplit.cta_url_second != blank %}
                      <div class="flex gap-2 mt-4">
                        {% if heroSplit.cta_url_primary != blank %}
                          <a
                            class="btn custom-btn custom-color-btn font-normal px-4 !py-2 md:px-unset md:py-unset"
                            href="{{ heroSplit.cta_url_primary }}"
                          >
                            {{- heroSplit.cta_primary_text -}}
                          </a>
                        {% endif %}
                        {% if heroSplit.cta_url_second != blank %}
                          <a class="btn custom-subBtn font-normal" href="{{ heroSplit.cta_url_second }}">
                            {{- heroSplit.cta_second_text -}}
                          </a>
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endif %}

                  </div>
                </div>
              </div>
            </div>
            {% assign en_desktop_url = heroSplit.wallpaper_desktop_hero_banner %}
            {% assign en_mobile_url = heroSplit.wallpaper_mobile_hero_banner | default: en_desktop_url %}
            {% assign fr_desktop_url = heroSplit.wallpaper_desktop_hero_banner_fr | default: en_desktop_url %}
            {% assign fr_mobile_url = heroSplit.wallpaper_mobile_hero_banner_fr | default: fr_desktop_url %}
            {% if heroSplit.cta_url_banner != blank %}
            <a href="{{ heroSplit.cta_url_banner }}">
            {% endif %}
            <picture lang="en" class="w-full h-full hidden">
              <source
                media="(min-width: 768px)"
                srcset="{{ en_desktop_url | image_url }}"
              >
              <img
                class=" {% if heroSplit.wallpaper_hero_banner_width != "full" %} rounded-2xl md:rounded-[8px] {% endif %} min-h-[250px] h-full w-full object-cover object-center"
                src="{{ en_mobile_url | image_url }}"
                width="2680"
                height="640"
                fetchpriority="high"
                alt="{{ en_mobile_url | image_url }}"
              >
            </picture>
            <picture lang="fr" class="w-full h-full hidden">
              <source
                media="(min-width: 768px)"
                srcset="{{ fr_desktop_url | image_url }}"
              >
              <img
                class=" {% if heroSplit.wallpaper_hero_banner_width != "full" %} rounded-2xl md:rounded-[8px] {% endif %} min-h-[250px] h-full w-full object-cover object-center"
                src="{{ fr_mobile_url | image_url }}"
                width="2680"
                height="640"
                fetchpriority="high"
                alt="{{ fr_desktop_url | image_url }}"
              >
            </picture>
            {% if heroSplit.cta_url_banner != blank %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    {% assign block_size = section.blocks | size %}
    {% if block_size > 0 %}
      <div class="w-full h-full {% if heroSplit.wallpaper_desktop_hero_banner == blank or heroSplit.hero_video == blank %} md:w-fit md:h-fit md:left-12 md:bottom-4 {% endif %} md:absolute bg-[#58524E] md:bg-transparent  flex items-center justify-center md:items-start md:justify-start md:gap-4 gap-3 py-4 md:py-0">
        <div class="md:relative w-full h-full flex items-center justify-center md:items-start md:justify-start md:gap-4 gap-3">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'image' %}
                {% if block.settings.award_logo != blank %}
                  <div
                    class="
                      flex flex-col items-center justify-center z-20
                      {% if section.blocks.size > 1 %}

                      {% if heroSplit.wallpaper_desktop_hero_banner != blank and heroSplit.hero_video != blank %}
                       {% if forloop.first %} md:absolute md:bottom-4 md:left-10 {% endif %}
                       {% if forloop.last %}md:absolute md:top-4 md:right-10 {% endif %}
                      {% else %}
                      {% endif %}

                      {% endif %}
                    "
                  >
                    <div class="w-[80px] h-[80px] md:w-[100px] md:h-[100px]">
                      <img
                        class="object-contain"
                        src="{{ block.settings.award_logo | image_url: width: 100 }}"
                        alt="{{ block.settings.award_name | escape }}"
                      >
                    </div>
                    <p class="text-[12px]">{{ block.settings.award_name }}</p>
                  </div>
                {% endif %}
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const sectionContainer = document.getElementById('hero-split-v2-section-{{ section.id }}');
    console.log(sectionContainer,"sectionconte");
    if (sectionContainer) {
      sectionContainer.querySelectorAll('[data-video-control]').forEach((button) => {
        const video = button.previousElementSibling;
        const playIcon = button.querySelector('.play-icon');
        const pauseIcon = button.querySelector('.pause-icon');

        if (video && video.tagName === 'VIDEO') {
          button.addEventListener('click', () => {
            if (video.paused) {
              video.play();
              playIcon.classList.add('hidden');
              pauseIcon.classList.remove('hidden');
            } else {
              video.pause();
              playIcon.classList.remove('hidden');
              pauseIcon.classList.add('hidden');
            }
          });

          video.addEventListener('ended', () => {
            playIcon.classList.remove('hidden');
            pauseIcon.classList.add('hidden');
          });

          video.addEventListener('pause', () => {
            playIcon.classList.remove('hidden');
            pauseIcon.classList.add('hidden');
          });

          video.addEventListener('play', () => {
            playIcon.classList.add('hidden');
            pauseIcon.classList.remove('hidden');
          });
        }
      });
    }
  });
</script>

{% schema %}
{
  "name": "Hero Split V2",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "wallpaper_hero_banner_width",
      "label": "Container Width",
      "default": "container",
      "options": [
        {
          "value": "full",
          "label": "Full Width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ]
    },

    {
      "type": "select",
      "id": "content_arrangement",
      "label": "Content Arrangement",
      "default": "video",
      "options": [
        {
          "value": "video",
          "label": "Video"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "header",
      "content": "Video Settings"
    },
    {
      "type": "video",
      "id": "hero_video",
      "label": "Video"
    },
    {
      "type": "paragraph",
      "content": "Video Height:"
      },
    {
      "id": "video_desktop_height",
      "type": "range",
      "label": "On Desktop",
      "default": 200,
      "min": 100,
      "max": 600,
      "step": 10,
      "unit": "px"
    },
    {
      "id": "video_mobile_height",
      "type": "range",
      "label": "On Mobile",
      "default": 200,
      "min": 100,
      "max": 600,
      "step": 10,
      "unit": "px"
    },
    {
      "id": "overlay_video",
      "type": "checkbox",
      "label": "Overlay Video",
      "default": true
    },
    {
      "id": "caption_text_video",
      "type": "text",
      "label": "Caption"
    },
    {
      "type": "range",
      "id": "caption_font_size_video",
      "min": 12,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Caption Font Size",
      "default": 16
    },
    {
      "id": "title_video",
      "type": "text",
      "label": "Title",
      "default": "Hit snooze! Sleep is about to get"
    },
    {
      "id": "mb_title_video",
      "type": "text",
      "label": "Title on Mobile",
      "default": "인테리언니 백예진 추천 매트리스 기획전",
      "info": "Desktop version will be shown if this field is empty. Use <br /> to add line breaks."
    },
    {
      "type": "paragraph",
      "content": "Title Size:"
      },
    {
      "type": "range",
      "id": "title_font_size_video",
      "min": 40,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "On Desktop",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_title_size_video",
      "min": 22,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "On Mobile",
      "default": 22
    },
    {
      "id": "subtitle_video",
      "type": "richtext",
      "label": "Secondary title"
    },
    {
      "type": "paragraph",
      "content": "Secondary Title Size:"
      },
    {
      "type": "range",
      "id": "subTitle_font_size_video",
      "min": 16,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "On Desktop",
      "default": 16
    },
    {
      "type": "range",
      "id": "mobile_subTitle_font_size_video",
      "min": 12,
      "max": 16,
      "step": 1,
      "unit": "px",
      "label": "On Mobile",
      "default": 16
    },
    
    {
      "id": "cta_primary_text_video",
      "type": "text",
      "label": "Primary Button Text"
    },
    {
      "id": "cta_url_primary_video",
      "type": "url",
      "label": "Primary Button Link"
    },
    {
      "type": "select",
      "id": "cta_video_color",
      "label": "Primary Button Color",
      "info": "This will override the theme's default button color.",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "No Color"
        },
        {
          "value": "#403833",
          "label": "Black"
        },
        {
          "value": "#E9E3DF",
          "label": "White"
        },
        {
          "value": "#FFA236",
          "label": "Orange"
        },
        {
          "value": "#FF7700",
          "label": "Heavy Orange"
        },
      ]
    },
    {
      "id": "cta_second_text_video",
      "type": "text",
      "label": "Second Button Text"
    },
    {
      "id": "cta_url_second_video",
      "type": "url",
      "label": "Second Button Link"
    },
   
    {
      "type": "text",
      "id": "timer_label_video",
      "label": "Countdown Timer Label",
      "default": "Your code is valid until"
    },
    {
      "type": "text",
      "id": "timer_video",
      "label": "Countdown Timer",
      "info": "Please follow format: YYYY-MM-DD HH:mm"
    },
    {
      "type": "header",
      "content": "Image Settings"
    },
    {
      "type": "select",
      "id": "position_alignment",
      "label": "Position content",
      "default": "middle",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment content",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "wallpaper_desktop_hero_banner",
      "label": "Desktop Image",
      "info": "The width is 1312 (Container mode)"
    },
    {
      "type": "image_picker",
      "id": "wallpaper_desktop_hero_banner_fr",
      "label": "Desktop French Image",
      "info": "The width is 1312 (Container mode)"
    },
    {
      "type": "image_picker",
      "id": "wallpaper_mobile_hero_banner",
      "label": "Mobile Image",
      "info": "The width is 351 (Container mode)"
    },
    {
      "type": "image_picker",
      "id": "wallpaper_mobile_hero_banner_fr",
      "label": "Mobile French Image",
      "info": "The width is 351 (Container mode)"
    },
    {
      "id": "cta_url_banner",
      "type": "url",
      "label": "Banner Link",
      "info": "Link on CTA button will be disable if this field is filled."
    },
    {
      "type": "paragraph",
      "content": "Image Height:"
      },
    {
      "id": "wallpaper_desktop_height",
      "type": "range",
      "label": "On Desktop",
      "default": 380,
      "min": 100,
      "max": 800,
      "step": 10,
      "unit": "px"
    },
    {
      "id": "wallpaper_mobile_height",
      "type": "range",
      "label": "On Mobile",
      "default": 200,
      "min": 100,
      "max": 600,
      "step": 10,
      "unit": "px"
    },

    {
      "id": "overlay_image",
      "type": "checkbox",
      "label": "Overlay Image",
      "default": true
    },
    {
      "id": "caption_text",
      "type": "text",
      "label": "Caption"
    },
    {
      "type": "range",
      "id": "caption_font_size",
      "min": 12,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Caption Font Size",
      "default": 16
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Hit snooze! Sleep is about to get"
    },
    {
      "id": "mb_title",
      "type": "text",
      "label": "Title on Mobile",
      "default": "인테리언니 백예진 추천 매트리스 기획전",
      "info": "Desktop version will be shown if this field is empty. Use <br /> to add line breaks."
    },
    {
      "type": "paragraph",
      "content": "Title Size:"
      },
    {
      "type": "range",
      "id": "title_font_size",
      "min": 40,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "On Desktop",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_title_size",
      "min": 22,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "On Mobile",
      "default": 30
    },
    {
      "id": "subtitle",
      "type": "richtext",
      "label": "Secondary title"
    },
    {
      "type": "paragraph",
      "content": "Secondary Title Size:"
      },
    {
      "type": "range",
      "id": "subTitle_font_size",
      "min": 16,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "On Desktop",
      "default": 20
    },
    {
      "type": "range",
      "id": "mobile_subTitle_font_size",
      "min": 12,
      "max": 16,
      "step": 1,
      "unit": "px",
      "label": "On Mobile",
      "default": 16
    },

    {
      "id": "cta_primary_text",
      "type": "text",
      "label": "Primary Button Text"
    },
    {
      "id": "cta_url_primary",
      "type": "url",
      "label": "Primary Button Link"
    },
    {
      "type": "select",
      "id": "cta_image_color",
      "label": "Primary Button Color",
      "info": "This will override the theme's default button color.",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "No Color"
        },
        {
          "value": "#403833",
          "label": "Black"
        },
        {
          "value": "#E9E3DF",
          "label": "White"
        },
        {
          "value": "#FFA236",
          "label": "Orange"
        },
        {
          "value": "#FF7700",
          "label": "Heavy Orange"
        },
      ]
    },
    {
      "id": "cta_second_text",
      "type": "text",
      "label": "Second Button Text"
    },
    {
      "id": "cta_url_second",
      "type": "url",
      "label": "Second Button Link"
    },
    {
      "type": "text",
      "id": "timer_label",
      "label": "Countdown Timer Label",
      "default": "Your code is valid until"
    },
    {
      "type": "text",
      "id": "timer",
      "label": "Countdown Timer",
      "info": "Please follow format: YYYY-MM-DD HH:mm"
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "image",
      "name": "Award Logo",
      "settings": [
        {
          "id": "award_logo",
          "type": "image_picker",
          "label": "Item Image"
        },
        {
          "id": "award_name",
          "type": "text",
          "label": "Award name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Split V2"
    }
  ]
}
{% endschema %}
