{% assign heroSplits = section.blocks | where: 'type', 'banner' %}
{% assign heroSaleBadge = section.blocks | where: 'type', 'hero-sale-badge' %}
<style>
    #hero-split-section .split-container {
        position: relative;
        border-radius: .5rem;
        overflow: hidden;
        color: {{ section.props.text_color }};
    }

    @media screen and (min-width: 769px) {
        #hero-split-section .split-container {
            width: 100%;
            aspect-ratio: 1.9;
        }
    }
</style>
<link rel="stylesheet" href="{{ 'hero-split.css' | asset_url }}">

<div id="hero-split-section" class="page-boundary" data-component="hero-banner">
  <div class="split-container">
    <div class="split-interior">
      <div class="section-frame">
        {% if props.show_shadow %}
          <div class="overlay-bg"></div>
        {% endif %}

        {% for block in heroSplits %}
          {% assign props = block.settings %}
          {% case props.heading_size %}
            {% when 'large' %}
              {% assign headingClass = 'heading-1' %}
            {% else %}
              {% assign headingClass = 'heading-2' %}
          {% endcase %}
          <div class="banner-panel" style="color: {{ props.text_color }}">
            <div class="banner-content">
              <h2 class="banner-title relative {{ headingClass }}">
                {% render 'rtf-viewer', content: props.title %}
              </h2>
              {% if props.subtitle %}
                <div class="sub-heading">
                  {% render 'rtf-viewer', content: props.subtitle %}
                </div>
              {% endif %}
            </div>
            {% if props.show_countdown_timer %}
              <div class="banner-countdown">
                <countdown-timer
                  :date="{{ settings.sale_timer }}"
                  :caption="{{ props.countdown_caption }}"
                ></countdown-timer>

              </div>
            {% endif %}

            {% if props.show_cta %}
              <tracked-button
                :trackId="{{ props.trackId }}"
                class="banner-cta btn btn--{{ props.cta_size }}"
                href="{{ props.cta_url }}">
                {{ props.cta_text }}
              </tracked-button>

            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="section-frame">
      {% for block in heroSplits %}
        {% render 'hero-banner', props: block.settings, index: forloop.index0 %}
      {% endfor %}
    </div>
  </div>

</div>


{% schema %}
{
  "name": "Hero Split",
  "class": "hero-split",
  "tag": "section",
  "blocks": [
    {
      "type": "banner",
      "name": "Hero Banner",
      "limit": 2,
      "settings": [
        {
          "id": "wallpaper_desktop_img",
          "type": "image_picker",
          "label": "Wallpaper Desktop Image"
        },
        {
          "id": "wallpaper_mobile_img",
          "type": "image_picker",
          "label": "Wallpaper Mobile Image"
        },
        {
          "id": "wallpaper_desktop_fr_img",
          "type": "image_picker",
          "label": "Wallpaper Desktop French Image"
        },
        {
          "id": "wallpaper_mobile_fr_img",
          "type": "image_picker",
          "label": "Wallpaper Mobile French Image"
        },
        {
          "id": "title",
          "type": "richtext",
          "label": "Title",
          "default": "<p>Hit snooze! Sleep is about to get <i>wayyy better.</i></p>"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "medium",
              "label": "t:sections.image-banner.blocks.heading.props.heading_size.options__1.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-banner.blocks.heading.props.heading_size.options__2.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-banner.blocks.heading.props.heading_size.label"
        },
        {
          "id": "subtitle",
          "type": "richtext",
          "label": "Subtitle"
        },
        {
          "id": "show_shadow",
          "type": "checkbox",
          "label": "Show Shadow?",
          "default": true
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "id": "cta_url",
          "type": "url",
          "label": "CTA Url"
        },
        {
          "id": "cta_text",
          "type": "text",
          "label": "CTA Text"
        },
        {
          "id": "show_cta",
          "type": "checkbox",
          "label": "Show CTA?",
          "default": true
        },
        {
          "id": "cta_size",
          "type": "select",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "lg",
          "label": "CTA Size"
        },
        {
          "type": "checkbox",
          "id": "show_countdown_timer",
          "label": "Show Countdown Timer",
          "default": false
        },
        {
          "id": "countdown_caption",
          "type": "richtext",
          "label": "Countdown Caption"
        },
        {
          "type": "checkbox",
          "id": "discount_badge",
          "label": "Display Discount Badge"
        },
        {
          "id": "trackId",
          "type": "text",
          "label": "Tracking ID"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Split"
    }
  ]
}
{% endschema %}
