{% assign ctaBtn = section.blocks | where: "type", "cta-button" | first %}
{% assign allFaqs = section.blocks | where: "type", "faq" %}

{{ 'image-with-faqs.css' | asset_url | stylesheet_tag }}

<section class="image-with-faqs section-container">
  <div class="page-boundary">
    <div class="two-columns-layout{% if section.settings.inverted %} is-inverted{% endif %}">
      <div class="media-column">
        {{ section.settings.image | image_url: width: 1280 | image_tag }}
      </div>

      <div class="content-column section-chassis">
        <h2 class="heading-2">{{ section.settings.heading }}</h2>

        <ul class="faqs">
          {% for block in allFaqs %}
            <li class="faq">
              <div class="faq__header">
                <h3 class="faq__question">{{ block.settings.title }}</h3>
                <svg class="faq__icon" width="24" height="14" viewBox="0 0 24 14" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                      d="M11.9451 13.8281C11.3326 13.8288 10.7495 13.5671 10.3452 13.1103L1.26707 2.85032C0.670403 2.14307 0.75036 1.09157 1.44735 0.481822C2.14433 -0.127928 3.20339 -0.0724277 3.83249 0.606322L11.7709 9.57782C11.8146 9.62732 11.878 9.65657 11.9451 9.65657C12.0123 9.65657 12.0749 9.62807 12.1194 9.57782L20.0578 0.606322C20.4561 0.133822 21.0806 -0.0866778 21.6901 0.0295722C22.2996 0.145822 22.7967 0.581573 22.9906 1.16657C23.1844 1.75232 23.0441 2.39657 22.624 2.84957L13.5488 13.1058C13.1437 13.5641 12.5599 13.8266 11.9459 13.8273L11.9451 13.8281Z"
                      fill="#2E2F3C"
                  />
                </svg>
              </div>
              <div class="faq__answer shopify-richtext">
                {{ block.settings.content }}
              </div>
            </li>
            {% unless forloop.last %}<span class="separator"></span>{% endunless -%}
          {% endfor %}
        </ul>

        {% if ctaBtn != blank %}
          <a class="btn" href="{{ ctaBtn.settings.url }}">
            {{ ctaBtn.settings.text }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  <script type="module">
      $(window).on('load', function () {
          $('.image-with-faqs .faq').beefup({
              trigger: ".faq__header",
              content: ".faq__answer",
              openSpeed: 500,
              closeSpeed: 250,
              openSingle: true
          });
      })
  </script>
</section>




{% schema %}
{
  "name": "Image with FAQs Section",
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Title"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "Content",
          "default": "<p>Content</p>"
        }
      ]
    },
    {
      "type": "cta-button",
      "name": "CTA Button",
      "limit": 1,
      "settings": [
        {
          "id": "url",
          "type": "url",
          "label": "Button Url"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Button Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Section Image"
    },
    {
      "id": "inverted",
      "type": "checkbox",
      "label": "Inverted?"
    },

    {
      "id": "header_font",
      "type": "select",
      "label": "Header Font",
      "options": [
        {
          "value": "inter",
          "label": "Inter"
        },
        {
          "value": "tiempos",
          "label": "Tiempos"
        }
      ],
      "default": "tiempos"
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "md",
          "label": "Medium (40px)"
        },
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "xl",
          "label": "XL (80px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    }
  ]
}
{% endschema %}
