{% render 'section_schema_parser' %}

{% assign internalLayers = section.blocks | where: 'type', 'internal_layer' %}
{% assign coverLayer = section.blocks | where: 'type', 'cover_layer' | first %}
{% assign baseLayer = section.blocks | where: 'type', 'base_layer' | first %}
{% assign shadowLayer = section.blocks | where: 'type', 'shadow' | first %}

<style>
    #mattress-layers-section {
        opacity: 0;
    }
</style>
<link rel="quickscript" loading="visibility" href="{{ 'mattress-layers.css' | asset_url }}">
{% liquid

    assign trackId = "Layer_by_layer"
    assign postfix = product.metafields.accentuate.track_postfix

    if postfix != blank
        assign trackId = trackId | append: "_" | append: postfix
    endif
%}

<mattress-layers>
    <section id="mattress-layers-section" class="section-container spacing-{{ section.settings.container_spacing }}">
        <div class="section-chassis page-boundary">
            {% render 'section-header' %}

            <div class="section-body">
                <ul class="layer-gallery">
                    <div class="outer-container">
                        {% if coverLayer %}
                            <li
                                class="layer-item cover-layer-item"
                                style="--gutter: {{ coverLayer.settings.gutter }};
                                    --bullet_gutter: {{ coverLayer.settings.bullet_gutter }}%
                                    "
                                data-layer-index="0"
                            >
                                <tracked-button :trackId="{{ trackId }}">
                                    <div class="layer-bullet">
                                        <button
                                            aria-label="Cover Layer" aria-expanded="true" role="button"
                                            class="layer-number"
                                        >1
                                        </button>
                                    </div>
                                    <div class="layer-photo flex items-center">
                                        <picture-tag
                                            :src="{{ coverLayer.settings.image | image_url: width: 1440 }}">
                                        </picture-tag>
                                    </div>
                                </tracked-button>
                            </li>
                        {% endif %}

                        {% for layer in internalLayers %}
                            <li
                                class="layer-item {% if layer.settings.is_thin %}layer-item--thin{% endif %} internal-layer-item"
                                style="
                                    --gutter: {{ layer.settings.gutter }};
                                    --bullet_gutter: {{ layer.settings.bullet_gutter }}%"
                                data-layer-index="{{ forloop.index }}"
                            >
                                <tracked-button :trackId="{{ trackId }}">
                                    <div class="layer-bullet">
                                        <button
                                            aria-label="Layer {{ forloop.index | plus: 1 }}" aria-expanded="true"
                                            role="button" class="layer-number"
                                        >{{ forloop.index | plus: 1 }}</button>
                                    </div>
                                    <div class="layer-photo flex items-center">
                                        <picture-tag
                                            :src="{{ layer.settings.image | image_url: width: 1440 }}">
                                        </picture-tag>

                                    </div>
                                </tracked-button>
                            </li>
                        {% endfor %}
                    </div>

                    {% if baseLayer %}
                        <li
                            class="layer-item base-layer-item" style="
                            --gutter: {{ baseLayer.settings.gutter }};
                            --bullet_gutter: {{ baseLayer.settings.bullet_gutter }}%"
                            data-layer-index="{{ internalLayers.size | plus: 1 }}"
                        >
                            <tracked-button :trackId="{{ trackId }}">
                                <div class="layer-bullet">
                                    <button
                                        aria-label="Base Layer" aria-expanded="true" role="button"
                                        class="layer-number"
                                    >{{ internalLayers.size | plus: 2 }}</button>
                                </div>
                                <div class="layer-photo flex items-center">
                                    <picture-tag
                                        :src="{{ baseLayer.settings.image | image_url: width: 1440 }}">
                                    </picture-tag>
                                </div>
                            </tracked-button>
                        </li>
                    {% endif %}

                    {% if shadowLayer %}
                        <li class="layer-item shadow-layer-item">
                            <div class="layer-photo flex items-center">
                                <picture-tag
                                    :src="{{ shadowLayer.settings.image | image_url: width: 1440 }}">
                                </picture-tag>

                            </div>
                        </li>
                    {% endif %}
                </ul>

                <div class="info-wrapper">
                    <ul class="layer-specifications">
                        {% if coverLayer %}
                            <li class="layer-spec cover-layer" data-layer-index="0">
                                <div class="spec-header">

                                    <div class="spec-bullet">1</div>

                                    <h4 class="heading-5">{{ coverLayer.settings.title }}</h4>
                                </div>
                                <div class="spec-content">
                                    <p class="solid">{{ coverLayer.settings.content }}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% for layer in internalLayers %}
                            <li class="layer-spec" data-layer-index="{{ forloop.index }}">
                                <div class="spec-header">
                                    <div class="spec-bullet">{{ forloop.index | plus: 1 }}</div>

                                    <h4 class="heading-5">{{ layer.settings.title }}</h4>
                                </div>
                                <div class="spec-content">
                                    <p class="solid">{{ layer.settings.content }}</p>
                                </div>
                            </li>
                        {% endfor %}
                        {% if baseLayer %}
                            <li class="layer-spec base-layer" data-layer-index="{{ internalLayers.size | plus: 1 }}">
                                <div class="spec-header">
                                    <div class="spec-bullet">{{ internalLayers.size | plus: 2 }}</div>

                                    <h4 class="heading-5">{{ baseLayer.settings.title }}</h4>
                                </div>
                                <div class="spec-content">
                                    <p class="solid">{{ baseLayer.settings.content }}</p>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% comment %}<div class="section-wallpaper">{% endcomment %}
        {% comment %}{{ section.settings.wallpaper | image_url: width: 1920 | image_tag }}{% endcomment %}
        {% comment %}</div>{% endcomment %}
    </section>
</mattress-layers>

<script type="quickscript" loading="visibility" src="{{ 'mattress-layers.js' | asset_url }}"></script>


{% schema %}
{
  "name": "Mattress Layers",
  "blocks": [
    {
      "type": "cover_layer",
      "limit": 1,
      "name": "Cover Layer",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Layer Image"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Layer Title"
        },
        {
          "id": "content",
          "type": "text",
          "label": "Layer Content"
        },
        {
          "id": "gutter",
          "type": "range",
          "label": "Next Layer Gutter",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "rem",
          "default": 1
        },
        {
          "id": "bullet_gutter",
          "type": "range",
          "label": "Bullet gutter from top",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    },
    {
      "type": "internal_layer",
      "name": "Internal Layer",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Layer Image"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Layer Title"
        },
        {
          "id": "content",
          "type": "text",
          "label": "Layer Content"
        },
        {
          "id": "is_thin",
          "type": "checkbox",
          "label": "Is Thin Layer?",
          "default": false
        },
        {
          "id": "gutter",
          "type": "range",
          "label": "Next Layer Gutter",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "rem",
          "default": 2
        },
        {
          "id": "bullet_gutter",
          "type": "range",
          "label": "Bullet gutter from top",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    },
    {
      "type": "base_layer",
      "limit": 1,
      "name": "Base Layer",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Layer Image"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Layer Title"
        },
        {
          "id": "content",
          "type": "text",
          "label": "Layer Content"
        },
        {
          "id": "gutter",
          "type": "range",
          "label": "Next Layer Gutter",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "rem",
          "default": 2
        },
        {
          "id": "bullet_gutter",
          "type": "range",
          "label": "Bullet gutter from top",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    },
    {
      "type": "shadow",
      "limit": 1,
      "name": "Shadow Layer",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Layer Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "wallpaper",
      "type": "image_picker",
      "label": "Section Wallpaper"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Emma Original - Layer by Layer"
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "sm",
          "label": "Small (24px)"
        },
        {
          "value": "md",
          "label": "Medium (40px)"
        },
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "xl",
          "label": "XL (80px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    },
    {
      "id": "carousel_mode",
      "type": "checkbox",
      "label": "Carousel Mode"
    }
  ]
}
{% endschema %}
