{% assign current_variant = product.selected_or_first_available_variant %}
{% assign affirm_widget = section.blocks | where: 'type', 'affirm_widget' | first %}
{% assign appBlock = section.blocks | where: 'type', '@app' | first %}

<style>
    #product-layout:not(.is-initialized) {
        min-height: 1700px;
    }

    #product-summary-placeholder:not(.is-initialized) {
        min-height: 300px;
    }

    .attribute-configurator {
        display: none;
    }

    .product-info-wrapper {
        min-height: 90vh;
    }

    #product-layout:not(.is-initialized) product-form {
        position: relative;
        max-height: 50vh;
        overflow: hidden;
    }

    #product-layout:not(.is-initialized) product-form .product-form {
        position: absolute;
        inset: 0;
        opacity: 0;
    }
</style>
<link rel="stylesheet" href="{{ 'product-layout.css' | asset_url }}"/>
<link rel="stylesheet" href="{{ 'product-price.css' | asset_url }}"/>
<link rel="stylesheet" href="{{ 'product-buybox.css' | asset_url }}"/>
<link rel="quickscript" loading="delayed" href="{{ 'sticky-buybox.css' | asset_url }}"/>
<script defer src="{{ 'product-layout.js' | asset_url }}" data-section-id="{{ section.id }}"></script>
<script defer src="{{ 'product-form.js' | asset_url }}"></script>

<link rel="stylesheet"  href="{{ 'bundle-box.css' | asset_url }}" />
<script type="quickscript" loading="delayed" data-url="{{ 'bundle-offer.js' | asset_url }}"
        src="{{ 'module-importer.js' | asset_url }}"></script>

<div
    id="product-layout"
    class="page-boundary"
    data-section-id="{{ section.id }}"
    data-section-type="product"
    data-enable-history-state="true"
    data-ajax-enabled="{{ settings.enable_ajax }}"
>
    <div class="product-info product-info-wrapper">
        <div id="product-viewer">
            <template id="campaign-teaser-placeholder"></template>

            <div class="main-frame">
                <div class="promotion-overlay">
                    <template id="product-badges-placeholder"></template>
                </div>

                <template id="product-media-placeholder" class="flex w-full"></template>
                <template id="overlay-text-on-image-placeholder" class="flex w-full"></template>
            </div>

            <template id="risk-reversal-placeholder"></template>
        </div>

        <product-form id="product-configurator">
            <template id="product-summary-placeholder"></template>

            {% capture form_classes -%}
                product-form product-form-{{ section.id }}
                {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
                {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
            {%- endcapture %}

            {% form 'product', product, class: form_classes, novalidate: 'novalidate', data-product-form: '' %}
                {% render 'product-buybox' %}

                <product-form-error></product-form-error>

                {% assign outOfStockNotice = product.metafields.accentuate.out_of_stock_notice[shop.locale] %}
                {% assign disclaimer = product.metafields.accentuate.disclaimer[shop.locale] %}

                <div id="stock-notifications"
                     class="{% if outOfStockNotice == blank and disclaimer == blank %}hidden{% endif %}">


                    <div id="disclaimer">{% render 'rtf-viewer', content: disclaimer %}</div>

                    <div id="out-of-stock-notice"
                         class="{% if product.selected_or_first_available_variant.available == true %}hidden {% endif %}"
                    >
                        {% render 'rtf-viewer', content: outOfStockNotice %}
                    </div>

                </div>

                <template id="price-transparency-placeholder"></template>

                {%- if appBlock -%}
                    {% render appBlock %}
                {% endif %}

                <template id="product-auxiliary-placeholder"></template>

                <template id="product-unique-selling-points-placeholder"></template>

                <template id="product-specifications-placeholder"></template>

                <p
                    class="visually-hidden"
                    data-loader-status
                    aria-live="assertive"
                    role="alert"
                    aria-hidden="true"
                >
                    {{ 'products.product.loader_label' | t }}
                </p>

                <button class="visually-hidden" id="fixture-add-to-cart"></button>
            {% endform %}
        </product-form>
    </div>

</div>

{% unless product == empty %}
    <script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
























    </script>
    <script type="application/json" id="ModelJson-{{ section.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
























    </script>
{% endunless %}


{% schema %}
{
  "name": "Product Layout",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "affirm_widget",
      "name": "Affirm Widget",
      "limit": 1
    }
  ]
}
{% endschema %}
