<script>
  const comparisonConfig = {
    emmaLogo: "{{ 'logo-emma.svg' | asset_url }}",
    emmaProducts: [
      {% for product in section.settings.emma-products %}
      {
        info: {{ product | json }},
        specs: {{ product.metafields.accentuate.specifications | json }},
        competitors: {{ product.metafields.accentuate.competitors_v2 | json }},
      }
      {%- if forloop.length > 0 -%}
      {% unless forloop.last %},{% endunless -%}
      {%- endif -%}
      {% endfor %}
    ]
  }
</script>

<script type="quickscript" loading="delayed" src="{{ 'product-comparison.js' | asset_url }}"></script>

<section id="product-comparison" class="section-container spacing-{{ section.settings.container_spacing }}">
  <div class="section-chassis page-boundary">
    {% render 'section-header' %}

    <div class="comparison-table">


      <div class="emma-highlighted">&nbsp;</div>

      <a href="/" class="emma-buy-now-btn grid-row-12">
        Buy Now
      </a>
    </div>
    <p class="font-inter text-[14px] text-center text-[#55576F]">{{ section.settings.note }}</p>
  </div>
</section>

{% schema %}
{
  "name": "Comparison Table",
  "settings": [
    {
      "id": "emma-products",
      "type": "product_list",
      "label": "Emma Products",
      "limit": 2
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Comparison Table"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "See how others stack up against Emma - the World's Most Awarded Mattress Brand"
    },
    {
      "id": "note",
      "type": "text",
      "label": "Note",
      "default": "*For queen sizes only. All prices and information from public sources listed as of October 10, 2022. Information may not reflect updated prices and promotions."
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "none",
          "label": "No Spacing"
        },

        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "md",
          "label": "Medium (40px)"
        }
      ],
      "default": "none",
      "label": "Container Spacing"
    }
  ]
}
{% endschema %}
