<style>
    .collapsible {
        padding: 1.25rem 0;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .collapsible h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }

    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .content p {
        font-size: 15px;
        line-height: 19.5px;
        margin-bottom: 1.25rem;
    }

    .faq {
        padding: 1rem;
        font-family: 'Inter';
        background-color: white;
    }

    .faq-intro p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        color: #55576F;
    }

    .circle {
        border: 1px solid #3C4196;
        height: 30px;
        width: 30px;
        min-width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow {
        border: solid #3C4196;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: transform 0.2s;
    }


    .active .arrow {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transition: transform 0.2s;
        border: solid white;
        border-width: 0 1px 1px 0;
    }

    .active .circle {
        background-color: #3C4196;
    }

    .divider {
        display: block;
        height: 1px;
        background-color: rgba(46, 47, 60, 0.3);
    }

    .faq-details .divider:last-child {
        display: none;
    }

    @media (min-width: 768px) {
        .faq {
            display: flex;
            width: 100%;
            padding: 0 11rem;
            justify-content: space-between;
        }

        .faq-intro {
            width: 30%;
        }

        .faq-intro p {
            font-size: 13px;
            line-height: 19.5px;
        }

        .faq-details {
            width: 60%;
        }

        .faq-details .collapsible:first-child {
            padding-top: 0;
        }
    }
</style>
<section class="faq">
    <div class="faq-intro">
        <h2 class="heading-2">FAQs</h2>
        <p>{{ section.settings.subheading }}</p>
    </div>
    <div class="faq-details">
        <div class="collapsible">
            <h3 class="question">{{ section.settings.question_1 }}</h3>
            <div class="circle">
                <i class="arrow down"></i>
            </div>
        </div>
        <div class="content">
            <p>{{ section.settings.answer_1 }}</p>
        </div>
        <span class="divider"></span>
        <div class="collapsible">
            <h3 class="question">
                {{ section.settings.question_2 }}
            </h3>
            <div class="circle">
                <i class="arrow down"></i>
            </div>
        </div>
        <div class="content">
            <p>{{ section.settings.answer_2 }}</p>
        </div>
        <span class="divider"></span>
        <div class="collapsible">
            <h3 class="question">{{ section.settings.question_3 }}</h3>
            <div class="circle">
                <i class="arrow down"></i>
            </div>
        </div>
        <div class="content">
            <p>{{ section.settings.answer_3 }}</p>
        </div>
        <span class="divider"></span>
        <div class="collapsible">
            <h3 class="question">{{ section.settings.question_4 }}</h3>
            <div class="circle">
                <i class="arrow down"></i>
            </div>
        </div>
        <div class="content">
            <p>{{ section.settings.answer_4 }}</p>
        </div>
        <span class="divider"></span>
    </div>
</section>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

{% schema %}
{
  "name": "Hybrid FAQ",
  "settings": [
    {
      "id": "subheading",
      "type": "text",
      "label": "Subheading",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "id": "question_1",
      "type": "text",
      "label": "Question 1",
      "default": "What is a hybrid mattress?"
    },
    {
      "id": "answer_1",
      "type": "richtext",
      "label": "Answer 1",
      "default": "<p>Lorem ipsum dolor sit amet</p>"
    },
    {
      "id": "question_2",
      "type": "text",
      "label": "Question 2",
      "default": "What is a hybrid mattress?"
    },
    {
      "id": "answer_2",
      "type": "richtext",
      "label": "Answer 2",
      "default": "<p>Lorem ipsum dolor sit amet</p>"
    },
    {
      "id": "question_3",
      "type": "text",
      "label": "Question 3",
      "default": "What is a hybrid mattress?"
    },
    {
      "id": "answer_3",
      "type": "richtext",
      "label": "Answer 3",
      "default": "<p>Lorem ipsum dolor sit amet</p>"
    },
    {
      "id": "question_4",
      "type": "text",
      "label": "Question 4",
      "default": "What is a hybrid mattress?"
    },
    {
      "id": "answer_4",
      "type": "richtext",
      "label": "Answer 4",
      "default": "<p>Lorem ipsum dolor sit amet</p>"
    }
  ]
}
{% endschema %}
