<style>
    #sale-hero-banner-section {
        min-height: 262px;
        color: {{props.text_color}};
    }

    @media screen and (min-width: 769px) {
        #sale-hero-banner-section {
            min-height: 172px;
        }
    }

    #sale-hero-banner-section .section-body > * {
        color: inherit
    }
</style>

{{ 'sale-hero-banner.css' | asset_url | stylesheet_tag }}

{% liquid
  assign wallpaper = section.blocks | where: "type", "wallpaper" | first
  assign cta = section.blocks | where: "type", "cta" | first
  assign countdownTimer = section.blocks | where: "type", "countdown_timer" | first
  assign props = section.settings
%}

<section id="sale-hero-banner-section" class="page-boundary">
  <div class="section-container">
    <div class="section-body">
      <div class="section-content">
        <h1 class="heading-2">{{ props.title | remove: "<p>" | remove: "</p>" }}</h1>
        <h2 class="heading-3">{{ props.subtitle }}</h2>
      </div>

      <div class="section-features">
        <countdown-timer
          :date="{{ settings.sale_timer }}"
          :heading="{{ countdownTimer.settings.heading }}"
          :caption="{{ countdownTimer.settings.caption }}"
        ></countdown-timer>
      </div>

      {% if props.tagline %}
        <div class="tagline">
          {% render 'rtf-viewer', content: props.tagline %}
        </div>
      {% endif %}
    </div>


    {% if wallpaper != blank %}
      {% render 'picture-tag',
        src: wallpaper.settings.src,
        mobile_src: wallpaper.settings.mobile_src,
        picture_attributes: "class='section-wallpaper'",
        width: 768
      %}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Hero Banner",
  "blocks": [
    {
      "type": "wallpaper",
      "name": "Wallpaper",
      "limit": 1,
      "settings": [
        {
          "id": "src",
          "type": "image_picker",
          "label": "Wallpaper Desktop Srouce"
        },
        {
          "id": "mobile_src",
          "type": "image_picker",
          "label": "Wallpaper Mobile Source"
        }
      ]
    },
    {
      "type": "countdown_timer",
      "name": "Countdown Timer",
      "limit": 1,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Countdown Title"
        },
        {
          "id": "heading",
          "type": "richtext",
          "label": "Countdown Caption"
        },
        {
          "id": "caption",
          "type": "richtext",
          "label": "Countdown Caption"
        }
      ]
    },
    {
      "type": "cta",
      "name": "CTA",
      "limit": 1,
      "settings": [
        {
          "id": "url",
          "type": "url",
          "label": "Button Url"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Button Text"
        },
        {
          "id": "subtext",
          "type": "text",
          "label": "Subtext"
        }
      ]
    },
    {
      "type": "award",
      "name": "Award",
      "limit": 3,
      "settings": [
        {
          "id": "src",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "richtext",
      "label": "Title",
      "default": "<p>Hit snooze! Sleep is about to get <i>wayyy better.</i></p>"
    },
    {
      "id": "tagline",
      "type": "richtext",
      "label": "Tagline",
      "default": "<p>Hit snooze! Sleep is about to get <i>wayyy better.</i></p>"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "Our sleep experts have mastered designing award-winning mattresses crafted to keep you relaxed and recharged, no matter what kind of sleeper you are. Climb on your best sleep yet!"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text Color",
      "default": "#2e2f3c"
    },
    {
      "type": "select",
      "id": "wallpaper_size",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "sm",
      "label": "Wallpaper Size"
    }
  ]
}
{% endschema %}
