{% assign collectionCatalog = section.blocks | where: 'type', 'catalog_item' %}
<style>
    .star-rating {
        display: none
    }

    product-card .product-card-metadata {
        align-content: start;
    }
</style>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@smarthtmlelements/smart-elements@6.2.0/source/styles/smart.default.css">
<script
        src="https://cdn.jsdelivr.net/npm/@smarthtmlelements/smart-elements@6.2.0/source/smart.element.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/@smarthtmlelements/smart-elements@6.2.0/source/smart.tabs.min.js"></script>

<link rel="stylesheet" href="{{ 'sale-catalog.css' | asset_url }}">

<section id="sale-catalog-section" class="section-container spacing-{{ section.settings.container_spacing }}">
    <div class="section-chassis page-boundary">
        <smart-tabs class="material">
            {% for block in collectionCatalog %}
                {% assign collection = block.settings.collection %}
                {% assign title = block.settings.title | default: collection.title %}
                <smart-tab-item label="{{ title }}" data-track-id="{{ block.settings.trackId }}">
                    <div class="catalog-grid">
                        {% for product in collection.products %}
                            {% render 'product-card', product: product, landscape: true %}
                        {% endfor %}
                    </div>
                </smart-tab-item>
            {% endfor %}
        </smart-tabs>
    </div>
</section>

<script type="quickscript" loading="delayed" src="{{ 'sale-catalog.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Sale Catalog",
  "blocks": [
    {
      "type": "catalog_item",
      "name": "Catalog Item",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "trackId",
          "label": "Tracking ID"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Sale Catalog"
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "md",
          "label": "Medium (40px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    },
    {
      "type": "header",
      "content": "Product Assets",
      "info": "Please visit the respective Accentuate Url of each product below to update its assets"
    }
  ],
  "presets": [
    {
      "name": "Sale Catalog",
      "settings": {
        "heading": "Sale Catalog",
        "heading_alignment": "start",
        "container_spacing": "md"
      }
    }
  ]
}
{% endschema %}
