{% assign cols = section.blocks | where: 'type', 'column' %}
{% liquid
	assign imgSize = 60

	if section.settings.column_size == 'large'
		assign imgSize = 102
		assign imgSizeX2 = imgSize | times: 2
	endif
%}

<link rel="quickscript" loading="delayed" href="{{ 'special-services.css' | asset_url }}"/>

<section
		id="{{ section.id }}"
		class="multicolumn-text new_service_info section-container spacing-{{ section.settings.container_spacing }}"
>
	<div class="page-boundary">
		<ul class="multicolumn-list">
			{%- for block in cols -%}
				<li
                    class="
                        multicolumn-card
                        {% if section.settings.column_alignment == 'center' %} center{% endif %}
                        {% if section.settings.column_size == 'large' %} large{% endif %}
                        {% if section.settings.horizontal_layout_on_mobile %} horizontal-layout-on-mobile{% endif %}
                    "
				>
					<div class="multicolumn-card__icon">
						{{ block.settings.svg_icon }}
					</div>
					<div class="multicolumn-card__details">
						<h3 class="multicolumn-card__title{% if section.settings.solid_typo %} solid{% endif %}">
							{{ block.settings.title }}
						</h3>
						<p class="multicolumn-card__content">
							{{ block.settings.content | remove: '<p>' | remove: '</p>' }}
						</p>
					</div>
				</li>
			{%- endfor -%}
		</ul>
	</div>
</section>

{% schema %}
{
  "name": "MultiColumn Text",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Icon"
        },
        {
          "id": "svg_icon",
          "type": "text",
          "label": "SVG Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "id": "content",
          "type": "text",
          "label": "Content"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "column_size",
      "options": [
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "md",
          "label": "Medium (40px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    },
    {
      "type": "checkbox",
      "id": "horizontal_layout_on_mobile",
      "label": "Horizontal Layout on Mobile"
    },
    {
      "type": "checkbox",
      "id": "solid_typo",
      "label": "Solid Typography",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Multicolumn text"
    }
  ]
}
{% endschema %}
