{% assign parentProduct = product %}
{% assign parentVariant = product.selected_or_first_available_variant %}
{% liquid

    assign trackId = "Cross_sell"
    assign postfix = product.metafields.accentuate.track_postfix

    if postfix != blank
        assign trackId = trackId | append: "_" | append: postfix
    endif
%}

<cross-sell-engine
        :variantMode="{{ parentProduct.metafields.accentuate.is_cross_selling_by_variant | default: false }}"
        :sizeCompatible="{{ parentProduct.metafields.accentuate.cross_selling_size_compatible }}"
        :productId="{{ parentProduct.id }}"
        :variantId="{{ parentVariant.id }}"
        :trackId="{{ trackId }}">
    <div class="skeleton"></div>
</cross-sell-engine>
