{% comment %}

    Accepts:
    - product: {Object} product (Optional)
    - atc_text: {String} product (Optional)


    Usage:
    {% render 'cross-sell-card-overlay',  product: prod, atc_text: atc_text %}

    {% endcomment %}
<style>
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
  }
  variant-selector select {
    width: 100%;
    appearance: none;
    outline: none;
    -webkit-outline: none;
    -moz-outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .btn-cross-sell loader-element {
    width: 20px !important;
    height: 20px !important;
    position: static !important;
    background-color: transparent !important;
  }
  .btn-cross-sell:hover svg {
color: white;
transition: all 0.3s ease-in-out;
  }
</style>
<div class="rounded-lg flex bg-[#F9F7F6] h-[200px]">
  <div class="w-2/5 h-full relative">
    <img src="{{ product.featured_image | image_url }}" class="w-full h-full rounded-tl-lg rounded-bl-lg object-cover" alt="{{ product.featured_image.alt }}">
    {% if product.compare_at_price > product.price %}
      {% assign discount_percentage = product.compare_at_price
        | minus: product.price
        | times: 100.0
        | divided_by: product.compare_at_price
        | round
      %}
      <p class="absolute top-2 left-2 text-[10px] py-1 px-[6px] w-max font-semibold text-white bg-[#F03306] rounded-full p-2">
        - {{ discount_percentage }} %
      </p>
    {% endif %}
  </div>
  <div class="p-3 w-3/5 flex flex-col justify-between">
    <a href="{{ product.url }}" class="text-sm font-semibold break-words line-clamp-1">{{ product.title }}</a>
    {% assign selected_size = selected_size | split: '(' | first %}
    {% for variant in product.variants %}
      {% for option in variant.options %}
        {% assign option_size = option | split: '(' | first %}
        {% if option_size == selected_size %}
          {% assign selected_option = option %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% unless selected_variant %}
      {% assign selected_variant = product.selected_or_first_available_variant %}
    {% endunless %}
    <div class="relative w-full{% if product.has_only_default_variant %} hidden{% endif %}">
      <label>
        <variant-selector
          class="!py-[7px] !px-[14px] w-full !border-[#9C9794] !max-w-none !h-[34px] relative rounded-lg variant-selector"
          :value="{{ selected_variant.id }}"
          :options="{{ product.variants | json | escape }}"
        >
        </variant-selector>
        {% render 'icon-arrow-down', custom_class: "absolute right-3 top-2 z-10 w-[16px] h-[16px] md:w-[20px] md:h-[20px]" %}
      </label>
    </div>
    <span class="rounded-full w-fit h-fit px-2 py-1 relative before:w-[24px] before:h-[24px] before:absolute before:-top-[1px] before:left-[1px] z-10 before:-z-10 before:rounded-full before:bg-[#E9E3DF] text-xs font-semibold">x1</span>
      <div class="upsell-item__pricing text-sm flex md:flex-row flex-row gap-1">
       
        <div class="{% if selected_variant.compare_at_price > selected_variant.price %}text-[#DA1F00]{% endif %} font-semibold text-sm">
          ${{ selected_variant.price | money_without_currency }}
        </div>
         {% if selected_variant.compare_at_price > selected_variant.price %}
          <div class="text-[#2E2F3C] line-through text-sm">
            ${{ selected_variant.compare_at_price | money_without_currency }}
          </div>
        {% endif %}
      </div>
    <button
      class="flex items-center rounded-full w-fit border-2 border-black hover:border-[#ffa235] hover:text-white font-semibold justify-center py-1 px-4 gap-2 btn-cross-sell min-w-[142px] transition-all duration-300 ease-in-out hover:bg-[#ffa235]"
      {% if product.selected_or_first_available_variant.available == false %}
        disabled
      {% endif %}
    >
      <svg class="btn-child text-black " xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
        <path d="M18 9.375H11.125V2.5C11.125 2.15495 10.845 1.875 10.5 1.875C10.1549 1.875 9.875 2.15495 9.875 2.5V9.375H3C2.65495 9.375 2.375 9.65495 2.375 10C2.375 10.345 2.65495 10.625 3 10.625H9.875V17.5C9.875 17.845 10.1549 18.125 10.5 18.125C10.845 18.125 11.125 17.845 11.125 17.5V10.625H18C18.345 10.625 18.625 10.345 18.625 10C18.625 9.65495 18.345 9.375 18 9.375Z" fill="currentColor"/>
      </svg>
      <span class="btn-child text-xs md:text-sm">{{ atc_text }}</span>
      <loader-element :type='spinner'></loader-element>
    </button>
  </div>
</div>
