<div class="two-columns-layout{% if settings.inverted %} is-inverted{% endif %}">
  <div class="media-column">
    {% case mediaType %}
      {% when 'image' %}
        <img class="lazyload" data-src="{{ mediaSource | image_url: width: 1280 }}" width="1280" alt="">

      {% when 'video' %}
        {% assign poster = mediaSource | image_url: width: 720 | prepend: "https:" %}

        <video class="lazy" playsinline="playsinline" autoplay loop muted preload="metadata" poster="{{ poster }}">

          {% for source in mediaSource.sources %}
            {% if source.mime_type != "application/x-mpegURL" %}
              <source data-src="{{ source.url }}" type="{{ source.mime_type }}" />
            {% endif %}
          {% endfor %}
        </video>
      {% when 'youtube' %}
        <iframe
          src="https://www.youtube.com/embed/{{ mediaSource.id }}"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
    {% endcase %}
  </div>

  <div class="content-column">
    <h2 class="heading-2">{{ settings.heading }}</h2>
    <p class="lead-statement">
      {{ settings.content | remove: "<p>" | remove: "</p>" }}
    </p>

    {% if settings.cta_url != blank %}
      <a class="btn" href="{{ settings.cta_url }}">
        {{ settings.cta_text }}
      </a>
    {% endif %}
  </div>
</div>
