{% liquid
    assign postfix = "PDP"
    if template == "page.sale"
        assign postfix = "SP"
    endif

    if template contains "collection"
        assign postfix = "CP"
    endif

    assign trackId = product.metafields.accentuate.track_id | append: "_" | append: postfix

    assign blockImg = blockImg | image_url: width: 450
    assign coverImg = product.featured_image | image_url: width: 450
    assign objectPosition = product.metafields.accentuate.featured_image_position
    assign imgUrl = blockImg | default: product.metafields.accentuate.featured_image[0].src | default: coverImg

    assign featuredRotation = shop.metafields.globals.mattress_cover_rotation | default: "A"

    assign shortDesc = product.metafields.accentuate.short_description
    assign specifications = product.metafields.accentuate.product_specifications
%}

<product-card class="{% if landscape %} landscape{% endif %}" :productId="{{ product.id }}" abtasty-tracker="PDP_CTR">
    <tracked-button :trackId="{{ trackId }}" href="{{ product.url }}" class="wrapper">
        <div class="product-card-media">

            <img
                src="{{ imgUrl }}"
                alt=""
                class="product__image{% if objectPosition %} object-{{ objectPosition }}{% endif %}"
            />
        </div>

        <div class="product-card-detail">
            <div class="product-card-badge-container">
                {% assign uptoDiscount = product.metafields.accentuate.upto_discount | times: 1 %}
                {% if uptoDiscount > 0 %}
                    <div
                        class="product-card-badge bg-scarlet"
                    >
                        {{ uptoDiscount | prepend: '- ' | append: ' %' }}
                    </div>
                {% endif %}

                {% if product.metafields.accentuate.promotion_capsule %}
                    <div
                        class="product-card-badge bg-calm-600">{{ product.metafields.accentuate.promotion_capsule }}</div>
                {% endif %}
            </div>

            <div class="product-card-metadata">
                {% comment %} {% if show_star_rating == blank or show_star_rating == true %}
                     <product-star-rating :productId="{{ product.id }}"></product-star-rating>
                 {% endif %}
                 {% endcomment %}
                <h3 class="product__name font-inter">{{ product.title }}</h3>

                {% if shortDesc %}
                    <p class="product__short-desc">{{ shortDesc }}</p>
                {% endif %}

                {% if specifications.size %}
                    <div class="product-specifications">
                        {% if specifications.firmness %}
                        <div class="product-spec">
                            <div class="product-spec__icon">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                      d="M9.47981 4.51339C9.59578 4.68713 9.79108 4.79171 9.99983 4.79171C10.209 4.79171 10.4043 4.68713 10.5198 4.51298L11.0749 3.67965C11.2026 3.488 11.2148 3.24142 11.1058 3.03837C10.9967 2.83533 10.7851 2.70837 10.5548 2.70837H9.44441C9.2141 2.70837 9.00211 2.83532 8.89347 3.03837C8.78442 3.24182 8.79662 3.48841 8.92439 3.68006L9.47981 4.51339Z"
                                    />
                                    <path
                                      d="M16.6665 15.2084H3.33316C2.98811 15.2084 2.70816 15.4883 2.70816 15.8334C2.70816 16.1784 2.98811 16.4584 3.33316 16.4584H16.6665C17.0115 16.4584 17.2915 16.1784 17.2915 15.8334C17.2915 15.4883 17.0115 15.2084 16.6665 15.2084Z"
                                    />
                                    <path
                                      d="M3.13541 10.5933L6.55501 11.7334C7.66869 12.1037 8.82754 12.2917 9.99983 12.2917C11.1717 12.2917 12.3306 12.1037 13.4455 11.7334L16.8643 10.5933C17.1914 10.4834 17.3688 10.1294 17.2598 9.80229C17.1499 9.47514 16.7991 9.2957 16.4687 9.40719L13.0508 10.5469C11.0757 11.2045 8.92113 11.2045 6.95011 10.5469L3.53091 9.40718C3.20172 9.2961 2.84894 9.47513 2.7403 9.80228C2.63125 10.1294 2.80785 10.4834 3.13541 10.5933Z"
                                    />
                                    <path
                                      d="M6.60017 7.09599C7.6105 7.76941 8.78604 8.12504 9.99983 8.12504C11.2132 8.12504 12.3892 7.76941 13.3999 7.09599L17.0132 4.68673C17.3004 4.49508 17.3778 4.10731 17.1865 3.82003C16.9953 3.53317 16.6079 3.45423 16.3198 3.64669L12.7065 6.05595C11.096 7.12813 8.90242 7.12732 7.29312 6.05595L3.67984 3.64669C3.39257 3.45544 3.00479 3.53235 2.81314 3.82002C2.62149 4.1073 2.69921 4.49507 2.98647 4.68672L6.60017 7.09599Z"
                                    />
                                </svg>
                            </div>

                            <p class="product-spec__content">{{ specifications.firmness }}</p>
                        </div>
                        {% endif %}

                        {% case featuredRotation %}
                            {% when "A" %}
                                {% if specifications.height %}
                                    <div class="product-spec">
                                        <div class="product-spec__icon">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                  d="M16.6663 16.875H3.33301C2.98796 16.875 2.70801 17.1549 2.70801 17.5C2.70801 17.845 2.98796 18.125 3.33301 18.125H16.6663C17.0114 18.125 17.2913 17.845 17.2913 17.5C17.2913 17.1549 17.0114 16.875 16.6663 16.875Z"
                                                />
                                                <path
                                                  d="M3.33301 3.125H16.6663C17.0114 3.125 17.2913 2.84505 17.2913 2.5C17.2913 2.15495 17.0114 1.875 16.6663 1.875H3.33301C2.98796 1.875 2.70801 2.15495 2.70801 2.5C2.70801 2.84505 2.98796 3.125 3.33301 3.125Z"
                                                />
                                                <path
                                                  d="M12.0578 7.94189C12.1798 8.06397 12.3394 8.125 12.4997 8.125C12.66 8.125 12.8195 8.06397 12.9416 7.94189C13.1857 7.69775 13.1857 7.30224 12.9416 7.0581L10.4416 4.5581C10.3284 4.44498 10.1722 4.375 9.99967 4.375C9.82715 4.375 9.6709 4.44498 9.55778 4.55811L7.05778 7.05811C6.81364 7.30225 6.81364 7.69776 7.05778 7.9419C7.30192 8.18604 7.69743 8.18604 7.94157 7.9419L9.37467 6.50879V13.4912L7.94157 12.0581C7.69742 11.814 7.30192 11.814 7.05777 12.0581C6.81363 12.3022 6.81363 12.6978 7.05777 12.9419L9.55777 15.4419C9.6709 15.555 9.82715 15.625 9.99967 15.625C10.1722 15.625 10.3284 15.555 10.4416 15.4419L12.9416 12.9419C13.1857 12.6978 13.1857 12.3022 12.9416 12.0581C12.6974 11.814 12.3019 11.814 12.0578 12.0581L10.6247 13.4912V6.50879L12.0578 7.94189Z"
                                                />
                                            </svg>

                                        </div>

                                        <p class="product-spec__content">{{ specifications.height }}-inch</p>
                                    </div>
                                {% endif %}

                            {% when "B" %}
                            {% if specifications.layerCount  %}
                                <div class="product-spec">
                                    <div class="product-spec__icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                              d="M16.6663 16.875H3.33301C2.98796 16.875 2.70801 17.1549 2.70801 17.5C2.70801 17.845 2.98796 18.125 3.33301 18.125H16.6663C17.0114 18.125 17.2913 17.845 17.2913 17.5C17.2913 17.1549 17.0114 16.875 16.6663 16.875Z"
                                            />
                                            <path
                                              d="M3.33301 3.125H16.6663C17.0114 3.125 17.2913 2.84505 17.2913 2.5C17.2913 2.15495 17.0114 1.875 16.6663 1.875H3.33301C2.98796 1.875 2.70801 2.15495 2.70801 2.5C2.70801 2.84505 2.98796 3.125 3.33301 3.125Z"
                                            />
                                            <path
                                              d="M12.0578 7.94189C12.1798 8.06397 12.3394 8.125 12.4997 8.125C12.66 8.125 12.8195 8.06397 12.9416 7.94189C13.1857 7.69775 13.1857 7.30224 12.9416 7.0581L10.4416 4.5581C10.3284 4.44498 10.1722 4.375 9.99967 4.375C9.82715 4.375 9.6709 4.44498 9.55778 4.55811L7.05778 7.05811C6.81364 7.30225 6.81364 7.69776 7.05778 7.9419C7.30192 8.18604 7.69743 8.18604 7.94157 7.9419L9.37467 6.50879V13.4912L7.94157 12.0581C7.69742 11.814 7.30192 11.814 7.05777 12.0581C6.81363 12.3022 6.81363 12.6978 7.05777 12.9419L9.55777 15.4419C9.6709 15.555 9.82715 15.625 9.99967 15.625C10.1722 15.625 10.3284 15.555 10.4416 15.4419L12.9416 12.9419C13.1857 12.6978 13.1857 12.3022 12.9416 12.0581C12.6974 11.814 12.3019 11.814 12.0578 12.0581L10.6247 13.4912V6.50879L12.0578 7.94189Z"
                                            />
                                        </svg>
                                    </div>

                                    <p class="product-spec__content">{{ specifications.layerCount }} Layers</p>
                                </div>
                            {% endif %}
                        {% endcase %}


                        {% if specifications.materials %}
                        <div class="product-spec">
                            <div class="product-spec__icon">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                      d="M1.38647 7.22572L9.48991 11.2776C9.64942 11.3574 9.82479 11.3973 9.99976 11.3973C10.1747 11.3973 10.3497 11.3574 10.5092 11.2776L18.6122 7.22572C18.8246 7.11992 18.9581 6.90345 18.9581 6.66663C18.9581 6.42982 18.8246 6.21334 18.6122 6.10755L10.5092 2.05603C10.1902 1.89652 9.80892 1.89652 9.48992 2.05603L1.38647 6.10755C1.17489 6.21334 1.04102 6.42982 1.04102 6.66663C1.04102 6.90345 1.17489 7.11992 1.38647 7.22572ZM9.99976 3.19862L16.9358 6.66663L9.99976 10.1351L3.06372 6.66663L9.99976 3.19862Z"
                                    />
                                    <path
                                      d="M18.054 9.44088L9.99976 13.4684L1.94597 9.44088C1.63835 9.28748 1.26156 9.41158 1.10734 9.72042C0.953124 10.0293 1.07804 10.4044 1.38688 10.559L9.49032 14.611C9.64942 14.6907 9.82438 14.7306 9.99935 14.7306C10.1739 14.7306 10.3497 14.6907 10.5092 14.611L18.6122 10.559C18.9215 10.4044 19.0468 10.0293 18.8922 9.72042C18.7375 9.4124 18.3632 9.28626 18.054 9.44088Z"
                                    />
                                    <path
                                      d="M18.054 12.7742L9.99976 16.8017L1.94597 12.7742C1.63835 12.622 1.26156 12.7449 1.10734 13.0542C0.953124 13.3626 1.07804 13.7378 1.38688 13.8924L9.49032 17.9443C9.64942 18.024 9.82438 18.0639 9.99935 18.0639C10.1739 18.0639 10.3497 18.024 10.5092 17.9443L18.6122 13.8924C18.9215 13.7378 19.0468 13.3626 18.8922 13.0542C18.7375 12.7441 18.3632 12.6196 18.054 12.7742Z"
                                    />
                                </svg>
                            </div>

                            <p class="product-spec__content">{{ specifications.materials }}</p>
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="product-card-footer">
                <p class="product__price">
                    <span class="font-bold">{{ product.selected_or_first_available_variant.price | money }}</span>

                    {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
                        <del
                            class="product__original-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</del>
                    {% endif %}
                </p>

                <affirm-widget
                    :placement="promotion-line"
                    :amount="{{ product.selected_or_first_available_variant.price | divided_by: 100.00 }}"
                ></affirm-widget>
            </div>
        </div>

    </tracked-button>
</product-card>
