{% liquid
    assign postfix = 'PDP'
    if template == 'page.sale'
        assign postfix = 'SP'
    endif

    if template contains 'collection'
        assign postfix = 'CP'
    endif

    assign trackId = product.metafields.accentuate.track_id | append: '_' | append: postfix

    assign blockImg = blockImg | image_url: width: 450
    assign coverImg = product.featured_image | image_url: width: 450
    assign objectPosition = product.metafields.accentuate.featured_image_position
    assign imgUrl = blockImg | default: product.metafields.accentuate.featured_image[0].src | default: coverImg

    assign featuredRotation = shop.metafields.globals.mattress_cover_rotation | default: 'A'

    assign shortDesc = product.metafields.accentuate.short_description | metafield_tag
    assign specifications = product.metafields.accentuate.product_specifications
    assign showSpecifications = product.metafields.accentuate.show_specifications
%}

<product-card class="{% if landscape %} landscape{% endif %}" :productId="{{ product.id }}" abtasty-tracker="PDP_CTR">
    <tracked-button :trackId="{{ trackId }}" href="{{ product.url }}" class="wrapper">
        <div class="product-card-media">
            <picture-tag
                :src="{{ imgUrl }}"
                class="product__image{% if objectPosition %} object-{{ objectPosition }}{% endif %}">
            </picture-tag>
        </div>

        <div class="product-card-detail">
            <div class="product-card-badge-container">
                {% assign uptoDiscount = product.metafields.accentuate.upto_discount | times: 1 %}
                {% if uptoDiscount > 0 %}
                    <div
                        class="product-card-badge bg-scarlet"
                    >
                        {{ uptoDiscount | prepend: '- ' | append: ' %' }}
                    </div>
                {% endif %}

                {% if product.metafields.accentuate.promotion_capsule %}
                    <div
                        class="product-card-badge bg-calm-600"
                    >
                        {{ product.metafields.accentuate.promotion_capsule }}
                    </div>
                {% endif %}
            </div>

            <div class="product-card-metadata">
                {% comment %}
                  {% if show_star_rating == blank or show_star_rating == true %}
                      <product-star-rating :productId="{{ product.id }}"></product-star-rating>
                  {% endif %}
                {% endcomment %}
                <h3 class="product__name font-inter">{{ product.title }}</h3>

                {% if shortDesc %}
                    <div class="product__short-desc">{{ shortDesc }}</div>
                {% endif %}

                {% if showSpecifications == true %}
                    <div class="product-specifications">
                        {% if specifications.firmness %}
                            <div class="product-spec">
                                <div class="product-spec__icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.47981 4.51339C9.59578 4.68713 9.79108 4.79171 9.99983 4.79171C10.209 4.79171 10.4043 4.68713 10.5198 4.51298L11.0749 3.67965C11.2026 3.488 11.2148 3.24142 11.1058 3.03837C10.9967 2.83533 10.7851 2.70837 10.5548 2.70837H9.44441C9.2141 2.70837 9.00211 2.83532 8.89347 3.03837C8.78442 3.24182 8.79662 3.48841 8.92439 3.68006L9.47981 4.51339Z"
                                        />
                                        <path
                                            d="M16.6665 15.2084H3.33316C2.98811 15.2084 2.70816 15.4883 2.70816 15.8334C2.70816 16.1784 2.98811 16.4584 3.33316 16.4584H16.6665C17.0115 16.4584 17.2915 16.1784 17.2915 15.8334C17.2915 15.4883 17.0115 15.2084 16.6665 15.2084Z"
                                        />
                                        <path
                                            d="M3.13541 10.5933L6.55501 11.7334C7.66869 12.1037 8.82754 12.2917 9.99983 12.2917C11.1717 12.2917 12.3306 12.1037 13.4455 11.7334L16.8643 10.5933C17.1914 10.4834 17.3688 10.1294 17.2598 9.80229C17.1499 9.47514 16.7991 9.2957 16.4687 9.40719L13.0508 10.5469C11.0757 11.2045 8.92113 11.2045 6.95011 10.5469L3.53091 9.40718C3.20172 9.2961 2.84894 9.47513 2.7403 9.80228C2.63125 10.1294 2.80785 10.4834 3.13541 10.5933Z"
                                        />
                                        <path
                                            d="M6.60017 7.09599C7.6105 7.76941 8.78604 8.12504 9.99983 8.12504C11.2132 8.12504 12.3892 7.76941 13.3999 7.09599L17.0132 4.68673C17.3004 4.49508 17.3778 4.10731 17.1865 3.82003C16.9953 3.53317 16.6079 3.45423 16.3198 3.64669L12.7065 6.05595C11.096 7.12813 8.90242 7.12732 7.29312 6.05595L3.67984 3.64669C3.39257 3.45544 3.00479 3.53235 2.81314 3.82002C2.62149 4.1073 2.69921 4.49507 2.98647 4.68672L6.60017 7.09599Z"
                                        />
                                    </svg>
                                </div>

                                <p class="product-spec__content">{{ specifications.firmness }}</p>
                            </div>
                        {% endif %}

                        {% case featuredRotation %}
                            {% when 'A' %}
                                {% if specifications.height %}
                                    <div class="product-spec">
                                        <div class="product-spec__icon">
                                            <svg
                                                width="20"
                                                height="20"
                                                viewBox="0 0 20 20"
                                                fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    d="M16.6663 16.875H3.33301C2.98796 16.875 2.70801 17.1549 2.70801 17.5C2.70801 17.845 2.98796 18.125 3.33301 18.125H16.6663C17.0114 18.125 17.2913 17.845 17.2913 17.5C17.2913 17.1549 17.0114 16.875 16.6663 16.875Z"
                                                />
                                                <path
                                                    d="M3.33301 3.125H16.6663C17.0114 3.125 17.2913 2.84505 17.2913 2.5C17.2913 2.15495 17.0114 1.875 16.6663 1.875H3.33301C2.98796 1.875 2.70801 2.15495 2.70801 2.5C2.70801 2.84505 2.98796 3.125 3.33301 3.125Z"
                                                />
                                                <path
                                                    d="M12.0578 7.94189C12.1798 8.06397 12.3394 8.125 12.4997 8.125C12.66 8.125 12.8195 8.06397 12.9416 7.94189C13.1857 7.69775 13.1857 7.30224 12.9416 7.0581L10.4416 4.5581C10.3284 4.44498 10.1722 4.375 9.99967 4.375C9.82715 4.375 9.6709 4.44498 9.55778 4.55811L7.05778 7.05811C6.81364 7.30225 6.81364 7.69776 7.05778 7.9419C7.30192 8.18604 7.69743 8.18604 7.94157 7.9419L9.37467 6.50879V13.4912L7.94157 12.0581C7.69742 11.814 7.30192 11.814 7.05777 12.0581C6.81363 12.3022 6.81363 12.6978 7.05777 12.9419L9.55777 15.4419C9.6709 15.555 9.82715 15.625 9.99967 15.625C10.1722 15.625 10.3284 15.555 10.4416 15.4419L12.9416 12.9419C13.1857 12.6978 13.1857 12.3022 12.9416 12.0581C12.6974 11.814 12.3019 11.814 12.0578 12.0581L10.6247 13.4912V6.50879L12.0578 7.94189Z"
                                                />
                                            </svg>
                                        </div>

                                        <p class="product-spec__content">{{ specifications.height }}-inch</p>
                                    </div>
                                {% endif %}

                            {% when 'B' %}
                                {% if specifications.layerCount %}
                                    <div class="product-spec">
                                        <div class="product-spec__icon">
                                            <svg
                                                width="20"
                                                height="20"
                                                viewBox="0 0 20 20"
                                                fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    d="M16.6663 16.875H3.33301C2.98796 16.875 2.70801 17.1549 2.70801 17.5C2.70801 17.845 2.98796 18.125 3.33301 18.125H16.6663C17.0114 18.125 17.2913 17.845 17.2913 17.5C17.2913 17.1549 17.0114 16.875 16.6663 16.875Z"
                                                />
                                                <path
                                                    d="M3.33301 3.125H16.6663C17.0114 3.125 17.2913 2.84505 17.2913 2.5C17.2913 2.15495 17.0114 1.875 16.6663 1.875H3.33301C2.98796 1.875 2.70801 2.15495 2.70801 2.5C2.70801 2.84505 2.98796 3.125 3.33301 3.125Z"
                                                />
                                                <path
                                                    d="M12.0578 7.94189C12.1798 8.06397 12.3394 8.125 12.4997 8.125C12.66 8.125 12.8195 8.06397 12.9416 7.94189C13.1857 7.69775 13.1857 7.30224 12.9416 7.0581L10.4416 4.5581C10.3284 4.44498 10.1722 4.375 9.99967 4.375C9.82715 4.375 9.6709 4.44498 9.55778 4.55811L7.05778 7.05811C6.81364 7.30225 6.81364 7.69776 7.05778 7.9419C7.30192 8.18604 7.69743 8.18604 7.94157 7.9419L9.37467 6.50879V13.4912L7.94157 12.0581C7.69742 11.814 7.30192 11.814 7.05777 12.0581C6.81363 12.3022 6.81363 12.6978 7.05777 12.9419L9.55777 15.4419C9.6709 15.555 9.82715 15.625 9.99967 15.625C10.1722 15.625 10.3284 15.555 10.4416 15.4419L12.9416 12.9419C13.1857 12.6978 13.1857 12.3022 12.9416 12.0581C12.6974 11.814 12.3019 11.814 12.0578 12.0581L10.6247 13.4912V6.50879L12.0578 7.94189Z"
                                                />
                                            </svg>
                                        </div>

                                        <p class="product-spec__content">{{ specifications.layerCount }} Layers</p>
                                    </div>
                                {% endif %}
                        {% endcase %}

                        {% if specifications.breathability %}
                            <div class="product-spec">
                                <div class="product-spec__icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M22 11.25H19.5912C19.3757 10.9883 19.25 10.7527 19.25 10.333C19.25 9.7881 19.46 9.5547 19.8076 9.16896C20.2051 8.72657 20.75 8.12159 20.75 7.00001V5.81056L21.4697 6.53029C21.6162 6.67677 21.8076 6.75001 22 6.75001C22.1924 6.75001 22.3838 6.67677 22.5303 6.53028C22.8232 6.23731 22.8232 5.7627 22.5303 5.46973L20.5303 3.46973C20.2373 3.17676 19.7627 3.17676 19.4697 3.46973L17.4697 5.46973C17.1768 5.7627 17.1768 6.23731 17.4697 6.53028C17.7627 6.82325 18.2373 6.82325 18.5303 6.53028L19.25 5.81056V7.00001C19.25 7.54591 19.04 7.77882 18.6924 8.16554C18.2949 8.60694 17.75 9.21241 17.75 10.333C17.75 10.6929 17.8174 10.9848 17.9068 11.25H12.5912C12.3757 10.9883 12.25 10.7527 12.25 10.333C12.25 9.7881 12.46 9.5547 12.8076 9.16896C13.2051 8.72657 13.75 8.12159 13.75 7.00001V5.81056L14.4697 6.53029C14.6162 6.67677 14.8076 6.75001 15 6.75001C15.1924 6.75001 15.3838 6.67677 15.5303 6.53028C15.8232 6.23731 15.8232 5.7627 15.5303 5.46973L13.5303 3.46973C13.2373 3.17676 12.7627 3.17676 12.4697 3.46973L10.4697 5.46973C10.1768 5.7627 10.1768 6.23731 10.4697 6.53028C10.7627 6.82325 11.2373 6.82325 11.5303 6.53028L12.25 5.81056V7.00001C12.25 7.54591 12.04 7.77882 11.6924 8.16554C11.2949 8.60694 10.75 9.21241 10.75 10.333C10.75 10.6929 10.8174 10.9848 10.9068 11.25H5.59119C5.37604 10.9883 5.25 10.7527 5.25 10.333C5.25 9.7881 5.45996 9.5547 5.80713 9.16896C6.20508 8.72657 6.75 8.12159 6.75 7.00001V5.81056L7.46973 6.53029C7.61621 6.67677 7.80811 6.75001 8 6.75001C8.19189 6.75001 8.38379 6.67677 8.53027 6.53028C8.82324 6.23731 8.82324 5.7627 8.53027 5.46973L6.53027 3.46973C6.2373 3.17676 5.76269 3.17676 5.46972 3.46973L3.46972 5.46973C3.17675 5.7627 3.17675 6.23731 3.46972 6.53028C3.76269 6.82325 4.2373 6.82325 4.53027 6.53028L5.25 5.81056V7.00001C5.25 7.54591 5.04004 7.77882 4.69238 8.16554C4.29492 8.60694 3.75 9.21241 3.75 10.333C3.75 10.6929 3.81744 10.9848 3.9068 11.25H2C1.58594 11.25 1.25 11.5859 1.25 12C1.25 12.4141 1.58594 12.75 2 12.75H22C22.4141 12.75 22.75 12.4141 22.75 12C22.75 11.5859 22.4141 11.25 22 11.25Z"></path>
                                        <path
                                            d="M5.25 17.5713C5.25 16.9961 5.47461 16.7393 5.81445 16.3506C6.06152 16.0684 6.34228 15.7471 6.5332 15.2881C6.69238 14.9063 6.51123 14.4668 6.1289 14.3076C5.74609 14.1494 5.3081 14.3301 5.14843 14.7119C5.05175 14.9443 4.88183 15.1387 4.68554 15.3633C4.29053 15.8145 3.75 16.4326 3.75 17.5713C3.75 18.7109 4.26904 19.3037 4.68555 19.7803C5.02539 20.168 5.25 20.4248 5.25 21C5.25 21.4141 5.58594 21.75 6 21.75C6.41406 21.75 6.75 21.4141 6.75 21C6.75 19.8613 6.23145 19.2686 5.81445 18.792C5.47461 18.4033 5.25 18.1475 5.25 17.5713Z"></path>
                                        <path
                                            d="M12.25 17.5713C12.25 16.9961 12.4746 16.7393 12.8145 16.3506C13.0615 16.0684 13.3418 15.7471 13.5332 15.2881C13.6924 14.9063 13.5117 14.4668 13.1289 14.3076C12.749 14.1504 12.3086 14.3291 12.1484 14.7119C12.0518 14.9443 11.8818 15.1387 11.6855 15.3633C11.2905 15.8145 10.75 16.4326 10.75 17.5713C10.75 18.7109 11.269 19.3037 11.6855 19.7803C12.0254 20.168 12.25 20.4248 12.25 21C12.25 21.4141 12.5859 21.75 13 21.75C13.4141 21.75 13.75 21.4141 13.75 21C13.75 19.8613 13.2315 19.2686 12.8145 18.792C12.4746 18.4033 12.25 18.1475 12.25 17.5713Z"></path>
                                        <path
                                            d="M19.25 17.5713C19.25 16.9961 19.4746 16.7393 19.8144 16.3506C20.0615 16.0684 20.3418 15.7471 20.5332 15.2881C20.6924 14.9063 20.5117 14.4668 20.1289 14.3076C19.749 14.1504 19.3076 14.3291 19.1484 14.7119C19.0518 14.9443 18.8818 15.1387 18.6855 15.3633C18.291 15.8145 17.75 16.4326 17.75 17.5713C17.75 18.7109 18.2686 19.3037 18.6856 19.7803C19.0254 20.168 19.25 20.4248 19.25 21C19.25 21.4141 19.5859 21.75 20 21.75C20.4141 21.75 20.75 21.4141 20.75 21C20.75 19.8613 20.2314 19.2686 19.8144 18.792C19.4746 18.4033 19.25 18.1475 19.25 17.5713Z"></path>
                                    </svg>
                                </div>

                                <p class="product-spec__content">{{ specifications.breathability }}</p>
                            </div>
                        {% endif %}
                        {% if specifications.thermoregulation %}
                            <div class="product-spec">
                                <div class="product-spec__icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M23.5303 10.4697C23.2373 10.1768 22.7627 10.1768 22.4697 10.4697L21.7028 11.2367C21.4706 8.27277 19.9161 5.5658 17.417 3.89258C17.0732 3.66211 16.6074 3.75391 16.3769 4.09815C16.1465 4.44239 16.2383 4.90821 16.583 5.13868C18.6368 6.5146 19.9422 8.71333 20.1965 11.1359L19.5303 10.4697C19.2373 10.1768 18.7627 10.1768 18.4697 10.4697C18.1767 10.7627 18.1767 11.2373 18.4697 11.5303L20.4697 13.5303C20.6162 13.6768 20.8076 13.75 21 13.75C21.1924 13.75 21.3838 13.6768 21.5303 13.5303L23.5303 11.5303C23.8232 11.2373 23.8232 10.7627 23.5303 10.4697Z"></path>
                                        <path
                                            d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z"></path>
                                        <path
                                            d="M14.75 3.99951C14.75 2.4834 13.5166 1.24951 12 1.24951C10.4839 1.24951 9.25001 2.4834 9.25001 3.99951V16.4658C8.4546 17.3242 8.10401 18.4951 8.30812 19.6611C8.57277 21.1816 9.81642 22.4277 11.3325 22.6924C11.5532 22.7305 11.7739 22.749 11.9932 22.749C12.877 22.749 13.7334 22.4434 14.4131 21.8701C15.2627 21.1563 15.75 20.1094 15.75 19C15.75 18.0625 15.3897 17.1563 14.75 16.4658V3.99951ZM13.4482 20.7227C12.9307 21.1582 12.2705 21.333 11.5894 21.2139C10.6855 21.0566 9.94385 20.3125 9.78565 19.4033C9.64893 18.6221 9.91016 17.8682 10.502 17.3359C10.6597 17.1934 10.75 16.9912 10.75 16.7783V3.99951C10.75 3.31006 11.3106 2.74951 12 2.74951C12.6895 2.74951 13.25 3.31006 13.25 3.99951V16.7783C13.25 16.9912 13.3408 17.1934 13.4981 17.3359C13.9834 17.7715 14.25 18.3623 14.25 19C14.25 19.666 13.958 20.294 13.4482 20.7227Z"></path>
                                        <path
                                            d="M3.79511 12.8557L4.46973 13.5303C4.61622 13.6768 4.80812 13.75 5.00001 13.75C5.1919 13.75 5.3838 13.6768 5.53028 13.5303C5.82325 13.2373 5.82325 12.7627 5.53028 12.4697L3.53028 10.4697C3.23731 10.1768 2.7627 10.1768 2.46973 10.4697L0.469728 12.4697C0.176757 12.7627 0.176757 13.2373 0.469728 13.5303C0.762698 13.8232 1.23731 13.8232 1.53028 13.5303L2.29053 12.77C2.48859 15.2545 3.62683 17.5896 5.49903 19.2666C5.64258 19.3945 5.8213 19.458 5.99903 19.458C6.20508 19.458 6.41016 19.374 6.55811 19.208C6.83448 18.8994 6.8086 18.4258 6.50001 18.1494C4.9662 16.7758 4.00727 14.8819 3.79511 12.8557Z"></path>
                                    </svg>
                                </div>

                                <p class="product-spec__content">{{ specifications.thermoregulation }}</p>
                            </div>
                        {% endif %}
                        {% if specifications.materials %}
                            <div class="product-spec">
                                <div class="product-spec__icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M1.38647 7.22572L9.48991 11.2776C9.64942 11.3574 9.82479 11.3973 9.99976 11.3973C10.1747 11.3973 10.3497 11.3574 10.5092 11.2776L18.6122 7.22572C18.8246 7.11992 18.9581 6.90345 18.9581 6.66663C18.9581 6.42982 18.8246 6.21334 18.6122 6.10755L10.5092 2.05603C10.1902 1.89652 9.80892 1.89652 9.48992 2.05603L1.38647 6.10755C1.17489 6.21334 1.04102 6.42982 1.04102 6.66663C1.04102 6.90345 1.17489 7.11992 1.38647 7.22572ZM9.99976 3.19862L16.9358 6.66663L9.99976 10.1351L3.06372 6.66663L9.99976 3.19862Z"
                                        />
                                        <path
                                            d="M18.054 9.44088L9.99976 13.4684L1.94597 9.44088C1.63835 9.28748 1.26156 9.41158 1.10734 9.72042C0.953124 10.0293 1.07804 10.4044 1.38688 10.559L9.49032 14.611C9.64942 14.6907 9.82438 14.7306 9.99935 14.7306C10.1739 14.7306 10.3497 14.6907 10.5092 14.611L18.6122 10.559C18.9215 10.4044 19.0468 10.0293 18.8922 9.72042C18.7375 9.4124 18.3632 9.28626 18.054 9.44088Z"
                                        />
                                        <path
                                            d="M18.054 12.7742L9.99976 16.8017L1.94597 12.7742C1.63835 12.622 1.26156 12.7449 1.10734 13.0542C0.953124 13.3626 1.07804 13.7378 1.38688 13.8924L9.49032 17.9443C9.64942 18.024 9.82438 18.0639 9.99935 18.0639C10.1739 18.0639 10.3497 18.024 10.5092 17.9443L18.6122 13.8924C18.9215 13.7378 19.0468 13.3626 18.8922 13.0542C18.7375 12.7441 18.3632 12.6196 18.054 12.7742Z"
                                        />
                                    </svg>
                                </div>

                                <p class="product-spec__content">{{ specifications.materials }}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="product-card-footer">
                <p class="product__price">
                    <span class="font-bold">{{ product.selected_or_first_available_variant.price | money }}</span>

                    {% if product.selected_or_first_available_variant.compare_at_price
                    > product.selected_or_first_available_variant.price
                    %}
                        <del
                            class="product__original-price"
                        >
                            {{- product.selected_or_first_available_variant.compare_at_price | money -}}
                        </del>
                    {% endif %}
                </p>
            </div>
        </div>
    </tracked-button>
</product-card>
