{% comment %} <product-card class="{% if landscape %} landscape{% endif %}" :productId="{{ product.id }}"> {% endcomment %}
<product-card class="{% if landscape %} landscape{% endif %}" :productId="{{ product.id }}" abtasty-tracker="PDP_CTR">
  {% liquid
    assign postfix = "PDP"
    if template == "page.sale"
      assign postfix = "SP"
    endif

    if template contains "collection"
      assign postfix = "CP"
    endif

    assign trackId = product.metafields.accentuate.track_id | append: "_" | append: postfix
  %}


  <tracked-button :trackId="{{ trackId }}" href="{{ product.url }}" class="wrapper">
    <div class="product-card-media">
      {% assign blockImg = blockImg | image_url: width: 450 %}
      {% assign coverImg = product.featured_image | image_url: width: 450 %}
      {% assign objectPosition = product.metafields.accentuate.featured_image_position %}
      {% assign imgUrl = blockImg | default: product.metafields.accentuate.featured_image[0].src | default: coverImg %}
      <img
        src="{{ imgUrl }}"
        alt=""
        class="product__image{% if objectPosition %} object-{{ objectPosition }}{% endif %}"
      />
    </div>

    <div class="product-card-detail">
      <div class="product-card-badge-container">
        {% assign uptoDiscount = product.metafields.accentuate.upto_discount | times: 1 %}
        {% if uptoDiscount > 0 %}
          <div
            class="product-card-badge bg-scarlet"
          >
            {{ uptoDiscount | prepend: '- ' | append: ' %' }}
          </div>
        {% endif %}

        {% if product.metafields.accentuate.promotion_capsule %}
          <div class="product-card-badge bg-calm-600">{{ product.metafields.accentuate.promotion_capsule }}</div>
        {% endif %}
      </div>

      <div class="product-card-metadata">
        {% comment %} {% if show_star_rating == blank or show_star_rating == true %}
             <product-star-rating :productId="{{ product.id }}"></product-star-rating>
         {% endif %}
         {% endcomment %}
        <h3 class="product__name font-inter">{{ product.title }}</h3>

        <p class="product__short-desc">{{ product.metafields.accentuate.short_description }}</p>
      </div>

      <div class="product-card-footer">
        <p class="product__price">
          <span class="font-bold">{{ product.selected_or_first_available_variant.price | money }}</span>

          {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
            <del
              class="product__original-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</del>
          {% endif %}
        </p>

        <affirm-widget
          :placement="promotion-line"
          :amount="{{ product.selected_or_first_available_variant.price | divided_by: 100.00 }}"
        ></affirm-widget>
      </div>
    </div>

  </tracked-button>
</product-card>
