{% assign orientation = orientation | default: "horizontal" %}
<style>
    #quantity-selector.vertical {
        display: flex;
    }

    #quantity-selector.horizontal {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, auto);
        border: 1px solid #b3b3b3;
        border-radius: 8px;
    }
</style>

<link rel="stylesheet" href="{{ 'product-quantity-selector.css' | asset_url }}">

<div
    id="quantity-selector"
    class="{% if orientation == "vertical" %}vertical{% else %}horizontal{% endif %}"
    data-quantity-selector
    {{ block.shopify_attributes }}
>
  <label class="font-semibold text-sm leading-xl" for="Quantity-{{ section.id }}">
    {{ 'products.product.quantity' | t }}
  </label>

  <quantity-input
      name="quantity" form="product-form-{{ section.id }}"
      class="{% if orientation == "vertical" %}vertical{% else %}horizontal{% endif %}
    "
  >
    <button name="minus" type="button">
      -
    </button>
    <input
        type="number"
        name="quantity"
        id="Quantity-{{ section.id }}"
        value="1"
        min="1"
        pattern="[0-9]*"
        readonly
        data-quantity-selector-input
    >
    <button name="plus" type="button">
      +
    </button>
  </quantity-input>
</div>
