<shoppable-card :index="{{ index }}">
    <div class="video-container">
        <video playsinline preload="none" loop poster="{{ poster }}" muted autoplay>
            {% for source in media.sources %}
                {% if source.mime_type != "application/x-mpegURL" %}
                    <source
                            src="{{ source.url }}"
                            type="{{ source.mime_type }}">
                {% endif %}
            {% endfor %}
        </video>
    </div>

    <div class="card-content">
        <p class="video-duration text-white">
            {% assign minutes = media.duration | divided_by: 1000 | divided_by: 60 | prepend: '00' | slice: -2, 2 %}
            {% assign seconds = media.duration | divided_by: 1000 | prepend: '00' | slice: -2, 2 %}
            {{ minutes }}:{{ seconds }}
        </p>
    </div>
</shoppable-card>
