<style>
    section#sitemap {
        display: none;
    }
</style>
<link rel="quickscript" loading="visibility" href="{{ 'sitemap.css' | asset_url }}">

{% capture sitemapHTML %}
  {% for link in linklists[sitemap].links %}
    {% if link.handle != blank %}
      <div class="sitemap-item">
        <div class="sitemap-item-header">

          <h6 class="site-footer__heading">
            {{ link.title }}
          </h6>

          <svg class="plus-minus-toggle" xmlns="http://www.w3.org/2000/svg" width="13" viewBox="0 0 160 160">
            <rect class="vertical-line" x="60" width="40" height="160" />
            <rect class="horizontal-line" y="60" width="160" height="40" />
          </svg>
        </div>

        <ul class="site-footer__links">
          {% for childlink in link.links %}
            <li class="site-footer__link"><a href="{{ childlink.url }}"
                                             abtasty-tracker="PDP_CTR">{{ childlink.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <div class="sitemap-nested">
        {% for link in link.links %}
          <div class="sitemap-item">
            <div class="sitemap-item-header">

              <h6 class="site-footer__heading">
                {{ link.title }}
              </h6>

              <svg class="plus-minus-toggle" xmlns="http://www.w3.org/2000/svg" width="13" viewBox="0 0 160 160">
                <rect class="vertical-line" x="60" width="40" height="160" />
                <rect class="horizontal-line" y="60" width="160" height="40" />
              </svg>
            </div>

            <ul class="site-footer__links">
              {% for childlink in link.links %}
                <li class="site-footer__link"><a href="{{ childlink.url }}"
                                                 abtasty-tracker="PDP_CTR">{{ childlink.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>

    {% endif %}
  {% endfor %}
{% endcapture %}

<section id="sitemap">
  <div class="sitemap sitemap-frame--desktop">
    {{ sitemapHTML }}
  </div>

  <div class="sitemap sitemap-frame--mobile is-mobile">
    {{ sitemapHTML }}
  </div>
  <div class="payment_sec">

    <div class="payment_card">

      <ul>
        <li><img src="{{ 'visa.png' | asset_url }}" loading="lazy" width="92" height="40" title="Visa" /></li>
        <li><img src="{{ 'mastro.png' | asset_url }}" loading="lazy" width="92" height="40" title="Mastercard" /></li>
        <li><img src="{{ 'paypal.png' | asset_url }}" loading="lazy" width="92" height="40" title="PayPal" /></li>

      </ul>
    </div>
  </div>
</section>


<script type="quickscript" loading="visibility" src="{{ 'sitemap.js' | asset_url }}"></script>
