<style>
    section#sitemap {
        display: none;
    }
</style>
<link rel="quickscript" loading="visibility" href="{{ 'sitemap.css' | asset_url }}">

{% capture sitemapHTML %}
  {% for link in linklists[sitemap].links %}
    <script>
      console.log({
        "active": {{ link.active }},
        "child_active": {{ link.child_active }},
        "current": {{ link.current }},
        "handle": "{{ link.handle }}",
        "levels": {{ link.levels }},
        "children": [
          {% for childlink in link.links %}
          {
            "active": {{ childlink.active }},
            "child_active": {{ childlink.child_active }},
            "current": {{ childlink.current }},
            "handle": "{{ childlink.handle }}",
            "levels": {{ childlink.levels }},
            "object": {{ childlink.object | json }},
            "featuredImage": "{{ childlink.object.featured_image | image_url: width: 1040 }}",
            "title": "{{ childlink.object.metafields.accentuate.display_name | default: childlink.title }}",
            "type": "{{ childlink.type }}",
            "url": "{{ childlink.url }}",
            "accentuate": {{ childlink.object.metafields.accentuate | json }},
            "promotionCapsule": "{{ childlink.object.metafields.accentuate.promotion_capsule }}",
            "subnavHtmlContent": "{{ childlink.object.metafields.accentuate.subnav_html_content | replace: '"', "'" }}",
            "submenuThumbImage": "{{ childlink.object.metafields.accentuate.subnav_thumb_image }}",

          }
          {%- if forloop.length > 0 -%}
          {% unless forloop.last %},{% endunless -%}
          {%- endif -%}
          {% endfor %}
        ],
        "object": {{ link.object | json }},
        "title": "{{ link.title }}",
        "type": "{{ link.type }}",
        "url": "{{ link.url }}",
      });
    </script>

    {% if link.handle != blank %}
      <div class="sitemap-item">
        <div class="sitemap-item-header">

          <h6 class="site-footer__heading">
            {{ link.title }}
          </h6>

          <svg class="plus-minus-toggle" xmlns="http://www.w3.org/2000/svg" width="13" viewBox="0 0 160 160">
            <rect class="vertical-line" x="60" width="40" height="160" />
            <rect class="horizontal-line" y="60" width="160" height="40" />
          </svg>
        </div>

        <ul class="site-footer__links">
          {% for childlink in link.links %}
            <li class="site-footer__link"><a href="{{ childlink.url }}"
                                             abtasty-tracker="PDP_CTR">{{ childlink.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <div class="sitemap-nested">
        {% for link in link.links %}
          <div class="sitemap-item">
            <div class="sitemap-item-header">

              <h6 class="site-footer__heading">
                {{ link.title }}
              </h6>

              <svg class="plus-minus-toggle" xmlns="http://www.w3.org/2000/svg" width="13" viewBox="0 0 160 160">
                <rect class="vertical-line" x="60" width="40" height="160" />
                <rect class="horizontal-line" y="60" width="160" height="40" />
              </svg>
            </div>

            <ul class="site-footer__links">
              {% for childlink in link.links %}
                <li class="site-footer__link"><a href="{{ childlink.url }}"
                                                 abtasty-tracker="PDP_CTR">{{ childlink.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>

    {% endif %}
  {% endfor %}
{% endcapture %}

<section id="sitemap">
  <div class="sitemap sitemap-frame--desktop">
    {{ sitemapHTML }}
  </div>

  <div class="sitemap sitemap-frame--mobile is-mobile">
    {{ sitemapHTML }}
  </div>
  <div class="payment_sec">

    <div class="payment_card">

      <ul>
        <li><img src="{{ 'visa.png' | asset_url }}" loading="lazy" width="92" height="40" title="Visa" /></li>
        <li><img src="{{ 'mastro.png' | asset_url }}" loading="lazy" width="92" height="40" title="Mastercard" /></li>
        <li><img src="{{ 'paypal.png' | asset_url }}" loading="lazy" width="92" height="40" title="PayPal" /></li>

      </ul>
    </div>
  </div>
</section>


<script type="quickscript" loading="visibility" src="{{ 'sitemap.js' | asset_url }}"></script>
