{% liquid
    assign settings = block.settings
%}

<button-block
    style="
        --bgcolor: {{ settings.bgcolor }};
        --hover-bgcolor: {{ settings.hover-bgcolor | default: settings.bgcolor }};
        --color: {{ settings.color }};
        --hover-color: {{ settings.hover-color | default: settings.color }};
        "
    {% if settings.href != blank %}href="{{ settings.href }}"{% endif %}
    {% if settings.variant %}:variant="{{ settings.variant }}"{% endif %}
>
    {% render 'rtf-viewer', content: settings.content %}
</button-block>

{% schema %}
{
  "name": "Button",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Button Content",
      "default": "<p>Button Content</p>"
    },
    {
      "id": "bgcolor",
      "type": "color",
      "label": "Background Color",
      "default": "#ff8900"
    },
    {
      "id": "hover-bgcolor",
      "type": "color",
      "label": "Background Color when hovered",
      "default": "#ff8900"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "id": "hover-color",
      "type": "color",
      "label": "Text Color when hovered"
    },
    {
      "id": "variant",
      "type": "select",
      "label": "Button Variant",
      "options": [
        {
          "value": "",
          "label": "Base"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "cta",
          "label": "CTA"
        }
      ],
      "default": ""
    },
    {
      "id": "href",
      "type": "url",
      "label": "Href",
      "info": "Link"
    }
  ],
  "presets": [
    {
      "name": "Button",
      "settings": {
        "content": "<p>Button Content</p>",
        "href": ""
      }
    }
  ]
}
{% endschema %}
