{% layout none %}
<form action="{{ routes.cart_url }}" method="post" novalidate class="cart ajaxcart" style="z-index: 100;">
 {% if cart.items.size == 0%}
 <div class="cart--empty-message-wrapper">
  <p class="cart--empty-message">
   {{ 'cart.general.empty' | t }}
  </p>
 </div>
 {% else %}
  <div class="cart--ship-out-time">
   <p>Orders before 14.00 EST today for next business day shipping.</p>
  </div>
 {% endif%}
 <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer">
  {% assign total_cart_compare_price = 0 %}
  {% for item in cart.items %}
  {% assign compare_price = item.variant.compare_at_price | times: item.quantity %}
  {% assign total_cart_compare_price = total_cart_compare_price | plus: compare_price %}
  <div class="ajaxcart__product">
   <div class="ajaxcart__row" data-line="{{ forloop.index }}">
    <div class="grid">
     <div class="grid__item one-quarter">
      <a href="{{item.url}}" class="ajaxcart__product-image">
       {{ item.image | image_url: width: 100, height: 50 | image_tag: srcset: nil }}
      </a>
      </div>
     <div class="grid__item three-quarters">
      <div class="ajaxcart__product-name--wrapper">
       {% assign title = item.title | split: ' - ' %}
       <a href="{{item.url}}" class="ajaxcart__product-name">{{title[0]}}</a>
       {% if item.variant.title != 'Default Title' %}
       <span class="ajaxcart__product-meta">{{item.variant.title}}</span>
       {% endif %}
       {% if item.selling_plan_allocation %}
       <span class="ajaxcart__product-meta">{{item.selling_plan_allocation.selling_plan.name}}</span>
       {% endif %}
      </div>

      <div class="grid--full">

       <div class="grid__item one-half">
        <div class="ajaxcart__qty">
         <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id={{item.key}}
          data-qty="{{item.quantity | minus: 1}}" data-line="{{ forloop.index }}"
          aria-label="{{ 'cart.general.reduce_quantity' | t }}">
          <span class="icon icon-minus" aria-hidden="true"></span>
          <span class="fallback-text" aria-hidden="true">&minus;</span>
         </button>
         <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{item.quantity}}" min="0"
          data-id="{{item.key}}" data-line="{{ forloop.index }}" aria-label="quantity" pattern="[0-9]*">
         <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text"
          data-id="{{item.key}}" data-line="{{ forloop.index }}" data-qty="{{item.quantity | plus: 1}}"
          aria-label="{{ 'cart.general.increase_quantity' | t }}">
          <span class="icon icon-plus" aria-hidden="true"></span>
          <span class="fallback-text" aria-hidden="true">+</span>
         </button>
        </div>
       </div>

       <div class="grid__item one-half text-right">
        {% if item.variant.compare_at_price > item.variant.price %}
        <del>{{item.variant.compare_at_price | money}}</del>
        <span class="ajaxcart__price">{{item.variant.price | money}}</span>
        {%else%}
        <span class="ajaxcart__price">{{item.price | money}}</span>
        {%endif%}
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  {% endfor %}
  {% if settings.cart_notes_enable %}
  <div>
   <label for="CartSpecialInstructions" class="ajaxcart__note">{{ 'cart.general.note' | t }}</label>
   <textarea name="note" class="input-full" id="CartSpecialInstructions">{{cart.note}}</textarea>
  </div>
  {% endif %}
  <div class="cart_upsell"> {% render 'cart_upsell' %} </div>
 </div>
 <div class="ajaxcart__footer ajaxcart__footer--fixed">
  <div class="grid--full">
   <div class="grid__item two-thirds">
    <p class="ajaxcart__subtotal">{{ 'cart.general.subtotal' | t }}</p>
   </div>
   <div class="grid__item one-third text-right">
    <del class="ajaxcart__subtotal">{{total_cart_compare_price | money }}</del>
    <p class="ajaxcart__subtotal">{{cart.total_price | money }}</p>
   </div>
  </div>

  <p class="ajaxcart__policies">
   {%- capture taxes_shipping_checkout -%}
   {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
   {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
   {%- elsif cart.taxes_included -%}
   {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
   {%- elsif shop.shipping_policy.body != blank -%}
   {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
   {%- else -%}
   {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
   {%- endif -%}
   {%- endcapture -%}
   {{ 'cart.general.free_shipping_and_taxes_at_checkout' | t }}
  </p>
  <button type="submit" class="btn--secondary btn--full cart__checkout" name="checkout">
   {{ 'cart.general.checkout' | t }} </span>
  </button>
  <a href="\cart" class="btn--secondary btn--full marztop">
   {{ 'cart.general.view_my_card' | t }}</span>
  </a>
 </div>
</form>
<style>
 .cart--ship-out-time {
  font-weight: 400;
  opacity: .7;
  font-style: italic;
  font-size: 1rem;
 }
</style>
