{% assign parentProduct = product %}
{% assign cross_selling_products_metaobjects = product.metafields.accentuate.proxy_cross_selling_products.value %}


{% if cross_selling_products_metaobjects %}
    <section id="cross-selling-section" class="cross-selling-container">
        {% for metaobject in cross_selling_products_metaobjects %}
            {% assign variant = metaobject.variant.value %}
            {% assign product = variant.product %}
            <script id="ProductJson-{{ product.id }}" type="application/json">
            {{ product | json }}
            </script>
            <addon-service id="cross-selling-addon-{{ product.handle }}"
                           class="cross-selling-addon"
                           :parentProductSize="{{ parentProduct.selected_or_first_available_variant.title | split: "|" | first | strip }}"
                           data-product-id="{{ product.id }}"

                           :product="{{ product | json | escape }}"
                           {% if product.id == 7907000287370 %}:checkCompatible="true"{% endif %}
                           {% comment %}
                           {% if product.id == 7906997862538 or product.id == 7906999402634 %}{% endcomment %}
                               {% comment %}:checkSingle="true"{% endcomment %}
                               data-variant-id="{{ variant.id }}"
                               :variantId="{{ variant.id }}"
                           {% comment %}{% endif %}
                           {% endcomment %}
                           :eventName="cross_selling">
                <div class="addon-checkbox">
                    <input type="checkbox" class="addon-checkbox__input"/>

                    <div class="addon-checkbox__icons">
                        <i class="addon-checkbox__icon addon-checkbox__icon--checked">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                <path
                                        data-name="Icon ionic-md-checkmark-circle-outline"
                                        d="m9.275 11.475-1.4 1.4 4.5 4.5 10-10-1.4-1.4-8.6 8.55zm12.1 1.9a7.966 7.966 0 1 1-5.8-7.7l1.55-1.55a9.3 9.3 0 0 0-3.75-.75 10 10 0 1 0 10 10z"
                                        transform="translate(-3.375 -3.375)" style="fill:#14aa60"
                                ></path>
                            </svg>
                        </i>

                        <i class="addon-checkbox__icon addon-checkbox__icon--unchecked">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M19.25 10C19.25 15.1086 15.1086 19.25 10 19.25C4.89137 19.25 0.75 15.1086 0.75 10C0.75 4.89137 4.89137 0.75 10 0.75C15.1086 0.75 19.25 4.89137 19.25 10Z"
                                        stroke="black" stroke-width="1.5"
                                />
                                <path d="M6 9.90637H13.689" stroke="black" stroke-width="1.6" stroke-linecap="round"/>
                                <path d="M10 6V13.689" stroke="black" stroke-width="1.6" stroke-linecap="round"/>
                            </svg>
                        </i>
                    </div>

                </div>

                <div id="product-configuration-{{ product.handle }}" class="product-configuration">
                    <div class="product-bundle-item items-center">
                        <div class="product-bundle-item__media">
                            {% assign featuredImg = product.featured_image | image_url: width: 500, height: 500 %}
                            {% assign accentuateImg = product.metafields.accentuate.featured_image[0].src %}

                            <img
                                    data-src="{{ accentuateImg | default: featuredImg }}"
                                    width="48"
                                    height="48"
                                    alt=""
                                    class="product-bundle-item__image lazyload"
                            >
                        </div>
                        <div class="addon-service-details">
                            <div class="product__name paragraph-14 font-semibold">
                                <p class="text-sm font-semibold">
                                    {% if metaobject.qty.value > 1 %}{{ metaobject.qty.value }}x {% endif %}
                                    {{ product.title }}
                                </p>
                            </div>
                            <p class="flex gap-[4px] items-center flex-wrap justify-end">
                                <span class="text-scarlet font-bold">{{ variant.price | money }}</span>

                                {% if variant.compare_at_price > variant.price %}
                                    <del class="line-through text-xs">{{ variant.compare_at_price | money }}</del>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                <script data-product-json type="application/json">{{ product | json }}</script>
            </addon-service>
        {% endfor %}
    </section>

{% endif %}


