{% case settings.heading_size %}
    {% when 'large' %}
        {% assign headingClass = 'heading-1' %}
    {% else %}
        {% assign headingClass = 'heading-2' %}
{% endcase %}

<style>
    .banner-container [lang] {
        display: none;
    }

    html[lang='en'] .banner-container [lang='en'] {
        display: block;
    }

    html[lang='fr'] .banner-container [lang='fr'] {
        display: block;
    }
</style>

<div class="banner-container" style="color: {{ settings.text_color }}"
     {% if index %}data-index="{{ index }}"{% endif %}>
    <div class="banner-interior unintrusive-bg">
        <div class="overlay-bg"></div>

        <div class="banner-panel">
            <div class="banner-content">
                <h2 class="banner-title relative {{ headingClass }}">
                    {% render 'rtf-viewer', content: settings.title %}
                </h2>
                {% if settings.subtitle %}
                    <div class="sub-heading">
                        {% render 'rtf-viewer', content: settings.subtitle %}
                    </div>
                {% endif %}
            </div>
            <div class="banner-features">
                {% if settings.timer %}
                    <hero-banner-countdown-timer class="hidden" end-time="{{ settings.timer }}">
                        <div class="countdown-timer" style="color: black;">
                            <div class="time-part">
                                <p class="digit"></p>
                                <p class="label">Days</p>
                            </div>
                            <div class="time-part">
                                <p class="digit"></p>
                                <p class="label">Hours</p>
                            </div>
                            <div class="time-part">
                                <p class="digit"></p>
                                <p class="label">Minutes</p>
                            </div>
                            <div class="time-part">
                                <p class="digit"></p>
                                <p class="label">Seconds</p>
                            </div>
                        </div>
                    </hero-banner-countdown-timer>
                {% endif %}

                {% if settings.cta_url %}
                    <tracked-button
                            :trackId="{{ settings.trackId }}"
                            class="banner-cta btn btn--lg"
                            href="{{ settings.cta_url }}">
                        {{ settings.cta_text }}
                    </tracked-button>
                {% endif %}
            </div>
        </div>
    </div>

    {% assign en_desktop_url = settings.wallpaper_desktop_img %}
    {% assign en_mobile_url = settings.wallpaper_mobile_img | default: desktop_url %}
    {% assign fr_desktop_url = settings.wallpaper_desktop_fr_img | default: en_desktop_url %}
    {% assign fr_mobile_url = settings.wallpaper_mobile_fr_img | default: settings.wallpaper_mobile_img | default: desktop_url %}

    <a href="{{ settings.cta_url }}" class="banner-flooring">
        <picture lang="en">


            <source media="(min-width: 1200px)"
                    srcset="{{ en_desktop_url | image_url: width: 2048 }}">
            <source media="(min-width: 992px)"
                    srcset="{{ en_desktop_url | image_url: width: 1040 }}">
            <source media="(min-width: 768px)"
                    srcset="{{ en_desktop_url | image_url: width: 800 }}">
            <img class="wallpaper lazyload"
                 src="{{ eb_mobile_url | image_url: width: 240 }}"
                 data-src="{{ eb_mobile_url | image_url: width: 600 }}"
                 alt="Hero Wallpaper"
            >
        </picture>
        <picture lang="fr">
            <source media="(min-width: 1200px)"
                    srcset="{{ fr_desktop_url | image_url: width: 2048 }}">
            <source media="(min-width: 992px)"
                    srcset="{{ fr_desktop_url | image_url: width: 1040 }}">
            <source media="(min-width: 768px)"
                    srcset="{{ fr_desktop_url | image_url: width: 800 }}">
            <img class="wallpaper lazyload"
                 src="{{ fr_mobile_url | image_url: width: 240 }}"
                 data-src="{{ fr_mobile_url | image_url: width: 600 }}"
                 alt="Hero Wallpaper">
        </picture>
    </a>

</div>
