{% case settings.heading_size %}
  {% when 'large' %}
    {% assign headingClass = 'heading-1' %}
  {% else %}
    {% assign headingClass = 'heading-2' %}
{% endcase %}
<div class="banner-container" style="color: {{ settings.text_color }}">
  <div class="banner-interior unintrusive-bg">
    <div class="overlay-bg"></div>

    <div class="banner-panel">
      <div class="banner-content">
        <h2 class="banner-title relative {{ headingClass }}">
          {% render 'rtf-viewer', content: settings.title %}
        </h2>
        {% if settings.subtitle %}
          <div class="sub-heading">
            {% render 'rtf-viewer', content: settings.subtitle %}
          </div>
        {% endif %}
      </div>
      <div class="banner-features">
        {% if settings.timer %}
          <hero-banner-countdown-timer class="hidden" end-time="{{ settings.timer }}">
            <div class="countdown-timer" style="color: black;">
              <div class="time-part">
                <p class="digit"></p>
                <p class="label">Days</p>
              </div>
              <div class="time-part">
                <p class="digit"></p>
                <p class="label">Hours</p>
              </div>
              <div class="time-part">
                <p class="digit"></p>
                <p class="label">Minutes</p>
              </div>
              <div class="time-part">
                <p class="digit"></p>
                <p class="label">Seconds</p>
              </div>
            </div>
          </hero-banner-countdown-timer>
        {% endif %}

        {% if settings.cta_url %}
          <div class="banner-cta">
            <a data-abtasty="hero-cta-button"
                class="btn btn--lg" href="{{ settings.cta_url }}">
              {{ settings.cta_text }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if settings.wallpaper_desktop_img != blank or settings.wallpaper_mobile_img != blank %}
    <a href="{{ block.settings.cta_url }}" class="banner-flooring">
      <picture>
        <source media="(min-width: 1200px)"
                srcset="{{ settings.wallpaper_desktop_img | image_url: width: 2048 }}">
        <source media="(min-width: 992px)"
                srcset="{{ settings.wallpaper_desktop_img | image_url: width: 1040 }}">
        <source media="(min-width: 768px)"
                srcset="{{ settings.wallpaper_desktop_img | image_url: width: 800 }}">
        <img class="wallpaper" src="{{ settings.wallpaper_mobile_img | default: settings.wallpaper_desktop_img |
        image_url: width: 768 }}"
             alt="Hero Wallpaper">
      </picture>
    </a>
  {% endif %}
</div>
