<style>
  .main_nav_wrapper {
      box-shadow: 0 0.25rem 0.5rem 0 rgba(46, 47, 60, .1);
  }
    @media screen and (max-width:769px){ #navbar{display:none} nav-overlay{position:absolute;inset:0;z-index:-1;background-color:rgba(0,0,0,.8)}}

</style>

<link rel="quickscript" loading="delayed" href="{{ 'main-navigation.css' | asset_url }}">
<link rel="quickscript" loading="delayed" href="{{ 'cart-icon-bubble.css' | asset_url }}">


<script id="main-navigation-menu" type="application/json">
[
  {% for link in linklists[section.settings.menu].links %}
    {
      "active": {{ link.active }},
      "child_active": {{ link.child_active }},
      "current": {{ link.current }},
      "handle": "{{ link.handle }}",
      "levels": {{ link.levels }},
      "children": [
        {% for childlink in link.links %}
            {
              "active": {{ childlink.active }},
              "child_active": {{ childlink.child_active }},
              "current": {{ childlink.current }},
              "handle": "{{ childlink.handle }}",
              "levels": {{ childlink.levels }},
              "object": {{ childlink.object | json }},
              "featuredImage": "{{ childlink.object.featured_image | image_url: width: 1040 }}",
              "title": "{{ childlink.title }}",
              "type": "{{ childlink.type }}",
              "url": "{{ childlink.url }}",
              "accentuate": {{ childlink.object.metafields.accentuate | json }},
              "promotionCapsule": "{{ childlink.object.metafields.accentuate.promotion_capsule }}",
              "subnavHtmlContent": "{{ childlink.object.metafields.accentuate.subnav_html_content | replace: '"', "'" }}",
              "submenuThumbImage": "{{ childlink.object.metafields.accentuate.subnav_thumb_image }}"

            }
            {%- if forloop.length > 0 -%}
                {% unless forloop.last %},{% endunless -%}
            {%- endif -%}
        {% endfor %}
      ],
      "object": {{ link.object | json }},
      "title": "{{ link.title }}",
      "type": "{{ link.type }}",
      "url": "{{ link.url }}"
    }
    {%- if forloop.length > 0 -%}
        {% unless forloop.last %},{% endunless -%}
    {%- endif -%}
  {% endfor %}
]
</script>

<nav id="navbar" role="navigation">
    {% render 'site-nav' %}

    <nav-overlay></nav-overlay>

    {% render 'site-subnav' %}
</nav>

<script type="quickscript" loading="delayed" src="{{ 'main-navigation.js' | asset_url }}"></script>
<script type="quickscript" loading="delayed" src="{{ 'site-nav.js' | asset_url }}"></script>
<script type="quickscript" loading="delayed" src="{{ 'site-subnav.js' | asset_url }}"></script>

