{% assign blockImg = settings.image | image_url: width: 500 %}
{% assign coverImg = settings.product.featured_image | image_url: width: 450 %}

<div id="product-upsell-widget-old" class="rounded-2xl border-2 mb-4 px-4 py-4" style="border-color: #2e2f3c">
    <div style="grid-template-columns: minmax(100px, 1fr) 2fr;" class="grid gap-3">
        <div style="grid-row: 1 / 3;" class="self-center">
            <img
                    class="mx-auto h-auto"
                    src="{{ blockImg | default: settings.product.metafields.accentuate.featured_image[0].src | default: coverImg }}"
                    alt=""
                    width="100"
                    height="57"
            >
        </div>
        <div class="px-4">
            <p class="text-[15px]">{{ settings.title }}</p>
            <div>
                {% render 'rtf-viewer', content: settings.content %}
            </div>

            <p class="text-[14px]">
                <span>From {{ settings.product.price | money_without_trailing_zeros -}}</span>
                <span
                        class="line-through"
                >
          {{- settings.product.compare_at_price | money_without_trailing_zeros -}}
        </span>
            </p>
        </div>
        <div style="grid-column: 2 / 3;" class="px-4">
            <a
                    href="{{ settings.product }}"
                    class="block w-full rounded-lg border-2 px-4 py-1 text-center text-[15px] font-semibold uppercase transition-all duration-200 view_btn"
                    style="border-color: #2e2f3c">
                View product
            </a>
        </div>
    </div>
</div>
