{% assign blockImg = settings.image | image_url: width: 500 %}
{% assign coverImg = settings.product.featured_image | image_url: width: 450 %}


<product-auxiliary
        class="hidden"
        name="upsell-widget"
        type="widget"
        id="up-selling-addon-{{ product.handle }}"
        :product="{{ product | json | escape }}"
        :eventName="up_selling"
>
    <a href="{{ settings.product }}">
        {% assign product = settings.product %}
        <div class="auxiliary-container">

            <div class="self-center">
                <img
                        class="mx-auto h-auto"
                        src="{{ blockImg | default: settings.product.metafields.accentuate.featured_image[0].src | default: coverImg }}"
                        alt=""
                        width="100"
                        height="57"
                >
            </div>
            <div class="product-details">
                <div class="product-content">
                    <p class="text-sm font-semibold">{{ settings.title }}</p>
                    <div class="text-sm">
                        {% render 'rtf-viewer', content: settings.content %}
                    </div>
                </div>
                <p class="product-price-container ">
                    {% if settings.product.compare_at_price > settings.product.price %}
                        From
                    {% endif %}
                    <span class="text-scarlet font-bold">{{ settings.product.price | money }}</span>

                    {% if settings.product.compare_at_price > settings.product.price %}
                        <del class="line-through text-xs">{{ settings.product.compare_at_price | money }}</del>
                    {% endif %}
                </p>
                {% comment %}<p class="text-[14px]">{% endcomment %}
                {% comment %}<span>From {{ settings.product.price | money_without_trailing_zeros -}}</span>{% endcomment %}
                {% comment %}<span{% endcomment %}
                {% comment %}class="line-through"{% endcomment %}
                {% comment %}>{% endcomment %}
                {% comment %}{{- settings.product.compare_at_price | money_without_trailing_zeros -}}{% endcomment %}
                {% comment %}</span>{% endcomment %}
                {% comment %}</p>{% endcomment %}
            </div>
            {% comment %}<div style="grid-column: 2 / 3;" class="px-4">{% endcomment %}
            {% comment %}<a{% endcomment %}
            {% comment %}{% endcomment %}
            {% comment %}class="block w-full rounded-lg border-2 px-4 py-1 text-center text-[15px] font-semibold uppercase transition-all duration-200 view_btn"{% endcomment %}
            {% comment %}style="border-color: #2e2f3c">{% endcomment %}
            {% comment %}View product{% endcomment %}
            {% comment %}</a>{% endcomment %}
            {% comment %}</div>{% endcomment %}
        </div>
    </a>
</product-auxiliary>
