<div
    id="attribute-configurator"
    class="
                attribute-configurator
                {% if product.has_only_default_variant == true %} attribute-configurator--single{% endif %}
                {% if product.selected_or_first_available_variant.available == false %} attribute-configurator--unavailable{% endif %}
            "
>
  <variant-selects
      class="no-js-hidden emma-product__variant"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      data-product-id="{{ product.id }}"
      {{ block.shopify_attributes }}
  >

    {%- for option in product.options_with_values -%}
      <div class="product-option product-form__input product-form__input--dropdown">
        <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
          {{ option.name }}
        </label>
        <div class="select">
          <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="product-form-{{ section.id }}"
          >
            {%- for value in option.values -%}

                <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}
                      selected="selected"
                    {% endif %}
                >
                  {{ value }}
                </option>

            {%- endfor -%}
          </select>
          {% render 'icon-caret' %}
        </div>
      </div>
    {%- endfor -%}

    <script type="application/json">
       {{ product.variants | json }}
    </script>
  </variant-selects>

  <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
    {% for variant in product.variants %}
      <option
          value="{{ variant.id }}"
          {%- if variant == current_variant %}
            selected="selected"
          {%- endif -%}
      >
        {{ variant.title }}
        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
      </option>
    {% endfor %}
  </select>

  {% liquid
    assign qtySelectorOrientation = "horizontal"

    if product.has_only_default_variant == false
      assign qtySelectorOrientation = "vertical"
    endif
  %}

  {% render 'product-quantity-selector', orientation: qtySelectorOrientation %}
</div>
