<div
    id="attribute-configurator"
    class="
        attribute-configurator
        {% if product.options_with_values.size > 1 %} attribute-configurator--multiple-options{% endif %}
        {% if product.has_only_default_variant == true %} attribute-configurator--single{% endif %}
        {% if product.selected_or_first_available_variant.available == false %} attribute-configurator--unavailable{% endif %}
    "
>
  <div class="attribute-selects">
    {%- for option in product.options_with_values -%}
      <div class="product-option product-form__input product-form__input--dropdown">
        <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
          {{ option.name }}
        </label>
        <div class="select">
          <select
              data-id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="product-form-{{ section.id }}"
          >
            {%- for value in option.values -%}
              {% unless  value == 'King | 76" x 80" | Old' %}
                <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}
                      selected="selected"
                    {% endif %}
                >
                  {{ value }}
                </option>
              {% endunless %}
            {%- endfor -%}
          </select>
          {% render 'icon-caret' %}
        </div>
      </div>
    {%- endfor -%}
  </div>

  {% liquid
    assign qtySelectorOrientation = "horizontal"

    if product.has_only_default_variant == false
      assign qtySelectorOrientation = "vertical"
    endif
  %}

  {% render 'product-quantity-selector', orientation: qtySelectorOrientation %}
</div>
