{% assign saleLink = sections.blocks | where: "type", "sale-link" %}

<style>
    site-nav {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    @media screen and (min-width: 1024px) {
        site-nav {
            position: static;
            flex-direction: row;
            justify-content: center;
            height: 100%;
            width: fit-content;
            margin: 0;
        }

        site-nav site-nav-item:nth-child(7), site-nav site-nav-item:nth-child(8), site-nav site-nav-item:nth-child(9) {
            display: none !important;
        }

        .nav-link {
            width: initial;
            height: auto;
            padding: 0 12px;
        }
    }

    site-nav-item {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 12px;
    }

    .nav-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 4rem;
        padding: 9px 0;
        cursor: pointer;
        text-transform: capitalize;
        word-break: keep-all;
        white-space: nowrap;
    }

    .minimal-nav-dropdown {
        position: static;
        opacity: 1;
        z-index: 110;
        display: none;
        width: 100%;
        padding: 9px 0;
        background: #fff;
        text-transform: none;
        box-shadow: none;
        pointer-events: auto;
    }
</style>

<div class="page-boundary ">
  <site-nav>
    {% for link in linklists[section.settings.menu].links %}
      {% liquid
        assign parent_index = forloop.index
        assign isMinimal = false
        assign hasDropdown = false
        if link.links.size > 0
          assign hasDropdown = true
        endif
        if link.type == "page_link"
          assign isMinimal = true
        endif
        assign isSaleLink = false
        if link.url == section.settings.sale_page_url
          assign isSaleLink = true
        endif
      %}

      <site-nav-item
          :index="{{ forloop.index0 }}"
          :name="{{ link.title | handleize }}"
          :hasDropdown="{{ hasDropdown }}"
          :isMinimal="{{ isMinimal }}"
          class="site-nav__item
          {% if link.active %} site-nav--active{% endif %}
          {% if isMinimal %} is-minimal{% endif %}
          {% if isSaleLink == true and setion.settings.show_sale_link == false %} hidden{% elsif isSaleLink %} highlighted{% endif %}
        "
      >
        <div class="nav-link{% if hasDropdown == true %} nav-link--has-dropdown{% endif %}">
          <div class="nav-link__title">
            <p class="font-normal{% if isSaleLink %} font-semibold {% endif %}">{{ link.title | escape }}</p>

            <tracked-button
                :trackId="{% if isSaleLink == true %}Sales_nav_menu{% elsif forloop.last %}Quiz_nav_menu{% else %}{{ link.title | handleize | capitalize | append: "_nav_menu" }}{% endif %}"
                href="{{ link.url }}"
                class="nav-link__url"
                aria-controls="MenuParent-{{ parent_index }}"
                aria-expanded="false"
                {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless %}
            ></tracked-button>
          </div>
        </div>

        {% if hasDropdown and isMinimal %}
          {% render 'minimal-site-subnav', link: link %}
        {% endif %}
      </site-nav-item>
    {% endfor %}
    <div class="nav_btns hidden">
      <a href="/a/order-status" class="btn">
        <svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M23.0952 13.4888V18.4888C23.0952 18.754 22.9899 19.0083 22.8023 19.1959C22.6148 19.3834 22.3604 19.4888 22.0952 19.4888H21.0952C21.0952 20.2844 20.7791 21.0475 20.2165 21.6101C19.6539 22.1727 18.8909 22.4888 18.0952 22.4888C17.2996 22.4888 16.5365 22.1727 15.9739 21.6101C15.4113 21.0475 15.0952 20.2844 15.0952 19.4888H9.09521C9.09521 20.2844 8.77914 21.0475 8.21654 21.6101C7.65393 22.1727 6.89086 22.4888 6.09521 22.4888C5.29957 22.4888 4.5365 22.1727 3.97389 21.6101C3.41128 21.0475 3.09521 20.2844 3.09521 19.4888H2.09521C1.83 19.4888 1.57564 19.3834 1.38811 19.1959C1.20057 19.0083 1.09521 18.754 1.09521 18.4888V6.48877C1.09521 5.69312 1.41128 4.93006 1.97389 4.36745C2.5365 3.80484 3.29957 3.48877 4.09521 3.48877H13.0952C13.8909 3.48877 14.6539 3.80484 15.2165 4.36745C15.7791 4.93006 16.0952 5.69312 16.0952 6.48877V8.48877H18.0952C18.561 8.48877 19.0203 8.5972 19.4369 8.80549C19.8534 9.01377 20.2158 9.31618 20.4952 9.68877L22.8952 12.8888C22.9245 12.9322 22.948 12.9793 22.9652 13.0288L23.0252 13.1388C23.0693 13.2503 23.0931 13.3688 23.0952 13.4888V13.4888ZM7.09521 19.4888C7.09521 19.291 7.03657 19.0976 6.92669 18.9332C6.8168 18.7687 6.66062 18.6406 6.4779 18.5649C6.29517 18.4892 6.0941 18.4694 5.90012 18.508C5.70614 18.5466 5.52796 18.6418 5.38811 18.7817C5.24825 18.9215 5.15301 19.0997 5.11443 19.2937C5.07584 19.4877 5.09565 19.6887 5.17134 19.8715C5.24702 20.0542 5.3752 20.2104 5.53964 20.3202C5.70409 20.4301 5.89743 20.4888 6.09521 20.4888C6.36043 20.4888 6.61479 20.3834 6.80232 20.1959C6.98986 20.0083 7.09521 19.754 7.09521 19.4888ZM14.0952 6.48877C14.0952 6.22355 13.9899 5.9692 13.8023 5.78166C13.6148 5.59413 13.3604 5.48877 13.0952 5.48877H4.09521C3.83 5.48877 3.57564 5.59413 3.38811 5.78166C3.20057 5.9692 3.09521 6.22355 3.09521 6.48877V17.4888H3.87522C4.1564 17.1794 4.49913 16.9322 4.88143 16.7631C5.26373 16.594 5.67717 16.5066 6.09521 16.5066C6.51326 16.5066 6.9267 16.594 7.309 16.7631C7.6913 16.9322 8.03403 17.1794 8.31522 17.4888H14.0952V6.48877ZM16.0952 12.4888H20.0952L18.8952 10.8888C18.8021 10.7646 18.6813 10.6638 18.5424 10.5943C18.4036 10.5249 18.2505 10.4888 18.0952 10.4888H16.0952V12.4888ZM19.0952 19.4888C19.0952 19.291 19.0366 19.0976 18.9267 18.9332C18.8168 18.7687 18.6606 18.6406 18.4779 18.5649C18.2952 18.4892 18.0941 18.4694 17.9001 18.508C17.7061 18.5466 17.528 18.6418 17.3881 18.7817C17.2483 18.9215 17.153 19.0997 17.1144 19.2937C17.0758 19.4877 17.0956 19.6887 17.1713 19.8715C17.247 20.0542 17.3752 20.2104 17.5396 20.3202C17.7041 20.4301 17.8974 20.4888 18.0952 20.4888C18.3604 20.4888 18.6148 20.3834 18.8023 20.1959C18.9899 20.0083 19.0952 19.754 19.0952 19.4888ZM21.0952 14.4888H16.0952V17.2688C16.6854 16.7413 17.4601 16.4685 18.2505 16.5097C19.041 16.5509 19.7831 16.9028 20.3152 17.4888H21.0952V14.4888Z"
              fill="#2E2F3C"></path>
        </svg>
        <span>Track Order</span></a>
      <a href="/account/login" class="btn login_btn">
        <svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M15.8052 13.6988C16.7856 12.9274 17.5012 11.8697 17.8525 10.6727C18.2037 9.47573 18.1731 8.19904 17.765 7.02024C17.3569 5.84144 16.5915 4.81916 15.5753 4.09563C14.5591 3.37209 13.3427 2.98328 12.0952 2.98328C10.8478 2.98328 9.63133 3.37209 8.61514 4.09563C7.59896 4.81916 6.83356 5.84144 6.42542 7.02024C6.01729 8.19904 5.98672 9.47573 6.33797 10.6727C6.68922 11.8697 7.40482 12.9274 8.38521 13.6988C6.70529 14.3718 5.2395 15.4881 4.1441 16.9287C3.04871 18.3693 2.36477 20.0801 2.16521 21.8788C2.15077 22.0101 2.16233 22.143 2.19924 22.2698C2.23615 22.3967 2.29768 22.515 2.38032 22.6181C2.54723 22.8263 2.79 22.9596 3.05521 22.9888C3.32043 23.0179 3.58637 22.9406 3.79454 22.7737C4.0027 22.6068 4.13604 22.364 4.16521 22.0988C4.3848 20.144 5.3169 18.3386 6.78343 17.0276C8.24996 15.7165 10.1481 14.9918 12.1152 14.9918C14.0823 14.9918 15.9805 15.7165 17.447 17.0276C18.9135 18.3386 19.8456 20.144 20.0652 22.0988C20.0924 22.3445 20.2096 22.5714 20.3943 22.7358C20.579 22.9001 20.818 22.9903 21.0652 22.9888H21.1752C21.4373 22.9586 21.6769 22.8261 21.8418 22.62C22.0066 22.414 22.0833 22.1511 22.0552 21.8888C21.8547 20.085 21.1671 18.3698 20.0661 16.927C18.965 15.4842 17.4921 14.3683 15.8052 13.6988ZM12.0952 12.9888C11.3041 12.9888 10.5307 12.7542 9.87293 12.3147C9.21513 11.8751 8.70244 11.2504 8.39969 10.5195C8.09694 9.7886 8.01773 8.98434 8.17207 8.20841C8.32641 7.43249 8.70737 6.71975 9.26678 6.16034C9.82619 5.60093 10.5389 5.21997 11.3149 5.06563C12.0908 4.91129 12.895 4.9905 13.6259 5.29325C14.3569 5.596 14.9816 6.10869 15.4211 6.76649C15.8606 7.42429 16.0952 8.19765 16.0952 8.98877C16.0952 10.0496 15.6738 11.0671 14.9236 11.8172C14.1735 12.5673 13.1561 12.9888 12.0952 12.9888Z"
              fill="#2E2F3C"></path>
        </svg>
        <span>Login</span></a>
      <a href="/account" class="btn account_btn hidden">
        <svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M15.8052 13.6988C16.7856 12.9274 17.5012 11.8697 17.8525 10.6727C18.2037 9.47573 18.1731 8.19904 17.765 7.02024C17.3569 5.84144 16.5915 4.81916 15.5753 4.09563C14.5591 3.37209 13.3427 2.98328 12.0952 2.98328C10.8478 2.98328 9.63133 3.37209 8.61514 4.09563C7.59896 4.81916 6.83356 5.84144 6.42542 7.02024C6.01729 8.19904 5.98672 9.47573 6.33797 10.6727C6.68922 11.8697 7.40482 12.9274 8.38521 13.6988C6.70529 14.3718 5.2395 15.4881 4.1441 16.9287C3.04871 18.3693 2.36477 20.0801 2.16521 21.8788C2.15077 22.0101 2.16233 22.143 2.19924 22.2698C2.23615 22.3967 2.29768 22.515 2.38032 22.6181C2.54723 22.8263 2.79 22.9596 3.05521 22.9888C3.32043 23.0179 3.58637 22.9406 3.79454 22.7737C4.0027 22.6068 4.13604 22.364 4.16521 22.0988C4.3848 20.144 5.3169 18.3386 6.78343 17.0276C8.24996 15.7165 10.1481 14.9918 12.1152 14.9918C14.0823 14.9918 15.9805 15.7165 17.447 17.0276C18.9135 18.3386 19.8456 20.144 20.0652 22.0988C20.0924 22.3445 20.2096 22.5714 20.3943 22.7358C20.579 22.9001 20.818 22.9903 21.0652 22.9888H21.1752C21.4373 22.9586 21.6769 22.8261 21.8418 22.62C22.0066 22.414 22.0833 22.1511 22.0552 21.8888C21.8547 20.085 21.1671 18.3698 20.0661 16.927C18.965 15.4842 17.4921 14.3683 15.8052 13.6988ZM12.0952 12.9888C11.3041 12.9888 10.5307 12.7542 9.87293 12.3147C9.21513 11.8751 8.70244 11.2504 8.39969 10.5195C8.09694 9.7886 8.01773 8.98434 8.17207 8.20841C8.32641 7.43249 8.70737 6.71975 9.26678 6.16034C9.82619 5.60093 10.5389 5.21997 11.3149 5.06563C12.0908 4.91129 12.895 4.9905 13.6259 5.29325C14.3569 5.596 14.9816 6.10869 15.4211 6.76649C15.8606 7.42429 16.0952 8.19765 16.0952 8.98877C16.0952 10.0496 15.6738 11.0671 14.9236 11.8172C14.1735 12.5673 13.1561 12.9888 12.0952 12.9888Z"
              fill="#2E2F3C"></path>
        </svg>
        <span>Account</span></a>
    </div>
  </site-nav>
</div>
